/*
 *  Socialico is a package of 74 social media icons, combined within a single wieght font and designed by Jelio Dimitrov a.k.a. Arsek.
 *  URI: http://fontfabric.com/social-media-icons-pack/
 */

@font-face {
    font-family: 'Socialico';
    src: url('socialico-webfont.eot');
    src: url('socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('socialico-webfont.woff') format('woff'),
         url('socialico-webfont.ttf') format('truetype'),
         url('socialico-webfont.svg#Socialico') format('svg');
    font-weight: normal;
    font-style: normal;
}

.socialico { font-family: 'Socialico' !important; font-size:30px; line-height:30px;}