<div class="content">
	<div id="modulePath">
	<div class="error-msg" id="errorBlock" style="display:none;"></div>
	<input type="hidden" name="id" id="id" value="{{$edit.id}}" />
	<table class="holder-table">
		<tr>
			<td class="left-td">
				<table class="inner-table">
					<tr>
			            <td>{{'title'|gLA:'Title'}}*:</td>
			            <td>
			            	<div class="block-holder open">
			                	<div class="inner-block">
								
			                        <ul class="lang-tabs">
			                            {{foreach name=languages key=lk item=lng from=$langs}}
			                            <li {{if $smarty.foreach.languages.first}} class="active"{{/if}} >
			                                <a href="javascript: void(0);">{{$lng.title}}</a>
			                            </li>
			                            {{/foreach}}
			                        </ul>
			
			                        <div class="areaBlock">
			                            {{foreach name=languages key=lk item=lng from=$langs}}
			                                <div class="text-block{{if $smarty.foreach.languages.first}} open{{/if}}">
			                                    <input name="title" rel="{{$lng.lang}}" id="title_{{$lng.lang}}" value="{{$edit.data[$lng.lang].title|clear}}" class="simple long required" type="text"  style="width:350px;" />
			                                    
			                                    <div class="clr"><!-- clear --></div>
			                                </div>
			                            {{/foreach}}
			                        </div>
			
			                    </div>
			                </div>
			            
			            
			            </td>
			        </tr>
			        <tr>
		                <td>{{'type'|gLA:'Type'}}*:</td>
		                <td>
		                    <select name="type" id="type" class="long simple required">
		                        <option value="">{{'m_select_option'|gLA:'-- Select --'}}</option>
		                        <option {{if 1 == $edit.type}} selected="selected" {{/if}} value="1">1</option>
		                        <option {{if 2 == $edit.type}} selected="selected" {{/if}} value="2">2</option> 
		                    </select>
		                </td>
		            </tr>
			        <tr>
						<td>{{'enabled'|gLA:'Enabled'}}</td>
						<td><input type="checkbox" value="1" id="enable" class="active simple" {{if $edit.enable}} checked="checked" {{/if}} /></td>
					</tr>
					<tr>
			            <td>Upload file:</td>
			            <td>
			            	<div id="filenameDiv">
			            		<input type="text" value="{{$edit.filename}}" id="filename" class="simple">
			            	</div>
			            	<a href="#" id="filenameButton" class="select-btn">{{'upload'|gLA:'Upload'}}</a>
			            </td>
			        </tr>
			        <tr>
			            <td>{{'description'|gLA:'Description'}}:</td>
			            <td>
			            	<div class="block-holder open">
			                	<div class="inner-block">
								
			                        <ul class="lang-tabs">
			                            {{foreach name=languages key=lk item=lng from=$langs}}
			                            <li {{if $smarty.foreach.languages.first}} class="active"{{/if}} >
			                                <a href="javascript: void(0);">{{$lng.title}}</a>
			                            </li>
			                            {{/foreach}}
			                        </ul>
			
			                        <div class="areaBlock">
			                            {{foreach name=languages key=lk item=lng from=$langs}}
			                                <div class="text-block{{if $smarty.foreach.languages.first}} open{{/if}}">
			                                    <input name="description" rel="{{$lng.lang}}" id="description_{{$lng.lang}}" value="{{$edit.data[$lng.lang].description|clear}}" class="simple long" type="text"  style="width:350px;" />
			                                    
			                                    <div class="clr"><!-- clear --></div>
			                                </div>
			                            {{/foreach}}
			                        </div>
			
			                    </div>
			                </div>
			            
			            
			            </td>
			        </tr>
			        <tr>
			            <td>{{'footerTitle'|gLA:'Footer title'}}:</td>
			            <td>
			            	<div class="block-holder open">
			                	<div class="inner-block">
								
			                        <ul class="lang-tabs">
			                            {{foreach name=languages key=lk item=lng from=$langs}}
			                            <li {{if $smarty.foreach.languages.first}} class="active"{{/if}} >
			                                <a href="javascript: void(0);">{{$lng.title}}</a>
			                            </li>
			                            {{/foreach}}
			                        </ul>
			
			                        <div class="areaBlock">
			                            {{foreach name=languages key=lk item=lng from=$langs}}
			                                <div class="text-block{{if $smarty.foreach.languages.first}} open{{/if}}">
			                                    <input name="header" rel="{{$lng.lang}}" id="header_{{$lng.lang}}" value="{{$edit.data[$lng.lang].header|clear}}" class="simple long" type="text"  style="width:350px;" />
			                                    
			                                    <div class="clr"><!-- clear --></div>
			                                </div>
			                            {{/foreach}}
			                        </div>
			
			                    </div>
			                </div>
			            
			            
			            </td>
			        </tr>
    			</table>
    		</td>
		</tr>
	</table>
    <table class="bttns-table">
        <tr>
            <td>
            	{{if $edit.id}}
                <div class="btn orange"><a href="javascript:;" onclick="checkFields('apply');"><span>{{'apply'|gLA:'Apply'}}</span></a></div>
                {{/if}}
                <div class="btn"><a href="javascript:;" onclick="checkFields('save');"><span>{{'save'|gLA:'Save'}}</span></a></div>
                <div class="btn cancel"><a href="javascript:;" onclick="window.location.href = moduleTable.getRequestUrl();"><span>{{'m_cancel'|gLA:'Cancel'}}</span></a></div>
            </td>
        </tr>
    </table>
    </form>

    <script type="text/javascript">
	    moduleTable.mainUrl = '{{$MAIN_URL}}';
        moduleTable.moduleName = '{{$MODULE_NAME}}';
        
        $(document).ready(function() {

                var tabindex = 1;
                $('#editForma :input,select').each(function() {
                        if (this.type != "hidden") {
                                var $input = $(this);
                                $input.attr("tabindex", tabindex);
                                tabindex++;
                        }
                });
                
                loadUploadSimple('tests/', 'filename');
        });
			
	</script>
	</div>
</div>