{{if $promoblock|@count > 0}}
<section id="promo">
	<div class="bg">
		{{foreach name=promoblock from=$promoblock key=k item=block}}
		{{if $block.url}}
			<a href="{{$block.url}}" title="{{$block.title}}" target="{{$block.target}}">
				<img {{if $smarty.foreach.promoblock.first}} class="active"{{/if}} alt="{{if $block.alt}}{{$block.alt}}{{else}}{{$block.title}}{{/if}}" src="{{$AD_UPLOAD_FOLDER}}{{$promoblockUploadFolder}}{{$block.image}}" data-img="{{$smarty.foreach.promoblock.iteration}}" data-width="1400" data-height="500">
			</a>
		{{else}}
			<img {{if $smarty.foreach.promoblock.first}} class="active"{{/if}} alt="{{if $block.alt}}{{$block.alt}}{{else}}{{$block.title}}{{/if}}" src="{{$AD_UPLOAD_FOLDER}}{{$promoblockUploadFolder}}{{$block.image}}" data-img="{{$smarty.foreach.promoblock.iteration}}" data-width="1400" data-height="500">
		{{/if}}
		{{/foreach}}
	</div>
	<section class="wrap">
		<div class="cont">
			<div class="items">
				{{foreach name=promoblock from=$promoblock key=k item=block}}
				{{if $block.url}}
				<a href="{{$block.url}}" title="{{$block.title}}" target="{{$block.target}}">
					<div class="item {{if $smarty.foreach.promoblock.first}} active{{/if}}" data-item="{{$smarty.foreach.promoblock.iteration}}">
						{{$block.title}}
					</div>
				</a>	
				{{else}}
					<div class="item {{if $smarty.foreach.promoblock.first}} active{{/if}}" data-item="{{$smarty.foreach.promoblock.iteration}}">
						{{$block.title}}
					</div>
				{{/if}}
				{{/foreach}}
			</div>
			<div class="button_cont">
				<div class="buttons">
					{{foreach name=promoblock from=$promoblock key=k item=block}}
					<div class="button {{if $smarty.foreach.promoblock.first}} active{{/if}}" data-img="{{$smarty.foreach.promoblock.iteration}}" data-item="{{$smarty.foreach.promoblock.iteration}}"></div>
					{{/foreach}}
				</div>
			</div>
		</div>
	</section>
</section>
{{/if}}