<footer>
	<section class="wrap">
		<a href="#" class="to_the_top" data-goto="page"></a>
		<div class="c mob_clear"></div>
		<ul class="links1 clearfix">
			{{section name=item loop=$menu.BOTTOM_LINKS}}
			<li>
				<a href="{{$menu.BOTTOM_LINKS[item].url}}" title="{{$menu.BOTTOM_LINKS[item].title}}">
					{{$menu.BOTTOM_LINKS[item].title}}
				</a>
			</li>
			{{/section}}
		</ul>
		<div class="c"></div>
		<div class="security clearfix css3">
			<div class="title">{{'footer_SecurePaymentsTitle'|gL:'Secure payments by'}}</div>
			<img alt="" src="{{$AD_IMAGE_FOLDER}}pay_paypal.png">
			<img alt="" src="{{$AD_IMAGE_FOLDER}}pay_mastercard.png" class="no_mob">
			<img alt="" src="{{$AD_IMAGE_FOLDER}}pay_visa.png" class="no_mob">
			<img alt="" src="{{$AD_IMAGE_FOLDER}}pay_aexpress.png" class="no_mob">
			<img alt="" src="{{$AD_IMAGE_FOLDER}}pay_discover.png" class="no_mob">
		</div>
		
		<div class="copyright">{{'copyright'|gL:'&copy; Copyright 2014 by Paperstock. All rights reserved'}}</div>
	</section>
</footer>