<header class="not_startpage">
	<section class="wrap clearfix">
		<nav id="menu1">
			<a href="{{$siteData.mirros_profile_orders_page|getLM}}" class="logo" title="{{'logoTitle'|gL:'Logo Title'}}">
				<img alt="{{'logoTitle'|gL:'Logo Title'}}" src="{{$AD_UPLOAD_FOLDER}}countries/{{$ctrAr.active.image}}">
			</a>
			{{if $menu.PROFILE|@count > 0}}	
			<ul class="menu">
				{{section name=item loop=$menu.PROFILE}}
				
				<li{{if $menu.PROFILE[item].active}} class="active"{{/if}}>
					<a href="{{$menu.PROFILE[item].url}}" title="{{$menu.PROFILE[item].title}}" class="css">{{$menu.PROFILE[item].title}}</a>
				</li>
				{{/section}}
			</ul>	
			{{/if}}
			
		</nav>
		<nav id="menu2">
			<div class="trigger">
				<img alt="{{'logoTitle'|gL:'Logo Title'}}" src="{{$AD_UPLOAD_FOLDER}}countries/{{$ctrAr.active.image}}">
			</div>
			{{if $menu.PROFILE|@count > 0}}	
			<ul class="menu">
				{{section name=item loop=$menu.PROFILE}}
				
				<li{{if $menu.PROFILE[item].active}} class="active"{{/if}}>
					<a href="{{$menu.PROFILE[item].url}}" title="{{$menu.PROFILE[item].title}}" class="css">{{$menu.PROFILE[item].title}}</a>
				</li>
				{{/section}}
			</ul>	
			{{/if}}
		</nav>
		<div class="logon">
			<div class="logged_cont logged1">
				<div class="line1">
					<div class="name">{{$userData.first_name}} {{$userData.last_name}}</div>
					<div class="id">ID {{$userData.id}}</div>
				</div>
				<div class="line2">
					<div class="writer">
						{{if $userData.rating >= 4}}
						{{'writers_ProfileVipStatus'|gL:'VIP'}}
						{{else}}
						{{'writers_ProfileSimpleStatus'|gL:'Regular writer'}}
						{{/if}}
						
					</div>
					{{if $userData.status == 1}}
					<div class="status rev">{{'writers_ProfileBeingReviewedStatus'|gL:'Being reviewed'}}</div>
					{{elseif $userData.status == 3}}
					<div class="status den">{{'writers_ProfileDeniedStatus'|gL:'Denied'}}</div>
					{{elseif $userData.status == 4}}
					<div class="status rev">{{'writers_ProfileRevisedStatus'|gL:'Revised'}}</div>
					{{else}}
					<div class="status">{{'writers_ProfileAproovedStatus'|gL:'Aprooved'}}</div>
					{{/if}}
				</div>
			</div>
			<div class="logged_cont logged2">
				<div class="caption">{{'writers_ProfileBalance'|gL:'Balance'}}</div>
				<div class="number">${{$userData.balance|number_format:2:'.':''}}</div>
			</div>
			<div class="logged_cont logged3">
				<div class="caption">{{'writers_ProfileRating'|gL:'Rating'}}</div>
				<div class="number">{{$userData.rating|number_format:2:'.':''}}</div>
			</div>
			<a href="{{$siteData.mirros_profile_logout_page|getLM}}" class="logout"></a>
		</div>

		
	</section>
	<nav id="menu3">
		<div class="trigger">
			<section class="wrap clearfix"><img alt="{{'logoTitle'|gL:'Logo Title'}}" src="{{$AD_UPLOAD_FOLDER}}countries/{{$ctrAr.active.image}}"></section>
		</div>
		{{if $menu.PROFILE|@count > 0}}	
		<ul class="menu">
			{{section name=item loop=$menu.PROFILE}}
			
			<li{{if $menu.PROFILE[item].active}} class="active"{{/if}}>
				<a href="{{$menu.PROFILE[item].url}}" title="{{$menu.PROFILE[item].title}}" class="css">{{$menu.PROFILE[item].title}}</a>
			</li>
			{{/section}}
		</ul>	
		{{/if}}
	</nav>
</header>