 <div class="col1j">
 	{{if $list|@count > 0}}
	<ul class="faq">
		{{foreach name=item from=$list key=k item=data}}
		<li {{if $smarty.foreach.item.first}}class="open"{{/if}}>
			<div class="trigger">
				{{$data.question}}
			</div>
			<div class="expand">
				<p>
					{{$data.answer}}	
				</p>
			</div>
		</li>
		{{/foreach}}
	</ul>	
	{{/if}}	
	<div class="aftercontent no_links">
		<div class="backsocial clearfix">
			<a href="#" class="back css3"></a>
			<div class="social css3">
				<div class="g-plus" data-action="share" data-annotation="bubble"></div>
			</div>
		</div>
	</div>
</div>