<div class="content">
	<div id="modulePath">
	<input type="hidden" name="id" id="id" value="{{$edit.id}}" />
	
	<div id="writersTabs">
		<ul>
				
			<li>
				<a rel="general_data_form" href="#general_data_form"  >
					{{'general'|gLA:'Main info'}}
				</a>
			</li>
			<li>
				<a rel="tests_form" href="#tests_form"  >
					Tests
				</a>
			</li>
			<li>
				<a rel="orders_form" href="#orders_form"  >
					Orders
				</a>
			</li>
				
		</ul>

		{{include file="writers_data_form.html"}}
		{{include file="tests_form.html"}}
		{{include file="orders_form.html"}}

	</div>
	
	
    <table class="bttns-table">
        <tr>
            <td>
            	{{if $edit.id}}
                <div class="btn orange"><a href="javascript:;" onclick="checkFields('apply');"><span>{{'apply'|gLA:'Apply'}}</span></a></div>
                {{/if}}
                <div class="btn"><a href="javascript:;" onclick="checkFields('save');"><span>{{'save'|gLA:'Save'}}</span></a></div>
                <div class="btn cancel"><a href="javascript:;" onclick="window.location.href = moduleTable.getRequestUrl();"><span>{{'m_cancel'|gLA:'Cancel'}}</span></a></div>
            </td>
        </tr>
    </table>
    </form>

    <script type="text/javascript">
	    moduleTable.mainUrl = '{{$MAIN_URL}}';
        moduleTable.moduleName = '{{$MODULE_NAME}}';
        
        $(document).ready(function() {

        	$('ul.lang-tabs a').click(function() {
    			var curChildIndex = $(this).parent().prevAll().length + 1;
    			$(this).parent().parent().children('.active').removeClass('active');
    			$(this).parent().addClass('active');
    			$(this).parent().parent().next('.areaBlock').children('.open').fadeOut('fast',function() {
    				$(this).removeClass('open');
    				$(this).parent().children('div:nth-child('+curChildIndex+')').fadeIn('normal',function() {
    					$(this).addClass('open');
    				});
    			});
    			return false;
    		});

        	$('#writersTabs').tabs();	   
        	
        });
			
	</script>
	</div>
</div>