<div id="tests_form" class="main-tab">
	<table class="cms-table">
		<tr>
			<th><b>Test</b></th>
			<th><b>Filename</b></th>
			<th><b>Comment / Score</b></th>
			<th><b>Actions</b></th>
		</tr>
		{{foreach from=$edit.tests.tests item=i key=k name=tests}}
		<tr>
		{{assign var=ID value=$i.id}}
			<td>{{$i.title}}</td>
			<td>
				{{if $edit.tests.userTests[$ID].filename}}
				<a href="/download.php?file=tests/results/{{$edit.tests.userTests[$ID].filename}}" class="link">{{$edit.tests.userTests[$ID].filename}}</a>
				{{/if}}
			</td>
			<td>
				{{if $edit.tests.userTests[$ID].id}}
					{{if $i.type == 2}}
					<input type="text" rel="{{$edit.tests.userTests[$ID].id}}" id="test{{$edit.tests.userTests[$ID].id}}" name="admin_comment" class="tests" value="{{$edit.tests.userTests[$ID].admin_comment}}" />
					{{else}}
					<input type="text" rel="{{$edit.tests.userTests[$ID].id}}" id="test{{$edit.tests.userTests[$ID].id}}" name="score" class="tests" value="{{$edit.tests.userTests[$ID].score}}" />
					{{/if}}
				{{/if}}
			</td>
			<td>
				{{if $i.type == 2}}
				<a href="javascript:;" onclick="publishManualy({{$edit.tests.userTests[$ID].id}});">Publish manualy</a>
				{{/if}}
			</td>
		<tr>
		{{/foreach}}
	</table>
	<a href="javascript:;" onclick="setStatus(2);">Accept</a> / <a href="javascript:;" onclick="setStatus(3);">Denied</a>	
</div>