<div id="general_data_form" class="main-tab">
	<table class="inner-table">
		<tr>
			<td colspan="2"><b>Basic information</b></td>
		</tr>
        <tr>
            <td>{{'email'|gLA:'Email'}}:</td>
            <td>{{$edit.email}}</td>
        </tr>
		<tr>
            <td>{{'first_name'|gLA:'First name'}}:</td>
            <td>{{$edit.first_name}}</td>
        </tr>
        <tr>
            <td>{{'last_name'|gLA:'Last name'}}:</td>
            <td>{{$edit.last_name}}</td>
        </tr>
        <tr>
            <td>{{'profile_country'|gLA:'Country'}}:</td>
            <td>{{$edit.country}}</td>
        </tr>
        <tr>
            <td>{{'phone'|gLA:'Phone'}}:</td>
            <td>{{$edit.phone}}</td>
        </tr>
        
        <tr>
            <td>Registration date:</td>
            <td>{{$edit.created|date_format}}</td>
        </tr>
        
        <tr>
            <td>Night calls allowed value:</td>
            <td>{{$edit.available_24_7}}</td>
        </tr>
        
        <tr>
            <td>Worked for  online academic assistance companies value:</td>
            <td>{{$edit.have_worked	}}</td>
        </tr>
        
        <tr>
			<td colspan="2"><b>Additional information</b></td>
		</tr>
		<tr>
            <td>Total applications:</td>
            <td>{{$edit.total_applications}}</td>
        </tr>
        <tr>
            <td>Completed orders:</td>
            <td>{{$edit.completed_orders}}</td>
        </tr>
        <tr>
            <td>Total earnings:</td>
            <td>{{$edit.total_amount|number_format:2:'.':''}}$</td>
        </tr>
        <tr>
            <td>Total paid:</td>
            <td>{{$edit.total_paid_amount|number_format:2:'.':''}}$</td>
        </tr>
        <tr>
            <td>Ratio:</td>
            <td>{{$edit.rating|number_format:2:'.':''}}</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>
            	{{if $edit.rating >= 4}}
				VIP
				{{else}}
				Regular
				{{/if}}
				 / 
				{{$edit.status}}
            </td>
        </tr>
        <tr>
            <td>Academic degree:</td>
            <td>{{$edit.academic_degree}}</td>
        </tr>
        <tr>
            <td>Citation styles:</td>
            <td>
            	{{if $edit.familiar_with|@is_array}}
            	{{', '|@implode:$edit.familiar_with}}
            	{{/if}}
            </td>
        </tr>
        <tr>
            <td>Native language:</td>
            <td>{{$edit.native_language}}</td>
        </tr>
        <tr>
            <td>Disciplines of proficienty:</td>
            <td>
            	{{if $edit.disciplines|@is_array}}
            	{{', '|@implode:$edit.disciplines}}
            	{{/if}}
            </td>
        </tr>
        <tr>
            <td>About writer:</td>
            <td>{{$edit.about_me}}</td>
        </tr>
        <tr>
			<td colspan="2"><b>Test block</b></td>
		</tr>
		<tr>
            <td>Number of revisions:</td>
            <td>
            	<input type="text" class="simple" id="number_revisions" value="{{$edit.number_revisions}}" />
            </td>
        </tr>
        <tr>
            <td>Number of times plagiarism was detected:</td>
            <td>
            	<input type="text" class="simple" id="number_plagiarism" value="{{$edit.number_plagiarism}}" />
            </td>
        </tr>
        <tr>
            <td>Grammar test results:</td>
            <td>
            	<input type="text" class="simple" id="grammar_results" value="{{$edit.grammar_results}}" />
            </td>
        </tr>
        <tr>
            <td>APA test results:</td>
            <td>
            	<input type="text" class="simple" id="apa_results" value="{{$edit.apa_results}}" />
            </td>
        </tr>
        <tr>
            <td>MLA test results:</td>
            <td>
            	<input type="text" class="simple" id="mla_results" value="{{$edit.mla_results}}" />
            </td>
        </tr>
        <tr>
            <td>Assay Score:</td>
            <td>
            	<input type="text" class="simple" id="assay_score" value="{{$edit.assay_score}}" />
            </td>
        </tr>
        <tr>
            <td colspan="2"><b>Admin comment:</b></td>
        </tr>
        <tr>
            <td colspan="2">
            	<textarea class="simple" id="admin_comment" name="admin_comment" rows="5" style="width:500px">{{$edit.admin_comment}}</textarea>
			</td>
        </tr>
 	</table>
</div>