<div class="content">
	<form class="forma" method="post" action="" onsubmit="return false;">
		<fieldset>
			<table class="search-table" cellpadding="0" cellspacing="0">
			    <tr>
			        <td>
			            <label for="filterID">{{'id'|gLA:'Client ID'}}:</label>
			            <input class="filter" type="text" id="filterID" name="filterID" />
			        </td>
			        <td>
			            <label for="filterName">{{'name'|gLA:'Client Name'}}:</label>
			            <input class="filter" type="text" id="filterName" name="filterName" />
			        </td>
			        <td>
			            <label for="filterLastName">{{'last_name'|gLA:'Client last Name'}}:</label>
			            <input class="filter" type="text" id="filterLastName" name="filterLastName" />
			        </td>
			        <td>
			            <label for="filterEmail">{{'email'|gLA:'Client email'}}:</label>
			            <input class="filter" type="text" id="filterEmail" name="filterEmail" />
			        </td>
			        <td>
			            <label for="filterPhone">{{'phone'|gLA:'Client phone'}}:</label>
			            <input class="filter" type="text" id="filterPhone" name="filterPhone" />
			        </td>
			        <td class="bttns">
	                   <div class="btn"><a href="javascript:;" onclick="changeFilter(); return false;"><span>{{'m_search'|gLA:'Search'}}</span></a></div>
	                   <div class="clr"><!-- clear --></div>
	               </td>
	               <td class="bttns">
	                   <div class="btn"><a href="javascript:;" onclick="clearFilter(); return false;"><span>{{'m_cancel'|gLA:'Cancel'}}</span></a></div>
	                   <div class="clr"><!-- clear --></div>
	               </td>
			    </tr>
			</table>
			
			{{$tTable}}
			
			<div id="modulePath">
			</div>
			
			{{$bTable}}
	
		</fieldset>
	</form>
	
	<script type="text/javascript">
		moduleTable.mainUrl = '{{$MAIN_URL}}';
		moduleTable.moduleName = '{{$MODULE_NAME}}';
		moduleTable.usePaging = true;
		{{if $MODULE_FROM}}
	    moduleTable.from = {{$MODULE_FROM}};
	    {{/if}}

		$(document).ready(function() {
			
			updateModule();	
			
		});
	</script>
</div>	