<tr class="a block-tr add-value" id="add-value-{{$id}}">
    <td>
    	<input type="hidden" name="id" class="values" value="{{$value.id}}" />
        <table class="inner-table">
            <tr>
                
                <td>
					{{'m_name'|gLA:'Name'}}:<br />
					<div class="block-holder open">
	                	<div class="inner-block">
						
	                        <ul class="lang-tabs">
	                            {{foreach name=languages key=lk item=lng from=$langs}}
	                            <li {{if $smarty.foreach.languages.first}} class="active"{{/if}} >
	                                <a href="javascript: void(0);">{{$lng.title}}</a>
	                            </li>
	                            {{/foreach}}
	                        </ul>
	
	                        <div class="areaBlock">
	                            {{foreach name=languages key=lk item=lng from=$langs}}
	                                <div class="text-block{{if $smarty.foreach.languages.first}} open{{/if}}">
	                                    <input name="name" rel="{{$lng.lang}}" id="name_{{$lng.lang}}" value="{{$value.data[$lng.lang].name|clear}}" class="values" type="text"  style="width:200px;" />
	                                    
	                                    <div class="clr"><!-- clear --></div>
	                                </div>
	                            {{/foreach}}
	                        </div>
	
	                    </div>
	                </div>
	
				</td>
				
				<td>
					{{'m_hint_title'|gLA:'Hint'}}:<br />
					<div class="block-holder open">
	                	<div class="inner-block">
						
	                        <ul class="lang-tabs">
	                            {{foreach name=languages key=lk item=lng from=$langs}}
	                            <li {{if $smarty.foreach.languages.first}} class="active"{{/if}} >
	                                <a href="javascript: void(0);">{{$lng.title}}</a>
	                            </li>
	                            {{/foreach}}
	                        </ul>
	
	                        <div class="areaBlock">
	                            {{foreach name=languages key=lk item=lng from=$langs}}
	                                <div class="text-block{{if $smarty.foreach.languages.first}} open{{/if}}">
	                                    <input name="hint" rel="{{$lng.lang}}" id="hint_{{$lng.lang}}" value="{{$value.data[$lng.lang].hint|clear}}" class="values" type="text"  style="width:200px;" />
	                                    
	                                    <div class="clr"><!-- clear --></div>
	                                </div>
	                            {{/foreach}}
	                        </div>
	
	                    </div>
	                </div>
	
				</td>
				
				<td>
					{{'parent'|gLA:'Parent'}}: <br /> 
					<input type="checkbox" class="values" name="parent" id="values_parent" value="1" {{if $value.parent}} checked="checked" {{/if}} />
				</td>
				
				<td>
					{{'price'|gLA:'Price'}}: <br /> 
					<input type="text" class="values" name="price" id="values_price" value="{{$value.price|clear}}" />
				</td>
				
				<td>
					{{'show_fields'|gLA:'Show fields'}}: <br /> 
					<select name="show_fields" id="show_fields" class="long values" multiple="multiple"  size="5">
                        <option value="0">{{'m_select_option'|gLA:'-- Select --'}}</option>
                        {{foreach item=item key=k name=select from=$config.parents}}
	                		<option {{if $value.show_fields|is_array && $item.id|in_array:$value.show_fields}} selected="selected" {{/if}} value="{{$item.id}}">{{$item.name}}</option>
	                	{{/foreach}} 
                    </select>
				</td>

                <td>
                    <a href="javascript: void(0);" onclick="$(this).parents('.add-value').remove();">
                       {{'m_delete'|gLA:'Delete'}}
                    </a>
                </td>
            </tr>
 
        </table>

        <script type="text/javascript">
            $(function() {

                loadCmsTabs();
            });
        </script>
    </td>
</tr>