<div class="content">
	<div id="modulePath">
	<div class="error-msg" id="errorBlock" style="display:none;"></div>
	<input type="hidden" name="id" id="id" value="{{$edit.id}}" />
	<table class="holder-table">
		<tr>
			<td class="left-td">
				<table class="inner-table">
					<tr>
						<td colspan="2"><b>{{'general_data'|gLA:'General data'}}</b></td>
			        </tr>
			        <tr>
			            <td>{{'m_name'|gLA:'Name'}}*:</td>
			            <td>
			            	<div class="block-holder open">
			                	<div class="inner-block">
								
			                        <ul class="lang-tabs">
			                            {{foreach name=languages key=lk item=lng from=$langs}}
			                            <li {{if $smarty.foreach.languages.first}} class="active"{{/if}} >
			                                <a href="javascript: void(0);">{{$lng.title}}</a>
			                            </li>
			                            {{/foreach}}
			                        </ul>
			
			                        <div class="areaBlock">
			                            {{foreach name=languages key=lk item=lng from=$langs}}
			                                <div class="text-block{{if $smarty.foreach.languages.first}} open{{/if}}">
			                                    <input name="name" rel="{{$lng.lang}}" id="name_{{$lng.lang}}" value="{{$edit.data[$lng.lang].name|clear}}" class="simple long required" type="text"  style="width:350px;" />
			                                    
			                                    <div class="clr"><!-- clear --></div>
			                                </div>
			                            {{/foreach}}
			                        </div>
			
			                    </div>
			                </div>
			            
			            
			            </td>
			        </tr>
			        <tr>
			            <td>{{'unique_key'|gLA:'Key'}}*:</td>
			            <td><input type="text" class="long simple required" name="db_field" id="db_field" value="{{$edit.db_field|clear}}" readonly="readonly" /></td>
			        </tr>
			        <tr>
						<td>{{'save_in_db'|gLA:'Save IN DB'}}</td>
						<td><input type="checkbox" value="1" id="save_in_db" class="active simple" {{if $edit.save_in_db}} checked="checked" {{/if}} /></td>
					</tr>
			        <tr>
						<td>{{'enabled'|gLA:'Enabled'}}</td>
						<td><input type="checkbox" value="1" id="enable" class="active simple" {{if $edit.enable}} checked="checked" {{/if}} /></td>
					</tr>
					<tr>
						<td>{{'hidden'|gLA:'Hidden'}}</td>
						<td><input type="checkbox" value="1" id="hidden" class="active simple" {{if $edit.hidden}} checked="checked" {{/if}} /></td>
					</tr>
					<tr>
						<td>{{'show_in_3step_'|gLA:'Show in header'}}</td>
						<td><input type="checkbox" value="1" id="show_in_3step" class="active simple" {{if $edit.show_in_3step}} checked="checked" {{/if}} /></td>
					</tr>
					<tr>
						<td>{{'show_in_inquiry'|gLA:'Show in Inquiry'}}</td>
						<td><input type="checkbox" value="1" id="inquiry" class="active simple" {{if $edit.inquiry}} checked="checked" {{/if}} /></td>
					</tr>
					<tr>
		                <td>{{'m_type'|gLA:'Type'}}*:</td>
		                <td>
		                    <select name="type" id="type" class="long simple required">
		                        <option value="">{{'m_select_option'|gLA:'-- Select --'}}</option>{{$edit.cfg.types}}
		                        {{foreach item=i key=k name=select from=$config.types}}
			                		<option {{if $k == $edit.type}} selected="selected" {{/if}} value="{{$k}}">{{$i}}</option>
			                	{{/foreach}} 
		                    </select>
		                </td>
		            </tr>
		            <tr>
		                <td>{{'module'|gLA:'Module'}}*:</td>
		                <td>
		                    <select name="module" id="module" class="long simple required">
		                        <option value="">{{'m_select_option'|gLA:'-- Select --'}}</option>
		                        {{foreach item=i key=k name=select from=$config.modules}}
			                		<option {{if $k == $edit.module}} selected="selected" {{/if}} value="{{$k}}">{{$i}}</option>
			                	{{/foreach}} 
		                    </select>
		                </td>
		            </tr>
		            <tr>
		                <td>{{'form_step'|gLA:'Form step'}}:</td>
		                <td>
		                    <select name="form_step" id="form_step" class="long simple" data="{{$edit.form_step}}">
		                        <option value="0">{{'m_select_option'|gLA:'-- Select --'}}</option>
		                    </select>
		                </td>
		            </tr>
		            <!-- 
		            <tr>
			            <td>{{'css_class'|gLA:'CSS Class'}}:</td>
			            <td><input type="text" class="long simple" name="css_class" id="css_class" value="{{$edit.css_class|clear}}" /></td>
			        </tr>
			        <tr>
			            <td>{{'css_style'|gLA:'CSS Style'}}:</td>
			            <td><input type="text" class="long simple" name="css_style" id="css_style" value="{{$edit.css_style|clear}}" /></td>
			        </tr>
			         -->
			        <tr>
		                <td>{{'hint'|gLA:'Hint'}}:</td>
		                <td>
		                    <textarea rows="4" maxlength="150" cols="100" class="simple lead" id="hint" name="hint" style="width: 99%;">{{$edit.hint|clear}}</textarea>                    
		                    <div class="clr"><!-- clear --></div>
		                </td>
		            </tr>
		            <tr>
		                <td>{{'hint_below'|gLA:'Hint below'}}:</td>
		                <td>
		                    <textarea rows="4" maxlength="150" cols="100" class="simple lead" id="hint_below" name="hint_below" style="width: 99%;">{{$edit.hint_below|clear}}</textarea>                    
		                    <div class="clr"><!-- clear --></div>
		                </td>
		            </tr>
		            <tr>
		                <td>{{'hint_over'|gLA:'Hint over'}}:</td>
		                <td>
		                    <textarea rows="4" maxlength="150" cols="100" class="simple lead" id="hint_over" name="hint_over" style="width: 99%;">{{$edit.hint_over|clear}}</textarea>                    
		                    <div class="clr"><!-- clear --></div>
		                </td>
		            </tr>
		            <tr>
						<td>{{'required'|gLA:'Required'}}</td>
						<td><input type="checkbox" value="1" id="required" name="required" class="active simple" {{if $edit.required}} checked="checked" {{/if}} /></td>
					</tr>
					<tr>
		                <td>{{'form_filters'|gLA:'Form filters'}}:</td>
		                <td>
		                    <select name="form_filters" id="form_filters" multiple="multiple" class="long simple" size="10">
		                    {{foreach item=i key=k name=select from=$config.form_filters}}
			                	<option {{if $edit.form_filters|is_array && $i|in_array:$edit.form_filters}} selected="selected" {{/if}} value="{{$i}}">{{$i}}</option>
			                {{/foreach}}    
		                    </select>
		                </td>
		            </tr>
		            <tr>
		                <td>{{'form_errors'|gLA:'Form errors'}}:</td>
		                <td>
		                    <select name="form_errors" id="form_errors" multiple="multiple" class="long simple" size="10">
		                    {{foreach item=i key=k name=select from=$config.form_errors}}
			                	<option {{if $edit.form_errors|is_array && $i|in_array:$edit.form_errors}} selected="selected" {{/if}} value="{{$i}}">{{$i}}</option>
			                {{/foreach}}    
		                    </select>
		                </td>
		            </tr>
		            <tr>
		                <td>{{'field_selected_action'|gLA:'Field selected action'}}:</td>
		                <td>
		                    <select name="field_selected_action" id="field_selected_action" class="long simple">
		                        <option value="0">{{'m_select_option'|gLA:'-- Select --'}}</option>
		                        {{foreach item=i key=k name=select from=$config.form_selactions}}
			                		<option {{if $i == $edit.field_selected_action}} selected="selected" {{/if}} value="{{$i}}">{{$i}}</option>
			                	{{/foreach}} 
		                    </select>
		                </td>
		            </tr>
			        <tr>
						<td>{{'price'|gLA:'Price'}}:</td>
						<td><input type="checkbox" value="1" id="price" class="active simple" {{if $edit.price}} checked="checked" {{/if}} /></td>
					</tr>
					<tr>
						<td>{{'startpage'|gLA:'Startpage'}}:</td>
						<td><input type="checkbox" value="1" id="startpage" class="active simple" {{if $edit.startpage}} checked="checked" {{/if}} /></td>
					</tr>
					<!-- 
			        <tr>
			            <td>{{'default_val'|gLA:'Default val'}}:</td>
			            <td><input type="text" class="long simple" name="default_val" id="default_val" value="{{$edit.default_val|clear}}" /></td>
			        </tr>
			         -->
    			</table>
    		</td>
		</tr>
	</table>
	<table class="inner-table" id="add-value-table">

			<tr>
	            <td><a href="javascript:;" onclick="addValue();">{{'add_value'|gLA:'Add value'}}</a></td>
	        </tr>
	        
	        {{foreach name=values key=k item=i from=$edit.values}}
							
				{{include file="add-value.html" value=$i id=$smarty.foreach.values.index config=$config}}
			 
			{{ /foreach }} 
	        
		</table>
    <table class="bttns-table">
        <tr>
            <td>
            	{{if $edit.id}}
                <div class="btn orange"><a href="javascript:;" onclick="checkFields('apply');"><span>{{'apply'|gLA:'Apply'}}</span></a></div>
                {{/if}}
                <div class="btn"><a href="javascript:;" onclick="checkFields('save');"><span>{{'save'|gLA:'Save'}}</span></a></div>
                <div class="btn cancel"><a href="javascript:;" onclick="window.location.href = moduleTable.getRequestUrl() + '#content_id:{{$edit.content_id}}/';"><span>{{'m_cancel'|gLA:'Cancel'}}</span></a></div>
            </td>
        </tr>
    </table>
    </form>

    <script type="text/javascript">
	    moduleTable.mainUrl = '{{$MAIN_URL}}';
        moduleTable.moduleName = '{{$MODULE_NAME}}';

		var data = {};
		data = {{$configJson}};
        
        $(document).ready(function() {

                var tabindex = 1;
                $('#editForma :input,select').each(function() {
                        if (this.type != "hidden") {
                                var $input = $(this);
                                $input.attr("tabindex", tabindex);
                                tabindex++;
                        }
                });     
                
                $('#module').change(function() {
                	checkModuleStepTab();
                	
                	if ($('#module').val() == 'order') {
                		$('#startpage').parent().parent().show();
                		$('#price').parent().parent().show();
                		$('#inquiry').parent().parent().show();
                		$('#show_in_3step').parent().parent().show();
                	} else {
                		$('#startpage').parent().parent().show();
                		$('#price').parent().parent().hide();
                		$('#inquiry').parent().parent().hide();
                		$('#show_in_3step').parent().parent().hide();
                	}
                });
                
                $('#module').trigger('change');
        });
			
	</script>
	</div>
</div>