<div>

<div id="modulePath">
</div>


<script type="text/javascript" language="javascript">
	moduleTable.mainUrl = '{{$MAIN_URL}}';
	moduleTable.moduleName = '{{$MODULE_NAME}}';
	moduleTable.usePaging = false;
	
	defaultFolder = '{defaultFolder}';
	uploadFolder = '{defaultFolder}';
	dialogMode = false;
	updateModule();
	
</script>


</div>
