<link rel="stylesheet" type="text/css" href="/{{$AD_CMS_MODULE_WEB_FOLDER}}{{$MODULE_NAME}}/css/{{$MODULE_NAME}}.css" />
<script type="text/javascript" src="{{$AD_CMS_MODULE_WEB_FOLDER}}{{$MODULE_NAME}}/js/{{$MODULE_NAME}}.js"></script>
<script type="text/javascript" src="{{$AD_CMS_JS_FOLDER}}langMsg.php?module={{$MODULE_NAME}}"></script>
<script type="text/javascript" src="{{$AD_CMS_JS_FOLDER}}jquery.cookie.js"></script>
<script type="text/javascript" src="{{$AD_CMS_JS_FOLDER}}jquery.tree.js"></script>
<script type="text/javascript" src="{{$AD_CMS_JS_FOLDER}}jquery.tree.contextmenu.js"></script>
<script type="text/javascript" src="{{$AD_CMS_JS_FOLDER}}jquery.tree.cookie.js"></script>