<ul class="tools tools3">
	<li><a href="javascript:;" class="upload" onclick="showUploadForm(); return false;">{cms_lang_file_upload}</a></li>
	<li><a href="javascript:;" class="create" onclick="createFolder(); return false;">{cms_lang_create_folder}</a></li>
</ul>