<div class="col1j opendoc">
	{{if $news.date}}
	<div class="date">{{$news.datem|date_format:"%d %b %Y"}}</div>
	{{/if}}
	<div class="userinput">
		{{if $news.text_image}}
		<img alt="{{if $news.text_image_alt}}{{$news.text_image_alt|clear}}{{else}}{{$news.title|clear}}{{/if}}" src="{{$AD_UPLOAD_FOLDER}}{{$newsConfig.big.upload_path}}{{$news.text_image}}">
		{{/if}}
		<p>{{$news.lead|clear}}</p>
    	{{$news.text}}	
	</div>
	<div class="aftercontent">
		{{if $news.links|@count > 0}}
		<div class="link_list clearfix">
			<h2>{{'news_LinksBlockTitle'|gL:'Related links'}}</h2>
			<ul>
				{{section name=item loop=$news.links}}
					<li>
						<a href="{{if $news.links[item].linkDocId}}{{$news.links[item].linkUrlId|getLink}}{{$news.links[item].linkDocId|getDocUrl}}.html{{elseif $news.links[item].linkUrlId}}{{$news.links[item].linkUrlId|getLink}}{{else}}{{$news.links[item].linkUrl}}{{/if}}" target="{{$news.links[item].linkTarget}}" title="{{if $news.links[item].linkTitle}}{{$news.links[item].linkTitle}}{{else}}{{if $news.links[item].linkUrlId}}{{$news.links[item].linkUrlId|getLink}}{{else}}{{$news.links[item].linkUrl}}{{/if}}{{/if}}">
							{{if $news.links[item].linkTitle}}{{$news.links[item].linkTitle}}{{else}}{{if $news.links[item].linkUrlId}}{{$news.links[item].linkUrlId|getLink}}{{else}}{{$news.links[item].linkUrl}}{{/if}}{{/if}}
						</a>
					</li>
				{{/section}}
			</ul>
		</div>
		{{/if}}
		{{if $news.files|@count > 0}}
		<div class="link_list clearfix">
			<h2>{{'news_FilesBlockTitle'|gL:'Attached files'}}</h2>
			<ul>
				{{section name=item loop=$news.files}}
				<li class="file">
					<a href="/download.php?file={{$news.files[item].path}}{{$news.files[item].fileName}}" target="_blank" title="{{$news.files[item].fileTitle}}">
						<span>{{$news.files[item].fileTitle}}</span> *.{{$news.files[item].ext}}, {{$news.files[item].size}}
					</a> 
				</li>
				{{/section}}
			</ul>
		</div>
		{{/if}}
		<div class="backsocial clearfix">
			<a href="javascript:;" onclick="history.go(-1);" class="back css3"></a>
			<div class="social css3">
				
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
				<!--<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>-->
				<a class="addthis_counter addthis_pill_style"></a>
				</div>
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-533581334c9f2941"></script>
				<!-- AddThis Button END -->
				
				<!--<div class="g-plus" data-action="share" data-annotation="bubble"></div>-->
			</div>
		</div>
	</div>
</div>