
{{if $web.image}}
<section class="topimg css3"><img src="{{$AD_UPLOAD_FOLDER}}content/{{$web.image}}" alt="{{if $web.image_alt}}{{$web.image_alt}}{{else}}{{$web.title}}{{/if}}" /></section>
{{/if}}
<section class="w850 {{if $web.image}}has_top_img{{/if}}" data-equalcol="true">	
<h1 class="h1" id="h1">{{$web.title}}</h1>
{{if $news|@count > 0}}
<section class="dlist">
	{{foreach name=item from=$news key=k item=news}}
	<section class="item clearfix">
		
			{{if $news.date_from}}
			<section class="date">
				{{'createdTitle'|gL:'Created'}} - {{$news.date_from|date_format:"%d.%m.%Y"}}, {{'updatedTitle'|gL:'Modified'}} - 
					{{if $news.date_from > $news.updated}}	
					{{$news.date_from|date_format:"%d.%m.%Y"}}
					{{else}}
					{{$news.updated|date_format:"%d.%m.%Y"}}
					{{/if}}
			</section>
			{{/if}}
		
		{{if $news.lead_image}}
			<a href="{{$news.page_url}}.html" title="{{$news.title|clear}}" class="image">
				<img src="{{$AD_UPLOAD_FOLDER}}{{$newsConfig.uploadFolder}}small/{{$news.lead_image}}" alt="{{if $news.lead_image_alt}}{{$news.lead_image_alt|clear}}{{else}}{{$news.title|clear}}{{/if}}" />
			</a>
		{{/if}}
		<h2>
			<a href="{{$news.page_url}}.html" title="{{$news.title|clear}}">
				{{$news.title|clear}}
			</a>
		</h2>
		<p>{{$news.lead|clear}}</p>
		{{if $news.text}}
		<a href="{{$news.page_url}}.html" title="{{'more'|gL:'Learn more'}}" class="readmore">{{'more'|gL:'Learn more'}}</a>
		{{/if}}
	</section>
	{{/foreach}}
</section>
 
{{if $pager.previous || $pager.next}}
<section class="pager clearfix">
	{{if $pager.previous}}
		<a href="{{$web.url}}page:{{$pager.previous}}/" title="{{'pagerPrevious'|gL:'Previous'}}" class="prev">{{'pagerPrevious'|gL:'Previous'}}</a>
	{{/if}}
	<div class="numbers">
	{{section name=pagination loop=$pager.total_pages}} 
		<a href="{{$web.url}}page:{{$smarty.section.pagination.iteration}}/" title="{{$smarty.section.pagination.iteration}}" class="{{if $pager.current_page == $smarty.section.pagination.iteration}} active{{/if}}">{{$smarty.section.pagination.iteration}}</a>
	{{/section}}
	</div>

	{{if $pager.next}}
		<a href="{{$web.url}}page:{{$pager.next}}/" title="{{'pagerNext'|gL:'Next'}}" class="next">{{'pagerNext'|gL:'Next'}}</a>
	{{/if}}
	
</section>
{{/if}}

{{/if}}
</section>