{{if $news|@count > 0}}
<section class="w280 newsblock">
	<section class="header clearfix"><a href="{{if $siteData.newsCat[$web.country][$web.lang]|@is_numeric}}{{$siteData.newsCat[$web.country][$web.lang]|getLM}}{{else}}{{$siteData.newsCat[$web.country][$web.lang]}}{{/if}}" title="{{'startpage_all_news'|gL:'View all'}}">{{'startpage_all_news'|gL:'View all'}}</a><h2>{{'startpage_news'|gL:'News'}}</h2></section>
	<section class="news">
		{{foreach from=$news name=news key=k item=item}}
		<section class="item clearfix">
			<section class="date">
				{{if $item.date_from}}
				{{$item.date_from|date_format:"%d.%m."}}
				{{else}}
				{{$item.created|date_format:"%d.%m."}}
				{{/if}}
			</section>
			<h2><a href="{{$item.content_id|getLink}}{{$item.page_url|clear}}.html" title="{{$item.title|clear}}">{{$item.title|clear}}</a></h2>
		</section>
		{{/foreach}}
	</section>
</section>
{{/if}}