<div id="editBlock">
	<div class="content">
	    <form id="edit_form">
	        <table class="search-table" style="margin-bottom: 4px;">
	            <tr>
	                <td>
	                    <strong>{{'m_promo_add_edit'|gLA:'Add/edit promo bloc'}}</strong>
	                </td>
	            </tr>
	        </table>
	        <div class="error-msg hidden" id="errorBlock"></div>
	        <div class="ok-msg hidden" id="okBlock">{{'m_data_saved'|gLA:'Data has been saved'}}</div>
	        <table class="holder-table">
	            <tr>
	                <td>* {{'m_country'|gLA:'Country'}}:</td>
	                <td>
	                    <select name="country" id="country" class="country">
	                        <option value="0">{{'m_select_option'|gLA:'-- Select --'}}</option>
	                        {{section name=item loop=$countries.data}}
		                		<option {{if $countries.data[item].id == $countries.sel}} selected="selected" {{/if}} value="{{$countries.data[item].id}}">{{$countries.data[item].title}}</option>
		                	{{/section}} 
	                    </select>
	                </td>
	            </tr>
	        </table>
	        <table class="bttns-table">
	            <tr>
	                <td>
	                    <div class="btn cancel">
	                        <a href="javascript: void(0);" onclick="setCountry();">
	                            <span>{{'m_next'|gLA:'Next'}}</span>
	                        </a>
	                    </div>
	                </td>
	            </tr>
	        </table>
	    </form>
	    <script type="text/javascript">
		    moduleTable.mainUrl = '{{$MAIN_URL}}';
		    moduleTable.moduleName = '{{$MODULE_NAME}}';
		</script>
	</div>
</div>	