<div class="content">
    <form id="edit_form">
        <input type="hidden" name="id" id="id" value="{{$edit.id}}" />
        <input type="hidden" name="country" id="country" value="{{$edit.country}}" />
        <table class="search-table" style="margin-bottom: 4px;">
            <tr>
                <td>
                    <strong>{{'m_promo_add_edit'|gLA:'Add/edit promo bloc'}}</strong>
                </td>
            </tr>
        </table>
        <div class="error-msg hidden" id="errorBlock"></div>
        <div class="ok-msg hidden" id="okBlock">{{'m_data_saved'|gLA:'Data has been saved'}}</div>
        <table class="holder-table">
            <tr>
                <td>* {{'m_language'|gLA:'Language'}}:</td>
                <td>
                    <select name="lang" id="lang" class="long">
                        <option value="0">{{'m_select_option'|gLA:'-- Select --'}}</option>
                        {{section name=item loop=$langs}}
	                		<option {{if $langs[item].lang == $edit.lang}} selected="selected" {{/if}} value="{{$langs[item].lang}}">{{$langs[item].title}}</option>
	                	{{/section}} 
                    </select>
                </td>
            </tr>
            <tr>
                <td>{{'m_with_text'|gLA:'With text'}}:</td>
                <td>
                    <input type="checkbox" class="simple" name="with_text" id="with_text" value="1" {{if $edit.with_text}} checked="checked"{{/if}} />
                </td>
            </tr>
            <tr>
                <td>{{'m_title'|gLA:'Title'}}:</td>
                <td>
                    <input type="text" maxlength="55" class="long simple" name="title" id="title" value="{{$edit.title|clear}}" style="width: 60%;" maxlength="255" />
                    <p class="count" style="margin-bottom: 0; margin-right: 1%; float: right;">{{$edit.title|count_characters:true}} / 50</p>
                    <div class="clr"><!-- clear --></div>
                </td>
            </tr>
            <tr>
                <td>{{'m_target_url'|gLA:'Target URL'}}:</td>
                <td>
                    <input type="text" id="url" name="url" value="{{$edit.url}}" class="simple" />
					<input type="hidden" id="url_id" name="url_id" onchange="getDocumentsList('url_id', 'doc_id'); return false;" value="{{$edit.url_id}}" class="simple" />
					<a href="#" onclick="openSiteMapDialog('url_id', 'url', ''); return false;" class="select-btn">Select</a>
					<select id="doc_id" name="doc_id" class="simple">
						<option value="0">Select</option>
					</select>
                </td>
            </tr>
            <tr>
                <td>{{'m_target_location'|gLA:'How to open link'}}:</td>
                <td>
                    <select name="target" id="target" class="long simple">
                        <option value="_blank"{{if $edit.target eq '_blank' || !$edit.id}} selected="selected"{{/if}}>{{'m_target_blank'|gLA:'New window'}}</option>
                        <option value="_self"{{if $edit.target eq '_self'}} selected="selected"{{/if}}>{{'m_target_self'|gLA:'This window'}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>* {{'m_image'|gLA:'Image'}} (1400x500):</td>
                <td>
                    <div style="width: 98%; padding: 5px;">
                        <div id="imageDiv">
                            {{if $edit.image}}
                                <img width="100" src="{{$AD_UPLOAD_FOLDER}}{{$edit.uploadFolder}}{{$edit.image}}" />
                                <a href="javascript: void(0);" onclick="emptyUploadFile('image'); return false;">{{'m_delete'|gLA:'Delete'}}</a>
                                <input type="hidden" class="simple" name="image" id="image" value="{{$edit.image}}" />
                            {{/if}}
                        </div>
                        <a href="javascript: void(0);" id="imageButton" class="select-btn  img-required">{{'upload'|gLA:'Upload'}}</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{'m_alt_text'|gLA:'Alternative text'}}:</td>
                <td>
                    <input type="text" class="long simple" name="alt" id="alt" value="{{$edit.alt|clear|hsc}}" style="width: 60%;" maxlength="255" />
                </td>
            </tr>
            <tr>
                <td>{{'m_lead_text'|gLA:'Description'}}:</td>
                <td>
                    <textarea rows="4" maxlength="150" cols="100" class="simple lead" id="lead" name="lead" style="width: 99%;">{{$edit.lead|clear}}</textarea>                    
                    <p class="count" style="margin-bottom: 0; margin-right: 1%; float: right;">{{$edit.lead|count_characters:true}} / 150</p>
                    <div class="clr"><!-- clear --></div>
                </td>
            </tr>
            <tr>
                <td>* {{'m_seconds'|gLA:'Slide time in seconds'}}:</td>
                <td>
                    <input type="text" class="long simple" name="seconds" id="seconds" value="{{$edit.seconds|clear|hsc}}" style="width: 60%;" maxlength="4" />
                </td>
            </tr>
        </table>
        <table class="bttns-table">
            <tr>
                <td>
                    {{if $edit.id}}
                        <div class="btn orange">
                            <a href="javascript: void(0);" onclick="checkFields('apply'); return false;">
                                <span>{{'apply'|gLA:'Apply'}}</span>
                            </a>
                        </div>
                    {{/if}}
                    <div class="btn">
                        <a href="javascript: void(0);" onclick="checkFields('save'); return false;">
                            <span>{{'save'|gLA:'Save'}}</span>
                        </a>
                    </div>
                    <div class="btn cancel">
                        <a href="javascript: void(0);" onclick="window.location.href = moduleTable.getRequestUrl();">
                            <span>{{'m_cancel'|gLA:'Cancel'}}</span>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
    moduleTable.mainUrl = '{{$MAIN_URL}}';
    moduleTable.moduleName = '{{$MODULE_NAME}}';
    
    $id = parseInt('{{$edit.id}}');
    
    $(function() {
        $('textarea').keydown(function() {
            symbolcount(this);
        }).keyup(function() {
            symbolcount(this);
        }).focus(function() {
            symbolcount(this);
        });
        
        $('#title').keydown(function() {
            symbolcount(this);
        }).keyup(function() {
            symbolcount(this);
        }).focus(function() {
            symbolcount(this);
        });

        
        {{if $edit.doc_id}}
        getDocumentsList('url_id', 'doc_id', '{{$edit.doc_id}}');
		{{/if}}
        
        symbolcount = function(e) {
            
        	$symbolmax = parseInt($(e).attr('maxlength'));
        	
        	$text = $(e).val();
            if($text.length > $symbolmax) {
                $(e).val($text.substr(0, $symbolmax));                
            } else {
                $(e).parent().children('.count').html($(e).val().length + ' / ' + $symbolmax);
            }
        }
        
        var config = {};
        config['max_width'] = 1400;
        config['max_height'] = 500;
        config['min_width'] = 1400;
        config['min_height'] = 500;
        config['allowed_types'] = 'jpg|jpeg|gif|png';
        loadUploadImgButton('{{$edit.uploadFolder}}', 'image', config);
    });
</script>
</div>