<div class="content">
	<fieldset>
    <table class="search-table" cellpadding="0" cellspacing="0">
        <tr>
            <td>
            	
            	<label for="valid_from">{{'valid_from'|gLA:'Valid from'}}:</label>
			    <input class="filter" type="text" id="valid_from" name="valid_from"  value="{{$filters.valid_from}}" />
            </td>
            <td>
            	
            	<label for="valid_to">{{'valid_to'|gLA:'Valid to'}}:</label>
			    <input class="filter" type="text" id="valid_to" name="valid_to"  value="{{$filters.valid_to}}" />
            </td>
            <td>
	            <label for="status">{{'status'|gLA:'Status'}}:</label>
	            <select class="filter" id="status" name="status">
					<option value="0">{{'select_option'|gLA:'Select option'}}</option>
                    {{$statuses}}
				</select>
	        </td>
	        <td class="bttns">
                 <div class="btn"><a href="javascript:;" onclick="changeFilter(); return false;"><span>{{'m_search'|gLA:'Search'}}</span></a></div>
                 <div class="clr"><!-- clear --></div>
             </td>
             <td class="bttns">
                 <div class="btn"><a href="javascript:;" onclick="clearFilter(); return false;"><span>{{'m_cancel'|gLA:'Cancel'}}</span></a></div>
                 <div class="clr"><!-- clear --></div>
             </td>
        </tr>
    </table>
    {{$tTable}}
    <div id="modulePath"></div>
    {{$bTable}}
    </fieldset>
</div>
<script type="text/javascript">
    $(function() {
        moduleTable.mainUrl = '{{$MAIN_URL}}';
        moduleTable.moduleName = '{{$MODULE_NAME}}';
        moduleTable.usePaging = true;
        moduleTable.itemsOnPage = 20;
        moduleTable.from = {{$moduleFrom}};
        
        updateModule();
    });
    
    $(document).ready(function(){
        //Set calendar settings
        $('#valid_from').datepicker({
            dateFormat  : 'dd.mm.yy',
        });

        $('#valid_to').datepicker({
            dateFormat  : 'dd.mm.yy',
        });

    });
</script>