<div class="content">
    <input type="hidden" name="id" id="id" value="{{$edit.id}}" />
    <table class="search-table" style="margin-bottom: 4px;">
        <tr>
            <td>
                <strong>{{'m_bonus_codes_edit'|gLA:'Bonus codes edit'}}</strong>
            </td>
        </tr>
        <tr class="search-table ok-msg hidden" id="okBlock">
            <td>{{'m_data_saved'|gLA:'Data saved!'}}</td>
        </tr>
    </table>
    <div class="error-msg hidden" id="errorBlock"></div>
    <table class="holder-table">
        {{if $edit.status}}
        <tr>
            <td style="width: 250px;">{{'status'|gLA:'Status'}}:</td>
            <td id="status_title">
                {{assign var="bonus_status" value="bonus_"|cat:$edit.status}}
                {{$bonus_status|gLA}}
            </td>
        </tr>
        {{/if}}
        <tr>
            <td style="width: 250px;">{{'enable'|gLA:'Enable'}}:</td>
            <td>
                <input type="checkbox" value="1" id="enable" class="active simple" {{if $edit.enable}} checked="checked" {{/if}} {{if  !empty($edit.disable_checkbox)}}disabled = "disabled"{{/if}} />
            </td>
        </tr>
        <tr>
            <td>{{'m_title'|gLA:'Title'}}*:</td>
            <td>
                <input type="text" class="simple long required" name="title" id="title" value="{{$edit.title|clear|hsc}}" maxlength="255" />
            </td>
        </tr>
        <tr id="codesButton">
            <td>{{'code'|gLA:'Code'}}*:</td>
            <td>
                <input type="text" class="simple long required" name="code" id="code" value="{{$edit.code|clear|hsc}}" />
            </td>
        </tr>
        <tr>
            <td>{{'valid_from'|gLA:'Valid from'}}*:</td>
            <td>
                <input type="text" class="long simple required" name="valid_from" id="valid_from" value="{{$edit.valid_from}}" maxlength="10" style="float: left; width: 80px;" />
                <a onclick="$('#valid_from').focus();" href="javascript:void(0)" class="calendar">&nbsp;</a>
            </td>
        </tr>
        <tr>
            <td>{{'valid_to'|gLA:'Valid to'}}*:</td>
            <td>
                <input type="text" class="long simple required" name="valid_to" id="valid_to" value="{{$edit.valid_to}}" maxlength="10" style="float: left; width: 80px;" />
                <a onclick="$('#valid_to').focus();" href="javascript:void(0)" class="calendar">&nbsp;</a>
            </td>
        </tr>
        <tr>
            <td>{{'value'|gLA:'Value'}}*:</td>
            <td>
                <input type="text" class="simple long decimal required" name="discount_value" id="discount_value" value="{{$edit.discount_value}}" style="float: left; width: 80px;" /><span class="percent_end"> %</span>
            </td>
        </tr>
        <tr>
            <td>{{'max_uses'|gLA:'Max uses'}}*:</td>
            <td>
                <input type="text" class="simple long numeric required" name="max_uses" id="max_uses" value="{{if $edit.max_uses}}{{$edit.max_uses}}{{else}}1{{/if}}" maxlength="11" />
            </td>
        </tr>
    </table>
    <table class="bttns-table">
        <tr>
            <td>
                {{if $edit.id}}
                    <div class="btn orange">
                        <a href="javascript: void(0);" onclick="checkFields('apply'); return false;">
                            <span>{{'apply'|gLA:'Apply'}}</span>
                        </a>
                    </div>
                {{/if}}
                <div class="btn">
                    <a href="javascript: void(0);" onclick="checkFields('save'); return false;">
                        <span>{{'save'|gLA:'Save'}}</span>
                    </a>
                </div>
                <div class="btn cancel">
                    <a href="javascript: void(0);" onclick="window.location.href = moduleTable.getRequestUrl();">
                        <span>{{'cancel'|gLA:'Cancel'}}</span>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(function() {
        moduleTable.mainUrl = '{{$MAIN_URL}}';
        moduleTable.moduleName = '{{$MODULE_NAME}}';
        
        $id = parseInt('{{$edit.id}}');
        
    });
    
    $(document).ready(function(){
        
        var min = $('#valid_from').datepicker('getDate') || new Date();
        $('#valid_from').datepicker({
            dateFormat  : 'dd.mm.yy',
            minDate     : 0,
        });
        
        $('#valid_to').datepicker({
            dateFormat  : 'dd.mm.yy',
            minDate     : $('#valid_from').datepicker('getDate') || new Date(),
        });
    });
    
</script>