<div class="content">
    <input type="hidden" name="id" id="id" value="{{$edit.id}}" />
    <table class="search-table" style="margin-bottom: 4px;">
        <tr>
            <td>
                <strong>{{'m_bonus_codes_view'|gLA:'Bonus code view'}}</strong>
            </td>
        </tr>
    </table>
    <table class="holder-table">
        {{if $edit.status}}
        <tr>
            <td style="width: 250px;">{{'status'|gLA:'Status'}}:</td>
            <td id="status_title">
                {{assign var="bonus_status" value="bonus_"|cat:$edit.status}}
                {{$bonus_status|gLA}}
            </td>
        </tr>
        {{/if}}
        <tr>
            <td style="width: 250px;">{{'enable'|gLA:'Enable'}}:</td>
            <td>
                <input type="checkbox" value="1" id="enable" class="active simple" {{if $edit.enable}} checked="checked" {{/if}} disabled = "disabled" />
            </td>
        </tr>
        <tr>
            <td>{{'m_title'|gLA:'Title'}}:</td>
            <td>{{$edit.title|clear|hsc}}</td>
        </tr>
        <tr>
            <td>{{'code'|gLA:'Code'}}:</td>
            <td>{{$edit.code|clear|hsc}}</td>
        </tr>
        <tr>
            <td>{{'valid_from'|gLA:'Valid from'}}:</td>
            <td>{{$edit.valid_from}}</td>
        </tr>
        <tr>
            <td>{{'valid_to'|gLA:'Valid to'}}:</td>
            <td>{{$edit.valid_to}}</td>
        </tr>
        <tr>
            <td> {{'value'|gLA:'Value'}}:</td>
            <td>
            	{{$edit.discount_value}}
                <span> %</span>
            </td>
        </tr>
    </table>
    <table class="bttns-table">
        <tr>
            <td>
                <div class="btn cancel">
                    <a href="javascript: void(0);" onclick="window.location.href = moduleTable.getRequestUrl();">
                        <span>{{'m_back'|gLA:'Back'}}</span>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(function() {
        moduleTable.mainUrl = '{{$MAIN_URL}}';
        moduleTable.moduleName = '{{$MODULE_NAME}}';
        
        $id = parseInt('{{$edit.id}}');
    });
</script>
