<section id="content">
	<section class="green_title sp68">
		<section class="wrap">
			<div class="location">
				{{$web.pagePath}}
			</div>
			<h1>{{$web.title}}</h1>
		</section>
	</section>
	<section class="wrap clearfix">
		<div class="col2j">
			<nav class="sidemenu no_mob">
				<div class="menu_trigger"></div>
				{{if $menu.TOP_SUB[$TOP_ACTIVE]|@count > 0}}
				<ul class="menu">
					{{section name=item loop=$menu.TOP_SUB[$TOP_ACTIVE]}}
					{{assign var="TOP_SUB_CURRENT" value=$menu.TOP_SUB[$TOP_ACTIVE][item].id}}
					
					<li class="{{if $menu.TOP_SUB[$TOP_ACTIVE][item].active}}{{assign var="TOP_SUB_ACTIVE" value=$menu.TOP_SUB[$TOP_ACTIVE][item].id}} active {{/if}}{{if $menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE]|@count > 0}} has_submenu {{/if}}">
						{{if !$menu.TOP_SUB[$TOP_ACTIVE][item].active}}
						<a class="item" href="{{$menu.TOP_SUB[$TOP_ACTIVE][item].url}}" title="{{$menu.TOP_SUB[$TOP_ACTIVE][item].title}}">
							{{$menu.TOP_SUB[$TOP_ACTIVE][item].title}}
						</a>
						{{else}}
						<div class="item">{{$menu.TOP_SUB[$TOP_ACTIVE][item].title}}</div>
							{{if $menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE]|@count > 0}}
							<ul class="submenu">
								{{section name=item3 loop=$menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE]}}
								<li {{if $menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE][item3].active}} class="active" {{/if}}>
									{{if $menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE][item3].active}}
									<div class="item">{{$menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE][item3].title}}</div>
									{{else}}
									<a class="item" href="{{$menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE][item3].url}}" title="{{$menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE][item3].title}}">
										{{$menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE][item3].title}}
									</a>
									{{/if}}
									
								</li>
								{{/section}}
							</ul>
							{{/if}}
						{{/if}}
					</li>
					{{/section}}
				</ul>
				{{/if}}
			</nav>
			<section class="side_calculator">
				<h2>{{'startpage_CalculateYouPrice'|gL:'Calculate Your price'}}</h2>
				{{foreach name=orderdata from=$paper.orders item=i key=k}}
				{{if $i.type == 'tabselect' || $i.type == 'select'}}
				<label>{{$i.name}}</label>
				<select class="selectpicker css3 {{if $i.price}} calcprice{{/if}}" {{if $i.price}} onchange="order.calculatePrice();" {{/if}} data-width="100%" name="{{$i.id}}" id="mob_{{$i.id}}">
					{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
				
						{{if $v.parent}}
							
							{{if $optgroupOpened}}
								</optgroup>	
							{{/if}}
							
							{{assign var="optgroupOpened" value=$v.id}}
							
							<optgroup label="{{$v.name}}">
						{{else}}	
							<option {{if $optgroupOpened}}data-groupid="{{$optgroupOpened}}"{{/if}} {{if $v.show_fields|is_array && $v.show_fields|@count > 0}} data-show=".show_{{' .show_'|implode:$v.show_fields}}" {{/if}} value="{{$v.id}}" {{if $v.id == $i.selected}}selected="selected"{{/if}}>{{$v.name}}</option>	
						{{/if}}
						
						{{if $smarty.foreach.orderdatavalues.last && $optgroupOpened}}
							</optgroup>	
						{{/if}}	
					{{/foreach}}
				</select>
				{{elseif $i.type == 'pages'}}
				<label>{{$i.name}}</label>
				<div class="num_input">
					<div class="num minus css3"></div>
					<input type="text" value="{{if $smarty.session.order.fields.number_of_pages}}{{$smarty.session.order.fields.number_of_pages}}{{else}}{{$i.default_val}}{{/if}}" {{if $i.price}} class="calcprice" onchange="order.calculatePrice();" {{/if}} name="number_of_pages" id="number_of_pages"" >
					<div class="num plus css3"></div>
				</div>
				{{elseif $i.type == 'hourdate'}}
				<label>{{$i.name}}</label>
				<select class="selectpicker css3 {{if $i.price}} calcprice {{/if}}" {{if $i.price}} onchange="order.calculatePrice();" {{/if}} data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}">
					<option value="32400" {{if 32400 == $i.selected}}selected="selected"{{/if}}>9 {{'orders_FormsFieldHours'|gL:'Hours'}}</option>
					<option value="86400" {{if 86400 == $i.selected}}selected="selected"{{/if}}>24 {{'orders_FormsFieldHours'|gL:'Hours'}}</option>
					<option value="172800" {{if 172800 == $i.selected }}selected="selected"{{/if}}>2 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
					<option value="259200" {{if 259200 == $i.selected}}selected="selected"{{/if}}>3 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
					<option value="518400" {{if 518400 == $i.selected}}selected="selected"{{/if}}>6 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
					<option value="864000" {{if 864000 == $i.selected}}selected="selected"{{/if}}>10 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
					<option value="1209600" {{if 1209600 == $i.selected  || !$i.selected}}selected="selected"{{/if}}>14 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
				</select>
				{{/if}}
				{{/foreach}}
				
				<div class="result css3">{{'order_TotalPrice'|gL:'Total price $'}} <div id="result" class="css3"><span id="priceTotal"></span></div></div>
			
				<a href="{{$siteData.mirros_order_page|getLM}}" class="order css3" title="{{'header_OrderNowTitle'|gL:'Order now'}}">{{'header_OrderNowTitle'|gL:'Order now'}}</a>
				<a href="{{$siteData.mirros_inquiry_page|getLM}}" class="free" title="{{'startpage_OrderTryInquiry'|gL:'or try FREE inquiry'}}">{{'startpage_OrderTryInquiry'|gL:'or try FREE inquiry'}}</a>
				
			</section>
			<script>
			$(document).ready(function(){
				order.calculatePrice();
			});
			</script>
			<section class="small_stats clearfix">
				<img alt="{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}" src="{{$AD_IMAGE_FOLDER}}_stats.png">
				<div class="nr">{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}</div>
				<div class="text">{{'news_OurLiveStats_OrdersDelivered_Title'|gL:'Orders<br>delivered'}}</div>
			</section>
		</div>
		{{$TEMPLATE_NEWS_MODULE}}
		{{$TEMPLATE_FAQ_MODULE}}
	</section>
	<div class="sp100-100-50"></div>
</section>