<section id="content">
	<div class="sp40-35-15"></div>
	<section class="wrap clearfix">
		{{$TEMPLATE_ORDERS_HEAD_MODULE}}		
	</section>
	<div class="sp40-35-15"></div>
	<section class="wrap mob_nowrap clearfix">
		
			{{$TEMPLATE_ORDERS_MODULE}}
		
	</section>	
	<div class="sp100-100-0"></div>
</section>