<section id="content">
	{{$PROMOBLOCK_CONTENT}}
	<section class="calculator">
		<section class="wrap">
			<section class="calc_cont css3 clearfix">
				<h2>{{'startpage_CalculateYouPrice'|gL:'Calculate Your price'}}</h2>
				{{foreach name=orderdata from=$paper.orders item=i key=k}}
				{{if $i.type == 'tabselect' || $i.type == 'select'}}
				<div class="cols col{{$smarty.foreach.orderdata.iteration}}">
					<label>{{$i.name}}</label>
					<select class="selectpicker css3 {{if $i.price}} calcprice{{/if}}" {{if $i.price}} onchange="order.calculatePrice();" {{/if}} data-width="100%" name="{{$i.id}}" id="mob_{{$i.id}}">
						{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
					
							{{if $v.parent}}
								
								{{if $optgroupOpened}}
									</optgroup>	
								{{/if}}
								
								{{assign var="optgroupOpened" value=$v.id}}
								
								<optgroup label="{{$v.name}}">
							{{else}}	
								<option {{if $optgroupOpened}}data-groupid="{{$optgroupOpened}}"{{/if}} {{if $v.show_fields|is_array && $v.show_fields|@count > 0}} data-show=".show_{{' .show_'|implode:$v.show_fields}}" {{/if}} value="{{$v.id}}" {{if $v.id == $i.selected}}selected="selected"{{/if}}>{{$v.name}}</option>	
							{{/if}}
							
							{{if $smarty.foreach.orderdatavalues.last && $optgroupOpened}}
								</optgroup>	
							{{/if}}	
						{{/foreach}}
					</select>
				</div>
				{{elseif $i.type == 'pages'}}
				<div class="cols col{{$smarty.foreach.orderdata.iteration}}">
					<label>{{$i.name}}</label>
					<div class="num_input">
						<div class="num minus css3"></div>
						<input type="text" value="{{if $smarty.session.order.fields.number_of_pages}}{{$smarty.session.order.fields.number_of_pages}}{{else}}{{$i.default_val}}{{/if}}" {{if $i.price}} class="calcprice" onchange="order.calculatePrice();" {{/if}} name="number_of_pages" id="number_of_pages"" >
						<div class="num plus css3"></div>
					</div>
				</div>
				{{elseif $i.type == 'hourdate'}}
				<div class="cols col{{$smarty.foreach.orderdata.iteration}}">
					<label>{{$i.name}}</label>
					<select class="selectpicker css3 {{if $i.price}} calcprice {{/if}}" {{if $i.price}} onchange="order.calculatePrice();" {{/if}} data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}">
						<option value="32400" {{if 32400 == $i.selected}}selected="selected"{{/if}}>9 {{'orders_FormsFieldHours'|gL:'Hours'}}</option>
						<option value="86400" {{if 86400 == $i.selected}}selected="selected"{{/if}}>24 {{'orders_FormsFieldHours'|gL:'Hours'}}</option>
						<option value="172800" {{if 172800 == $i.selected }}selected="selected"{{/if}}>2 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
						<option value="259200" {{if 259200 == $i.selected}}selected="selected"{{/if}}>3 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
						<option value="518400" {{if 518400 == $i.selected}}selected="selected"{{/if}}>6 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
						<option value="864000" {{if 864000 == $i.selected}}selected="selected"{{/if}}>10 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
						<option value="1209600" {{if 1209600 == $i.selected  || !$i.selected}}selected="selected"{{/if}}>14 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
					</select>
				</div>
				{{/if}}
				{{/foreach}}
				<div class="cols col5 css3">
					<label>{{'order_TotalPrice'|gL:'Total price $'}}:</label>
					<div id="result" class="css3"><span id="priceTotal"></span></div>
				</div>
				<div class="cols col6">
					<a href="{{$siteData.mirros_order_page|getLM}}" class="order css3" title="{{'header_OrderNowTitle'|gL:'Order now'}}">{{'header_OrderNowTitle'|gL:'Order now'}}</a>
					<a href="{{$siteData.mirros_inquiry_page|getLM}}" class="free" title="{{'startpage_OrderTryInquiry'|gL:'or try FREE inquiry'}}">{{'startpage_OrderTryInquiry'|gL:'or try FREE inquiry'}}</a>
				</div>
			</section>
			<script>
			$(document).ready(function(){
				order.calculatePrice();
			});
			</script>
		</section>
	</section>
        <section class="whyus">
		<section class="wrap clearfix">
			<div class="extra"><h2>{{'startpage_WhyChooseUsTitle'|gL:'Why choose us?'}}</h2></div>
			<a href="{{'startpage_WhyChooseUs_Item1_Link'|gL:''}}" class="item1">
				<div class="icon"></div>
				<div class="text">{{'startpage_WhyChooseUs_Item1_Text'|gL:'345 professionals from UK and US'}}</div>
			</a>
			<a href="{{'startpage_WhyChooseUs_Item2_Link'|gL:''}}" class="item2">
				<div class="icon"></div>
				<div class="text">{{'startpage_WhyChooseUs_Item2_Text'|gL:'Support team available 24/7'}}</div>
			</a>
			<a href="{{'startpage_WhyChooseUs_Item3_Link'|gL:''}}" class="item3">
				<div class="icon"></div>
				<div class="text">{{'startpage_WhyChooseUs_Item3_Text'|gL:'Save your time! Delivery in 8h'}}</div>
			</a>
			<a href="{{'startpage_WhyChooseUs_Item4_Link'|gL:''}}" class="item4">
				<div class="icon"></div>
				<div class="text">{{'startpage_WhyChooseUs_Item4_Text'|gL:'Order under your complete control'}}</div>
			</a>
			<a href="{{'startpage_WhyChooseUs_Item5_Link'|gL:''}}" class="item5">
				<div class="icon"></div>
				<div class="text">{{'startpage_WhyChooseUs_Item5_Text'|gL:'Discounts for returning customers'}}</div>
			</a>
		</section>
	</section>
	<section class="services">
		<section class="wrap">
			<h2>{{'startpage_OurServicesTitle'|gL:'Our services for your needs'}}</h2>
			<ul class="list clearfix">
				{{section name=item loop=$menu.MIDDLE}}
				<li>
					<a href="{{$menu.MIDDLE[item].url}}" title="{{$menu.MIDDLE[item].title}}">
						{{$menu.MIDDLE[item].title}}
					</a>
				</li>
				{{/section}}
			</ul>
		</section>
	</section>
        <!--
	<section class="statistics">
		<section class="wrap">
			<h2>{{'startpage_OurLiveStatsTitle'|gL:'Our LIVE stats'}}</h2>
			<div class="list_cont">
				<div class="list clearfix">
					<div class="item">
						<img alt="" src="{{$AD_IMAGE_FOLDER}}_stats_1.jpg">
						<div class="bigtext"><span class="animate_number not_done" data-realnumber="{{'startpage_OurLiveStats_AvgPricePerOrder_Number'|gL:'20'}}">0</span>$</div>
						<div class="smalltext">{{'startpage_OurLiveStats_AvgPricePerOrder_Title'|gL:'Average price per order'}}</div>
					</div>
					<div class="item">
						<img alt="" src="{{$AD_IMAGE_FOLDER}}_stats_2.jpg">
						<div class="bigtext"><span class="animate_number not_done" data-realnumber="{{'startpage_OurLiveStats_ActiveWriters_Number'|gL:'50'}}">0</span></div>
						<div class="smalltext">{{'startpage_OurLiveStats_ActiveWriters_Title'|gL:'Active writers'}}</div>
					</div>
					<div class="item">
						<img alt="" src="{{$AD_IMAGE_FOLDER}}_stats_3.jpg">
						<div class="bigtext"><span class="animate_number not_done" data-realnumber="{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}">0</span></div>
						<div class="smalltext">{{'startpage_OurLiveStats_OrdersDelivered_Title'|gL:'Orders delivered'}}</div>
					</div>
					<div class="item">
						<img alt="" src="{{$AD_IMAGE_FOLDER}}_stats_4.jpg">
						<div class="bigtext"><span class="animate_number not_done" data-realnumber="{{'startpage_OurLiveStats_ReturningCustomers_Number'|gL:'99'}}">0</span>%</div>
						<div class="smalltext">{{'startpage_OurLiveStats_ReturningCustomers_Title'|gL:'Returning customers'}}</div>
					</div>
				</div>
				<div class="button_cont">
					<div class="buttons">
						<div class="button css3"></div>
						<div class="button css3"></div>
						<div class="button css3"></div>
						<div class="button css3"></div>
					</div>
				</div>
			</div>
		</section>
	</section>
	
        
        <section class="how_it_works">
		<div class="bg">
			<img alt="{{'startpage_HowItWorksTitle'|gL:'How it works?'}}" src="{{$AD_IMAGE_FOLDER}}how_it_works.jpg">
		</div>
		<section class="wrap">
			<h2>{{'startpage_HowItWorksTitle'|gL:'How it works?'}}</h2>
			<div class="cont">
				<div class="link onetwo"></div>
				<div class="link twothree"></div>
				<div class="link threefour"></div>
				<div class="step step1 css3">
					<div class="nr"></div>
					<hr>
					<div class="text">{{'startpage_HowItWorks_Step1'|gL:'Submit your order'}}</div>
				</div>
				<div class="step step2 css3">
					<div class="nr"></div>
					<hr>
					<div class="text">{{'startpage_HowItWorks_Step2'|gL:'Make the payment'}}</div>
				</div>
				<div class="step step3 css3">
					<div class="nr"></div>
					<hr>
					<div class="text">{{'startpage_HowItWorks_Step3'|gL:'Order in prosess'}}</div>
				</div>
				<div class="step step4 css3">
					<div class="nr"></div>
					<hr>
					<div class="text">{{'startpage_HowItWorks_Step4'|gL:'Download!'}}</div>
				</div>
			</div>
		</section>
	</section>
        -->
        
	<section class="safety">
		<section class="wrap clearfix">
			<div class="col">
				<div class="cont">
					<div class="cont2">
						<div class="text">{{'startpage_WhyFeelSafeTitle'|gL:'Why will you feel safe with us?'}}</div>
					</div>
				</div>
				{{'startpage_WhyFeelSafeBlock'|gL}}
			</div>
		</section>
	</section>
	<section class="aboutus">
		<section class="wrap">
			<div class="cols userinput clearfix">
				<div class="col">
					{{'startpage_AboutUsBlockN1'|gL}}
				</div>
				<div class="col">
					{{'startpage_AboutUsBlockN1'|gL}}
				</div>
				<div class="col">
					{{'startpage_AboutUsBlockN1'|gL}}
				</div>
			</div>
		</section>
	</section>
</section>