<section class="order_form">
	{{foreach name=orderdata from=$order.data item=i key=k}}
	{{if $i.type == 'tabselect'}}
	<div class="field clearfix {{if $i.hidden}} show_{{$i.id}}{{/if}}" {{if $i.hidden}} style="display:none;" {{/if}}>
		<div class="col1b">
			<div class="label_cont"><div class="label_center">
				<label class="has_tip">
					{{$i.name}}
					{{if $i.hint_over}}
					<div class="tip css3">
						{{$i.hint_over}}
					</div>
					{{/if}}
				</label>
			</div></div>
		</div>
		<div class="col2b">
			<div class="horizontal_select clearfix" data-linkto="#mob_{{$i.id}}" id="dt_{{$i.id}}">
				{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
				<div class="option has_tip {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}active{{/if}}" data-value="{{$v.id}}">
					{{if $v.hint}}
					<div class="tip css3">{{$v.hint}}</div>
					{{/if}}
					<div class="text">{{$v.name}} </div>
				</div>
				{{/foreach}}
			</div>
			<div class="horizontal_dropdown">
				<select class="selectpicker {{if $i.price}} calcprice{{/if}}" {{if $i.price}} onchange="order.calculatePrice();" {{/if}} data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}" {{if $i.hiddenData}} data-hide="{{$i.hiddenData}}" {{/if}} >
					{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
					<option {{if $v.show_fields|is_array && $v.show_fields|@count > 0}} data-show=".show_{{' .show_'|implode:$v.show_fields}}" {{/if}} value="{{$v.id}}" {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}selected="selected"{{/if}}>
						{{$v.name}} 
					</option>
					{{/foreach}}
				</select>
			</div>
		</div>
	</div>
	{{elseif $i.type == 'select'}}
	<div class="field clearfix {{if $i.hidden}} hide_{{$i.id}} show_{{$i.id}}{{/if}}" {{if $i.hidden}} style="display:none;" {{/if}}>
		<div class="col1b">
			<div class="label_cont"><div class="label_center">
				<label class="has_tip">
					{{$i.name}}
					{{if $i.hint_over}}
					<div class="tip css3">
						{{$i.hint_over}}
					</div>
					{{/if}}
				</label>
			</div></div>
		</div>
		<div class="col2b">
			<div class="select_cont">
				<select class="selectpicker {{if $i.price}} calcprice{{/if}}" {{if $i.price}} onchange="order.calculatePrice();" {{/if}} data-width="100%" name="{{$i.id}}" id="mob_{{$i.id}}"  {{if $i.hiddenData}} data-hide="{{$i.hiddenData}}" {{/if}}>
					<option value="" {{if !$i.selected}}selected="selected"{{/if}}>{{'order_FormSelectDefaultValue'|gL:'Select value'}}</option>
					{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
					
						{{if $v.parent}}
							
							{{if $optgroupOpened}}
								</optgroup>	
							{{/if}}
							
							{{assign var="optgroupOpened" value=$v.id}}
							
							<optgroup label="{{$v.name}}">
						{{else}}	
							<option {{if $optgroupOpened}}data-groupid="{{$optgroupOpened}}"{{/if}} {{if $v.show_fields|is_array && $v.show_fields|@count > 0}} data-show=".show_{{' .show_'|implode:$v.show_fields}}" {{/if}} value="{{$v.id}}" {{if $v.id == $i.selected}}selected="selected"{{/if}}>{{$v.name}}</option>	
						{{/if}}
						
						{{if $smarty.foreach.orderdatavalues.last && $optgroupOpened}}
							</optgroup>	
						{{/if}}	
					{{/foreach}}
				</select>
			</div>
			{{if $i.hint_below}}
			<div class="note">
				<p>
					{{$i.hint_below}}	
				</p>
			</div>
			{{/if}}
		</div>
	</div>
	{{elseif $i.type == 'text'}}
	<div class="field clearfix {{if $i.hidden}} hide_{{$i.id}} show_{{$i.id}}{{/if}}" {{if $i.hidden}} style="display:none;" {{/if}}>
		<div class="col1b">
			<div class="label_cont"><div class="label_center">
				<label class="has_tip">
					{{$i.name}}
					{{if $i.hint_over}}
					<div class="tip css3">
						{{$i.hint_over}}
					</div>
					{{/if}}
				</label>
			</div></div>
		</div>
		<div class="col2b">
			<div class="cinput css3">
				<input type="text" {{if $i.price}} class="calcprice" onchange="order.calculatePrice();"{{/if}} name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
			</div>
		</div>
	</div>
	{{elseif $i.type == 'short_text'}}
	<div class="field clearfix {{if $i.hidden}} show_{{$i.id}}{{/if}}" {{if $i.hidden}} style="display:none;" {{/if}}>
		<div class="col1b">
			<div class="label_cont"><div class="label_center">
				<label class="has_tip">
					{{$i.name}}
					{{if $i.hint_over}}
					<div class="tip css3">
						{{$i.hint_over}}
					</div>
					{{/if}}
				</label>
			</div></div>
		</div>
		<div class="col2b">
			<div class="cinput css3 input1">
				<input type="text" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
			</div>
		</div>
	</div>
	{{elseif $i.type == 'textarea'}}
	<div class="field clearfix {{if $i.hidden}} show_{{$i.id}}{{/if}}" {{if $i.hidden}} style="display:none;" {{/if}}>
		<div class="col1b">
			<div class="label_cont"><div class="label_center">
				<label class="has_tip">
					{{$i.name}}
					{{if $i.hint_over}}
					<div class="tip css3">
						{{$i.hint_over}}
					</div>
					{{/if}}
				</label>
			</div></div>
		</div>
		<div class="col2b">
			<div class="cinput css3">
				<textarea name="{{$i.id}}" id="mob_{{$i.id}}">{{$i.selected}}</textarea>
			</div>
		</div>
	</div>
	{{elseif $i.type == 'pages'}}
	<div class="field clearfix {{if $i.hidden}} show_{{$i.id}}{{/if}}" {{if $i.hidden}} style="display:none;" {{/if}}>
		<div class="col1b">
			<div class="label_cont"><div class="label_center">
				<label class="has_tip">
					{{if $smarty.session.order.fields.mob_2 == 1221 || $smarty.session.order.fields.mob_2 == 1222}}
					{{$i.name}}
					{{elseif $smarty.session.order.fields.mob_2 == 1223}}
					{{'order_NumberOfQuestions'|gL:'Number of questions'}}
					{{elseif $smarty.session.order.fields.mob_2 == 1224}}
					{{'order_NumberOfProblems'|gL:'Number of problems'}}
					{{/if}}
					
					{{if $i.hint_over}}
					<div class="tip css3">
						{{$i.hint_over}}
					</div>
					{{/if}}
				</label>
			</div></div>
		</div>
		<div class="col2b clearfix">
			<div class="col1c">
				<div class="cinput css3">
					<input type="text" {{if $i.price}} class="calcprice" onchange="order.calculatePrice();" {{/if}} name="number_of_pages" id="number_of_pages" value="{{if $smarty.session.order.fields.number_of_pages}}{{$smarty.session.order.fields.number_of_pages}}{{else}}{{$i.default_val}}{{/if}}">
				</div>
			</div>
			
			{{if $smarty.session.order.fields.mob_2 == 1221 || $smarty.session.order.fields.mob_2 == 1222}}
			
			<div class="col2c clearfix">
				<div class="col1d">
					<div class="horizontal_select clearfix" data-linkto="#mob_{{$i.id}}" id="dt_{{$i.id}}">
						{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
						<div class="option has_tip {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 2)}}active{{/if}}" data-value="{{$v.id}}">
							{{if $v.hint}}
							<div class="tip css3">{{$v.hint}}</div>
							{{/if}}
							<div class="text">{{$v.name}}</div>
						</div>
						{{/foreach}}
					</div>
					<div class="horizontal_dropdown">
						<select class="selectpicker {{if $i.price}} calcprice {{/if}}" {{if $i.price}} onchange="order.calculatePrice();" {{/if}} data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}" data-hide=".hide_{{$i.id}}">
							{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
							<option value="{{$v.id}}" data-show=".show_{{$i.id}}_{{$v.id}}" {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 2)}}selected="selected"{{/if}}>{{$v.name}}</option>
							{{/foreach}}
						</select>
					</div>
				</div>
				<div class="col2d">
					{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
					{{if $v.hint}}
					<div class="note2 hide_{{$i.id}} show_{{$i.id}}_{{$v.id}}" {{if (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1) || ($i.selected && $v.id != $i.selected)}}style="display:none;"{{/if}}>
						{{$v.hint}}
					</div>
					{{/if}}
					{{/foreach}}
				</div>
			</div>
			
			{{/if}}
		</div>
	</div>
	{{elseif $i.type == 'hourdate'}}
	
	<div class="field clearfix {{if $i.hidden}} show_{{$i.id}}{{/if}}" {{if $i.hidden}} style="display:none;" {{/if}}>
		<div class="col1b">
			<div class="label_cont"><div class="label_center">
				<label class="has_tip">
					{{$i.name}}
					{{if $i.hint_over}}
					<div class="tip css3">
						{{$i.hint_over}}
					</div>
					{{/if}}
				</label>
			</div></div>
		</div>
		<div class="col2b clearfix select_group" id="dt_{{$i.id}}">
			<div class="col1c">
				<div class="special1 css3 hours">{{'orders_FormsFieldHours'|gL:'Hours'}}</div>
				<div class="horizontal_select flat_top clearfix" data-linkto="#mob_{{$i.id}}">
					<div class="option {{if 'orders_FormsFieldHours_9'|gL}}has_tip{{/if}} {{if 32400 == $i.selected}}active{{/if}}" data-value="32400">
						{{if 'orders_FormsFieldHours_9'|gL}}
						<div class="tip css3">{{'orders_FormsFieldHours_9'|gL:'9 Hours'}}</div>
						{{/if}}
						<div class="text">9</div>
					</div>
					<div class="option {{if 'orders_FormsFieldHours_24'|gL}}has_tip{{/if}} {{if 86400 == $i.selected}}active{{/if}}" data-value="86400">
						{{if 'orders_FormsFieldHours_24'|gL}}
						<div class="tip css3">{{'orders_FormsFieldHours_24'|gL:'24 Hours'}}</div>
						{{/if}}
						<div class="text">24</div>
					</div>
				</div>
			</div>
			<div class="col2c">
				<div class="special1 css3 days">{{'orders_FormsFieldDays'|gL:'Days'}}</div>
				<div class="horizontal_select flat_top clearfix" data-linkto="#mob_{{$i.id}}">
					<div class="option {{if 'orders_FormsFieldDays_2'|gL}}has_tip{{/if}}  {{if 172800 == $i.selected }}active{{/if}}" data-value="172800">
						{{if 'orders_FormsFieldDays_2'|gL}}
						<div class="tip css3">{{'orders_FormsFieldDays_2'|gL:'2 Days'}}</div>
						{{/if}}
						<div class="text">2</div>
					</div>
					<div class="option {{if 'orders_FormsFieldDays_3'|gL}}has_tip{{/if}} {{if 259200 == $i.selected}}active{{/if}}" data-value="259200">
						{{if 'orders_FormsFieldDays_3'|gL}}
						<div class="tip css3">{{'orders_FormsFieldDays_3'|gL:'3 Days'}}</div>
						{{/if}}
						<div class="text">3</div>
					</div>
					<div class="option {{if 'orders_FormsFieldDays_6'|gL}}has_tip{{/if}} {{if 518400 == $i.selected}}active{{/if}}" data-value="518400">
						{{if 'orders_FormsFieldDays_6'|gL}}
						<div class="tip css3">{{'orders_FormsFieldDays_6'|gL:'6 Days'}}</div>
						{{/if}}
						<div class="text">6</div>
					</div>
					<div class="option {{if 'orders_FormsFieldDays_10'|gL}}has_tip{{/if}} {{if 864000 == $i.selected}}active{{/if}}" data-value="864000">
						{{if 'orders_FormsFieldDays_10'|gL}}
						<div class="tip css3">{{'orders_FormsFieldDays_10'|gL:'10 Days'}}</div>
						{{/if}}
						<div class="text">10</div>
					</div>
					<div class="option {{if 'orders_FormsFieldDays_14'|gL}}has_tip{{/if}} {{if 1209600 == $i.selected || !$i.selected}}active{{/if}}" data-value="1209600">
						{{if 'orders_FormsFieldDays_14'|gL}}
						<div class="tip css3">{{'orders_FormsFieldDays_14'|gL:'14 Days'}}</div>
						{{/if}}
						<div class="text">14</div>
					</div>
				</div>
			</div>
			<div class="horizontal_dropdown">
				<select class="selectpicker {{if $i.price}} calcprice {{/if}}" {{if $i.price}} onchange="order.calculatePrice(); order.changeDeadlineNotice();" {{/if}} data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}">
					<option value="32400" {{if 32400 == $i.selected}}selected="selected"{{/if}}>9 {{'orders_FormsFieldHours'|gL:'Hours'}}</option>
					<option value="86400" {{if 86400 == $i.selected}}selected="selected"{{/if}}>24 {{'orders_FormsFieldHours'|gL:'Hours'}}</option>
					<option value="172800" {{if 172800 == $i.selected }}selected="selected"{{/if}}>2 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
					<option value="259200" {{if 259200 == $i.selected}}selected="selected"{{/if}}>3 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
					<option value="518400" {{if 518400 == $i.selected}}selected="selected"{{/if}}>6 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
					<option value="864000" {{if 864000 == $i.selected}}selected="selected"{{/if}}>10 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
					<option value="1209600" {{if 1209600 == $i.selected  || !$i.selected}}selected="selected"{{/if}}>14 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
				</select>
			</div>
			<div class="c"></div>
			<div class="note3">

				<div>{{'order_DeadLineNotice_1'|gL:'The deadline for the first draft is'}}
					<div {{if 'order_DeadLineNoticeHint_1'|gL}}class="has_tip"{{/if}}>
						<span id="deadline1"></span>
						{{if 'order_DeadLineNoticeHint_1'|gL}}
						<div class="tip css3">
							{{'order_DeadLineNoticeHint_1'|gL:'Hint 1'}}
						</div>
						{{/if}}
					</div>
				</div>
				<div>
					{{'order_DeadLineNotice_2'|gL:'We estimate that your final submission deadline is'}}
					<div {{if 'order_DeadLineNoticeHint_2'|gL}}class="has_tip"{{/if}}>
						<span id="deadline2"></span>
						{{if 'order_DeadLineNoticeHint_2'|gL}}
						<div class="tip css3">
							{{'order_DeadLineNoticeHint_2'|gL:'Hint 2'}}
						</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{elseif $i.type == 'extra'}}
	<div class="field clearfix {{if $i.hidden}} show_{{$i.id}}{{/if}}" {{if $i.hidden}} style="display:none;" {{/if}}>
		<div class="col1b">
			<div class="label_cont"><div class="label_center">
				<label class="has_tip">
					{{$i.name}}
					{{if $i.hint_over}}
					<div class="tip css3">
						{{$i.hint_over}}
					</div>
					{{/if}}
				</label>
			</div></div>
		</div>
		<div class="col2b">
			<div class="checkbox_block css3 clearfix">
				{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
				<div class="option {{if $smarty.session.order.fields.additional_extras|@is_array && $v.id|@in_array:$smarty.session.order.fields.additional_extras}}active{{/if}}">
					<input type="checkbox" {{if $smarty.session.order.fields.additional_extras|@is_array && $v.id|@in_array:$smarty.session.order.fields.additional_extras}}checked="checked"{{/if}} id="{{$v.id}}" class="checkbox extra" onchange="order.calculatePrice();" name="additional_extras" value="{{$v.name}}" />
					<div class="text">
						<span class="has_tip">{{$v.name}}
							{{if $v.hint}}
							<span class="tip css3">{{$v.hint}}</span>
							{{/if}}
						</span>
					</div>
					<div class="price">${{$v.price}}</div>
				</div>
				{{/foreach}}
			</div>
		</div>
	</div>
	{{/if}}
	{{/foreach}}
	
	<hr>
	{{if $order.order.prevStep}}
	<div class="summary has_back clearfix">
		<a href="javascript:;" onclick="order.changeStep({{$order.order.prevStep}});" class="back dt">{{'order_BackToStep'|gL:'Back to step'}} {{$order.order.prevStep}}</a>
		<div class="price set">{{'order_TotalPrice'|gL:'Total price $'}}<span id="priceTotal"></span></div>
		<a href="javascript:;" onclick="order.changeStep({{$order.order.nextStep}});" class="btn3 css3">{{'order_GoToStep'|gL:'Go to step'}} {{$order.order.nextStep}}</a>
		<div class="back_cont mob"><a href="javascript:;" onclick="order.changeStep({{$order.order.prevStep}});" class="back">{{'order_BackToStep'|gL:'Back to step'}} {{$order.order.prevStep}}</a></div>
	</div>
	{{else}}
	<div class="summary clearfix">
		<div class="price">{{'order_ApproxPrice'|gL:'Approximate price $'}}<span id="priceTotal"></span></div>
		<a href="javascript:;" onclick="order.changeStep({{$order.order.nextStep}});" class="btn3 css3">{{'order_GoToStep'|gL:'Go to step'}} {{$order.order.nextStep}}</a>
	</div>
	{{/if}}
</section>
<script>
$(document).ready(function(){
	
    if ($("#mob_2").length) {
        if ($("#mob_2").val() == 1221 || $("#mob_2").val() == 1222) {
        	$(".show_4").show();
        }
    }
    
    if ($("#number_of_pages").length) {
        $("#number_of_pages").change();
    }
    
    if ($("#mob_18").length) {
        $("#mob_18").change();
    }
    
    order.calculatePrice();
});
</script>