<section class="form_bg">
		<section class="wrap clearfix">
				<section class="col1a">
				<div id="orderBody">
					{{$ORDERS_MODULE_STEP}}
					</div>
				</section>
		<section class="col2a">
			<section class="side_safety css3">
				{{if $menu.ORDERS_RIGHT|@count > 0}}	
						{{section name=item loop=$menu.ORDERS_RIGHT}}
						<div><a href="{{$menu.ORDERS_RIGHT[item].url}}" title="{{$menu.ORDERS_RIGHT[item].title}}">{{$menu.ORDERS_RIGHT[item].title}}</a></div>	
						{{/section}}
					{{/if}}
			</section>
			<section class="small_stats clearfix">
				<img alt="{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}" src="{{$AD_IMAGE_FOLDER}}_stats.png">
				<div class="nr">{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}</div>
				<div class="text">{{'news_OurLiveStats_OrdersDelivered_Title'|gL:'Orders<br>delivered'}}</div>
			</section>
		</section>
	</section>
</section>