<section class="col1a">
		<section class="form_summary">
			<section class="wrap_onlymob clearfix">
				{{if $order.order.3step|@count > 0}}
					{{math assign="coldiv2" equation="x / y" x=$order.order.3step|@count y=2 }}
					{{foreach name=orderdata from=$order.order.3step item=i key=k}}
						
						{{assign var="ID" value='mob_'|cat:$k}}
						{{if $order.order.fields[$ID]}}
							
							{{assign var="IDVAL" value=$order.order.fields[$ID]}}
							
							{{if $smarty.foreach.orderdata.first}}
							<div class="col first">		
							{{/if}}
							
							<div class="field clearfix">
								<div class="name">{{$i.name}}:</div>
								<div class="value">
								{{if $i.values}}
									{{if $k == 17}}
										{{$smarty.session.order.fields.number_of_pages}}, {{$i.values[$IDVAL].name}} 
									{{else}}
										{{$i.values[$IDVAL].name}}
									{{/if}}	
								{{else}}
								
								{{if $k == 18}}
								{{assign var="TIMETOSHOW" value=`$order.order.fields[$ID]+$smarty.now+$order.order.deadlinedays`}}
								{{$TIMETOSHOW|date_format:"%e %B %I %p"}}
								{{else}}
								{{$order.order.fields[$ID]}}
								{{/if}}
			
								{{/if}}
								</div>
							</div>
						{{/if}}
						
						
						{{if $smarty.foreach.orderdata.last}}
							</div>	
						{{elseif $smarty.foreach.orderdata.iteration == $coldiv2|@ceil}}
							</div>
							<div class="col">
						{{/if}}
						
					{{/foreach}}
				{{/if}}
			</section>
		</section>
		<div class="ctabs">
			<div class="tab_top first css3" data-tab="1">
				<div class="text">{{'order_LoginTabTitle'|gL:'Login'}}</div>
			</div>
			<div class="tab_top last css3" data-tab="2">
				<div class="text">{{'order_RegisterTabTitle'|gL:'Register'}}</div>
			</div>
			<div class="c"></div>
			<div class="tab_bottom" data-tab="1">
				<section class="wrap_onlymob">
					<section class="order_form">
						<div class="explanation">
							{{'order_LoginTabText'|gL:'<h2>Please authorize to complete your order!</h2>
							<p>Sed semper lorem vel massa porttitor tincidunt. Maecenas pretium pulvinar tellus nec tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>'}}
						</div>
						<div class="field clearfix">
							<div class="col1b">
								<div class="label_cont"><div class="label_center">
									<label class="has_tip">{{'order_LoginTab_Fields_Email'|gL:'Email'}}
										{{if 'order_LoginTab_Fields_EmailHint'|gL:'Hint'}}
										<div class="tip css3">{{'order_LoginTab_Fields_EmailHint'|gL:'Hint'}}</div>
										{{/if}}
									</label>
								</div></div>
							</div>
							<div class="col2b clearfix">
								<div class="col1e">
									<div class="cinput css3">
										<input type="text" class="login" name="email" id="email" value="" />
									</div>
								</div>
							</div>
						</div>
						<div class="field clearfix">
							<div class="col1b">
								<div class="label_cont"><div class="label_center">
									<label class="has_tip">{{'order_LoginTab_Fields_Password'|gL:'Password'}}
										{{if 'order_LoginTab_Fields_PasswordHint'|gL:'Hint'}}
										<div class="tip css3">{{'order_LoginTab_Fields_PasswordHint'|gL:'Hint'}}</div>
										{{/if}}
									</label>
								</div></div>
							</div>
							<div class="col2b clearfix">
								<div class="col1e">
									<div class="cinput css3">
										<input type="password" class="login" name="password" id="password" value="" />
									</div>
								</div>
								<div class="col2e clearfix">
									<a href="#" class="forgot">{{'profile_ForgotPasswordTitle'|gL:'Forgot your password?'}}</a>
								</div>
							</div>
						</div>
						<div class="forgot_pw_block" style="display: none;">
							<hr>
							<div class="explanation">
								<h2>{{'profile_ForgotPasswordTitle'|gL:'Forgot your password?'}}</h2>
							<p>{{'profile_ForgotPasswordTitle'|gL:'Sed semper lorem vel massa porttitor tincidunt. Maecenas pretium pulvinar tellus nec tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.'}}</p>
							</div>
							<div class="info_submitted_msg css3" style="display:none;">{{'profile_ForgotPasswordOkMsg'|gL:'New password has been sent to your email! <a href="#">Sign in with a new password</a>'}}</div>
							<div class="field clearfix">
								<div class="col1b">
									<div class="label_cont"><div class="label_center">
										<label>{{'order_LoginTab_Fields_Email'|gL:'Email'}}</label>
									</div></div>
								</div>
								<div class="col2b clearfix">
									<div class="col1e">
										<div class="cinput css3">
											<input type="text" id="password_reminder">
										</div>
									</div>
									<div class="col2e clearfix">
										<a href="javascript:;" onclick="profile.passwordReminder();" class="btn4 css3">{{'order_Submit'|gL:'Submit'}}</a>
									</div>
								</div>
							</div>
						</div>
						<hr>
						{{if $order.order.prevStep}}
						<div class="summary has_back clearfix">
							<a href="javascript:;" onclick="order.changeStep({{$order.order.prevStep}});" class="back dt">{{'order_BackToStep'|gL:'Back to step'}} {{$order.order.prevStep}}</a>
							<div class="price set">{{'order_TotalPrice'|gL:'Total price $'}}<span id="priceTotal"></span></div>
							<a href="javascript:;" onclick="order.profileLogin({{$order.order.nextStep}});" class="btn3 css3">{{'order_GoToStep'|gL:'Go to step'}} {{$order.order.nextStep}}</a>
							<div class="back_cont mob"><a href="javascript:;" onclick="order.changeStep({{$order.order.prevStep}});" class="back">{{'order_BackToStep'|gL:'Back to step'}} {{$order.order.prevStep}}</a></div>
						</div>
						{{else}}
						<div class="summary clearfix">
							<div class="price">{{'order_ApproxPrice'|gL:'Approximate price $'}}<span id="priceTotal"></span></div>
							<a href="javascript:;" onclick="order.changeStep({{$order.order.nextStep}});" class="btn3 css3">{{'order_GoToStep'|gL:'Go to step'}} {{$order.order.nextStep}}</a>
						</div>
						{{/if}}
					</section>
				</section>
			</div>
			<div class="tab_bottom" data-tab="2">
				<section class="wrap_onlymob">
					<section class="order_form">
						<div class="explanation">
							{{'order_RegisterTabText'|gL:'<h2>Please authorize to complete your order!</h2>
							<p>Sed semper lorem vel massa porttitor tincidunt. Maecenas pretium pulvinar tellus nec tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>'}}
						</div>
						{{foreach name=orderdata from=$order.data item=i key=k}}
						{{if $i.type == 'tabselect'}}
						<div class="field clearfix">
							<div class="col1b">
								<div class="label_cont"><div class="label_center">
									<label class="has_tip">
										{{$i.name}}
										{{if $i.hint_over}}
										<div class="tip css3">
											{{$i.hint_over}}
										</div>
										{{/if}}
									</label>
								</div></div>
							</div>
							<div class="col2b">
								<div class="horizontal_select clearfix" data-linkto="#mob_{{$i.id}}" id="dt_{{$i.id}}">
									{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
									<div class="option has_tip {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}active{{/if}}" data-value="{{$v.id}}">
										{{if $v.hint}}
										<div class="tip css3">{{$v.hint}}</div>
										{{/if}}
										<div class="text">{{$v.name}}</div>
									</div>
									{{/foreach}}
								</div>
								<div class="horizontal_dropdown">
									<select class="selectpicker register" data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}" data-hide=".hide_{{$i.id}}">
										{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
										<option value="{{$v.id}}" {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}selected="selected"{{/if}}>{{$v.name}}</option>
										{{/foreach}}
									</select>
								</div>
							</div>
						</div>
						{{elseif $i.type == 'select'}}
						<div class="field clearfix">
							<div class="col1b">
								<div class="label_cont"><div class="label_center">
									<label class="has_tip">
										{{$i.name}}
										{{if $i.hint_over}}
										<div class="tip css3">
											{{$i.hint_over}}
										</div>
										{{/if}}
									</label>
								</div></div>
							</div>
							<div class="col2b">
								<div class="select_cont">
									<select class="selectpicker register" data-width="100%" name="{{$i.id}}" id="mob_{{$i.id}}">
										<option value="" {{if !$i.selected}}selected="selected"{{/if}}>{{'order_FormSelectDefaultValue'|gL:'Select value'}}</option>
										{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
										<option rel="{{$v.hint}}" value="{{$v.id}}" {{if $v.id == $i.selected}}selected="selected"{{/if}}>{{$v.name}}</option>
										{{/foreach}}
									</select>
								</div>
								{{if $i.hint_below}}
								<div class="note">
									<p>
										{{$i.hint_below}}	
									</p>
								</div>
								{{/if}}
							</div>
						</div>
						{{elseif $i.type == 'text'}}
						<div class="field clearfix">
							<div class="col1b">
								<div class="label_cont"><div class="label_center">
									<label class="has_tip">
										{{$i.name}}
										{{if $i.hint_over}}
										<div class="tip css3">
											{{$i.hint_over}}
										</div>
										{{/if}}
									</label>
								</div></div>
							</div>
							<div class="col2b">
								<div class="cinput css3">
									<input class="register" type="text" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
								</div>
							</div>
						</div>
						{{elseif $i.type == 'pages'}}
						<div class="field clearfix">
							<div class="col1b">
								<div class="label_cont"><div class="label_center">
									<label class="has_tip">
										{{$i.name}}
										{{if $i.hint_over}}
										<div class="tip css3">
											{{$i.hint_over}}
										</div>
										{{/if}}
									</label>
								</div></div>
							</div>
							<div class="col2b clearfix">
								<div class="col1c">
									<div class="cinput css3">
										<input type="text" name="{{$i.id}}" id="page_{{$i.id}}" value="{{$i.selected}}">
									</div>
								</div>
								<div class="col2c clearfix">
									<div class="col1d">
										<div class="horizontal_select clearfix" data-linkto="#mob_{{$i.id}}" id="dt_{{$i.id}}">
											{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
											<div class="option has_tip {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}active{{/if}}" data-value="{{$v.id}}">
												{{if $v.hint}}
												<div class="tip css3">{{$v.hint}}</div>
												{{/if}}
												<div class="text">{{$v.name}}</div>
											</div>
											{{/foreach}}
										</div>
										<div class="horizontal_dropdown">
											<select class="selectpicker" data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}" data-hide=".hide_{{$i.id}}">
												{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
												<option value="{{$v.id}}" data-show=".show_{{$i.id}}_{{$v.id}}" {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}selected="selected"{{/if}}>{{$v.name}}</option>
												{{/foreach}}
											</select>
										</div>
									</div>
									<div class="col2d">
										{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
										{{if $v.hint}}
										<div class="note2 hide_{{$i.id}} show_{{$i.id}}_{{$v.id}}" {{if $smarty.foreach.orderdatavalues.iteration != 1}}style="display:none;"{{/if}}>
											{{$v.hint}}
										</div>
										{{/if}}
										{{/foreach}}
									</div>
								</div>
							</div>
						</div>
						{{elseif $i.type == 'hourdate'}}
						<div class="field clearfix">
							<div class="col1b">
								<div class="label_cont"><div class="label_center">
									<label class="has_tip">
										{{$i.name}}
										{{if $i.hint_over}}
										<div class="tip css3">
											{{$i.hint_over}}
										</div>
										{{/if}}
									</label>
								</div></div>
							</div>
							<div class="col2b clearfix select_group" id="dt_{{$i.id}}">
								<div class="col1c">
									<div class="special1 css3 hours">{{'orders_FormsFieldHours'|gL:'Hours'}}</div>
									<div class="horizontal_select flat_top clearfix" data-linkto="#mob_{{$i.id}}">
										<div class="option has_tip" data-value="8h">
											<div class="tip css3">8 {{'orders_FormsFieldHours'|gL:'Hours'}}</div>
											<div class="text">8</div>
										</div>
										<div class="option has_tip" data-value="24h">
											<div class="tip css3">24 {{'orders_FormsFieldHours'|gL:'Hours'}}</div>
											<div class="text">24</div>
										</div>
									</div>
								</div>
								<div class="col2c">
									<div class="special1 css3 days">{{'orders_FormsFieldDays'|gL:'Days'}}</div>
									<div class="horizontal_select flat_top clearfix" data-linkto="#mob_{{$i.id}}">
										<div class="option has_tip active" data-value="2d">
											<div class="tip css3">2 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
											<div class="text">2</div>
										</div>
										<div class="option has_tip" data-value="3d">
											<div class="tip css3">3 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
											<div class="text">3</div>
										</div>
										<div class="option has_tip" data-value="6d">
											<div class="tip css3">6 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
											<div class="text">6</div>
										</div>
										<div class="option has_tip" data-value="10d">
											<div class="tip css3">10 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
											<div class="text">10</div>
										</div>
										<div class="option has_tip" data-value="14d">
											<div class="tip css3">14 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
											<div class="text">14</div>
										</div>
									</div>
								</div>
								<div class="horizontal_dropdown">
									<select class="selectpicker" data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}">
										<option value="8h">8 {{'orders_FormsFieldHours'|gL:'Hours'}}</option>
										<option value="24h">24 {{'orders_FormsFieldHours'|gL:'Hours'}}</option>
										<option value="2d" selected="selected">2 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
										<option value="3d">3 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
										<option value="6d">6 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
										<option value="10d">10 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
										<option value="14d">14 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
									</select>
								</div>
								<div class="c"></div>
								{{if $i.hint_over}}
								<div class="note3">
									{{$i.hint_below}}	
								</div>
								{{/if}}
							</div>
						</div>
						{{elseif $i.type == 'extra'}}
						<div class="field clearfix">
							<div class="col1b">
								<div class="label_cont"><div class="label_center">
									<label class="has_tip">
										{{$i.name}}
										{{if $i.hint_over}}
										<div class="tip css3">
											{{$i.hint_over}}
										</div>
										{{/if}}
									</label>
								</div></div>
							</div>
							<div class="col2b">
								<div class="checkbox_block css3 clearfix">
									{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
									<div class="option">
										<div class="checkbox"></div>
										<div class="text">
											<span class="has_tip">{{$v.name}}
												{{if $v.hint}}
												<span class="tip css3">{{$v.hint}}</span>
												{{/if}}
											</span>
										</div>
										<div class="price">${{$v.price}}</div>
									</div>
									{{/foreach}}
								</div>
							</div>
						</div>
						{{elseif $i.type == 'password'}}
						<div class="field clearfix">
							<div class="col1b">
								<div class="label_cont"><div class="label_center">
									<label class="has_tip">
										{{$i.name}}
										{{if $i.hint_over}}
										<div class="tip css3">
											{{$i.hint_over}}
										</div>
										{{/if}}
									</label>
								</div></div>
							</div>
							<div class="col2b clearfix">
								<div class="col1e">
									<div class="cinput css3">
										<input class="register" type="password" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
									</div>
								</div>	
							</div>
						</div>
						{{elseif $i.type == 'phone'}}
						<div class="field clearfix">
							<div class="col1b">
								<div class="label_cont"><div class="label_center">
									<label class="has_tip">
										{{$i.name}}
										{{if $i.hint_over}}
										<div class="tip css3">
											{{$i.hint_over}}
										</div>
										{{/if}}
									</label>
								</div></div>
							</div>
							<div class="col2b clearfix">
								<div class="col1e clearfix">
									<div class="col1f">
										<div class="cinput_nochange css3"><span id="countryCode"></span></div>
									</div>
									<div class="col2f">
										<div class="cinput css3">
											<input class="register" type="text" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/if}}
						{{/foreach}}
						<div class="field clearfix">
							<div class="col1g">
								<input type="checkbox" class="styled register" name="agreement" id="agreement" value="1" />
							</div>
							<div class="col2g clearfix">
								<label>
									{{'order_RegisterAgreementText'|gL:'I agree with: <a href="#">Money back guarantee</a>, <a href="#">Privacy policy</a>, <a href="#">Terms of Use</a>'}}
								</label>
							</div>
							<div class="invalid_msg"></div>
						</div>
						<hr>
						{{if $order.order.prevStep}}
						<div class="summary has_back clearfix">
							<a href="javascript:;" onclick="order.changeStep({{$order.order.prevStep}});" class="back dt">{{'order_BackToStep'|gL:'Back to step'}} {{$order.order.prevStep}}</a>
							<div class="price set">{{'order_TotalPrice'|gL:'Total price $'}}<span id="priceTotal2"></span></div>
							<a href="javascript:;" onclick="order.profileRegister({{$order.order.nextStep}});" class="btn3 css3">{{'order_GoToStep'|gL:'Go to step'}} {{$order.order.nextStep}}</a>
							<div class="back_cont mob"><a href="javascript:;" onclick="order.changeStep({{$order.order.prevStep}});" class="back">{{'order_BackToStep'|gL:'Back to step'}} {{$order.order.prevStep}}</a></div>
						</div>
						{{else}}
						<div class="summary clearfix">
							<div class="price">{{'order_ApproxPrice'|gL:'Approximate price $'}}<span id="priceTotal2"></span></div>
							<a href="javascript:;" onclick="order.changeStep({{$order.order.nextStep}});" class="btn3 css3">{{'order_GoToStep'|gL:'Go to step'}} {{$order.order.nextStep}}</a>
						</div>
						{{/if}}
					</section>
				</section>
			</div>
		</div>
	</section>
<script>
$(document).ready(function(){
	order.calculatePrice();
	
	$('.order_form .forgot').click(function(e){
		e.preventDefault();
		var c=$('.order_form .forgot_pw_block').stop(true);
		if(c.hasClass('open'))
		{
			c.show().removeClass('open').slideUp(function(){
				c.css('height','');
			});
		}
		else
		{
			c.hide().addClass('open').slideDown(function(){
				c.css('height','');
			});
		}
	});
	
	$("#mob_29, #mob_41").change(function() {
		$('#countryCode').html("+" + $('option:selected', this).attr('rel'));
	});
});	
</script>