<section class="col1a">
	<section class="form_summary with_form">
		<section class="wrap_onlymob clearfix">
					{{if $order.order.3step|@count > 0}}
					{{math assign="coldiv2" equation="x / y" x=$order.order.3step|@count y=2 }}
					{{foreach name=orderdata from=$order.order.3step item=i key=k}}
						
						{{assign var="ID" value='mob_'|cat:$k}}
						{{if $order.order.fields[$ID]}}
							
							{{assign var="IDVAL" value=$order.order.fields[$ID]}}
							
							{{if $smarty.foreach.orderdata.first}}
							<div class="col first">		
							{{/if}}
							
							<div class="field clearfix">
								<div class="name">{{$i.name}}:</div>
								<div class="value">
								{{if $i.values}}
									{{if $k == 17}}
										{{$smarty.session.order.fields.number_of_pages}}, {{$i.values[$IDVAL].name}} 
									{{else}}
										{{$i.values[$IDVAL].name}}
									{{/if}}	
								{{else}}
								
								{{if $k == 18}}
								{{assign var="TIMETOSHOW" value=`$order.order.fields[$ID]+$smarty.now+$order.order.deadlinedays`}}
								{{$TIMETOSHOW|date_format:"%e %B %I %p"}}
								{{else}}
								{{$order.order.fields[$ID]}}
								{{/if}}
			
								{{/if}}
								</div>
							</div>
						{{/if}}
						
						
						{{if $smarty.foreach.orderdata.last}}
							</div>	
						{{elseif $smarty.foreach.orderdata.iteration == $coldiv2|@ceil}}
							</div>
							<div class="col">
						{{/if}}
						
					{{/foreach}}
				{{/if}}
		</section>
	</section>
	
	<section class="order_form with_summary">
		<section class="wrap_onlymob clearfix">
			<div class="explanation">
				<h2>{{'order_MakePayment_Title'|gL:'Make a secure payment'}}</h2>
			</div>
			<div class="field clearfix">
				<div class="col1h">
					<div class="c"></div>
					<div class="note">
						<p>{{'order_MakePayment_Note'|gL:'When you click Continue, you’ll be temporarily redirected to the PayPal site to log in and confirm your payment. You’ll then be returned to complete your order!'}}</p>
					</div>
				</div>
				<div class="col2h clearfix">
					<div class="security clearfix css3">
						<div class="title">{{'order_MakePaymentSecure_Title'|gL:'Secure payments by'}}</div>
						<br>
						<img alt="Paypal" src="{{$AD_IMAGE_FOLDER}}pay_paypal.png">
						<br class="no_mob">
						<img alt="MasterCard" src="{{$AD_IMAGE_FOLDER}}pay_mastercard.png">
						<img alt="Visa" src="{{$AD_IMAGE_FOLDER}}pay_visa.png">
						<img alt="America Express" src="{{$AD_IMAGE_FOLDER}}pay_aexpress.png">
						<img alt="Discover" src="{{$AD_IMAGE_FOLDER}}pay_discover.png">
					</div>
				</div>
			</div>
			<hr>
			<div class="summary has_back clearfix">
				<a href="javascript:;" onclick="order.changeStep({{$order.order.prevStep}});" class="back dt">{{'order_BackToStep'|gL:'Back to step'}} {{$order.order.prevStep}}</a>
				<div class="price set">{{'order_TotalPrice'|gL:'Total price $'}}<span id="priceTotal"></span></div>
				<a href="{{$siteData.mirros_order_payment_page|getLM}}" title="{{'order_MakePayment_Button'|gL:'Make payment'}}" class="btn3 css3">{{'order_MakePayment_Button'|gL:'Make payment'}}</a>
				<div class="back_cont mob"><a href="javascript:;" onclick="order.changeStep({{$order.order.prevStep}});" class="back">{{'order_BackToStep'|gL:'Back to step'}} {{$order.order.prevStep}}</a></div>
			</div>
		</section>
	</section>
	
</section>
<script>
$(document).ready(function(){
	order.calculatePrice();
});	
</script>