<section class="col1a">
	<h1>{{'order_H1Title'|gL:'Put your first order in'}}</h1>
	<h2>{{'order_H2Title'|gL:'Only custom-written papers, professional writers, always on-time delivery'}}</h2>
	<div class="form_steps clearfix">
		{{foreach name=ordersteps from=$order.config.steps item=i key=k}}
		<div class="step clearfix {{if $order.order.step >= $k || (!$order.order && $smarty.foreach.ordersteps.iteration == 1)}}active{{/if}}">
			<div class="nr">{{$k}}</div>
			<div class="text">{{$i|gL}}</div>
		</div>
		{{/foreach}}
	</div>
</section>