<section class="col1a">
	<h1>{{'inquiry_H1Title'|gL:'Put your first order in'}}</h1>
	<h2>{{'inquiry_H2Title'|gL:'Only custom-written papers, professional writers, always on-time delivery'}}</h2>
</section>