<section class="col1a">
	<h1>{{'Payment-processsing'|gL:'Payment processsing'}}</h1>
</section>
{{$payform}}
<script>
$(document).ready(function(){
	// Auto payment form submit
    if ($("#paymentForm").length) {
        $("#paymentForm").submit();
    }
});
</script>			
