<section class="green_title order sp26-26-0">
	<section class="wrap">
		<div class="btn_cont">
			<a href="{{$siteData.mirros_profile_inquiry_page|getLM}}" class="btn6 ver_1024" title="{{'header_FreeInquiryTitle'|gL:'Free inquiry'}}">{{'header_FreeInquiryTitle'|gL:'Free inquiry'}}</a>
			<a href="{{$siteData.mirros_order_page|getLM}}" class="btn5 ver_1024" title="{{'header_OrderNowTitle'|gL:'Order now'}}">{{'header_OrderNowTitle'|gL:'Order now'}}</a>
		</div>
		<h1>{{$web.title}}</h1>
	</section>
</section>
<section class="wrap mob_nowrap clearfix">
	<div class="profile_text wrap_onlymob">
		<p>
			{{'profile_EditText'|gL:'Text text text. Profile edit text.'}}
		</p>
	</div>
	<div class="profile_cols clearfix">
		<div class="col col1">
			<div class="inner wrap_onlymob">
				<div class="fields">
					{{if $userData.id}}
					<div class="line clearfix">
						<div class="name">{{'profile_EditField_ID'|gL:'Cliend ID'}}</div>
						<div class="value">{{$userData.id}}</div>
					</div>
					{{/if}}
					{{if $userData.first_name}}
					<div class="line clearfix">
						<div class="name">{{'profile_EditField_Name'|gL:'Name'}}</div>
						<div class="value">{{$userData.first_name}}</div>
					</div>
					{{/if}}
					{{if $userData.last_name}}
					<div class="line clearfix">
						<div class="name">{{'profile_EditField_LastName'|gL:'Last name'}}</div>
						<div class="value">{{$userData.last_name}}</div>
					</div>
					{{/if}}
					{{if $userData.email}}
					<div class="line clearfix">
						<div class="name">{{'profile_EditField_Email'|gL:'Email'}}</div>
						<div class="value">{{$userData.email}}</div>
					</div>
					{{/if}}
					{{if $userData.country}}
					<div class="line clearfix">
						<div class="name">{{'profile_EditField_Country'|gL:'Country'}}</div>
						<div class="value">{{$userData.country}}</div>
					</div>
					{{/if}}
					{{if $userData.phone}}
					<div class="line clearfix">
						<div class="name">{{'profile_EditField_Phone'|gL:'Phone'}}</div>
						<div class="value">{{$userData.phone}}</div>
					</div>
					{{/if}}
				</div>
				<a href="javascript:;" onclick="profile.changePassword();" class="link trigger_changepw">{{'profile_EditChangePassword'|gL:'Change passoword'}}</a>
			</div>
		</div>
		<div class="col col2">
			<div class="inner wrap_onlymob">
				<div class="fields">
					<div class="line clearfix">
						<div class="name">{{'profile_EditField_Night_calls'|gL:'Night calls<span class="no_320"> allowed</span>'}}</div>
						<div class="value">{{if $userData.night_calls}}{{$userData.night_calls}}{{else}}{{'profile_EditField_Night_calls_Default'|gL:'No'}}{{/if}}</div>
					</div>
					<div class="line clearfix unspecified">
						<div class="name">{{'profile_EditField_Alternative_email'|gL:'Alternat<span class="ver_320i">.</span><span class="no_320">ive</span> email'}}</div>
						<div class="value">{{if $userData.alternative_email}}{{$userData.alternative_email}}{{else}}{{'profile_EditField_Alternative_email_Default'|gL:'Empty'}}{{/if}}</div>
					</div>
					<div class="line clearfix unspecified">
						<div class="name">{{'profile_EditField_Alternative_phone'|gL:'Alternat<span class="no_320">ive</span> phone'}}</div>
						<div class="value">{{if $userData.alternative_phone}}{{$userData.alternative_phone}}{{else}}{{'profile_EditField_Alternative_phone_Default'|gL:'Empty'}}{{/if}}</div>
					</div>
					<div class="line clearfix unspecified">
						<div class="name">{{'profile_EditField_Preferred_language'|gL:'Pref<span class="ver_320i">.</span><span class="no_320">erred</span> language'}}</div>
						<div class="value">{{if $userData.preferred_language}}{{$userData.preferred_language}}{{else}}{{'profile_EditField_Preferred_language_Default'|gL:'No preference'}}{{/if}}</div>
					</div>
				</div>
				<a href="javascript:;" onclick="profile.editAdditionalInfo();" class="link trigger_changeinfo">{{'profile_EditAdditionalInfo'|gL:'Edit additional information'}}</a>
			</div>
		</div>
	</div>
</section>