<section class="green_title order sp30-40-0">
	<section class="wrap">
		<div class="btn_cont ver_1024 ver_768">
			<a href="{{$siteData.mirros_order_page|getLM}}" class="btn5 ver_1024" title="{{'header_OrderNowTitle'|gL:'Order now'}}">{{'header_OrderNowTitle'|gL:'Order now'}}</a>
		</div>
		<h1>{{$web.title}}</h1>
	</section>
</section>
<section class="wrap mob_nowrap clearfix">
	<section class="col1a">
		<div class="form_bg">
			<section class="order_form wrap_onlymob">
				{{foreach name=orderdata from=$order.data item=i key=k}}
				{{if $i.type == 'tabselect'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b">
						<div class="horizontal_select clearfix" data-linkto="#mob_{{$i.id}}" id="dt_{{$i.id}}">
							{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
							<div class="option has_tip {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}active{{/if}}" data-value="{{$v.id}}">
								{{if $v.hint}}
								<div class="tip css3">{{$v.hint}}</div>
								{{/if}}
								<div class="text">{{$v.name}} </div>
							</div>
							{{/foreach}}
						</div>
						<div class="horizontal_dropdown">
							<select class="selectpicker inquiry" data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}" >
								{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
								<option  value="{{$v.id}}" {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}selected="selected"{{/if}}>
									{{$v.name}} 
								</option>
								{{/foreach}}
							</select>
						</div>
					</div>
				</div>
				{{elseif $i.type == 'select'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b">
						<div class="select_cont">
							<select class="selectpicker inquiry" data-width="100%" name="{{$i.id}}" id="mob_{{$i.id}}">
								<option value="" {{if !$i.selected}}selected="selected"{{/if}}>{{'order_FormSelectDefaultValue'|gL:'Select value'}}</option>
								{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
								
									{{if $v.parent}}
										
										{{if $optgroupOpened}}
											</optgroup>	
										{{/if}}
										
										{{assign var="optgroupOpened" value=$v.id}}
										
										<optgroup label="{{$v.name}}">
									{{else}}	
										<option {{if $optgroupOpened}}data-groupid="{{$optgroupOpened}}"{{/if}} value="{{$v.id}}" {{if $v.id == $i.selected}}selected="selected"{{/if}}>{{$v.name}}</option>	
									{{/if}}
									
									{{if $smarty.foreach.orderdatavalues.last && $optgroupOpened}}
										</optgroup>	
									{{/if}}	
								{{/foreach}}
							</select>
						</div>
						{{if $i.hint_below}}
						<div class="note">
							<p>
								{{$i.hint_below}}	
							</p>
						</div>
						{{/if}}
					</div>
				</div>
				{{elseif $i.type == 'text'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b">
						<div class="cinput css3">
							<input type="text" class="inquiry" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
						</div>
					</div>
				</div>
				{{elseif $i.type == 'short_text'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b">
						<div class="cinput css3 input1">
							<input type="text" class="inquiry" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
						</div>
					</div>
				</div>
				{{elseif $i.type == 'textarea'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b">
						<div class="cinput css3">
							<textarea name="{{$i.id}}" class="inquiry" id="mob_{{$i.id}}">{{$i.selected}}</textarea>
						</div>
					</div>
				</div>
				{{elseif $i.type == 'pages'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b clearfix">
						<div class="col1c">
							<div class="cinput css3">
								<input type="text" class="inquiry" name="number_of_pages" id="number_of_pages" value="{{if $smarty.session.order.fields.number_of_pages}}{{$smarty.session.order.fields.number_of_pages}}{{else}}{{$i.default_val}}{{/if}}">
							</div>
						</div>
						
						<div class="col2c clearfix">
							<div class="col1d">
								<div class="horizontal_select clearfix" data-linkto="#mob_{{$i.id}}" id="dt_{{$i.id}}">
									{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
									<div class="option has_tip {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}active{{/if}}" data-value="{{$v.id}}">
										{{if $v.hint}}
										<div class="tip css3">{{$v.hint}}</div>
										{{/if}}
										<div class="text">{{$v.name}}</div>
									</div>
									{{/foreach}}
								</div>
								<div class="horizontal_dropdown">
									<select class="selectpicker inquiry" data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}">
										{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
										<option value="{{$v.id}}" data-show=".show_{{$i.id}}_{{$v.id}}" {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}selected="selected"{{/if}}>{{$v.name}}</option>
										{{/foreach}}
									</select>
								</div>
							</div>
							<div class="col2d">
								{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
								{{if $v.hint}}
								<div class="note2 hide_{{$i.id}} show_{{$i.id}}_{{$v.id}}" {{if $smarty.foreach.orderdatavalues.iteration != 1}}style="display:none;"{{/if}}>
									{{$v.hint}}
								</div>
								{{/if}}
								{{/foreach}}
							</div>
						</div>
						
					</div>
				</div>
				{{elseif $i.type == 'hourdate'}}
				
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b clearfix select_group" id="dt_{{$i.id}}">
						<div class="col1c">
							<div class="special1 css3 hours">{{'orders_FormsFieldHours'|gL:'Hours'}}</div>
							<div class="horizontal_select flat_top clearfix" data-linkto="#mob_{{$i.id}}">
								<div class="option has_tip {{if 32400 == $i.selected}}active{{/if}}" data-value="32400">
									<div class="tip css3">9 {{'orders_FormsFieldHours'|gL:'Hours'}}</div>
									<div class="text">9</div>
								</div>
								<div class="option has_tip {{if 86400 == $i.selected}}active{{/if}}" data-value="86400">
									<div class="tip css3">24 {{'orders_FormsFieldHours'|gL:'Hours'}}</div>
									<div class="text">24</div>
								</div>
							</div>
						</div>
						<div class="col2c">
							<div class="special1 css3 days">{{'orders_FormsFieldDays'|gL:'Days'}}</div>
							<div class="horizontal_select flat_top clearfix" data-linkto="#mob_{{$i.id}}">
								<div class="option has_tip  {{if 172800 == $i.selected }}active{{/if}}" data-value="172800">
									<div class="tip css3">2 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
									<div class="text">2</div>
								</div>
								<div class="option has_tip {{if 259200 == $i.selected}}active{{/if}}" data-value="259200">
									<div class="tip css3">3 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
									<div class="text">3</div>
								</div>
								<div class="option has_tip {{if 518400 == $i.selected}}active{{/if}}" data-value="518400">
									<div class="tip css3">6 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
									<div class="text">6</div>
								</div>
								<div class="option has_tip {{if 864000 == $i.selected}}active{{/if}}" data-value="864000">
									<div class="tip css3">10 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
									<div class="text">10</div>
								</div>
								<div class="option has_tip {{if 1209600 == $i.selected || !$i.selected}}active{{/if}}" data-value="1209600">
									<div class="tip css3">14 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
									<div class="text">14</div>
								</div>
							</div>
						</div>
						<div class="horizontal_dropdown">
							<select class="selectpicker inquiry" onchange="order.changeDeadlineNotice();" data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}">
								<option value="32400" {{if 32400 == $i.selected}}selected="selected"{{/if}}>9 {{'orders_FormsFieldHours'|gL:'Hours'}}</option>
								<option value="86400" {{if 86400 == $i.selected}}selected="selected"{{/if}}>24 {{'orders_FormsFieldHours'|gL:'Hours'}}</option>
								<option value="172800" {{if 172800 == $i.selected }}selected="selected"{{/if}}>2 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
								<option value="259200" {{if 259200 == $i.selected}}selected="selected"{{/if}}>3 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
								<option value="518400" {{if 518400 == $i.selected}}selected="selected"{{/if}}>6 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
								<option value="864000" {{if 864000 == $i.selected}}selected="selected"{{/if}}>10 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
								<option value="1209600" {{if 1209600 == $i.selected  || !$i.selected}}selected="selected"{{/if}}>14 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
							</select>
						</div>
						<div class="c"></div>
						<div class="note3">
			
							<div>{{'order_DeadLineNotice_1'|gL:'The deadline for the first draft is'}}
								<div class="has_tip">
									<span id="deadline1"></span>
									<div class="tip css3">
										{{'order_DeadLineNoticeHint_1'|gL:'Hint 1'}}
									</div>
								</div>
							</div>
							<div>
								{{'order_DeadLineNotice_2'|gL:'We estimate that your final submission deadline is'}}
								<div class="has_tip">
									<span id="deadline2"></span>
									<div class="tip css3">
										{{'order_DeadLineNoticeHint_2'|gL:'Hint 2'}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/if}}
				{{/foreach}}
				<hr class="free">
				<div class="summary free2 clearfix">
					<a href="javascript:;" onclick="profile.registerInquiry();" class="btn3 css3" title="{{'inquiry_Submit'|gL:'Submit inquiry'}}">{{'inquiry_Submit'|gL:'Submit inquiry'}}</a>
					<a href="{{$mainpageId|getLM}}" class="cancel" title="{{'cancel'|gL:'Cancel'}}">{{'cancel'|gL:'Cancel'}}</a>
				</div>
			</section>
		</div>
	</section>
</section>
<script>
$(document).ready(function(){
	
	order.changeDeadlineNotice();
});
</script>	