<section class="green_title order sp26-26-0">
	<section class="wrap">
		<div class="btn_cont">
			<a href="{{$siteData.mirros_profile_inquiry_page|getLM}}" class="btn6 ver_1024" title="{{'header_FreeInquiryTitle'|gL:'Free inquiry'}}">{{'header_FreeInquiryTitle'|gL:'Free inquiry'}}</a>
			<a href="{{$siteData.mirros_order_page|getLM}}" class="btn5 ver_1024" title="{{'header_OrderNowTitle'|gL:'Order now'}}">{{'header_OrderNowTitle'|gL:'Order now'}}</a>
			<div class="orders ver_320">
				<select class="selectpicker" data-width="100%"  onchange="orderFilter(this, '{{$siteData.mirros_profile_orders_page|getLM}}');">
					{{foreach name=orderstatus from=$profile.config.status.profile item=i key=k}}
					<option {{if !$smarty.get.status || $smarty.get.status == $k}}selected="selected"{{/if}} value="{{$k}}">{{$i|gL}}</option>
					{{/foreach}}
				</select>
			</div>
		</div>
		<h1>{{$web.title}}</h1>
	</section>
</section>

{{if $SHOW_PAYMENT_ERROR}}
<section class="list_message wrap mob_nowrap css3">
	<div class="wrap_onlymob">
		<h2>{{'profile_ErrorPaymentTitle'|gL:'Error! Order payment error!'}}</h2>
		<p>{{'profile_ErrorPaymentText'|gL:'Error! Order payment error! Error! Order payment error! Error! Order payment error! Error! Order payment error! Error! Order payment error! '}}</p>
	</div>
</section>
{{/if}}

{{if $SHOW_INQUIRY_MESSAGE}}
<section class="list_message wrap mob_nowrap css3">
	<div class="wrap_onlymob">
		<h2>{{'profile_InquiryMessageTitle'|gL:'Inquiry title!'}}</h2>
		<p>{{'profile_InquiryMessageText'|gL:'Inquiry message! '}}</p>
	</div>
</section>
{{/if}}

{{if $SHOW_REGISTRATION_MESSAGE}}
<section class="list_message wrap mob_nowrap css3">
	<div class="wrap_onlymob">
		<h2>{{'profile_RegistrationMessageTitle'|gL:'Registration title!'}}</h2>
		<p>{{'profile_RegistrationMessageText'|gL:'Registration message! '}}</p>
	</div>
</section>
{{/if}}

{{if $SHOW_ORDER_MESSAGE}}
<section class="list_message wrap mob_nowrap css3">
	<div class="wrap_onlymob">
		<h2>{{'profile_OrderMessageTitle'|gL:'Order title!'}}</h2>
		<p>{{'profile_OrderMessageText'|gL:'Order message! '}}</p>
	</div>
</section>
{{/if}}

<section class="wrap mob_nowrap clearfix">
	<nav class="list_menu ver_1024 ver_768 clearfix">
		<ul class="show ver_1024">
			{{foreach name=orderstatus from=$profile.config.status.profile item=i key=k}}
			
			{{if (!$smarty.get.status && $k == 0) || $smarty.get.status == $k}}
			<li  class="active">
				<div class="item">{{$i|gL}}</div>
			</li>
			{{else}}
			<li>
				<a href="{{if $k == 0}}{{$siteData.mirros_profile_orders_page|getLM}}{{else}}{{$siteData.mirros_profile_orders_page|getLM}}status:{{$k}}/{{/if}}" class="item">
					{{$i|gL}}
				</a>
			</li>
			{{/if}}
			
			{{/foreach}}
		</ul>
		<div class="show2 ver_768">
			<select class="selectpicker" data-width="100%"  onchange="orderFilter(this, '{{$siteData.mirros_profile_orders_page|getLM}}');">
				{{foreach name=orderstatus from=$profile.config.status.profile item=i key=k}}
				<option value="{{$k}}" {{if !$smarty.get.status || $smarty.get.status == $k}}selected="selected"{{/if}}>{{$i|gL}}</option>
				{{/foreach}}
			</select>
		</div>
		<div class="sort">
			<select class="selectpicker" id="ordersSort" data-width="100%" onchange="ordersSort('{{$siteData.mirros_profile_orders_page|getLM}}');">
				<option {{if $smarty.get.sort == 'deadline' || !$smarty.get.sort}}selected="selected"{{/if}} value="deadline">{{'profile_SortByDeadline'|gL:'Sort by deadline'}}</option>
				<option {{if $smarty.get.sort == 'created'}}selected="selected"{{/if}} value="created">{{'profile_SortByCreated'|gL:'Sort by created'}}</option>
			</select>
		</div>
	</nav>
	
	{{if $profile.data|@count > 0}}
	
	<div class="order_list ver_1024 ver_768">
		<div class="header css3 clearfix">
			<div class="col col1">{{'profile_OrdersTable_ID'|gL:'ID'}}</div>
			<div class="col col2">{{'profile_OrdersTable_Price'|gL:'Price'}}</div>
			<div class="col col3">{{'profile_OrdersTable_ItemsCount'|gL:'Items count'}}</div>
			<div class="col col4">{{'profile_OrdersTable_TypeOfPaper'|gL:'Type of paper'}}</div>
			<div class="col col5">{{'profile_OrdersTable_Subject'|gL:'Subject'}}</div>
			<div class="col col6">{{'profile_OrdersTable_Topic'|gL:'Topic'}}</div>
			<div class="col col7">{{'profile_OrdersTable_Status'|gL:'Status'}}</div>
			<div class="col col8">{{'profile_OrdersTable_Deadline'|gL:'Deadline'}}</div>
			<div class="col col9">{{'profile_OrdersTable_OrderStatus'|gL:'Order stat<span class="no_mob">us</span><span class="no_dt">.</span>'}}</div>
		</div>
		{{foreach name=orders from=$profile.data item=i key=k}}
		<div class="line">
			<a href="{{$siteData.mirros_profile_orders_page|getLM}}id:{{$i.id}}/" class="line_link {{if $i.status == 1}}bolded{{/if}} clearfix">
				<div class="col col1">{{$i.id}}</div>
				<div class="col col2">{{$i.price}}</div>
				<div class="col col3">{{$i.number_of_pages}}</div>
				<div class="col col4">{{$i.type_of_work}}</div>
				<div class="col col5">{{$i.subject}}</div>
				<div class="col col6">{{$i.topic}}</div>
				<div class="col col7">{{if $i.paid}}{{'profile_OrdersPaid'|gL:'Paid'}}{{else}}{{'profile_OrdersNotPaid'|gL:'Not Paid'}}{{/if}}</div>
				<div class="col col8">{{$i.diffDays}}d {{$i.diffHours}}h</div>
				<div class="col col9">
					{{if $i.status == 1}}
					{{'profile_OrdersStatus_1'|gL:'Pending'}}	
					{{elseif $i.status == 2}}
					{{'profile_OrdersStatus_2'|gL:'Approved'}}
					{{elseif $i.status == 3}}
					{{'profile_OrdersStatus_3'|gL:'Finished'}}
					{{elseif $i.status == 4}}
					{{'profile_OrdersStatus_4'|gL:'Canceled'}}
					{{/if}}
				</div>
				<div class="col col10"></div>
			</a>
			{{if !$i.paid}}
			<a href="{{$siteData.mirros_profile_orders_page|getLM}}id:{{$i.id}}/action:pay/" class="btn8 css3 green">
				{{'profile_OrdersPay'|gL:'Pay'}}
			</a>
			{{elseif $i.status == 3}}
				{{if $i.rated}}
					<a href="javascript:;" class="btn8 css3">{{'profile_OrdersRated'|gL:'Rated'}}</a>
				{{else}}
					<a href="javascript:;" onclick="profile.getOrderRatesForm({{$i.id}});" class="btn8 css3">{{'profile_OrdersRate'|gL:'Rate'}}</a>
				{{/if}}
			{{/if}}
			
			{{if $i.messages|@count > 0 || $i.files|@count > 0}}
			<div class="icons">
				{{if $i.messages|@count > 0}}
				<a href="#" class="icon green"></a>
				{{/if}}
				{{if $i.files|@count > 0}}
				<a href="#" class="icon yellow">{{$i.files|@count}}</a>
				{{/if}}
			</div>
			{{/if}}
		</div>
		{{/foreach}}
		
	</div>
	<div class="order_list2 ver_320">
			{{foreach name=orders from=$profile.data item=i key=k}}
			<div class="item">
				<div class="wrap_onlymob">
					<div class="info1"><a href="{{$siteData.mirros_profile_orders_page|getLM}}id:{{$i.id}}/">{{'profile_OrdersTable_ID'|gL:'ID'}}: {{$i.id}}</a></div>
					<div class="info2 clearfix">
						<div class="col1">
							<div class="title">{{'profile_OrdersTable_TypeOfPaper'|gL:'Type of paper'}}:</div>
							<div class="value">{{$i.type_of_work}}</div>
						</div>
						<div class="col2">
							<div class="title">{{'profile_OrdersTable_Subject'|gL:'Subject'}}:</div>
							<div class="value">{{$i.subject}}</div>
						</div>
					</div>
					<div class="info3">
						<div class="title">{{'profile_OrdersTable_Topic'|gL:'Topic'}}:</div>
						<div class="value">{{$i.topic}}</div>
					</div>
				</div>
				<div class="line">
					<div class="wrap_onlymob clearfix">
						<div class="col col1 bolded">{{$i.price}}</div>
						<div class="col col2">{{if $i.paid}}{{'profile_OrdersPaid'|gL:'Paid'}}{{else}}{{'profile_OrdersNotPaid'|gL:'Not Paid'}}{{/if}}</div>
						<div class="col col3">{{$i.deadline}}</div>
						<div class="col col4">
							{{if $i.status == 1}}
							{{'profile_OrdersStatus_1'|gL:'Pending'}}	
							{{elseif $i.status == 2}}
							{{'profile_OrdersStatus_2'|gL:'Approved'}}
							{{elseif $i.status == 3}}
							{{'profile_OrdersStatus_3'|gL:'Finished'}}
							{{elseif $i.status == 4}}
							{{'profile_OrdersStatus_4'|gL:'Canceled'}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			{{/foreach}}
			
		</div>
	
	{{else}}
	
	<div class="order_list_empty wrap mob_nowrap css3">
		<div class="wrap_onlymob">
			<h2>{{'profile_OrdersEmptyTitle'|gL:'No orders yet'}}</h2>
			{{'profile_OrdersEmptyText'|gL:'<p>Mauris lacus enim, imperdiet at nisi non, porttitor hendrerit massa. Donec condimentum ligula eros, ut aliquet risus fringilla afusce dapibus quam eu adipiscing tempus.</p>
			<br>
			<p>Praesent in porta magna. Nunc hendrerit libero sed justo pharetra, eu tincidunt tellus tempus.</p>'}}
			
		</div>
	</div>
	
	{{/if}}
</section>