<div class="popup_bg" style="block;"></div>
<div class="popup css3" style="display:block;">
	<div class="close"></div>
	<div class="top">
		<div class="wrap_onlymob">
			<h2>{{'order_RateOurService'|gL:'Please reate our service!'}}</h2>
			<hr>
			<div class="cols clearfix">
				<div class="col first">
					<h3>{{'order_RateSupportPerformace'|gL:'Support perfomance'}}</h3>
					<div class="line clearfix">
						<div class="col1a"><input type="radio" class="styled radio" name="support" id="radio_1_1" value="5"></div>
						<div class="col2a"><label for="radio_1_1">{{'order_RateExcellent'|gL:'Excellent'}}</label></div>
					</div>
					<div class="line clearfix">
						<div class="col1a"><input type="radio" class="styled radio" name="support" id="radio_1_2" value="4"></div>
						<div class="col2a"><label for="radio_1_2">{{'order_RateGood'|gL:'Good'}}</label></div>
					</div>
					<div class="line clearfix">
						<div class="col1a"><input type="radio" class="styled radio" name="support" id="radio_1_3" value="3"></div>
						<div class="col2a"><label for="radio_1_3">{{'order_RateSatisfactory'|gL:'Satisfactory'}}</label></div>
					</div>
					<div class="line clearfix">
						<div class="col1a"><input type="radio" class="styled radio" name="support" id="radio_1_4" value="2"></div>
						<div class="col2a"><label for="radio_1_4">{{'order_RatePoor'|gL:'Poor'}}</label></div>
					</div>
					<div class="line clearfix">
						<div class="col1a"><input type="radio" class="styled radio" name="support" id="radio_1_5" value="1"></div>
						<div class="col2a"><label for="radio_1_5">{{'order_RateVeryBad'|gL:'Very bad'}}</label></div>
					</div>
				</div>
				<div class="col">
					<h3>{{'order_RateWriters'|gL:'Writer’s proficiency'}}</h3>
					<div class="line clearfix">
						<div class="col1a"><input type="radio" class="styled radio" name="writers" id="radio_2_1" value="5"></div>
						<div class="col2a"><label for="radio_2_1">{{'order_RateExcellent'|gL:'Excellent'}}</label></div>
					</div>
					<div class="line clearfix">
						<div class="col1a"><input type="radio" class="styled radio" name="writers" id="radio_2_2" value="4"></div>
						<div class="col2a"><label for="radio_2_2">{{'order_RateGood'|gL:'Good'}}</label></div>
					</div>
					<div class="line clearfix">
						<div class="col1a"><input type="radio" class="styled radio" name="writers" id="radio_2_3" value="3"></div>
						<div class="col2a"><label for="radio_2_3">{{'order_RateSatisfactory'|gL:'Satisfactory'}}</label></div>
					</div>
					<div class="line clearfix">
						<div class="col1a"><input type="radio" class="styled radio" name="writers" id="radio_2_4" value="2"></div>
						<div class="col2a"><label for="radio_2_4">{{'order_RatePoor'|gL:'Poor'}}</label></div>
					</div>
					<div class="line clearfix">
						<div class="col1a"><input type="radio" class="styled radio" name="writers" id="radio_2_5" value="1"></div>
						<div class="col2a"><label for="radio_2_5">{{'order_RateVeryBad'|gL:'Very bad'}}</label></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btm clearfix">
		<div class="wrap_onlymob">
			<a href="javascript:;" onclick="profile.rateOrder();" class="btn5">{{'order_Submit'|gL:'Submit'}}</a>
		</div>
	</div>
</div>
<script>
$('.styled[type=checkbox], .styled[type=radio]').stylecb();
</script>
<script type="text/javascript">
       
$(document).ready(function() {
	$(".close").click(function() {
		$('.popup').remove();
		$('.popup_bg').remove();
	});
});
</script>