<div class="popup_bg" style="block;"></div>
<div class="popup big css3" style="display:block;">
	<div class="close"></div>
	<div class="top">
		<div class="wrap_onlymob">
			<h2>{{'order_OrderPreview'|gL:'Order preview'}}</h2>
			<hr>
			<div class="block3">
				<p>{{'order_OrderPreviewText'|gL:'Duis ut tempus lectus, eu volutpat tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In nec leo pharetra, pretium purus ac, egestas nulla.'}}</p>
				<div class="rules">
					<img alt="" src="{{$AD_UPLOAD_FOLDER}}{{$filename}}">
				</div>
			</div>
		</div>
	</div>
	<div class="btm clearfix" id="pr_buttons">
		<div class="wrap_onlymob">
			<a href="javascript:;" onclick="profile.acceptOrder();" class="btn1 big">{{'order_OrderPreviewApprove'|gL:'I aproove the order'}}</a>
			<a href="javascript:;" onclick="$('#pr_buttons').hide();$('#pr_comment').show();" class="btn5 big">{{'order_OrderPreviewComments'|gL:'I have comments'}}</a>
		</div>
	</div>
	<div class="btm clearfix" id="pr_comment" style="display:none;">
		<div class="wrap_onlymob">
			<h2>{{'order_OrderPreviewAddComment'|gL:'Add a comment'}}</h2>
			<div class="cinput">
				<textarea name="preview_comment" id="preview_comment" data-default="{{'order_OrderPreviewAddCommentDefaultText'|gL:'DefaultText'}}"></textarea>
			</div>
			<div class="clearfix"></div>
			<a href="javascript:;" onclick="profile.previewComment();" class="btn5">{{'submit'|gL:'Submit'}}</a>
			<a href="javascript:;" onclick="$('#pr_comment').hide();$('#pr_buttons').show();" class="btn7">{{'cancel'|gL:'Cancel'}}</a>
		</div>
	</div>
</div>
<script type="text/javascript">
       
$(document).ready(function() {
	$(".close").click(function() {
		$('.popup').remove();
		$('.popup_bg').remove();
	});
});
</script>