<div class="content">
	<div id="modulePath">
	<div class="error-msg" id="errorBlock" style="display:none;"></div>
	<input type="hidden" name="id" id="id" value="{{$edit.id}}" />
	<table class="holder-table">
		<tr>
			<td class="left-td">
				<table class="inner-table">
					<tr>
						<td colspan="2"><b>Basic information</b></td>
					</tr>
			        <tr>
			            <td>{{'email'|gLA:'Email'}}*:</td>
			            <td><input type="text" class="long simple required" name="email" id="email" readonly="readonly" value="{{$edit.email}}" /></td>
			        </tr>
			        <tr>
						<td>{{'enabled'|gLA:'Enabled'}}</td>
						<td><input type="checkbox" value="1" id="enable" class="active simple" {{if $edit.enable}} checked="checked" {{/if}} /></td>
					</tr>
					<tr>
			            <td>{{'first_name'|gLA:'First name'}}:</td>
			            <td><input type="text" class="long simple" name="first_name" id="first_name" value="{{$edit.first_name}}" /></td>
			        </tr>
			        <tr>
			            <td>{{'last_name'|gLA:'Last name'}}:</td>
			            <td><input type="text" class="long simple" name="last_name" id="last_name" value="{{$edit.last_name}}" /></td>
			        </tr>
			        <tr>
			            <td>{{'profile_country'|gLA:'Country'}}:</td>
			            <td><input type="text" class="long simple" name="country" id="country" value="{{$edit.country}}" /></td>
			        </tr>
			        <tr>
			            <td>{{'phone'|gLA:'Phone'}}:</td>
			            <td><input type="text" class="long simple" name="phone" id="phone" value="{{$edit.phone}}" /></td>
			        </tr>
			        <tr>
						<td colspan="2"><b>Additional information</b></td>
					</tr>
					<tr>
			            <td>{{'created'|gLA:'Created'}}:</td>
			            <td>{{$edit.created|date_format:"%d %b %Y"}}</td>
			        </tr>
			        <tr>
			            <td>{{'night_calls'|gLA:'Night calls'}}:</td>
			            <td><input type="text" class="long simple" name="night_calls" id="night_calls" value="{{$edit.night_calls}}" /></td>
			        </tr>
			        <tr>
			            <td>{{'alternative_email'|gLA:'Alternative email'}}:</td>
			            <td><input type="text" class="long simple" name="alternative_email" id="alternative_email" value="{{$edit.alternative_email}}" /></td>
			        </tr>
			        <tr>
			            <td>{{'alternative_phone'|gLA:'Alternative phone'}}:</td>
			            <td><input type="text" class="long simple" name="alternative_phone" id="alternative_phone" value="{{$edit.alternative_phone}}" /></td>
			        </tr>
			        <tr>
			            <td>{{'preferred_language'|gLA:'Preferred language'}}:</td>
			            <td><input type="text" class="long simple" name="preferred_language" id="preferred_language" value="{{$edit.preferred_language}}" /></td>
			        </tr>
    			</table>
    		</td>
		</tr>
	</table>
    <table class="bttns-table">
        <tr>
            <td>
            	{{if $edit.id}}
                <div class="btn orange"><a href="javascript:;" onclick="checkFields('apply');"><span>{{'apply'|gLA:'Apply'}}</span></a></div>
                {{/if}}
                <div class="btn"><a href="javascript:;" onclick="checkFields('save');"><span>{{'save'|gLA:'Save'}}</span></a></div>
                <div class="btn cancel"><a href="javascript:;" onclick="window.location.href = moduleTable.getRequestUrl();"><span>{{'m_cancel'|gLA:'Cancel'}}</span></a></div>
            </td>
        </tr>
    </table>
    </form>

    <script type="text/javascript">
	    moduleTable.mainUrl = '{{$MAIN_URL}}';
        moduleTable.moduleName = '{{$MODULE_NAME}}';
        
        $(document).ready(function() {

                var tabindex = 1;
                $('#editForma :input,select').each(function() {
                        if (this.type != "hidden") {
                                var $input = $(this);
                                $input.attr("tabindex", tabindex);
                                tabindex++;
                        }
                });
        });
			
	</script>
	</div>
</div>