<div class="content">
	{{foreach name=prices from=$prices item=i key=k}}
		<p><b>{{$priceConfig[$k]}}</b></p>
		
		{{if $k == 1221 || $k == 1222}}
		
			{{foreach name=prices2 from=$i item=i2 key=k2}}
			<p><b>{{$priceConfig[$k2]}}</b></p>
			
			<table class="cms-table">
			
				<tr>
					<th></th>
					{{foreach name=prices3 from=$i2 item=i3 key=k3}}
					<th><b>{{$priceConfig[$k3]}}</b></th>
					{{/foreach}}
				</tr>
				
				{{foreach name=deadlines from=$deadlines item=i4 key=k4}}
				<tr>
					<td>{{$i4}}</td>
					{{foreach name=prices3 from=$i2 item=i3 key=k3}}
					<td>
						<input type="text" class="simple" rel="{{$k2}}" name="{{$k3}}" data-deadline="{{$k4}}" id="{{$k}}" value="{{$i3[$k4]}}" />
					</td>
					{{/foreach}}
				</tr>
				{{/foreach}}
			
			</table>
			
			{{/foreach}}
			
			
		
		{{else}}
		
		<table class="cms-table">
			
			<tr>
				<th></th>
				{{foreach name=prices3 from=$i[0] item=i3 key=k3}}
				<th><b>{{$priceConfig[$k3]}}</b></th>
				{{/foreach}}
			</tr>
			
			{{foreach name=deadlines from=$deadlines item=i4 key=k4}}
			<tr>
				<td>{{$i4}}</td>
				{{foreach name=prices3 from=$i[0] item=i3 key=k3}}
				<td>
					<input type="text" class="simple" rel="0" name="{{$k3}}" data-deadline="{{$k4}}" id="{{$k}}" value="{{$i3[$k4]}}" />
				</td>
				{{/foreach}}
			</tr>
			{{/foreach}}
		
		</table>
		
		{{/if}}
	{{/foreach}}
	<table class="bttns-table">
        <tr>
            <td>
                <div class="btn orange"><a href="javascript:;" onclick="saveData();"><span>{{'save'|gLA:'Save'}}</span></a></div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
	moduleTable.mainUrl = '{{$MAIN_URL}}';
	moduleTable.moduleName = '{{$MODULE_NAME}}';
</script>