<script type="text/javascript" src="{{$AD_CMS_MODULE_WEB_FOLDER}}{{$MODULE_NAME}}/js/{{$MODULE_NAME}}.js"></script>
<script type="text/javascript" src="{{$AD_CMS_JS_FOLDER}}langMsg.php?module={{$MODULE_NAME}}"></script>