
#newfoldertitle {
	width: 160px;
	border-style: solid;
	border-color: #91A7B4;
	border-width: 1px;
	margin: 10px;
}

#trailimage{
	position: absolute;
	z-index: 999;
	padding: 10px;
	background: #fff;
	border: 1px solid #888;
}

#uploadform {
  position: relative;
  width: 396px;
  height: 174px;
  margin: 6px;
  background: #fff;
  padding: 10px 6px 5px 15px;
}

p#uploading {
  margin: 0 5px;
  padding: 0;
  font: normal 11px/21px verdana, sans-serif;
  color: #384149;
}

p#uploading img {
  float: left;
  margin: 2px 10px 2px 0;
}

.uploadfile {
  width: 334px;
  height: 22px;
  border: 1px solid #809DB8;
}

#uploadform ul {
  list-style: none;
  margin: 10px 0 5px;
  padding: 0;
  border-top: 1px solid #E1E4E8;
}

#uploadform ul li {
  position: relative;
  display: block;
  width: 365px;
  margin: 0;
  padding: 3px 30px 3px 5px;
  border-bottom: 1px solid #E1E4E8;
  color: #788696;
  font: normal 11px/14px verdana, sans-serif;
}

#uploadform ul li img {
  position: absolute; 
  display: block;
  top: 2px;
  right: 10px;
  height: 14px;
  cursor: pointer;
}

#uploadoptions {
  clear: both;
  text-align: right;
  margin: 0 10px;
  font: normal 11px/11px "Trebuchet MS", serif;
  color: #000060;
}

#uploadoptions label {
  font: normal 11px/11px "Trebuchet MS", serif;
}

#uploadoptions input {
  border: 0;
  margin-left: 10px;
}

button.btn {background:transparent none;text-align:left;border:0px;margin:19px 0px 0px 0px;float:right;cursor:pointer;}
button.btn b {background:#ffffff url('../../../../admin/images/btn_2.gif') 0px 0px no-repeat scroll;font:8.5pt arial;font-weight:normal;color:#1e3850;border:1px solid #d8e0ea;height:21px;padding:4px 10px 0px 29px;float:left;position:relative;white-space:nowrap;}

