<div class="content">
	<div id="modulePath">
	<div class="error-msg" id="errorBlock" style="display:none;"></div>
	<table class="cms-table">
	<tr>
           <th><b>User ID<b></th>
           <th><b>Rate score</b></th>
       </tr>
	{{foreach name=rate from=$edit item=i}}
       <tr>
           <td><a href="/admin/modules/profile/edit/{{$i.user_id}}/">{{$i.user_id}}</a></td>
           <td>{{$i.rate}}</td>
       </tr>
	{{/foreach}}
     </table>  
    <table class="bttns-table">
        <tr>
            <td>
                <div class="btn cancel"><a href="javascript:;" onclick="window.location.href = moduleTable.getRequestUrl();"><span>{{'m_cancel'|gLA:'Cancel'}}</span></a></div>
            </td>
        </tr>
    </table>
    </form>

    <script type="text/javascript">
	    moduleTable.mainUrl = '{{$MAIN_URL}}';
        moduleTable.moduleName = '{{$MODULE_NAME}}';
        
        $(document).ready(function() {

                var tabindex = 1;
                $('#editForma :input,select').each(function() {
                        if (this.type != "hidden") {
                                var $input = $(this);
                                $input.attr("tabindex", tabindex);
                                tabindex++;
                        }
                });
        });
			
	</script>
	</div>
</div>