<div id="files_form2" class="main-tab">
	<table class="inner-table">
		<tr>
			<td colspan="2">
				<b>Writer files</b>
			</td>
		</tr>
		{{foreach name=orders from=$edit.files.2 item=i key=k}}
		{{if $i.user_id && $i.type == 2}}
		<tr>
			<td colspan="2">
				<a href="/download.php?file=orders/{{$edit.id|@md5}}/{{$i.filename}}">{{$i.filename}}</a>
				<p>{{$i.created|date_format:"%b %d %Y, %l:%M %p"}}</p>
				<p>
				{{if $i.enabled}}
				<a href="javascript:;" onclick="moduleEnableFile({{$i.id}}, '0');">Disable</a>
				{{else}}
				<a href="javascript:;" onclick="moduleEnableFile({{$i.id}}, '1');">Enable</a>
				{{/if}}
				/ <a href="javascript:;" onclick="moduleDeleteFile({{$i.id}});">Delete</a>
				</p>
			</td>	
		</tr>
		{{/if}}
		{{/foreach}}
		
		<tr>
			<td colspan="2">
				<b>Administrator files</b>
			</td>
		</tr>
		{{foreach name=orders from=$edit.files.2 item=i key=k}}
		{{if !$i.user_id}}
		<tr>
			<td colspan="2">
				<a href="/download.php?file=orders/{{$edit.id|@md5}}/{{$i.filename}}">{{$i.filename}}</a>
				<p>{{$i.created|date_format:"%b %d %Y, %l:%M %p"}}</p>
				<p>
				{{if $i.enabled}}
				<a href="javascript:;" onclick="moduleEnableFile({{$i.id}}, '0');">Disable</a>
				{{else}}
				<a href="javascript:;" onclick="moduleEnableFile({{$i.id}}, '1');">Enable</a>
				{{/if}}
				/ <a href="javascript:;" onclick="moduleDeleteFile({{$i.id}});">Delete</a>
				
				{{if $i.ext == 'jpg' || $i.ext == 'jpeg'}}
				/ <a href="javascript:;" onclick="modulePreviewFile({{$i.id}});">Make preview</a>
				{{/if}}
				</p>
			</td>	
		</tr>
		{{/if}}
		{{/foreach}}
		
         <tr>
            <td>Upload file:</td>
            <td>
            	<div id="filename_writersDiv">
            		<input type="text" value="" id="filename_writers" class="files">
            	</div>
            	<a href="#" id="filename_writersButton" class="select-btn">{{'upload'|gLA:'Upload'}}</a>
            </td>
        </tr>
	</table>
</div>
<script type="text/javascript">
   
           
$(document).ready(function() {

	loadUploadSimple('orders/{{$edit.id|@md5}}/', 'filename_writers');

});
		
</script>