<div id="general_data_form" class="main-tab">
	<table class="inner-table">

        <tr>
            <td>Order ID:</td>
            <td>{{$edit.id}}</td>
        </tr>
        <tr>
            <td>Customer ID:</td>
            <td>{{$edit.user_id}}</td>
        </tr>
        <tr>
            <td>Time left:</td>
            <td>{{$edit.timeleft}}</td>
        </tr>
        <tr>
            <td>Payment status:</td>
            <td>{{$edit.paid}}</td>
        </tr>
        <tr>
            <td>Order status:</td>
            <td>
            	<select class="simple" name="status" id="status">
            		<option value="1" {{if $edit.status == 1}}selected="selected"{{/if}}>Pending</option>
            		<option value="2" {{if $edit.status == 2}}selected="selected"{{/if}}>In Progress</option>
            		<option value="3" {{if $edit.status == 3}}selected="selected"{{/if}}>Finished</option>
            		<option value="4" {{if $edit.status == 4}}selected="selected"{{/if}}>Canceled</option>
            	</select>
            </td>
        </tr>
        <tr>
            <td>Deadline:</td>
            <td>{{$edit.first_draft_deadline|date_format:"%b %d %Y, %l:%M %p"}}</td>
        </tr>
        <tr>
            <td>Writers Deadline:</td>
            <td>{{$edit.writers_deadline|date_format:"%b %d %Y, %l:%M %p"}}</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{$edit.price}}$</td>
        </tr>
        
        <tr>
            <td colspan="2"><b>Order information</b></td>
        </tr>
        <tr>
            <td>Type of services:</td>
            <td>{{$edit.type_of_services}}</td>
        </tr>
        <tr>
            <td>Academic levels:</td>
            <td>{{$edit.academic_levels}}</td>
        </tr>
        <tr>
            <td>Type of work:</td>
            <td>{{$edit.type_of_work}}</td>
        </tr>
        <tr>
            <td>Type of institution:</td>
            <td>{{$edit.type_of_institution}}</td>
        </tr>
        <tr>
            <td>Institution program name:</td>
            <td>{{$edit.institution_program_name}}</td>
        </tr>
        <tr>
            <td>Job title or industry segment:</td>
            <td>{{$edit.job_title_or_industry_segment}}</td>
        </tr>
        <tr>
            <td>Reasons for applying:</td>
            <td>{{$edit.reasons_for_applying}}</td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td>{{$edit.subject}}</td>
        </tr>
        <tr>
            <td>Paper format:</td>
            <td>{{$edit.paper_format}}</td>
        </tr>
        <tr>
            <td>Sources:</td>
            <td>{{$edit.how_many_sources_do_you_need}}</td>
        </tr>
        <tr>
            <td>Topic:</td>
            <td>{{$edit.topic}}</td>
        </tr>
        
        <tr>
            <td>Work details:</td>
            <td>{{$edit.work_details}}</td>
        </tr>
        <tr>
        	{{if $edit.type_of_services == 'Multiple Choices'}}
            <td>Number of questions:</td>
            {{elseif $edit.type_of_services == 'Problem solving'}}
            <td>Number of problems:</td>
            {{else}}
            <td>Number of pages:</td>
            {{/if}}
            <td>{{$edit.number_of_pages}}</td>
        </tr>
        <tr>
            <td>Pages type:</td>
            <td>{{$edit.pages_type}}</td>
        </tr>
        <tr>
            <td>Preferred writer:</td>
            <td>{{$edit.preferred_writer}}</td>
        </tr>
        <tr>
            <td>Writers id:</td>
            <td>{{$edit.writer_id}}</td>
        </tr>
        <tr>
            <td>Additional extras:</td>
            <td>{{'<br />'|@implode:$edit.additional_extras}}</td>
        </tr>
        <tr>
            <td colspan="2"><b>Admin comment:</b></td>
        </tr>
        <tr>
            <td colspan="2">
            	<textarea class="simple" id="admin_comment" name="admin_comment" rows="5" style="width:500px">{{$edit.admin_comment}}</textarea>
			</td>
        </tr>
	</table>
</div>