<div id="messages_form" class="main-tab">
	<table class="inner-table">
		
		{{foreach name=orders from=$edit.messages.1 item=i key=k}}
		<tr>
			<td colspan="2">
				{{$i.message|clear}}
				<p>{{if $i.user_id}}Customer{{else}}Administrator{{/if}}, {{$i.created|date_format:"%b %d %Y, %l:%M %p"}}</p>
			</td>
		</tr>
		{{/foreach}}
        <tr>
            <td colspan="2"><b>Add message:</b></td>
        </tr>
        <tr>
            <td colspan="2">
            	<textarea class="message" rel="1" id="message" name="message" rows="5" style="width:500px"></textarea>
            	<p class="wys"><a href="#" onclick="openCkEditor('message', 'advanced'); return false;">{{'wysiwyg'|gLA:'WYSIWYG'}}</a></p>
			</td>
        </tr>
	</table>
</div>