<div class="content">
	<form class="forma" method="post" action="" onsubmit="return false;">
		<fieldset>
			<table class="search-table" cellpadding="0" cellspacing="0">
			    <tr>
			        <td>
			            <label for="filterStatus">Status:</label>
			            <select id="filterStatus" class="filter" name="filterStatus" onchange="changeFilter(); return false;">
							<option value="all">{{'select_option_all'|gLA:'-- All Orders --'}}</option>
							{{$sList}}
						</select>
			        </td>
			        <td>
			            <label for="filterPaid">Paid:</label>
			            <select id="filterPaid" class="filter" name="filterPaid" onchange="changeFilter(); return false;">
							<option value="">{{'select_option'|gLA:'-- Select --'}}</option>
							<option value="yes">Yes</option>
							<option value="no">No</option>
						</select>
			        </td>
			        <td>
            	
		            	<label for="deadlineFrom">Deadline From:</label>
					    <input class="filter" type="text" id="deadlineFrom" name="deadlineFrom"  value="" />
		            </td>
		            <td>
		            	
		            	<label for="deadlineTo">Deadline To:</label>
					    <input class="filter" type="text" id="deadlineTo" name="deadlineTo"  value="" />
		            </td>
			        <td>
			            <label for="filterSearch">{{'content'|gLA:'Content'}}:</label>
			            <input class="long filter" type="text" id="filterSearch" name="filterSearch" />
			        </td>
			        <td class="bttns">
	                   <div class="btn"><a href="javascript:;" onclick="changeFilter(); return false;"><span>{{'m_search'|gLA:'Search'}}</span></a></div>
	                   <div class="clr"><!-- clear --></div>
	               </td>
	               <td class="bttns">
	                   <div class="btn"><a href="javascript:;" onclick="clearFilter(); return false;"><span>{{'m_cancel'|gLA:'Cancel'}}</span></a></div>
	                   <div class="clr"><!-- clear --></div>
	               </td>
			    </tr>
			</table>
			
			{{$tTable}}
			
			<div id="modulePath">
			</div>
			
			{{$bTable}}
	
		</fieldset>
	</form>
	
	<script type="text/javascript">
		moduleTable.mainUrl = '{{$MAIN_URL}}';
		moduleTable.moduleName = '{{$MODULE_NAME}}';
		moduleTable.usePaging = true;
		{{if $MODULE_FROM}}
	    moduleTable.from = {{$MODULE_FROM}};
	    {{/if}}

		$(document).ready(function() {
			
			$('#deadlineFrom').datepicker({
	            dateFormat  : 'dd.mm.yy',
	        });

	        $('#deadlineTo').datepicker({
	            dateFormat  : 'dd.mm.yy',
	        });
			
			updateModule();	
			
		});
	</script>
</div>	