<div id="profile_form" class="main-tab">
	<table class="inner-table">

        <tr>
			<td colspan="2"><b>Basic information</b></td>
		</tr>
        <tr>
            <td>{{'email'|gLA:'Email'}}:</td>
            <td>{{$edit.email}}</td>
        </tr>
		<tr>
            <td>{{'first_name'|gLA:'First name'}}:</td>
            <td>{{$edit.first_name}}</td>
        </tr>
        <tr>
            <td>{{'last_name'|gLA:'Last name'}}:</td>
            <td>{{$edit.last_name}}</td>
        </tr>
        <tr>
            <td>{{'profile_country'|gLA:'Country'}}:</td>
            <td>{{$edit.country}}</td>
        </tr>
        <tr>
            <td>{{'phone'|gLA:'Phone'}}:</td>
            <td>{{$edit.phone}}</td>
        </tr>
        <tr>
			<td colspan="2"><b>Additional information</b></td>
		</tr>
        <tr>
            <td>{{'night_calls'|gLA:'Night calls'}}:</td>
            <td>{{$edit.night_calls}}</td>
        </tr>
        <tr>
            <td>{{'alternative_email'|gLA:'Alternative email'}}:</td>
            <td>{{$edit.alternative_email}}</td>
        </tr>
        <tr>
            <td>{{'alternative_phone'|gLA:'Alternative phone'}}:</td>
            <td>{{$edit.alternative_phone}}</td>
        </tr>
        <tr>
            <td>{{'preferred_language'|gLA:'Preferred language'}}:</td>
            <td>{{$edit.preferred_language}}</td>
        </tr>
	</table>
</div>