<div class="content">
    <form id="edit_form">
        <input type="hidden" name="id" id="id" value="{{$edit.id}}" />

		<div id="orderTabs">
			<ul>
					
				<li>
					<a rel="general_data_form" href="#general_data_form"  >
						{{'general'|gLA:'Main info'}}
					</a>
				</li>
				<li>
					<a rel="files_form" href="#files_form"  >
						{{'order_files_customer'|gLA:'Files customer'}}
					</a>
				</li>
				<li>
					<a rel="files_form2" href="#files_form2"  >
						{{'order_files_writers'|gLA:'Files writers'}}
					</a>
				</li>
				<li>
					<a rel="messages_form" href="#messages_form"  >
						{{'order_messages_customer'|gLA:'Messages customer'}}
					</a>
				</li>
				<li>
					<a rel="messages_form2" href="#messages_form2"  >
						{{'order_messages_writers'|gLA:'Messages writers'}}
					</a>
				</li>
				<li>
					<a id="profile_form_link" rel="profile_form" href="#profile_form"  >
						{{'order_profile'|gLA:'Customer'}}
					</a>
				</li>
				
				{{if $edit.statusOrig == 2}}
				<li>
					<a rel="writers_form" href="#writers_form"  >
						Writers
					</a>
				</li>
				{{/if}}	
					
			</ul>

			{{include file="general_data_form.html"}}
			{{include file="files_form.html"}}
			{{include file="files_form_writers.html"}}
			{{include file="messages_form.html"}}
			{{include file="messages_form_writers.html"}}
			{{include file="profile_form.html"}}
			
			{{if $edit.statusOrig == 2}}
			{{include file="writers_form.html"}}
			{{/if}}
		</div>


		{{* Actions *}}
        <table class="bttns-table">
            <tr>
                <td>
                	{{if $edit.statusOrig == 1}}
                	
                	<div class="btn" style="margin-right: 10px;">
                        <a href="javascript:;" onclick="moduleAccept({{$edit.id}}, true); return false;">
                            <span>Accept</span>
                        </a>
                    </div>
                	
                	{{/if}}
                	
                	{{if $edit.statusOrig != 3 && $edit.statusOrig != 4}}
                	
                	<div class="btn" style="margin-right: 10px;">
                        <a href="javascript:;" onclick="moduleOrderCancel({{$edit.id}}, true); return false;">
                            <span>Cancel order</span>
                        </a>
                    </div>
                    
                    <div class="btn" style="margin-right: 10px;">
                        <a href="javascript:;" onclick="$('#profile_form_link').click();">
                            <span>Call customer</span>
                        </a>
                    </div>
                	
                	{{/if}}
                
                    <div class="btn" style="margin-right: 10px;">
                        <a href="javascript:;" onclick="saveData('save');">
                            <span>Save</span>
                        </a>
                    </div>
                    <div class="btn orange" style="margin-right: 10px;">
                        <a href="javascript:;" onclick="saveData('apply');">
                            <span>Apply</span>
                        </a>
                    </div>

                    <div class="btn cancel">
                        <a href="javascript:;" onclick="window.location.href = moduleTable.getRequestUrl();">
                            <span>Back to list</span>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
		
    </form>
</div>
<script type="text/javascript">
    
    moduleTable.mainUrl		= '{{$MAIN_URL}}';
    moduleTable.moduleName	= '{{$MODULE_NAME}}';
    
    $(document).ready(function() {

    	$('ul.lang-tabs a').click(function() {
			var curChildIndex = $(this).parent().prevAll().length + 1;
			$(this).parent().parent().children('.active').removeClass('active');
			$(this).parent().addClass('active');
			$(this).parent().parent().next('.areaBlock').children('.open').fadeOut('fast',function() {
				$(this).removeClass('open');
				$(this).parent().children('div:nth-child('+curChildIndex+')').fadeIn('normal',function() {
					$(this).addClass('open');
				});
			});
			return false;
		});

    	$('#orderTabs').tabs();	   
    	
    });
    
    

</script>