<div id="writers_form" class="main-tab">
	<table class="cms-table">
	
		<tr>
			<th><b>Writer ID</b></th>
			<th><b>Raiting</b></th>
			<th><b>Completed orders</b></th>
			<th><b>Disciplines</b></th>
			<th><b>Amount</b></th>
			<th><b>Reason</b></th>
			<th></th>
		</tr>
		{{foreach name=orders from=$edit.writers item=i key=k}}
				
		<tr>
			<td>
				{{$i.writer_id}}
			</td>
			<td>
				{{$i.rating}}
			</td>
			<td>
				{{$i.completed_orders}}
			</td>
			<td>
				{{', '|@implode:$i.disciplines}}
			</td>
			<td>
				{{$i.amount}}
			</td>
			<td>
				{{$i.reason}}
			</td>
			<td>
				{{if $edit.writer_id}}
					{{if $edit.writer_id == $i.writer_id}}
						Applied
					{{/if}}
				{{else}}
				<a href="javascript:;" onclick="moduleAssignWriter({{$i.writer_id}});">Assign</a>
				{{/if}}
			</td>	
		</tr>

		{{/foreach}}
		
		
	</table>
</div>