<div class="content">
	<div id="modulePath">
	<div class="error-msg" id="errorBlock" style="display:none;"></div>
	<input type="hidden" name="id" id="id" value="{{$edit.id}}" />
	<table class="holder-table">
		<tr>
			<td class="left-td">
				<table class="inner-table">
					<tr>
						<td colspan="2"><b>Payment details</b></td>
					</tr>
			        <tr>
			            <td>{{'id'|gLA:'ID'}}:</td>
			            <td>{{$edit.id}}</td>
			        </tr>
			        <tr>
			            <td>Payment amount:</td>
			            <td>{{$edit.price}}</td>
			        </tr>
			        
			        <tr>
			            <td>Payment type:</td>
			            <td>{{$edit.payment_type}}</td>
			        </tr>
			        <tr>
			            <td>Created:</td>
			            <td>{{$edit.created|date_format:"%d %b %Y"}}</td>
			        </tr>
			        <tr>
			            <td>Status:</td>
			            <td>{{$edit.paid}}</td>
			        </tr>
			        <tr>
						<td colspan="2"><b>Client information</b></td>
					</tr>
					<tr>
			            <td>{{'email'|gLA:'Email'}}:</td>
			            <td>{{$edit.email}}</td>
			        </tr>
					<tr>
			            <td>{{'first_name'|gLA:'First name'}}:</td>
			            <td>{{$edit.first_name}}</td>
			        </tr>
			        <tr>
			            <td>{{'last_name'|gLA:'Last name'}}:</td>
			            <td>{{$edit.last_name}}</td>
			        </tr>
			        <tr>
			            <td>{{'phone'|gLA:'Phone'}}:</td>
			            <td>{{$edit.phone}}</td>
			        </tr>
			        <tr>
						<td colspan="2"><b>Order information:</b></td>
					</tr>
    			</table>
    			{{$edit.order.html}}
    		</td>
		</tr>
	</table>
    <table class="bttns-table">
        <tr>
            <td>
                <div class="btn cancel"><a href="javascript:;" onclick="window.location.href = moduleTable.getRequestUrl();"><span>{{'m_cancel'|gLA:'Cancel'}}</span></a></div>
            </td>
        </tr>
    </table>
    </form>

    <script type="text/javascript">
	    moduleTable.mainUrl = '{{$MAIN_URL}}';
        moduleTable.moduleName = '{{$MODULE_NAME}}';
        
        $(document).ready(function() {

                var tabindex = 1;
                $('#editForma :input,select').each(function() {
                        if (this.type != "hidden") {
                                var $input = $(this);
                                $input.attr("tabindex", tabindex);
                                tabindex++;
                        }
                });
        });
			
	</script>
	</div>
</div>