<div class="content">
	<form class="forma" method="post" action="" onsubmit="return false;">
		<fieldset>
			<table class="search-table" cellpadding="0" cellspacing="0">
			    <tr>
			        <td>
			            <label for="paid">{{'select_paid'|gLA:'Paid'}}:</label>
			            <select class="filter" id="paid" name="paid">
							<option value="">{{'select_option'|gLA:'-- Select --'}}</option>
							<option value="Yes">Yes</option>
							<option value="No">No</option>
						</select>
			        </td>
			        <td>
			            <label for="id">{{'id'|gLA:'Order ID'}}:</label>
			            <input class="filter" type="text" id="id" name="id" />
			        </td>
			        <td>
			            <label for="filterName">{{'name'|gLA:'Client Name'}}:</label>
			            <input class="filter" type="text" id="filterName" name="filterName" />
			        </td>
			        <td>
			            <label for="filterLastName">{{'last_name'|gLA:'Client last Name'}}:</label>
			            <input class="filter" type="text" id="filterLastName" name="filterLastName" />
			        </td>
			        <td>
			            <label for="filterEmail">{{'email'|gLA:'Client email'}}:</label>
			            <input class="filter" type="text" id="filterEmail" name="filterEmail" />
			        </td>
			        <td>
			            <label for="filterPhone">{{'phone'|gLA:'Client phone'}}:</label>
			            <input class="filter" type="text" id="filterPhone" name="filterPhone" />
			        </td>
				</tr>
				<tr>
					<td>
			            <label for="created_from">{{'Payment_date_from'|gLA:'Payment date from'}}:</label>
			            <input class="filter" type="text" id="created_from" name="created_from" />
			        </td> 
			        <td>
			            <label for="created_to">{{'Payment_date_to'|gLA:'Payment date from'}}:</label>
			            <input class="filter" type="text" id="created_to" name="created_to" />
			        </td>
			        <td>
			            <label for="price_from">{{'Payment_amount_from'|gLA:'Payment amount'}}:</label>
			            <input class="filter" type="text" id="price_from" name="price_from" />
			        </td>  
			        <td>
			            <label for="price_to">{{'Payment_amount_to'|gLA:'Payment amount'}}:</label>
			            <input class="filter" type="text" id="price_to" name="price_to" />
			        </td> 
			        <td class="bttns">
	                   <div class="btn"><a href="javascript:;" onclick="changeFilter(); return false;"><span>{{'m_search'|gLA:'Search'}}</span></a></div>
	                   <div class="clr"><!-- clear --></div>
	               </td>
	               <td class="bttns">
	                   <div class="btn"><a href="javascript:;" onclick="clearFilter(); return false;"><span>{{'m_cancel'|gLA:'Cancel'}}</span></a></div>
	                   <div class="clr"><!-- clear --></div>
	               </td>
			    </tr>
			</table>
			
			{{$tTable}}
			
			<div id="modulePath">
			</div>
			
			{{$bTable}}
	
		</fieldset>
	</form>
	
	<script type="text/javascript">
		moduleTable.mainUrl = '{{$MAIN_URL}}';
		moduleTable.moduleName = '{{$MODULE_NAME}}';
		moduleTable.usePaging = true;
		{{if $MODULE_FROM}}
	    moduleTable.from = {{$MODULE_FROM}};
	    {{/if}}

		$(document).ready(function() {
			
			updateModule();	
			
			$("#created_from").datepicker();
			$("#created_to").datepicker();
			
		});
	</script>
</div>	