<section class="contacts_block">
	<div class="button tel css3">
		<a href="#" class="icon"></a>
		<div class="sub css3">
			<div class="cont">
				<div class="cell">
					{{'contacts_RightBlockPhone'|gL:'
					<div class="country">United Kingdom</div>
					<div class="phone_nr">44-203-670-0050</div>
					<div class="country">Australia</div>
					<div class="phone_nr">61-283-550-175</div>'}}
				</div>
			</div>
		</div>
	</div>
	<div class="button msg">
		<a href="#" class="icon"></a>
		<div class="sub css3">
			<div class="cont">
				<div class="cell">
					{{'contacts_RightBlockEmail'|gL:'
					<div class="mailus">Feel free to mail us!</div>
					<a href="mailto:info_at_paperstock.com" class="mail">info_at_paperstock.com</a>
					'}}
				</div>
			</div>
		</div>
	</div>
	<div class="button chat css3">
		<a href="#" class="icon"></a>
		<div class="sub css3">
			<div class="cont">
				<div class="cell">
					<div class="call_ico"></div>
					{{'contacts_RightBlockChat'|gL:'
					<div class="online_chat">Online chat</div>
					<a href="#" onclick="return SnapABug.startLink();" class="btn1">Start conversation</a>
					'}}
				</div>
			</div>
		</div>
	</div>
</section>