<section id="content">
	<section class="green_title">
		<section class="wrap">
			<div class="location">
				{{$web.pagePath}}
			</div>
			<h1>{{$web.title}}</h1>
		</section>
	</section>
	<section class="contact_page wrap clearfix">
		<div class="top">
			<h2>
				{{'contacts_H2'|gL:'Customer Support Representatives 24/7<span class="no_320"><br>Luctus, est in condimentum tristique, est orci blandit tortor</span>'}}
			</h2>
		</div>
		<div class="middle clearfix">
			<div class="col col1">
				<div class="title css3">{{'contacts_CallUs'|gL:'Call us'}}</div>
				<div class="inner css3 clearfix">
					<div class="info">
						{{'contacts_CallUs_Text'|gL:'<div class="line clearfix">
							<div class="name">United Kingdom:</div>
							<div class="value">44-203-670-0050</div>
						</div>
						<div class="line clearfix">
							<div class="name">Australia:</div>
							<div class="value">61-283-550-175</div>
						</div>'}}
					</div>
					<div class="or">
						<div class="text">{{'contacts_CallUs_Or'|gL:'or'}}</div>
					</div>
					<a href="skype:WritersShore.com?chat" class="btn1">{{'contacts_ChatNow'|gL:'Chat now'}}</a>
				</div>
			</div>
			<div class="col col2">
				<div class="title css3">{{'contacts_Support'|gL:'Support'}}</div>
				<div class="inner css3 clearfix">
					{{'contacts_SupportText'|gL:'<p>For questions about orders, performance control, suggestions, complaints, etc.</p>
					<a href="mailto:support@papersstock.com" class="btn1">support@papersstock.com</a>'}}
					
				</div>
			</div>
			<div class="col col3">
				<div class="title css3">{{'contacts_Business'|gL:'Business'}}</div>
				<div class="inner css3 clearfix">
					{{'contacts_BusinessText'|gL:'<p>For business Ut nec rutrum magna. Vivamus auctor imperdiet lacus</p>
					<a href="mailto:business@papersstock.com" class="btn1">business@papersstock.com</a>'}}
					
				</div>
			</div>
		</div>
		<div class="bottom">
			
			<div class="title">{{'contacts_BottomTitle'|gL:'FH Business Ltd'}}</div>
			<div class="line">{{'contacts_BottomLine1'|gL:'Registered in England (Registration number: 08694707)'}}</div>
			<div class="line">{{'contacts_BottomLine2'|gL:'Address: Suite 13087, 43 Bedford str., London, England, WC2E 9HA'}}</div>
		</div>
	</section>
	<div class="sp45-45-45"></div>
</section>