<section id="content">
	<section class="green_title sp68">
		<section class="wrap">
			<div class="location">
				{{$web.pagePath}}
			</div>
			<h1>{{$web.title}}</h1>
		</section>
	</section>
	<section class="wrap clearfix">
		<div class="col2j">
			<nav class="sidemenu no_mob">
				<div class="menu_trigger"></div>
				{{if $menu.TOP_SUB[$TOP_ACTIVE]|@count > 0}}
				<ul class="menu">
					{{section name=item loop=$menu.TOP_SUB[$TOP_ACTIVE]}}
					{{assign var="TOP_SUB_CURRENT" value=$menu.TOP_SUB[$TOP_ACTIVE][item].id}}
					
					<li class="{{if $menu.TOP_SUB[$TOP_ACTIVE][item].active}}{{assign var="TOP_SUB_ACTIVE" value=$menu.TOP_SUB[$TOP_ACTIVE][item].id}} active {{/if}}{{if $menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE]|@count > 0}} has_submenu {{/if}}">
						{{if !$menu.TOP_SUB[$TOP_ACTIVE][item].active}}
						<a class="item" href="{{$menu.TOP_SUB[$TOP_ACTIVE][item].url}}" title="{{$menu.TOP_SUB[$TOP_ACTIVE][item].title}}">
							{{$menu.TOP_SUB[$TOP_ACTIVE][item].title}}
						</a>
						{{else}}
						<div class="item">{{$menu.TOP_SUB[$TOP_ACTIVE][item].title}}</div>
							{{if $menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE]|@count > 0}}
							<ul class="submenu">
								{{section name=item3 loop=$menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE]}}
								<li {{if $menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE][item3].active}} class="active" {{/if}}>
									{{if $menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE][item3].active}}
									<div class="item">{{$menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE][item3].title}}</div>
									{{else}}
									<a class="item" href="{{$menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE][item3].url}}" title="{{$menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE][item3].title}}">
										{{$menu.TOP_SUB_SUB[$TOP_SUB_ACTIVE][item3].title}}
									</a>
									{{/if}}
									
								</li>
								{{/section}}
							</ul>
							{{/if}}
						{{/if}}
					</li>
					{{/section}}
				</ul>
				{{/if}}
			</nav>
			<section class="side_slider">
				<h2>{{'startpage_ApplyFormTitle'|gL:'More than 34 jobs are awaiting for you!'}}</h2>
				<div class="slider_cont">
					{{if $apply.orders|@count > 1}}
					<div class="arrow left"></div>
					<div class="arrow right"></div>
					{{/if}}
					<div class="slider_actual">
						<div class="inner">
							{{foreach name=apply from=$apply.orders item=i key=k}}
							<a href="{{$siteData.mirros_signup_page|getLM}}" class="item css3">
								<div class="text">{{$i.topic}}</div>
								<div class="stats">
									<div class="words css3">
									{{$i.number_of_pages}}
									{{if $i.type_of_services == 'Problem solving' || $i.type_of_services == 'Multiple Choices'}}
									{{'order_Questions'|gL:'questions'}} 
									{{else}}
									{{'order_Pages'|gL:'pages'}}
									{{/if}}
									</div>
									<div class="price css3">${{$i.price}}</div>
								</div>
							</a>
							{{/foreach}}
						</div>
					</div>
				</div>
				<a href="{{$siteData.mirros_signup_page|getLM}}" class="apply">{{'startpage_ApplyNow'|gL:'Apply now'}}</a>
			</section>
			<section class="small_stats clearfix">
				<img alt="{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}" src="{{$AD_IMAGE_FOLDER}}_stats.png">
				<div class="nr">{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}</div>
				<div class="text">{{'news_OurLiveStats_OrdersDelivered_Title'|gL:'Orders<br>delivered'}}</div>
			</section>
		</div>
		{{$TEMPLATE_NEWS_MODULE}}
		{{$TEMPLATE_FAQ_MODULE}}
	</section>
	<div class="sp100-100-50"></div>
</section>