<link rel="stylesheet" href="{{$AD_CSS_FOLDER}}8/fonts.css">
<link rel="stylesheet" type="text/css" href="{{$AD_CSS_FOLDER}}{{$web.cssFile}}.css" />
<!--[if lt IE 9]>
			<script src="{{$AD_JS_FOLDER}}ielte8.js"></script>
		<![endif]-->
<script type="text/javascript" src="{{$AD_JS_FOLDER}}{{$web.jsFile}}.js"></script>
<script type="text/javascript" >
	// Script for "Share us" functionality
	var siteUrl = encodeURIComponent('http://{{$smarty.server.HTTP_HOST}}{{$smarty.server.REDIRECT_URL}}'); // Site's URL to share
	var shareTitle = encodeURIComponent('{{$web.pageTitle|stripslashes|replace:'"':''|strip_tags}}'); // Shared message's preview title
	var drTitle = encodeURIComponent('{{$web.title|stripslashes|replace:'"':''|strip_tags}}'); // Shared message's title for dr
	var shareImg = encodeURIComponent('http://{{$smarty.server.HTTP_HOST}}{{$AD_IMAGE_FOLDER}}logo.png'); // Preview image for shared message. For FB the thumbnail's width AND height must be at least 50 pixels, and cannot exceed 130x110 pixels.
	var summary = encodeURIComponent('{{$web.pageDescription|stripslashes|replace:'"':''|strip_tags}}'); // Description or preview summary
	
	var webLang = '{{$web.lang}}';
</script>