<header {{if $mainpageId != $curpageId}}class="not_startpage"{{/if}}>
	<section class="wrap clearfix">
		<nav id="menu1">
			<a href="{{$mainpageId|getLM}}" class="logo" title="{{'logoTitle'|gL:'Logo Title'}}">
				<img alt="{{'logoTitle'|gL:'Logo Title'}}" src="{{$AD_UPLOAD_FOLDER}}countries/{{$ctrAr.active.image}}">
			</a>
			{{if $menu.TOP|@count > 0}}	
			<ul class="menu">
			
				{{section name=item loop=$menu.TOP}}
				{{assign var="TOP_CURRENT" value=$menu.TOP[item].id}}
				<li class="{{if $menu.TOP[item].active}}{{assign var="TOP_ACTIVE" value=$menu.TOP[item].id}} active {{/if}} {{if $menu.TOP_SUB[$TOP_CURRENT]|@count> 0}} has_submenu {{/if}}">
					<a href="{{if $menu.TOP_SUB[$TOP_CURRENT]|@count > 0}}#{{else}}{{$menu.TOP[item].url}}{{/if}}" title="{{$menu.TOP[item].title}}" class="css3">
						{{$menu.TOP[item].title}}
					</a>
					{{if $menu.TOP_SUB[$TOP_CURRENT]|@count> 0}}
					<ul class="submenu css3">
						{{section name=item2 loop=$menu.TOP_SUB[$TOP_CURRENT]}}
						<li {{if $menu.TOP_SUB[$TOP_CURRENT][item2].first}} class="first" {{/if}}>
							<a href="{{$menu.TOP_SUB[$TOP_CURRENT][item2].url}}" title="{{$menu.TOP_SUB[$TOP_CURRENT][item2].title}}">
								{{$menu.TOP_SUB[$TOP_CURRENT][item2].title}}
							</a>
						</li>
						{{/section}}
					</ul>
					{{/if}}
				</li>
				{{/section}}
			
			</ul>
			{{/if}}
		</nav>
		<nav id="menu2">
			<div class="trigger">
				<img alt="{{'logoTitle'|gL:'Logo Title'}}" src="{{$AD_UPLOAD_FOLDER}}countries/{{$ctrAr.active.image}}">
			</div>
			{{if $menu.TOP|@count > 0}}	
			<ul class="menu">
			
				{{section name=item loop=$menu.TOP}}
				{{assign var="TOP_CURRENT" value=$menu.TOP[item].id}}
				<li class="{{if $menu.TOP[item].active}}{{assign var="TOP_ACTIVE" value=$menu.TOP[item].id}} active {{/if}} {{if $menu.TOP_SUB[$TOP_CURRENT]|@count> 0}} has_submenu {{/if}}">
					<a href="{{if $menu.TOP_SUB[$TOP_CURRENT]|@count > 0}}#{{else}}{{$menu.TOP[item].url}}{{/if}}" title="{{$menu.TOP[item].title}}" class="css3">
						{{$menu.TOP[item].title}}
					</a>
					{{if $menu.TOP_SUB[$TOP_CURRENT]|@count> 0}}
					<ul class="submenu css3">
						{{section name=item2 loop=$menu.TOP_SUB[$TOP_CURRENT]}}
						<li {{if $menu.TOP_SUB[$TOP_CURRENT][item2].first}} class="first" {{/if}}>
							<a href="{{$menu.TOP_SUB[$TOP_CURRENT][item2].url}}" title="{{$menu.TOP_SUB[$TOP_CURRENT][item2].title}}">
								{{$menu.TOP_SUB[$TOP_CURRENT][item2].title}}
							</a>
						</li>
						{{/section}}
					</ul>
					{{/if}}
				</li>
				{{/section}}
			
			</ul>
			{{/if}}
		</nav>
		<div class="quicklinks">
			<a href="{{$siteData.mirros_signup_page|getLM}}" class="btn1 css3" title="{{'header_ApplyNowTitle'|gL:'Apply now'}}">{{'header_ApplyNowTitle'|gL:'Apply now'}}</a>
		</div>
		<div class="logon">
			<a href="{{$siteData.mirros_signin_page|getLM}}" title="{{'header_SignInTitle'|gL:'Sign in'}}">{{'header_SignInTitle'|gL:'Sign in'}}</a>
		</div>
	</section>
	<nav id="menu3">
		<div class="trigger">
			<section class="wrap clearfix">
				<img alt="{{'logoTitle'|gL:'Logo Title'}}" src="{{$AD_UPLOAD_FOLDER}}countries/{{$ctrAr.active.image}}">
			</section>
		</div>	
		<ul class="menu">
			
			{{section name=item loop=$menu.TOP}}
			{{assign var="TOP_CURRENT" value=$menu.TOP[item].id}}
			<li class="{{if $menu.TOP[item].active}}{{assign var="TOP_ACTIVE" value=$menu.TOP[item].id}} active {{/if}} {{if $menu.TOP_SUB[$TOP_CURRENT]|@count> 0}} has_submenu {{/if}}">
				<a href="{{if $menu.TOP_SUB[$TOP_CURRENT]|@count > 0}}#{{else}}{{$menu.TOP[item].url}}{{/if}}" title="{{$menu.TOP[item].title}}" class="css3">
					{{$menu.TOP[item].title}}
				</a>
				{{if $menu.TOP_SUB[$TOP_CURRENT]|@count> 0}}
				<ul class="submenu css3">
					{{section name=item2 loop=$menu.TOP_SUB[$TOP_CURRENT]}}
					<li {{if $menu.TOP_SUB[$TOP_CURRENT][item2].first}} class="first" {{/if}}>
						<a href="{{$menu.TOP_SUB[$TOP_CURRENT][item2].url}}" title="{{$menu.TOP_SUB[$TOP_CURRENT][item2].title}}">
							{{$menu.TOP_SUB[$TOP_CURRENT][item2].title}}
						</a>
					</li>
					{{/section}}
				</ul>
				{{/if}}
			</li>
			{{/section}}
			
				<div class="logon clearfix">
					<a href="{{$siteData.mirros_signin_page|getLM}}" class="left" title="{{'header_SignInTitle'|gL:'Sign in'}}">{{'header_SignInTitle'|gL:'Sign in'}}</a>
					<a href="{{$siteData.mirros_signup_page|getLM}}" title="{{'header_SignUpTitle'|gL:'Sign up'}}" class="right">{{'header_SignUpTitle'|gL:'Sign up'}}</a>
				</div>
				<div class="quicklinks">
					<div class="wrap clearfix">
						<a href="{{$siteData.mirros_inquiry_page|getLM}}" class="btn2 css3" title="{{'header_FreeInquiryTitle'|gL:'Free inquiry'}}">{{'header_FreeInquiryTitle'|gL:'Free inquiry'}}</a>
						<a href="{{$siteData.mirros_order_page|getLM}}" class="btn1 css3" title="{{'header_OrderNowTitle'|gL:'Order now'}}">{{'header_OrderNowTitle'|gL:'Order now'}}</a>
					</div>
				</div>
				<div class="contact">
					<div class="button tel open">
						<a href="#" class="icon"></a>
						<div class="sub">
							<div class="wrap">
								<div class="country mt">United Kingdom</div>
								<div class="phone_nr mt">44-203-670-0050</div>
								<div class="country">Australia</div>
								<div class="phone_nr">61-283-550-175</div>
							</div>
						</div>
					</div>
					<div class="button msg">
						<a href="#" class="icon"></a>
						<div class="sub">
							<div class="wrap">
								<div class="mailus">Feel free to mail us!</div>
								<a href="mailto:info_at_paperstock.com" class="mail">info_at_paperstock.com</a>
							</div>
						</div>
					</div>
					<div class="button chat">
						<a href="#" class="icon"></a>
						<div class="sub">
							<div class="wrap">
								<div class="online_chat">Online chat</div>
								<a href="#" class="btn1">Start conversation</a>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</nav>
</header>