<section id="content">
	<div class="sp40-35-15"></div>
	<section class="wrap clearfix" id="orderHeader">
		{{$TEMPLATE_ORDERS_HEAD_MODULE}}		
	</section>
	{{$TEMPLATE_ORDERS_MODULE}}
	
	
	
	<div class="sp100-100-0"></div>
</section>