<section id="content">
	{{$PROMOBLOCK_CONTENT}}
	<section class="startpage_slider">
		<section class="wrap">
			<section class="calc_cont css3 clearfix">
				<h2>{{'startpage_ApplyFormTitle'|gL:'More than 34 jobs are awaiting for you!'}}</h2>
				<div class="slider_cont">
					{{if $apply.orders|@count > 4}}
					<div class="arrow left"></div>
					<div class="arrow right"></div>
					{{/if}}
					<div class="slider_actual">
						<div class="inner">
							{{foreach name=apply from=$apply.orders item=i key=k}}
							<a href="{{$siteData.mirros_signup_page|getLM}}" class="item css3">
								<div class="text">{{$i.topic}}</div>
								<div class="stats">
									<div class="words css3">
										{{$i.number_of_pages}}
										{{if $i.type_of_services == 'Problem solving' || $i.type_of_services == 'Multiple Choices'}}
										{{'order_Questions'|gL:'questions'}} 
										{{else}}
										{{'order_Pages'|gL:'pages'}}
										{{/if}}
									</div>
									<div class="price css3">${{$i.price}}</div>
								</div>
							</a>
							{{/foreach}}
						</div>
					</div>
				</div>
				<a href="{{$siteData.mirros_signup_page|getLM}}" class="apply">{{'startpage_ApplyNow'|gL:'Apply now'}}</a>
			</section>
		</section>
	</section>
	<section class="whyus">
		<section class="wrap clearfix">
			<div class="extra"><div class="h2">{{'startpage_WhyChooseUsTitle'|gL:'Why choose us?'}}</div></div>
			<a href="{{'startpage_WhyChooseUs_Item1_Link'|gL:''}}" class="item1">
				<div class="icon"></div>
				<div class="text">{{'startpage_WhyChooseUs_Item1_Text'|gL:'345 professionals from UK and US'}}</div>
			</a>
			<a href="{{'startpage_WhyChooseUs_Item2_Link'|gL:''}}" class="item2">
				<div class="icon"></div>
				<div class="text">{{'startpage_WhyChooseUs_Item2_Text'|gL:'Support team available 24/7'}}</div>
			</a>
			<a href="{{'startpage_WhyChooseUs_Item3_Link'|gL:''}}" class="item3">
				<div class="icon"></div>
				<div class="text">{{'startpage_WhyChooseUs_Item3_Text'|gL:'Save your time! Delivery in 8h'}}</div>
			</a>
			<a href="{{'startpage_WhyChooseUs_Item4_Link'|gL:''}}" class="item4">
				<div class="icon"></div>
				<div class="text">{{'startpage_WhyChooseUs_Item4_Text'|gL:'Order under your complete control'}}</div>
			</a>
			<a href="{{'startpage_WhyChooseUs_Item5_Link'|gL:''}}" class="item5">
				<div class="icon"></div>
				<div class="text">{{'startpage_WhyChooseUs_Item5_Text'|gL:'Discounts for returning customers'}}</div>
			</a>
		</section>
	</section>
	<section class="how_it_works">
		<div class="bg">
			<img alt="{{'startpage_HowItWorksTitle'|gL:'How it works?'}}" src="{{$AD_IMAGE_FOLDER}}how_it_works.jpg">
		</div>
		<section class="wrap">
			<h2>{{'startpage_HowItWorksTitle'|gL:'How it works?'}}</h2>
			<div class="cont">
				<div class="link onetwo"></div>
				<div class="link twothree"></div>
				<div class="link threefour"></div>
				<div class="link fourfive"></div>
				<div class="link fivesix"></div>
				<div class="step step1 css3">
					<div class="nr">1</div>
					<hr>
					<div class="text">{{'startpage_HowItWorks_Step1'|gL}}</div>
				</div>
				<div class="step step2 css3">
					<div class="nr">2</div>
					<hr>
					<div class="text">{{'startpage_HowItWorks_Step2'|gL}}</div>
				</div>
				<div class="step step3 css3">
					<div class="nr">3</div>
					<hr>
					<div class="text">{{'startpage_HowItWorks_Step3'|gL}}</div>
				</div>
				<div class="step step4 css3">
					<div class="nr">4</div>
					<hr>
					<div class="text">{{'startpage_HowItWorks_Step4'|gL}}</div>
				</div>
				<div class="step step5 css3">
					<div class="nr">5</div>
					<hr>
					<div class="text">{{'startpage_HowItWorks_Step5'|gL}}</div>
				</div>
				<div class="step step6 css3">
					<div class="nr">6</div>
					<hr>
					<div class="text">{{'startpage_HowItWorks_Step6'|gL}}</div>
				</div>
			</div>
		</section>
	</section>
	<section class="safety">
		<section class="wrap clearfix">
			<div class="col">
				<div class="cont">
					<div class="cont2">
						<div class="text">{{'startpage_WhyFeelSafeTitle'|gL:'Why will you feel safe with us?'}}</div>
					</div>
				</div>
				{{'startpage_WhyFeelSafeBlock'|gL}}
			</div>
		</section>
	</section>
	<section class="statistics">
		<section class="wrap">
			<h2>{{'startpage_OurLiveStatsTitle'|gL:'Our LIVE stats'}}</h2>
			<div class="list_cont">
				<div class="list clearfix">
					<div class="item">
						<img alt="" src="{{$AD_IMAGE_FOLDER}}_stats_1.png">
						<div class="bigtext"><span class="animate_number not_done" data-realnumber="{{'startpage_OurLiveStats_AvgPricePerOrder_Number'|gL:'20'}}">0</span>$</div>
						<div class="smalltext">{{'startpage_OurLiveStats_AvgPricePerOrder_Title'|gL:'Average price per order'}}</div>
					</div>
					<div class="item">
						<img alt="" src="{{$AD_IMAGE_FOLDER}}_stats_2.png">
						<div class="bigtext"><span class="animate_number not_done" data-realnumber="{{'startpage_OurLiveStats_ActiveWriters_Number'|gL:'50'}}">0</span></div>
						<div class="smalltext">{{'startpage_OurLiveStats_ActiveWriters_Title'|gL:'Active writers'}}</div>
					</div>
					<div class="item">
						<img alt="" src="{{$AD_IMAGE_FOLDER}}_stats_3.png">
						<div class="bigtext"><span class="animate_number not_done" data-realnumber="{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}">0</span></div>
						<div class="smalltext">{{'startpage_OurLiveStats_OrdersDelivered_Title'|gL:'Orders delivered'}}</div>
					</div>
					<div class="item">
						<img alt="" src="{{$AD_IMAGE_FOLDER}}_stats_4.png">
						<div class="bigtext"><span class="animate_number not_done" data-realnumber="{{'startpage_OurLiveStats_ReturningCustomers_Number'|gL:'99'}}">0</span>%</div>
						<div class="smalltext">{{'startpage_OurLiveStats_ReturningCustomers_Title'|gL:'Returning customers'}}</div>
					</div>
				</div>
				<div class="button_cont">
					<div class="buttons">
						<div class="button css3"></div>
						<div class="button css3"></div>
						<div class="button css3"></div>
						<div class="button css3"></div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<section class="aboutus">
		<section class="wrap">
			<div class="cols userinput clearfix">
				<div class="col">
					{{'startpage_AboutUsBlockN1'|gL}}
				</div>
				<div class="col">
					{{'startpage_AboutUsBlockN1'|gL}}
				</div>
				<div class="col">
					{{'startpage_AboutUsBlockN1'|gL}}
				</div>
			</div>
		</section>
	</section>
</section>