<section class="wrap clearfix">
	<section class="col1a">
		<h1>{{$web.title}}</h1>
		<h2 class="notlogged">{{'profile_SignUp_LeadText'|gL:'Condimentum tristique  get sollicitudin. Already a member? <a href="#">Sign in</a>'}}</h2>
	</section>
</section>

<section class="form_bg">
	<section class="wrap clearfix">
		<section class="col1a">
			<section class="order_form">
				{{foreach name=register from=$profile.data item=i key=k}}
				{{if $i.type == 'tabselect'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b">
						<div class="horizontal_select clearfix" data-linkto="#mob_{{$i.id}}" id="dt_{{$i.id}}">
							{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
							<div class="option has_tip {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}active{{/if}}" data-value="{{$v.id}}">
								{{if $v.hint}}
								<div class="tip css3">{{$v.hint}}</div>
								{{/if}}
								<div class="text">{{$v.name}}</div>
							</div>
							{{/foreach}}
						</div>
						<div class="horizontal_dropdown">
							<select class="selectpicker register" data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}" data-hide=".hide_{{$i.id}}">
								{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
								<option value="{{$v.id}}" {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}selected="selected"{{/if}}>{{$v.name}}</option>
								{{/foreach}}
							</select>
						</div>
					</div>
				</div>
				{{elseif $i.type == 'select'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b">
						<div class="select_cont">
							<select class="selectpicker register" data-width="100%" name="{{$i.id}}" id="mob_{{$i.id}}">
								<option value="" {{if !$i.selected}}selected="selected"{{/if}}>{{'order_FormSelectDefaultValue'|gL:'Select value'}}</option>
								{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
								<option rel="{{$v.hint}}" value="{{$v.id}}" {{if $v.id == $i.selected}}selected="selected"{{/if}}>{{$v.name}}</option>
								{{/foreach}}
							</select>
						</div>
						{{if $i.hint_below}}
						<div class="note">
							<p>
								{{$i.hint_below}}	
							</p>
						</div>
						{{/if}}
					</div>
				</div>
				{{elseif $i.type == 'text'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b">
						<div class="cinput css3">
							<input class="register" type="text" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
						</div>
					</div>
				</div>
				{{elseif $i.type == 'radio'}}
				<div class="field clearfix">
					<label>{{$i.name}}</label>
					<div class="option_list clearfix">
						{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
						<div class="col80">
							<div class="radio_option">
								<input type="radio" class="styled register" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$v.id}}" {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}checked="checked"{{/if}}>
								<label>{{$v.name}}</label>
							</div>
						</div>
						{{/foreach}}
					</div>
				</div>
				{{elseif $i.type == 'textarea'}}
				<div class="field clearfix">
					<label>{{$i.name}}</label>
					<div class="c"></div>
					<div class="cinput css3 mt12">
						<textarea class="register" name="{{$i.id}}" id="mob_{{$i.id}}">{{$i.selected}}</textarea>
					</div>
				</div>
				{{elseif $i.type == 'checkbox'}}
				<div class="field clearfix">
					<label>{{$i.name}}</label>
					<div class="option_list clearfix">
						{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
							{{if $smarty.foreach.orderdatavalues.first}}
							<div class="col160">
							{{/if}}
							
							<div class="check_option">
								<input type="checkbox" rel="mob_{{$i.id}}" class="styled register" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$v.id}}">
								<label>{{$v.name}}</label>
							</div>
						
							{{if $smarty.foreach.orderdatavalues.last}}
							</div>
							{{elseif $smarty.foreach.orderdatavalues.iteration % 6 == 0}}
							</div>
							<div class="col160">
							{{/if}}
						{{/foreach}}
					</div>
				</div>
				{{elseif $i.type == 'password'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b clearfix">
						<div class="col1e">
							<div class="cinput css3">
								<input class="register" type="password" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
							</div>
						</div>	
					</div>
				</div>
				{{elseif $i.type == 'phone'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b clearfix">
						<div class="col1e clearfix">
							<div class="col1f">
								<div class="cinput_nochange css3"><span id="countryCode"></span></div>
							</div>
							<div class="col2f">
								<div class="cinput css3">
									<input class="register" type="text" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/if}}
				{{/foreach}}
				<div class="field clearfix">
					<div class="col1g">
						<input type="checkbox" class="styled register" name="agreement" id="agreement" value="1" />
					</div>
					<div class="col2g clearfix">
						<label>
							{{'profile_RegisterAgreementText'|gL:'I agree with: <a href="#">Money back guarantee</a>, <a href="#">Privacy policy</a>, <a href="#">Terms of Use</a>'}}
						</label>
					</div>
					<div class="invalid_msg"></div>
				</div>
				<hr>
				<div class="authorize_cont">
					<a href="javascript:;" onclick="profile.profileRegister();" class="btn3 css3">{{'profile_ApplyButton'|gL:'Apply'}}</a>
				</div>
			</section>
		</section>
		<section class="col2a">
			<section class="side_reg css3">
				<div class="block userinput">
					{{'apply_RightBlock1'|gL:'<h3>To apply you need</h3>
					<ul>
						<li>1 Sample paper (>2750 words)</li>
						<li>Short test on grammar and vocabulary</li>
						<li>15 questions on formatting</li>
						<li>Higher education certificate</li>
					</ul>'}}
				</div>
				<div class="block userinput">
					{{'apply_RightBlock2'|gL:'<h3>Work with us</h3>
					<ul>
						<li>Work remotely, without having to leave your home</li>
						<li>Earn real money for your knowledge</li>
						<li>No shortage of orders</li>
					</ul>'}}
				</div>
				<div class="block userinput">
					{{'apply_RightBlock3'|gL:'<h3>Communication</h3>
					<ul>
						<li>Be appreciated for your work</li>
						<li>Be praised, not punished</li>
						<li>Receive friendly, helpful support in any matter</li>
					</ul>'}}
				</div>
				<div class="block userinput">
					{{'apply_RightBlock4'|gL:'<h3>Hard work always pays off</h3>
					<ul>
						<li>Receive bonuses for your high rating</li>
						<li>Become an advanced writer, and receive benefits</li>
						<li>Develop, perfect and improve your writing skills</li>
						<li>Become a valuable member of our community</li>
					</ul>'}}
				</div>
				<div class="block userinput">
					{{'apply_RightBlock5'|gL:'<h3>Flexible &amp; fair conditions</h3>
					<ul>
						<li>Fair pricing for each order</li>
						<li>Deadlines you can meet</li>
						<li>Payment options suitable</li>
						<li>Constant improvement for better results</li>
					</ul>'}}
				</div>
			</section>
		</section>
	</section>
</section>
<script type="text/javascript">

	$(function () { 
		$("#mob_29, #mob_41").change(function() {
			$('#countryCode').html("+" + $('option:selected', this).attr('rel'));
		});
	});	
</script>