<div class="popup_bg" style="block;"></div>
<div class="popup small popup_changepw" style="display:block;">
	<div class="close"></div>
	<div class="top css3">
		<div class="wrap_onlymob">
			<h2>{{'profile_EditChangePassword'|gL:'Change passoword'}}!</h2>
			<hr>
			<div class="field">
				<label>{{'profile_EditField_CurrentPassword'|gL:'Current password'}}</label>
				<div class="cinput"><input class="password" type="password" name="current_password" id="current_password"></div>
			</div>
			<div class="field">
				<label>{{'profile_EditField_NewPassword'|gL:'New password'}}</label>
				<div class="cinput"><input class="password" type="password" name="password" id="password"></div>
			</div>
			<div class="field">
				<label>{{'profile_EditField_ConfirmPassword'|gL:'Re-type password'}}</label>
				<div class="cinput"><input class="password" type="password" name="confirm_password" id="confirm_password"></div>
			</div>
		</div>
	</div>
	<div class="btm css3 clearfix">
		<div class="wrap_onlymob">
			<a href="javascript:;" onclick="profile.setNewPassword();" class="btn1">{{'profile_EditChangePassword'|gL:'Change passoword'}}</a>
		</div>
	</div>
</div>
<script>
$('.popup_bg,.popup .close').click(function(){
	$('.popup_bg,.popup').remove();
});
</script>