<div class="popup_bg" style="block;"></div>
<div class="popup small popup_changeinfo" style="display:block;">
	<div class="close"></div>
	<div class="top css3">
		<div class="wrap_onlymob">
			<h2>{{'profile_EditAdditionalInfo'|gL:'Edit additional information'}}</h2>
			<hr>
			{{foreach name=register from=$profile.data item=i key=k}}
			{{if $i.type == 'select'}}
			<div class="field">
				<label>{{$i.name}}</label>
				<select class="selectpicker extrainfo" name="{{$i.db_field}}" id="{{$i.db_field}}" data-width="100%">
					<option value="" {{if !$i.selected}}selected="selected"{{/if}}>{{'profile_FormSelectDefaultValue'|gL:'Select value'}}</option>
					{{foreach name=datavalues from=$i.values item=v key=vk}}
					<option value="{{$v.name}}" {{if $v.id == $i.selected}}selected="selected"{{/if}}>{{$v.name}}</option>
					{{/foreach}}
				</select>
			</div>
			{{elseif $i.type == 'text'}}
			<div class="field">
				<label>{{$i.name}}</label>
				<div class="cinput"><input class="extrainfo" type="text" name="{{$i.db_field}}" id="{{$i.db_field}}"></div>
			</div>
			{{/if}}
			{{/foreach}}
		</div>
	</div>
	<div class="btm css3 clearfix">
		<div class="wrap_onlymob">
			<a href="javascript:;" onclick="profile.saveExtraInfo();" class="btn1">{{'profile_EditAdditionalInfo_MakeChanges'|gL:'Make changes'}}</a>
		</div>
	</div>
</div>
<script>
$('.popup_bg,.popup .close').click(function(){
	$('.popup_bg,.popup').remove();
});
</script>