<section class="wrap clearfix">
		<section class="col1a">
			<h1>{{$web.title}}</h1>
			<h2 class="notlogged">
				{{'profile_SignIn_LeadText'|gL:'Condimentum tristique. Not a member? <a href="#">Join Papersstock</a>!'}}
			</h2>
		</section>
	</section>
	
	<section class="form_bg">
		<section class="wrap clearfix">
			<section class="col1a">
				<section class="order_form">
					<div class="field clearfix">
						<div class="col1b">
							<div class="label_cont"><div class="label_center">
								<label class="has_tip">{{'order_LoginTab_Fields_Email'|gL:'Email'}}
									{{if 'order_LoginTab_Fields_EmailHint'|gL:'Hint'}}
									<div class="tip css3">{{'order_LoginTab_Fields_EmailHint'|gL:'Hint'}}</div>
									{{/if}}
								</label>
							</div></div>
						</div>
						<div class="col2b clearfix">
							<div class="col1e">
								<div class="cinput css3">
									<input type="text" class="login" name="email" id="email" value="" />
								</div>
							</div>
						</div>
					</div>
					<div class="field clearfix">
						<div class="col1b">
							<div class="label_cont"><div class="label_center">
								<label class="has_tip">{{'order_LoginTab_Fields_Password'|gL:'Password'}}
									{{if 'order_LoginTab_Fields_PasswordHint'|gL:'Hint'}}
									<div class="tip css3">{{'order_LoginTab_Fields_PasswordHint'|gL:'Hint'}}</div>
									{{/if}}
								</label>
							</div></div>
						</div>
						<div class="col2b clearfix">
							<div class="col1e">
								<div class="cinput css3">
									<input type="password" class="login" name="password" id="password" value="" />
								</div>
							</div>
							<div class="col2e clearfix">
								<a href="#" class="forgot">{{'profile_ForgotPasswordTitle'|gL:'Forgot your password?'}}</a>
							</div>
						</div>
					</div>
					<div class="forgot_pw_block" style="display: none;">
						<hr>
						<div class="explanation">
							<h2>{{'profile_ForgotPasswordTitle'|gL:'Forgot your password?'}}</h2>
							<p>{{'profile_ForgotPasswordTitle'|gL:'Sed semper lorem vel massa porttitor tincidunt. Maecenas pretium pulvinar tellus nec tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.'}}</p>
						</div>
						<div class="info_submitted_msg css3" id="pswdOkMsg" style="display:none;">{{'profile_ForgotPasswordOkMsg'|gL:'New password has been sent to your email! <a href="#">Sign in with a new password</a>'}}</div>
						<div class="field clearfix">
							<div class="col1b">
								<div class="label_cont"><div class="label_center">
									<label>{{'order_LoginTab_Fields_Email'|gL:'Email'}}</label>
								</div></div>
							</div>
							<div class="col2b clearfix">
								<div class="col1e">
									<div class="cinput css3">
										<input type="text" id="password_reminder">
									</div>
								</div>
								<div class="col2e to_the_left clearfix">
									<a href="javascript:;" onclick="profile.passwordReminder();" class="btn4 css3">{{'order_Submit'|gL:'Submit'}}</a>
								</div>
							</div>
						</div>
					</div>
					
					<hr>
					<div class="authorize_cont">
						<a href="javascript:;" onclick="profile.profileLogin();" class="btn3 css3">{{'profile_LoginButton'|gL:'Login'}}</a>
					</div>
				</section>
			</section>
		<section class="col2a">
			<section class="side_safety css3">
				{{if $menu.ORDERS_RIGHT|@count > 0}}	
						{{section name=item loop=$menu.ORDERS_RIGHT}}
						<div><a href="{{$menu.ORDERS_RIGHT[item].url}}" title="{{$menu.ORDERS_RIGHT[item].title}}">{{$menu.ORDERS_RIGHT[item].title}}</a></div>	
						{{/section}}
					{{/if}}
			</section>
			<section class="small_stats clearfix">
				<img alt="{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}" src="{{$AD_IMAGE_FOLDER}}_stats.png">
				<div class="nr">{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}</div>
				<div class="text">{{'news_OurLiveStats_OrdersDelivered_Title'|gL:'Orders<br>delivered'}}</div>
			</section>
		</section>
	</section>
</section>
<script type="text/javascript">

	$(function () { 

		$('#email, #password').keyup(function(e){
			if (!e) var e = window.event;
			var keyCode = e.keyCode ? e.keyCode : e.which ? e.which : null;
			if (keyCode == 13) {
				profile.profileLogin();
			}
			return false;	
		});
		
		$('#password_reminder').keyup(function(e){
			if (!e) var e = window.event;
			var keyCode = e.keyCode ? e.keyCode : e.which ? e.which : null;
			if (keyCode == 13) {
				profile.passwordReminder();
			}
			return false;	
		});

		
	});	
</script>