<section class="wrap clearfix">
	<section class="col1a">
		<h1>{{$web.title}}</h1>
		<h2 class="notlogged">{{'profile_SignUp_LeadText'|gL:'Condimentum tristique  get sollicitudin. Already a member? <a href="#">Sign in</a>'}}</h2>
	</section>
</section>

<section class="form_bg">
	<section class="wrap clearfix">
		<section class="col1a">
			<section class="order_form">
				{{foreach name=register from=$profile.data item=i key=k}}
				{{if $i.type == 'tabselect'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b">
						<div class="horizontal_select clearfix" data-linkto="#mob_{{$i.id}}" id="dt_{{$i.id}}">
							{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
							<div class="option has_tip {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}active{{/if}}" data-value="{{$v.id}}">
								{{if $v.hint}}
								<div class="tip css3">{{$v.hint}}</div>
								{{/if}}
								<div class="text">{{$v.name}}</div>
							</div>
							{{/foreach}}
						</div>
						<div class="horizontal_dropdown">
							<select class="selectpicker register" data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}" data-hide=".hide_{{$i.id}}">
								{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
								<option value="{{$v.id}}" {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}selected="selected"{{/if}}>{{$v.name}}</option>
								{{/foreach}}
							</select>
						</div>
					</div>
				</div>
				{{elseif $i.type == 'select'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b">
						<div class="select_cont">
							<select class="selectpicker register" data-width="100%" name="{{$i.id}}" id="mob_{{$i.id}}">
								<option value="" {{if !$i.selected}}selected="selected"{{/if}}>{{'order_FormSelectDefaultValue'|gL:'Select value'}}</option>
								{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
								<option rel="{{$v.hint}}" value="{{$v.id}}" {{if $v.id == $i.selected}}selected="selected"{{/if}}>{{$v.name}}</option>
								{{/foreach}}
							</select>
						</div>
						{{if $i.hint_below}}
						<div class="note">
							<p>
								{{$i.hint_below}}	
							</p>
						</div>
						{{/if}}
					</div>
				</div>
				{{elseif $i.type == 'text'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b">
						<div class="cinput css3">
							<input class="register" type="text" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
						</div>
					</div>
				</div>
				{{elseif $i.type == 'pages'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b clearfix">
						<div class="col1c">
							<div class="cinput css3">
								<input type="text" name="{{$i.id}}" id="page_{{$i.id}}" value="{{$i.selected}}">
							</div>
						</div>
						<div class="col2c clearfix">
							<div class="col1d">
								<div class="horizontal_select clearfix" data-linkto="#mob_{{$i.id}}" id="dt_{{$i.id}}">
									{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
									<div class="option has_tip {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}active{{/if}}" data-value="{{$v.id}}">
										{{if $v.hint}}
										<div class="tip css3">{{$v.hint}}</div>
										{{/if}}
										<div class="text">{{$v.name}}</div>
									</div>
									{{/foreach}}
								</div>
								<div class="horizontal_dropdown">
									<select class="selectpicker" data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}" data-hide=".hide_{{$i.id}}">
										{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
										<option value="{{$v.id}}" data-show=".show_{{$i.id}}_{{$v.id}}" {{if $v.id == $i.selected || (!$i.selected && $smarty.foreach.orderdatavalues.iteration == 1)}}selected="selected"{{/if}}>{{$v.name}}</option>
										{{/foreach}}
									</select>
								</div>
							</div>
							<div class="col2d">
								{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
								{{if $v.hint}}
								<div class="note2 hide_{{$i.id}} show_{{$i.id}}_{{$v.id}}" {{if $smarty.foreach.orderdatavalues.iteration != 1}}style="display:none;"{{/if}}>
									{{$v.hint}}
								</div>
								{{/if}}
								{{/foreach}}
							</div>
						</div>
					</div>
				</div>
				{{elseif $i.type == 'hourdate'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b clearfix select_group" id="dt_{{$i.id}}">
						<div class="col1c">
							<div class="special1 css3 hours">{{'orders_FormsFieldHours'|gL:'Hours'}}</div>
							<div class="horizontal_select flat_top clearfix" data-linkto="#mob_{{$i.id}}">
								<div class="option has_tip" data-value="8h">
									<div class="tip css3">8 {{'orders_FormsFieldHours'|gL:'Hours'}}</div>
									<div class="text">8</div>
								</div>
								<div class="option has_tip" data-value="24h">
									<div class="tip css3">24 {{'orders_FormsFieldHours'|gL:'Hours'}}</div>
									<div class="text">24</div>
								</div>
							</div>
						</div>
						<div class="col2c">
							<div class="special1 css3 days">{{'orders_FormsFieldDays'|gL:'Days'}}</div>
							<div class="horizontal_select flat_top clearfix" data-linkto="#mob_{{$i.id}}">
								<div class="option has_tip active" data-value="2d">
									<div class="tip css3">2 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
									<div class="text">2</div>
								</div>
								<div class="option has_tip" data-value="3d">
									<div class="tip css3">3 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
									<div class="text">3</div>
								</div>
								<div class="option has_tip" data-value="6d">
									<div class="tip css3">6 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
									<div class="text">6</div>
								</div>
								<div class="option has_tip" data-value="10d">
									<div class="tip css3">10 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
									<div class="text">10</div>
								</div>
								<div class="option has_tip" data-value="14d">
									<div class="tip css3">14 {{'orders_FormsFieldDays'|gL:'Days'}}</div>
									<div class="text">14</div>
								</div>
							</div>
						</div>
						<div class="horizontal_dropdown">
							<select class="selectpicker" data-width="100%" data-linkto="#dt_{{$i.id}}" id="mob_{{$i.id}}">
								<option value="8h">8 {{'orders_FormsFieldHours'|gL:'Hours'}}</option>
								<option value="24h">24 {{'orders_FormsFieldHours'|gL:'Hours'}}</option>
								<option value="2d" selected="selected">2 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
								<option value="3d">3 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
								<option value="6d">6 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
								<option value="10d">10 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
								<option value="14d">14 {{'orders_FormsFieldDays'|gL:'Days'}}</option>
							</select>
						</div>
						<div class="c"></div>
						{{if $i.hint_over}}
						<div class="note3">
							{{$i.hint_below}}	
						</div>
						{{/if}}
					</div>
				</div>
				{{elseif $i.type == 'extra'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b">
						<div class="checkbox_block css3 clearfix">
							{{foreach name=orderdatavalues from=$i.values item=v key=vk}}
							<div class="option">
								<div class="checkbox"></div>
								<div class="text">
									<span class="has_tip">{{$v.name}}
										{{if $v.hint}}
										<span class="tip css3">{{$v.hint}}</span>
										{{/if}}
									</span>
								</div>
								<div class="price">${{$v.price}}</div>
							</div>
							{{/foreach}}
						</div>
					</div>
				</div>
				{{elseif $i.type == 'password'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b clearfix">
						<div class="col1e">
							<div class="cinput css3">
								<input class="register" type="password" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
							</div>
						</div>	
					</div>
				</div>
				{{elseif $i.type == 'phone'}}
				<div class="field clearfix">
					<div class="col1b">
						<div class="label_cont"><div class="label_center">
							<label class="has_tip">
								{{$i.name}}
								{{if $i.hint_over}}
								<div class="tip css3">
									{{$i.hint_over}}
								</div>
								{{/if}}
							</label>
						</div></div>
					</div>
					<div class="col2b clearfix">
						<div class="col1e clearfix">
							<div class="col1f">
								<div class="cinput_nochange css3"><span id="countryCode"></span></div>
							</div>
							<div class="col2f">
								<div class="cinput css3">
									<input class="register" type="text" name="{{$i.id}}" id="mob_{{$i.id}}" value="{{$i.selected}}">
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/if}}
				{{/foreach}}
				<div class="field clearfix">
					<div class="col1g">
						<input type="checkbox" class="styled register" name="agreement" id="agreement" value="1" />
					</div>
					<div class="col2g clearfix">
						<label>
							{{'profile_RegisterAgreementText'|gL:'I agree with: <a href="#">Money back guarantee</a>, <a href="#">Privacy policy</a>, <a href="#">Terms of Use</a>'}}
						</label>
					</div>
					<div class="invalid_msg"></div>
				</div>
				<hr>
				<div class="authorize_cont">
					<a href="javascript:;" onclick="profile.profileRegister();" class="btn3 css3">{{'profile_RegisterButton'|gL:'Register'}}</a>
				</div>
			</section>
		</section>
		<section class="col2a">
			<section class="side_safety css3">
				{{if $menu.ORDERS_RIGHT|@count > 0}}	
						{{section name=item loop=$menu.ORDERS_RIGHT}}
						<div><a href="{{$menu.ORDERS_RIGHT[item].url}}" title="{{$menu.ORDERS_RIGHT[item].title}}">{{$menu.ORDERS_RIGHT[item].title}}</a></div>	
						{{/section}}
					{{/if}}
			</section>
			<section class="small_stats clearfix">
				<img alt="{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}" src="{{$AD_IMAGE_FOLDER}}_stats.png">
				<div class="nr">{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}</div>
				<div class="text">{{'news_OurLiveStats_OrdersDelivered_Title'|gL:'Orders<br>delivered'}}</div>
			</section>
		</section>
	</section>
</section>

<script type="text/javascript">

	$(function () { 

		$('.order_form').keyup(function(e){
			if (!e) var e = window.event;
			var keyCode = e.keyCode ? e.keyCode : e.which ? e.which : null;
			if (keyCode == 13) {
				profile.profileRegister();
			}
			return false;	
		});

		$("#mob_29, #mob_41").change(function() {
			$('#countryCode').html("+" + $('option:selected', this).attr('rel'));
		});
	});	
</script>