<section class="green_title order">
	<section class="wrap">
		<h1>{{$web.title}}</h1>
	</section>
</section>

{{if $userData.status == 2}}
<div class="sp40-40-0"></div>
<section class="wrap mob_nowrap clearfix">
	<section class="col1a">
		<div class="message_green">
			<div class="wrap_onlymob">
				<h2>{{'writers_TestsApprovedTitle'|gL:'Congratulations, you are accepted!'}}</h2>
				{{'writers_TestsApprovedTitle'|gL:'<p>Mauris lacus enim, imperdiet at nisi non, porttitor hendrerit massa. Donec condimentum ligula eros, ut aliquet risus fringilla afusce dapibus quam eu adipiscing tempus.</p>'}}
			</div>
		</div>
	</section>
</section>
{{/if}}

<div class="sp32-32-16"></div>
<section class="wrap clearfix">
	<section class="col1a">
		<p>{{'profile_TestsText'|gL:'Text text text. Tests page text.'}}</p>
	</section>
</section>
<div class="sp24-24-16"></div>

<section class="wrap clearfix">
	<section class="col1a">
		
		{{if $userData.status == 3}}
		<div class="message_red">
			<div class="wrap_onlymob">
				<h2>{{'writers_TestsDeniedTitle'|gL:'Sorry, but your application are denied!'}}</h2>
				{{'writers_TestsDeniedLead'|gL:'<p>Mauris lacus enim, imperdiet at nisi non, porttitor hendrerit massa. Donec condimentum ligula eros, ut aliquet risus fringilla afusce dapibus quam eu adipiscing tempus.</p>
				<p>Pellentesque sit amet varius ante. Integer aliquam felis ut commodo sagittis. Suspendisse tincidunt dictum tellus, id facilisis mauris tempus sed.</p>
				<p>In eu rutrum ante, sit amet dapibus mi. Suspendisse dapibus blandit vehicula.</p>
				<p>Quisque aliquam augue consectetur ante tincidunt sollicitudin. Curabitur dapibus felis consectetur tellus scelerisque vulputate.</p>'}}
			</div>
		</div>
		{{else}}
	
			{{foreach from=$tests.tests item=i key=k name=tests}}
			{{assign var=ID value=$i.id}}
			<div class="test_block">
				<div class="test_cont">
					<div class="title">{{$i.title}}</div>
					<div class="inner clearfix">
						<div class="col_l">
							{{$i.description}}
						</div>
						<div class="col_r clearfix" id="test{{$i.id}}">
						
						{{if $tests.userTests[$ID].filename}}
							<div class="file doc">
								<a href="javascript:;" onclick="profile.removeTest({{$i.id}});" class="remove"></a>
								<a href="/download.php?file=tests/results/{{$tests.userTests[$ID].filename}}" class="link">{{$tests.userTests[$ID].filename}}</a>
							</div>
						{{else}}
						
								{{if $i.type == 2}}
						
								<a href="javascript:;" id="uploadButton_{{$i.id}}" class="btn1 upload" title="{{'profile_Upload'|gL:'Upload'}}">{{'profile_Upload'|gL:'Upload'}}</a>
								
								{{else}}
								
									{{if $tests.userTests|@is_array && $i.id|@array_key_exists:$tests.userTests}}
									<a  href="javascript:;" id="uploadButton_{{$i.id}}" class="btn1 upload" title="{{'profile_Upload'|gL:'Upload'}}">{{'profile_Upload'|gL:'Upload'}}</a>
									<a href="javascript:;" onclick="return profile.startTest({{$i.id}}, '/download.php?file=tests/{{$i.filename}}');" class="btn1" title="{{'profile_StartNow'|gL:'Start now'}}">{{'profile_StartNow'|gL:'Start now'}}</a>
									{{else}}
									<a  href="javascript:;" id="uploadButton_{{$i.id}}" class="btn5 upload" title="{{'profile_Upload'|gL:'Upload'}}">{{'profile_Upload'|gL:'Upload'}}</a>
									<a href="javascript:;" onclick="return profile.startTest({{$i.id}}, '/download.php?file=tests/{{$i.filename}}');" class="btn1" title="{{'profile_StartNow'|gL:'Start now'}}">{{'profile_StartNow'|gL:'Start now'}}</a>
									{{/if}}
								
								{{/if}}
								
								<input type="text" value="" id="uploadButton_{{$i.id}}File" style="display:none;" onchange="profile.uploadTest({{$i.id}});">
								{{if $i.type == 2 || $tests.userTests|@is_array && $i.id|@array_key_exists:$tests.userTests}}
								<script type="text/javascript">
			       
								$(document).ready(function() {
								
									loadUploadButton('tests/results/', 'uploadButton_{{$i.id}}');
								
								});
								
								</script>
								{{/if}}
							{{/if}}
						
						
	
						</div>
					</div>
				</div>
			
			{{if $i.comment}}
			<div class="revision">
				<div class="title">{{'writers_RevisionComment'|gL:'Revision comment:'}}</div>
				<div class="text">{{$i.comment}}</div>
			</div>
			{{/if}}
			{{if $i.header}}
			<div class="comment">
				<p>{{$i.header}}</p>
			</div>
			{{/if}}
			</div>
			{{/foreach}}
		
		{{/if}}
	</section>
	<section class="col2a">
		<section class="side_safety css3">
			{{if $menu.ORDERS_RIGHT|@count > 0}}	
					{{section name=item loop=$menu.ORDERS_RIGHT}}
					<div><a href="{{$menu.ORDERS_RIGHT[item].url}}" title="{{$menu.ORDERS_RIGHT[item].title}}">{{$menu.ORDERS_RIGHT[item].title}}</a></div>	
					{{/section}}
				{{/if}}
		</section>
		<section class="small_stats clearfix">
			<img alt="{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}" src="{{$AD_IMAGE_FOLDER}}_stats.png">
			<div class="nr">{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}</div>
			<div class="text">{{'news_OurLiveStats_OrdersDelivered_Title'|gL:'Orders<br>delivered'}}</div>
		</section>
	</section>
</section>