<section class="green_title order">
	<section class="wrap">
		<h1>{{$web.title}}</h1>
	</section>
</section>
<div class="sp60-40-0"></div>

<section class="wrap mob_nowrap clearfix mob_verification_bg">
	<section class="col1a">
		<div class="message_green p2" {{if $userData.verified != ''}} style="display:none;"{{/if}}>
			<div class="wrap_onlymob">
				<h2>{{'writers_VerificationOkTitle'|gL:'Congratulations!'}}</h2>
				{{'writers_VerificationOkLead'|gL:'<p>Your email has beed successfully verified! Donec condimentum ligula eros, ut aliquet risus fringilla afusce dapibus quam eu adipiscing tempus.</p>'}}
			</div>
		</div>
		<div class="verification" {{if $userData.verified == ''}} style="display:none;"{{/if}}>
			<div class="wrap_onlymob">
				<h2>{{'writers_VerificationTitle'|gL:'Please verify your contact information'}}</h2>
				{{'writers_VerificationLead'|gL:'
				<p>Mauris lacus enim, imperdiet at nisi non, porttitor hendrerit massa. Donec condimentum ligula eros, ut aliquet risus fringilla afusce dapibus quam eu adipiscing tempus.</p>
				<p>Pellentesque sit amet varius ante. Integer aliquam felis ut commodo sagittis. Suspendisse tincidunt dictum tellus, id facilisis mauris tempus sed.</p>'}}
				<hr>
				<h2>{{'writers_EnterVerificationCode'|gL:'Enter your verification code'}}</h2>
				<div class="field clearfix">
					<div class="col1">
						<div class="cinput">
							<input type="text" id="verified">
						</div>
					</div>
					<div class="col2">
						<a href="javascript:;" onclick="profile.verify();" class="btn1" title="{{'submit'|gL:'Submit'}}">{{'submit'|gL:'Submit'}}</a>
					</div>
					<div class="col3">
						<div class="resend">
							<a href="javascript:;" onclick="profile.resendVerify();">{{'writers_resendVerificationCode'|gL:'Resend verification code'}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="col2a">
		<section class="side_safety css3">
			{{if $menu.ORDERS_RIGHT|@count > 0}}	
					{{section name=item loop=$menu.ORDERS_RIGHT}}
					<div><a href="{{$menu.ORDERS_RIGHT[item].url}}" title="{{$menu.ORDERS_RIGHT[item].title}}">{{$menu.ORDERS_RIGHT[item].title}}</a></div>	
					{{/section}}
				{{/if}}
		</section>
		<section class="small_stats clearfix">
			<img alt="{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}" src="{{$AD_IMAGE_FOLDER}}_stats.png">
			<div class="nr">{{'startpage_OurLiveStats_OrdersDelivered_Number'|gL:'150'}}</div>
			<div class="text">{{'news_OurLiveStats_OrdersDelivered_Title'|gL:'Orders<br>delivered'}}</div>
		</section>
	</section>
</section>