/*Reset*/html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}article,aside,figure,footer,header,hgroup,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}body{font-size:16px;line-height:1.22;}table{font-size:inherit;}select,input,textarea{font:99% sans-serif;}pre,code,kbd,samp{font-family:monospace,sans-serif;}h1,h2,h3,h4,h5,h6{font-weight:lighter;}html{-webkit-font-smoothing:antialiased;}a:hover,a:active{outline:none;}a,a:active,a:visited{color:#3572B0;text-decoration:none;}a:hover{color:#3572B0;}small{font-size:85%;}strong,th{font-weight:bold;}td,td img{vertical-align:top;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}input[type="radio"]{vertical-align:text-bottom;}input[type="checkbox"]{vertical-align:bottom;}.ie6 input{vertical-align:text-bottom;}label,input[type=button],input[type=submit],button{cursor:pointer;}html{overflow-y:scroll;}button{ width:auto;overflow:visible;}.alignleft{float:left;margin:0px 20px 10px 0px;}.alignright{float:right;margin:0px 0px 10px 20px;}.clearfix:after,.c:after,.c{content:" ";display:block;height:0;clear:both;visibility:hidden;}.clearfix,.c{display:inline-block;}.clearfix,.c{display:block;}input:focus,textarea:focus{outline:none;}ul,ul li{display:block;list-style:none;}a:focus,a:focus *{outline:none;}.css3{position:relative;}/**,*:before,*:after{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}*/
/*Shortcuts*/
._rel{position:relative;}
._abs{position:absolute;}
._sta{position:static;}
._fix{position:fixed;}
._blo{display:block;}
._inb{display:inline-block;}
._inl{display:inline;}
._none{display:none;}
._left{float:left;}
._right{float:right;}
._b{font-weight:700;}
._m{font-weight:500;}
._n{font-weight:400;}
._l{font-weight:300;}
._i{font-style:italic;}
._up{text-transform:uppercase;}
._upx{text-transform:none;}
._lsx{list-style:none;}
._u{text-decoration:underline;a{text-decoration:underline;}}
._xu{text-decoration:none;a{text-decoration:none;}}
._m0p0{margin:0; padding:0;}
._bg(@img:'sprite.png',@col:transparent,@rep:no-repeat,@x:0,@y:0){@url:%("../img/design/%s",@img);background-image:url(@url);background-color:@col;background-repeat:@rep;background-position:@x @y;}
._bgc(@c:transparent){background-color:@c;}
._bgp(@x:0,@y:0){background-position:@x @y;}
._ovh{overflow:hidden;}
._ovv{overflow:visible;}
._ova{overflow:auto;}
._all{text-align:left;}
._alc{text-align:center;}
._alr{text-align:right;}
._vat{vertical-align:top;}
._vam{vertical-align:middle;}
._vab{vertical-align:bottom;}
._text(@s:14px,@h:18px){font-size:@s;line-height:@h;}
._wh(@w:auto,@h:auto){width:@w;height:@h;}
._box(@x:0px,@y:0px,@blur:1px,@color:#000){box-shadow:@arguments;-moz-box-shadow:@arguments;-webkit-box-shadow:@arguments;}
._sprite(@x:0, @y:0){._bg();._bgp(@x,@y);}
._cont{content:'';}
._ti{text-indent:-9999px;}
._rad(@tl:0,@tr:0,@br:0,@bl:0){border-radius:@arguments;-webkit-border-radius:@arguments;}
._collapse{border-collapse:collapse;}
._separate{border-collapse:separate;}
._wrapx{white-space:nowrap;}
._nosel{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}

/*Fonts*/

._arial{font-family:Arial,Helvetica,sans-serif;}
._helve{font-family:Helvetica,Arial,sans-serif;}
._ptsans{font-family:'PT Sans',Arial,Helvetica,sans-serif;}
._ptsansB{font-family:'PT Sans',Arial,Helvetica,sans-serif;._b;}
._ptsansI{font-family:'PT Sans',Arial,Helvetica,sans-serif;._i;}

/*Custom**/
/*******
/*****
/***
/**
/*
/*
*/

.btn-group{._rel;._inb;._vat;
	.btn{._blo;padding:11px 24px 7px 10px;margin:3px 3px 0 3px;._text(15px,20px);._n;._ptsans;._bgc(#ffffff);cursor:pointer;white-space:nowrap;border:1px solid #bdc3c4;._rad(4px,4px,4px,4px);._nosel;
		.caret{._abs;top:50%;right:9px;margin-top:-2px;._wh(9px,5px);._sprite(-120px,-20px);}
		&:focus{outline:0;}
	}
	.dropdown-menu{._abs;top:100%;left:-3px;right:-3px;z-index:1000;._none;min-width:160px;margin:-1px 0 0;._text(15px,20px);._bgc(#ffffff);border:4px solid #cccccc;border-top:0;._rad(0,0,8px,8px);
		>li{
			>dt{._b;border-top:1px solid #bdc3c4;padding:11px 10px 7px 20px;color:#000000;}
			>a{._blo;padding:11px 10px 7px;border-top:1px solid #bdc3c4;color:#000000;white-space:nowrap;
				&:hover,&:focus{._bgc(#eeeeee);}
			}
			&.empty{._none;}
		}
	}
	&.open{border:3px solid #cccccc;border-bottom:0;._rad(8px,8px,0,0);
		.btn{margin:0 0 1px 0;border-bottom:0;._rad(4px,4px,0,0);
			.caret{margin-top:-3px;right:12px;._bgp(-120px,-25px);}
		}
		.dropdown-menu{._blo;}
	}
	&.wrong .btn{border-color:#a8324b;}
}

.bootstrap-select.btn-group:not(.input-group-btn),.bootstrap-select.btn-group[class*="span"]{float:none;display:inline-block;margin-bottom:10px;margin-left:0}
.form-search .bootstrap-select.btn-group,.form-inline .bootstrap-select.btn-group,.form-horizontal .bootstrap-select.btn-group{margin-bottom:0}
.bootstrap-select.form-control{margin-bottom:0;padding:0;border:0}
.bootstrap-select.btn-group.pull-right,.bootstrap-select.btn-group[class*="span"].pull-right,.row-fluid .bootstrap-select.btn-group[class*="span"].pull-right{float:right}
.input-append .bootstrap-select.btn-group{margin-left:-1px}
.input-prepend .bootstrap-select.btn-group{margin-right:-1px}
.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:220px}


.bootstrap-select.form-control:not([class*="span"]){width:100%}
.bootstrap-select>.btn{width:100%;padding-right:25px}
.bootstrap-select.show-menu-arrow.open>.btn{z-index:2051}

.bootstrap-select.btn-group .btn .filter-option{display:inline-block;overflow:hidden;width:100%;float:left;text-align:left}

.bootstrap-select.btn-group .dropdown-menu{min-width:100%;z-index:2000;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}


.bootstrap-select.btn-group .dropdown-menu.inner{position:static;border:0;padding:0;margin:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}

.bootstrap-select.btn-group .div-contain{overflow:hidden}
.bootstrap-select.btn-group .dropdown-menu li{position:relative}
.bootstrap-select.btn-group .dropdown-menu li>a{cursor:pointer}


input[type=checkbox].styled,input[type=radio].styled{._none;}
span.styled.done{._left;._wh(24px,24px);cursor:pointer;._bg('radio.png');
	&.checkbox{._bg('checkbox.png');}
}


html,body{height:100%;._ptsans;}
#page{min-height:100%;}
header{}
.wrap{width:940px;margin:0 auto;}

.btn1{._inb;color:#41006e;._bgc(#6c00b8);border-bottom:3px solid #6c00b8;._rel;._alc;padding:13px 0px 4px 0px;._b;._rad(3px,3px,3px,3px);
	.overshad{._abs;top:12px;left:0px;right:0px;._alc;color:#ffffff;._b;}
	&:hover{color:#3b0065;._bgc(#54008f);border-color:#36005c;
		.overshad{color:#ffffff;}
	}
}

.btn2{._inb;color:#3c494c;._bg('g50.png',transparent,repeat);._rel;._alc;padding:13px 0px 8px 0px;._rad(3px,3px,3px,3px);
	.overshad{._abs;top:12px;left:0px;right:0px;._alc;color:#ffffff;}
	&:hover{color:#374245;background:#5b6e73;border-bottom:3px solid #404f52;padding-bottom:5px;
		.overshad{color:#ffffff;}
	}
}

.btn3{._inb;._text(24px,30px);._b;._alc;color:#41006e;._bgc(#6c00b8);border-bottom:3px solid #6c00b8;padding:18px 0 9px 0;._rad(3px,3px,3px,3px);._rel;
	.overshad{._abs;top:17px;left:0px;right:0px;._alc;color:#ffffff;}
	&:hover{color:#3b0065;border-color:#36005c;._bgc(#6300a8);
		.overshad{color:#ffffff;}
	}
}

.btn4{._inb;color:#41006e;._bgc(#5f7f9a);border-bottom:3px solid #5f7f9a;._rel;._alc;padding:13px 0px 4px 0px;._b;._rad(3px,3px,3px,3px);
	.overshad{._abs;top:12px;left:0px;right:0px;._alc;color:#ffffff;._b;}
	&:hover{color:#314453;._bgc(#52718b);border-color:#344d62;
		.overshad{color:#ffffff;}
	}
	&.thin{._n;
		.overshad{._n;}
	}
}

.btn5{._inb;color:#7a7a7a;._bgc(#cbcbcb);border-bottom:3px solid #cbcbcb;._rel;._alc;padding:13px 0px 4px 0px;._b;._rad(3px,3px,3px,3px);
	.overshad{._abs;top:12px;left:0px;right:0px;._alc;color:#ffffff;._b;}
	&:hover{color:#747474;._bgc(#c1c1c1);border-color:#8d8d8d;
		.overshad{color:#ffffff;}
	}
}

.btn6{._blo;._text(15px,18px);color:#997700;._b;._bgc(#ffc600);._rel;._alc;padding:9px 0px 3px 0px;._rad(3px,3px,3px,3px);
	.overshad{._abs;top:8px;left:0px;right:0px;._alc;color:#ffffff;}
	&:hover{color:#8d6d00;._bgc(#ffba00);
		.overshad{color:#ffffff;}
	}
	&.purple{color:#41006e;._bgc(#6c00b8);
		&:hover{color:#3b0065;._bgc(#54008f);}
	}
}

header{._abs;left:0;top:0;right:0;z-index:300;._bgc(#5f7f9a);
	&.not_startpage{._rel;left:auto;top:auto;right:auto;
		.wrap{padding-bottom:10px;}
	}
	.wrap{padding-top:11px;padding-bottom:11px;
		.quicklinks{._right;
			.btn1,.btn2{._left;width:110px;margin-left:10px;}
		}
		.logon{._right;._text(15px,15px);
			a,.item{._left;._rel;padding:14px 12px 11px;color:#ffffff;._rad(3px,3px,3px,3px);
				&.mr{margin-right:12px;}
				&.ml{margin-left:12px;}
				&.up,&.line{margin-left:1px;
					&:before{._cont;._abs;top:10px;left:-1px;bottom:10px;width:1px;._bg('w20.png',transparent,repeat);}
					&.ml{margin-left:13px;
						&:before{left:-13px;}
					}
				}
				&.up{color:#ffc600;}
				&.active{
					&:after{._cont;._abs;top:34px;height:5px;left:12px;right:12px;._bg('menu_active.png',transparent,no-repeat,50%,0);}
				}
			}
			a:hover{._bg('w10.png',transparent,repeat);}
			.logout{._left;padding:11px 12px 9px;margin-right:-12px;._wh(20px,20px);._bg('logout.png',transparent,no-repeat,12px,11px);
				&:hover{._bg('logout.png',transparent,no-repeat,12px,11px);}
			}
			.logged_cont{
				&.logged1{._left;height:40px;padding:0 16px 0 0;border-right:1px solid #6f8ca4;}
				&.logged2{._left;height:37px;padding:3px 16px 0;border-right:1px solid #6f8ca4;}
				&.logged3{._left;height:37px;padding:3px 16px 0;border-right:1px solid #6f8ca4;margin-right:5px;}
				.line1{margin-top:1px;height:18px;}
				.line2{margin-top:1px;}
				.name{._text(15px,18px);color:#ffffff;._inl;}
				.id{._text(11px,14px);color:#3c556b;margin-left:5px;._inl;}
				.writer{._text(11px,14px);color:#ffffff;._b;._inb;._bgc(#7691a7);padding:3px 6px 1px;._rad(3px,3px,3px,3px);}
				.status{._text(11px,14px);color:#ffffff;._b;._inb;._bgc(#34bf04);padding:3px 6px 1px;._rad(3px,3px,3px,3px);
					&.rev{._bgc(#ffae00);}
					&.den{._bgc(#a8324b);}
					&.view{._bgc(#6c00b8);}
				}
				.caption{._text(11px,14px);color:#3c556b;._alc;}
				.number{._text(15px,20px);margin-top:3px;color:#ffffff;._b;._alc;}
			}
		}
	}
	#menu1{._left;
		.logo{._left;
			img{._blo;padding:9px 0;}
		}
		.menu{._left;._text(15px,18px);margin:0 0 0 4px;
			>li{._left;margin:0 0 0 2px;._rel;
				>a{._blo;padding:14px 12px 8px;._rad(3px,3px,3px,3px);color:#ffffff;}
				&.active{
					&:after{._cont;._abs;top:34px;height:5px;left:12px;right:12px;._bg('menu_active.png',transparent,no-repeat,50%,0);}
				}
				&:hover{
					>a{._bg('w10.png',transparent,repeat);}
				}
				.submenu{._none;._abs;padding:3px;._bg('b20.png',transparent,repeat);top:100%;left:0;width:160px;margin:3px 0 0 -3px;._rad(6px,6px,6px,6px);
					>li{
						>a{._blo;border:1px solid #bdc3c4;border-top:0;._bgc(#ffffff);color:#000000;padding:12px 9px 7px 9px;
							&:hover{._bgc(#eeeeee);}
						}
						&.first{
							>a{border-top:1px solid #bdc3c4;}
						}
					}
				}
				&.open{
					>a{._bg('w10.png',transparent,repeat);}
					.submenu{._blo;}
				}
			}
		}
	}
	#menu2{._none;._left;._wh(285px,40px);._rel;._bg('empty.png',transparent,repeat);
		.trigger{._wh(100%,100%);cursor:pointer;
			img{._left;margin-top:10px;}
			&:before{._cont;._abs;top:13px;left:160px;._wh(20px,15px);._sprite(-140px,0);}
		}
		.menu{._none;._abs;z-index:100;top:100%;left:0;margin:10px 0 0 -34px;._text(15px,18px);width:320px;
			>li{
				>a{._blo;._rel;._bgc(#5f7f9a);border-top:1px solid #81959b;color:#ffffff;padding:18px 45px 13px 20px;
					&:hover{._bgc(#1b364c);}
				}
				&.active{
					>a{._bgc(#1b364c);}
				}
				&.has_submenu>a:before{._cont;._abs;top:22px;right:23px;._wh(13px,7px);._sprite(-125px,-110px);}
				.submenu{._none;
					>li{
						>a{._blo;._bgc(#456581);border-top:1px solid #81959b;color:#ffffff;padding:18px 45px 13px 40px;
							&:hover{._bgc(#1b364c);}
						}
					}
				}
				&.open,&.active.has_submenu{
					>a:before{._bgp(-125px,-117px);}
					.submenu{._blo;}
				}
			}
		}
		&.open{
			.trigger{
				&:before{._bgp(-140px,-15px);}
			}
			.menu{._blo;}
		}
	}
	#menu3{._none;height:50px;._rel;._bg('empty.png',transparent,repeat);
		.wrap{padding:0;._rel;}
		.trigger{._wh(100%,100%);cursor:pointer;._bgc(#5f7f9a);._rel;
			.wrap{height:100%;
				img{._left;margin-top:14px;}
				&:before{._cont;._abs;top:18px;right:20px;._wh(20px,15px);._sprite(-140px,0);}
			}
		}
		.menu{._none;._abs;z-index:100;top:100%;left:0;right:0;._text(15px,18px);
			>li{
				>a{._blo;._rel;._bgc(#5f7f9a);border-top:1px solid #81959b;color:#ffffff;
					.wrap{padding:18px 45px 13px 0px;width:235px;}
					&:hover{._bgc(#1b364c);}
				}
				&.active{
					>a{._bgc(#1b364c);}
				}
				&.has_submenu>a>.wrap:before{._cont;._abs;top:22px;right:23px;._wh(13px,7px);._sprite(-125px,-110px);}
				.submenu{._none;
					>li{
						>a{._blo;._bgc(#456581);border-top:1px solid #81959b;color:#ffffff;
							.wrap{padding:18px 45px 13px 20px;width:215px;}
							&:hover{._bgc(#1b364c);}
						}
					}
				}
				&.open{
					>a>.wrap:before{._bgp(-125px,-117px);}
					.submenu{._blo;}
				}
			}
		}
		&.open{
			.trigger .wrap:before{._bgp(-140px,-15px);}
			.menu{._blo;}
		}
		.logon{
			.left,.right{._left;width:50%;border-top:1px solid #81959b;border-bottom:1px solid #81959b;._bgc(#5f7f9a);padding:18px 0 13px;}
			.left{color:#ffffff;
				div{._right;width:120px;margin-right:20px;._alc;}
			}
			.right{border-left:1px solid #81959b;margin-left:-1px;color:#ffc600;
				div{._left;width:120px;margin-left:20px;._alc;}
			}
		}
		.quicklinks{._bgc(#5f7f9a);height:80px;padding:20px 0 0 0;
			.btn1,.btn2{width:130px;._left;}
			.btn1{margin-left:20px;}
		}
		.contact{height:140px;._bgc(#5f7f9a);._rel;
			.button{
				.icon{._abs;top:0;height:40px;._bgc(#5f7f9a);
					&:before{._cont;._abs;top:50%;margin:-12px 0 0 0;._wh(25px,25px);._sprite(-100px,-70px);}
				}
				&.tel .icon{left:0;right:50%;margin-right:54px;
					&:before{right:40px;}
				}
				&.msg .icon{left:50%;margin-left:-54px;width:106px;border-left:1px solid #81959b;border-right:1px solid #81959b;
					&:before{._bgp(-100px,-95px);left:50%;margin-left:-13px;}
				}
				&.chat .icon{left:50%;right:0;margin-left:54px;
					&:before{._bgp(-100px,-120px);left:40px;}
				}
				.sub{._none;._abs;top:40px;left:0;right:0;height:100px;._bgc(#456581);}
				&.open{
					.icon{._bgc(#456581);}
					.sub{._blo;}
				}
				.country{._left;width:130px;padding-left:20px;._text(15px,18px);color:#ffffff;margin-top:12px;}
				.phone_nr{._left;width:130px;._text(15px,18px);color:#ffc600;margin-top:12px;}
				.mailus{._text(15px,18px);color:#ffffff;margin-top:28px;._alc;}
				.mail{._blo;._text(18px,22px);color:#ffc600;margin-top:9px;._alc;}
				.online_chat{._text(15px,18px);color:#ffffff;._alc;margin-top:18px;}
				.btn1{._blo;width:160px;margin:4px auto 0;}
				.mt{margin-top:25px;}
			}
		}
	}
}

footer{._bgc(#0b273f);
	.wrap{padding:20px 0 22px 0;}
	.social{._right;margin-right:-20px;
		a{._left;margin-right:20px;._text(13px,20px);color:#ffffff;._b;
			.icon{._wh(30px,30px);._left;}
			.number{._left;width:67px;margin-left:3px;._alc;padding:7px 0 1px;border-bottom:2px solid #1a3c59;._bgc(#1a3c59);._rad(3px,3px,3px,3px);}
			&.gp .icon{._sprite(0,0);}
			&.fb .icon{._sprite(-30px,0);}
			&.tw .icon{._sprite(-60px,0);}
			&:hover{
				.number{._bgc(#2a587f);border-color:#1a3c59;}
			}
		}
	}
	.to_the_top{._none;._right;._wh(40px,40px);._sprite(-120px,-30px);}
	.mob_clear{._none;}
	.links1{._left;._text(13px,24px);padding:5px 0 1px 0;margin-left:-20px;
		li{._left;margin-left:20px;
			a{._blo;color:#ffffff;
				&:hover{._u;}
			}
		}
	}
	.security{._bgc(#ffffff);._rad(3px,3px,3px,3px);padding:6px 10px 8px 10px;margin:20px 0 0 0;
		.title{._rel;._left;._text(13px,20px);._b;color:#000000;padding:6px 9px 0 31px;
			&:before{._cont;._abs;top:1px;left:0;._wh(24px,24px);._sprite(-90px,0);}
		}
		img{._left;margin:3px 0 0 3px;}
	}
	.copyright{._text(13px,20px);color:#6b7b7f;}
	.security+.copyright{margin-top:27px;}
}

.contacts_block{._abs;z-index:1500;top:40%;left:0;width:50px;
	.button{._wh(50px,50px);border-top:1px solid #d9a800;._bgc(#ffc600);._rel;
		.icon{._blo;._wh(50px,50px);._rel;
			&:before{._cont;._abs;top:50%;left:50%;margin:-12px 0 0 -13px;._wh(25px,25px);._sprite(-100px,-70px);}
		}
		.sub{._none;._abs;left:50px;top:0;._wh(200px,152px);._bgc(#5f7f9a);._rad(0,4px,4px,0);}
		.cont{._wh(100%,100%);display:table;}
		.cell{._wh(100%,100%);display:table-cell;._vam;._alc;}
		&.tel{border-top:0;._rad(0,4px,0,0);
			.sub{width:180px;}
			.cell{._all;padding-left:20px;}
		}
		&.msg{
			.icon:before{._bgp(-100px,-95px);}
			.sub{top:-51px;}
		}
		&.chat{._rad(0,0,4px,0);
			.icon:before{._bgp(-100px,-120px);}
			.sub{top:-102px;}
		}
		&:hover{._bgc(#ffba00);border-color:#c99c00;}
	}
	&.open{
		.button{._bgc(#ffc600);border-color:#d9a800;
			&.tel{._rad(0,0,0,0);}
			&.chat{._rad(0,0,0,0);}
			&.open{._bgc(#5f7f9a);
				.sub{._blo;}
			}
		}
	}
	.country{._b;._text(13px,16px);margin-top:8px;color:#ffffff;}
	.phone_nr{._b;._text(18px,20px);color:#ffffff;}
	.mailus{._b;._text(13px,16px);color:#ffffff;}
	.mail{._text(16px,20px);color:#ffc600;}
	.call_ico{._wh(45px,36px);._sprite(-125px,-70px);margin:0 auto;}
	.online_chat{._b;._text(13px,16px);color:#ffffff;margin-top:10px;}
	.btn1{width:160px;margin-top:10px;}
}

.userinput,#content .userinput{._text(15px,20px);color:#43484c;._n;._all;
	h2{._text(30px,36px);._b;color:#000000;margin:29px 0 27px;}
	h3{._text(20px,24px);._b;color:#000000;margin:30px 0 21px;}
	p{margin-bottom:10px;}
	ul{margin:0 0 26px;
		li{padding:0 0 8px 20px;._rel;
			&:before{._cont;._abs;top:5px;left:0px;._wh(5px,5px);._sprite(-115px,0);}
		}
	}
	ol{margin:0 0 16px;counter-reset:item;
		li{padding:0 0 8px 20px;._rel;list-style:none;
			&:before{._cont;._abs;top:0px;left:0px;._wh(18px,20px);._b;color:#64A3B9;content:counter(item);counter-increment:item;}
		}
	}
	img{margin-bottom:20px;._blo;max-width:100%;}
	.table_cont{width:100%;overflow-x:auto;margin:23px 0 31px;}
	table{
		thead{._text(13px,16px);._b;color:#ffffff;}
		tbody{._text(15px,18px);
			tr{border-bottom:1px solid #c3c3c3;border-top:0;}
			td.first_col{border-left:1px solid #c3c3c3;}
			td.last_col{._bg('table_gray.png',transparent,repeat-y,100%,0);}
		}
		th{padding:9px 10px 5px;._bgc(#5f7f9a);}
		td{padding:13px 10px 11px;}
		.first_col{padding-left:20px;}
		.first_row .first_col{._rad(4px,0,0,0);}
		.last_col{._alr;padding-right:20px;}
		.first_row .last_col{._rad(0,4px,0,0);}
	}
	.youtube_video{margin:15px 0 20px;}
}

#content{._text(15px,20px);color:#43484c;
	h1{._text(48px,56px);._b;color:#000000;}
	h2{._text(20px,24px);._n;color:#000000;
		&.notlogged{margin-bottom:32px;
			a{color:#3572B0;
				&:hover{._u;}
			}
		}
	}
	.sp40-35-15{height:40px;}
	.sp40-40-0{height:40px;}
	.sp100-100-0{height:100px;}
	.sp100-100-50{height:100px;}
	.sp100-100-60{height:100px;}
	.sp100-100-100{height:100px;}
	.sp100-80-87{height:100px;}
	.sp60-40-0{height:60px;}
	.sp50-50-30{height:50px;}
	.sp70-70-0{height:70px;}
	.sp90-90-90{height:90px;}
	.sp45-45-45{height:45px;}
	.sp20-20-10{height:20px;}
	.sp32-32-16{height:32px;}
	.sp24-24-16{height:24px;}
	.sp27-37-28{height:27px;}
	.sp23-26-23{height:23px;}
	
	#promo{height:500px;._rel;z-index:5;margin-bottom:-130px;
		.bg{._abs;top:0;left:0;._wh(100%,100%);._ovh;z-index:-2;
			img{._none;._abs;top:50%;left:50%;min-width:100%;min-height:100%;z-index:3;
				&.active{._blo;z-index:1;}
			}
		}
		.wrap{._text(0,0);._rel;height:100%;
			.cont{._abs;bottom:147px;left:0;right:0;
				.button_cont{height:16px;._alc;margin-right:4px;
					.buttons{._inb;
						.button{._left;margin-left:4px;._wh(16px,16px);._sprite(-140px,-110px);cursor:pointer;
							&:hover{._bgp(-140px,-126px);}
							&.active{._bgp(-140px,-142px);}
						}
					}
				}
				.items{margin-bottom:90px;._text(70px,74px);color:#ffffff;._alc;._b;
					.item{._none;
						&.active{._blo;}
					}
					.desc{margin:8px 40px 0;._text(16px,19px);._n;}
					a{color:#ffc600;}
				}
			}
		}
	}
	
	.startpage_slider{._rel;z-index:10;
		.calc_cont{margin:0 -30px;padding:25px 30px 16px 30px;._rad(3px,3px,3px,3px);._bgc(#eeeeee);}
		h2{._text(18px,22px);color:#000000;._b;margin:0 0 20px 0;._alc;}
		.slider_cont{height:130px;._rel;
			.arrow{._abs;top:25px;._wh(40px,80px);._bg('slider_arrows.png');cursor:pointer;z-index:10;
				&.left{._bgp(0,0);left:-30px;}
				&.right{._bgp(-40px,0);right:-30px;}
				&:hover{
					&.left{._bgp(0,-80px);}
					&.right{._bgp(-40px,-80px);}
				}
			}
			.slider_actual{._ovh;}
			.inner{._wh(9999px,130px);margin-left:-20px;}
			.item{._rad(4px,4px,4px,4px);._bgc(#ffc600);._left;._wh(220px,130px);margin-left:20px;
				.text{._text(15px,18px);._alc;color:#000000;height:36px;._ovh;margin:17px 10px;}
				.stats{width:180px;margin:0 auto;
					.words{._left;._wh(100px,20px);padding:12px 0 8px;._text(13px,20px);._b;._alc;._bgc(#ffffff);color:#000000;._rad(4px,0,0,4px);}
					.price{._right;._wh(80px,30px);padding:7px 0 3px;._text(24px,30px);._b;._alc;._bgc(#5f7f9a);color:#ffffff;._rad(0,4px,4px,0);}
				}
				&:hover{
					.text{._u;}
				}
			}
		}
		.apply{._blo;width:220px;._text(24px,30px);._ptsansB;._alc;color:#ffffff;._bgc(#6c00b8);border-bottom:3px solid #6c00b8;text-shadow:0px 1px 1px rgba(0,0,0,0.4);padding:18px 10px 9px 10px;margin:38px auto -46px;._rad(3px,3px,3px,3px);
			&:hover{border-color:#36005c;._bgc(#54008f);}
		}
	}
	
	.statistics{._bgc(#eeeeee);
		.wrap{padding-top:55px;padding-bottom:89px;}
		h2{._text(30px,36px);._b;color:#000000;margin:0 0 31px 0;._alc;}
		.list_cont{width:100%;._ovh;._rel;
			.list{._rel;width:9999px;margin-left:-20px;
				.item{._left;width:220px;margin-left:20px;._rel;._alc;
					img{._blo;width:100%;}
					.bigtext{._abs;left:0;right:0;top:80px;._text(60px,74px);._b;color:#000000;._alc;._arial;}
					.smalltext{._text(18px,18px);._b;color:#000000;margin:38px -10px 0 -10px;}
				}
			}
		}
		.button_cont{._none;._abs;bottom:0;left:0;right:10px;._alc;._text(0,0);
			.buttons{._inb;
				.button{._left;._wh(10px,10px);margin-left:10px;._bgc(#64A3B9);._rad(5px,5px,5px,5px);cursor:pointer;
					&.active{._bgc(#ffc600);}
				}
			}
		}
	}
	
	.how_it_works{._rel;z-index:10;
		.bg{._abs;top:0;left:0;._wh(100%,100%);._ovh;z-index:-5;
			img{._abs;top:50%;left:50%;min-width:100%;min-height:100%;}
		}
		.wrap{padding-top:52px;padding-bottom:100px;}
		h2{._text(48px,60px);._b;color:#ffffff;._alc;}
		.cont{._rel;height:140px;margin-top:48px;
			.link{._abs;._bg('how_it_works_dots.png');._wh(14px,5px);
				&.onetwo{left:143px;top:68px;}
				&.twothree{left:303px;top:68px;}
				&.threefour{left:463px;top:68px;}
				&.fourfive{left:623px;top:68px;}
				&.fivesix{left:783px;top:68px;}
			}
			.step{._abs;top:0;._wh(110px,114px);padding:26px 15px 0 15px;._rad(70px,70px,70px,70px);._bgc(#5f7f9a);
				.nr{margin:0;._text(40px,40px);._helve;._b;color:#ffc600;._alc;}
				hr{margin:4px 5px 8px;padding:0;border:0;border-top:1px solid #738da2;}
				.text{._text(15px,18px);color:#ffffff;._b;._alc;margin:0;}
				&.step1{left:0px;}
				&.step2{left:160px;}
				&.step3{left:320px;}
				&.step4{left:480px;}
				&.step5{left:640px;}
				&.step6{left:800px;}
			}
		}
	}
	
	.safety{._text(18px,30px);color:#ffffff;._bgc(#5f7f9a);
		.wrap{padding-top:58px;padding-bottom:42px;}
		.col{._rel;padding:0 0 0 580px;min-height:100px;
			>div{margin-bottom:4px;}
			.cont{margin-bottom:20px;}
		}
		.cont{._abs;top:0;left:0;bottom:0;width:540px;margin:0;}
		.cont2{display:table;._wh(100%,100%);}
		.text{display:table-cell;._vam;padding-left:120px;._rel;._text(30px,36px);._b;
			&:before{._cont;._abs;top:50%;left:0px;margin-top:-50px;._wh(100px,100px);._sprite(0,-70px);}
		}
		a{._rel;margin:0 0 4px 0;padding:0 0 0 38px;color:#ffffff;
			&:before{._cont;._abs;top:0px;left:0px;._wh(18px,18px);._sprite(-120px,0);}
			&:hover{._u;}
		}
	}
	
	.aboutus{
		.wrap{padding-top:57px;padding-bottom:93px;}
		.cols{margin-left:-35px;}
		.col{._left;width:285px;margin-left:35px;}
		.userinput{
			h3{margin-top:0;}
		}
	}
	
	.col1a{._left;width:700px;}
	.col2a{._right;width:220px;}
	
	.side_reg{
		.block{
			h3{margin:0 0 12px;}
			ul{margin:0 0 14px;}
		}
	}
	
	.side_safety{._rel;padding:50px 20px 15px;._text(18px,21px);color:#ffffff;._bgc(#5f7f9a);._rad(4px,4px,4px,4px);
		&:before{._cont;._abs;top:-40px;left:50%;margin-left:-40px;._wh(80px,80px);._bg('safety_80.png');}
		a{._rel;._blo;margin:0 0 13px 0;padding:0 0 0 38px;color:#ffffff;
			&:before{._cont;._abs;top:0px;left:0px;._wh(18px,18px);._sprite(-120px,0);}
			&:hover{._u;}
		}
	}
	
	.side_slider{._rel;._bgc(#eeeeee);._rad(3px,3px,3px,3px);padding:15px 0 10px;margin:30px 0 60px;
		h2{._text(18px,22px);color:#000000;._b;margin:0 20px 15px 20px;._alc;}
		.slider_cont{height:130px;._rel;margin:0 20px;
			.arrow{._abs;top:25px;._wh(40px,80px);._bg('slider_arrows.png');cursor:pointer;z-index:10;
				&.left{._bgp(0,0);left:-20px;}
				&.right{._bgp(-40px,0);right:-20px;}
				&:hover{
					&.left{._bgp(0,-80px);}
					&.right{._bgp(-40px,-80px);}
				}
			}
			.slider_actual{._ovh;}
			.inner{._wh(9999px,130px);margin-left:-20px;}
			.item{._rad(4px,4px,4px,4px);._bgc(#ffc600);._left;._wh(180px,130px);margin-left:20px;
				.text{._text(15px,18px);._alc;color:#000000;height:54px;._ovh;margin:17px 10px -1px;}
				.stats{width:140px;margin:0 auto;
					.words{._left;._wh(70px,26px);padding:9px 0 5px;._text(13px,13px);._b;._alc;._bgc(#ffffff);color:#000000;._rad(4px,0,0,4px);}
					.price{._right;._wh(70px,30px);padding:7px 0 3px;._text(24px,30px);._b;._alc;._bgc(#5f7f9a);color:#ffffff;._rad(0,4px,4px,0);}
				}
				&:hover{
					.text{._u;}
				}
			}
		}
		.apply{._blo;width:160px;._text(24px,30px);._ptsansB;._alc;color:#ffffff;._bgc(#6c00b8);border-bottom:3px solid #6c00b8;text-shadow:0px 1px 1px rgba(0,0,0,0.4);padding:18px 10px 9px 10px;margin:20px auto -40px;._rad(3px,3px,3px,3px);
			&:hover{border-color:#36005c;._bgc(#54008f);}
		}
	}
	
	.small_stats{._rel;margin-top:20px;
		img{._left;}
		.nr{._abs;bottom:-7px;right:78px;._arial;._text(42px,42px);color:#000000;._b;}
		.text{._abs;bottom:-5px;right:0;width:70px;._text(18px,18px);color:#000000;._b;}
	}
	
	.has_tip{._rel;
		&:hover .tip{._blo;}
	}
	.tip{._none;._abs;z-index:50;bottom:100%;left:0;width:180px;padding:8px 10px;._text(13px,15px);color:#ffffff;._rad(4px,4px,4px,4px);._bg('b70.png',transparent,repeat);
		&:before{._cont;._abs;bottom:-5px;left:12.5%;._wh(10px,5px);._bg('tip_pointer.png');}
	}
	
	.order_form{padding:10px 30px 60px;._bgc(#eeeeee);
		&.sz2{padding:30px 30px 30px;}
		.field{margin:20px 0 0 0;}
		.col1b{._left;width:140px;}
		.col2b{._right;width:490px;}
		.col1e{._left;width:340px;}
		.col1ee{._left;width:340px;margin:13px 0 5px;}
		.col2e{._right;width:130px;}
		.col1f{._left;width:80px;}
		.col2f{._right;width:240px;}
		.col1g{._left;._wh(32px,24px);margin-left:-3px;padding-top:6px;}
		.col2g{._right;width:611px;padding-top:10px;}
		.mt12{margin-top:12px;}
		.label_cont{display:table;width:100%;min-height:40px;
			.label_center{._wh(100%,100%);display:table-cell;._vam;}
		}
		label{._text(15px,18px);color:#43484c;cursor:auto;
			&.has_tip{border-bottom:1px dashed #43484c;cursor:pointer;
				&:hover{border-bottom:0;}
				.label_inner{vertical-align:-2px;}
			}
		}
		.select_cont{margin:-3px 3px -6px -3px;}
		.note{color:#82888c;._text(13px,18px);
			p{margin-top:6px;}
			ul li{margin-top:6px;._rel;padding-left:17px;
				&:before{._cont;._abs;top:5px;left:0;._wh(5px,5px);._bg('form_bullet.png');}
			}
		}
		.note2{._text(13px,15px);color:#43484c;margin-top:14px;}
		.note3{._text(13px,18px);color:#43484c;margin-top:6px;
			>div>div{._inl;border-bottom:1px dashed #000000;color:#000000;._b;._text(15px,18px);
				&.has_tip{cursor:pointer;}
				.tip{._n;}
			}
		}
		.cinput{cursor:text;border:1px solid #bdc3c4;._rad(4px,4px,4px,4px);._bgc(#ffffff);padding:0 10px;._text(0,0);
			input,textarea{background:none;border:0;margin:0 0 0 -10px;padding:8px 10px 4px 10px;height:26px;width:100%;._ptsans;color:#000000;._text(15px,18px);}
			textarea{resize:none;padding:8px 10px 4px 10px;height:86px;}
			&.default{
				input,textarea{._i;}
			}
			&.wrong{border-color:#a8324b;}
		}
		.cinput_nochange{border:1px solid #bdc3c4;._rad(4px,4px,4px,4px);._bgc(#eeeeee);padding:14px 0 6px;._text(15px,18px);color:#43484c;._alc;}
		.forgot{._blo;._text(13px,16px);color:#3572B0;margin:13px 0 0;
			&:hover{._u;}
		}
		.explanation{
			h2{._text(20px,24px);color:#000000;._b;margin:0 0 10px;}
			p{._text(13px,18px);color:#82888c;}
		}
		.btn4{width:100%;}
		.invalid_msg{._text(13px,18px);color:#a8324b;margin:7px 0 -5px;}
		.mobi{._none;}
		hr{border:0;border-top:1px solid #d6d6d6;margin:30px 0;
			&.hr20{margin:20px 0;}
		}
		.option_list{margin:5px 0 1px;
			.col80{._left;width:80px;}
			.col150{._left;width:150px;}
			.col160{._left;width:160px;}
			.col180{._left;width:180px;}
			.radio_option{padding:5px 8px 3px 27px;margin-top:3px;._rel;
				.radio.styled{._abs;top:1px;left:-3px;}
			}
			.check_option{padding:5px 8px 3px 27px;margin-top:3px;._rel;
				.checkbox.styled{._abs;top:1px;left:-3px;}
			}
		}
		.option_list+.col1ee{margin-top:9px;}
		.authorize_cont{._alc;
			.btn3{width:220px;}
		}
		.forgot_pw_block{._none;padding-bottom:20px;}
	}
	
	.test_block{margin:0 0 20px;
		.test_cont{
			.title{._text(11px,14px);color:#ffffff;._b;._bgc(#5f7f9a);._rad(3px,3px,0,0);padding:4px 6px 2px;._up;}
			.inner{._bgc(#eeeeee);._rad(0,0,3px,3px);padding:20px 10px 20px 20px;
				.col_l{._left;width:400px;
					.small{._text(13px,18px);color:#82888c;}
					.bolded{._b;}
				}
				.col_r{._right;width:240px;
					.btn1,.btn5{._right;width:110px;margin-right:10px;}
					.file{._bgc(#ffffff);height:20px;padding:10px 22px 10px 10px;._rel;._rad(4px,4px,4px,4px);margin-right:10px;
						&:before{._cont;._abs;top:12px;left:10px;._wh(16px,16px);}
						&:after{._cont;._abs;top:10px;left:36px;._wh(0px,20px);}
						.remove{._abs;top:10px;right:5px;._wh(20px,20px);._bg('close.png',transparent,no-repeat,50%,50%);}
						.link{._blo;._text(13px,16px);padding:4px 0 0;}
						&.doc{padding-left:46px;
							&:before{._bg('file_type.png',transparent,no-repeat,0,0);}
							&:after{border-right:1px solid #d6d6d6;}
						}
						&.jpg{padding-left:46px;
							&:before{._bg('file_type.png',transparent,no-repeat,0,-16px);}
							&:after{border-right:1px solid #d6d6d6;}
						}
					}
				}
			}
		}
		.revision{padding:18px 0 2px;
			.title{._text(15px,20px);color:#000000;._b;}
			.text{._text(13px,18px);color:#a8324b;}
		}
		.comment{padding:36px 0 6px;}
		.revision+.comment{padding-top:16px;}
	}
	
	.message_red{._rad(3px,3px,3px,3px);._bgc(#ffdce3);padding:20px 18px 32px;
		h2{._text(20px,20px);._b;color:#a8324b;}
		p{margin-top:10px;}
	}
	
	.message_green{._rad(3px,3px,3px,3px);._bgc(#c4f3b3);padding:20px 18px 16px;
		h2{._text(20px,20px);._b;color:#000000;}
		p{margin-top:10px;}
		&.p2{padding:30px 28px 32px;}
	}
	
	.verification{._bgc(#eeeeee);._rad(3px,3px,3px,3px);padding:30px 30px 40px;
		h2{._text(20px,20px);color:#000000;._b;}
		p{margin-top:10px;}
		.attempts{._b;color:#000000;margin-top:10px;}
		hr{margin:22px 0 28px;}
		.cinput{cursor:text;border:1px solid #bdc3c4;._rad(4px,4px,4px,4px);._bgc(#ffffff);padding:0 10px;._text(0,0);
			input{background:none;border:0;margin:0 0 0 -10px;padding:8px 10px 4px 10px;height:26px;width:100%;._ptsans;color:#000000;._text(15px,18px);}
			&.wrong{border-color:#a8324b;}
		}
		.field{margin-top:15px;
			.col1{._left;width:320px;}
			.col2{._left;width:100px;margin-left:10px;}
			.col3{._right;width:190px;}
			.btn1{._blo;}
			.resend{margin-top:12px;
				a:hover{._u;}
			}
		}
	}
	
	.profile_page{
		.outer{._wh(100%,100%);display:table;}
		.inner{._wh(100%,100%);display:table-cell;._vam;}
		.block{padding:20px;._bgc(#eeeeee);._rad(3px,3px,3px,3px);}
		.block1{._left;._wh(180px,200px);}
		.block2{._left;._wh(180px,200px);margin-left:20px;}
		.block3{._right;._wh(420px,200px);}
		.block4{margin-top:30px;padding:29px 30px 20px;}
		.tri_top{height:119px;border-bottom:1px solid #d6d6d6;}
		.tri_btm{height:60px;margin:20px -10px 0;}
		.duo1_left,.duo2_left{._left;._wh(100px,60px);}
		.duo1_right,.duo2_right{._right;._wh(99px,60px);border-left:1px solid #d6d6d6;}
		.stat1 {._alc;._helve;._b;._text(60px,74px);color:#000000;letter-spacing:-1px;}
		.stat1t{._alc;._b;._text(18px,18px);color:#000000;}
		.stat2 {._alc;._text(18px,20px);color:#000000;._b;}
		.stat2t{._alc;._text(15px,16px);}
		.duo_top{padding-bottom:17px;border-bottom:1px solid #d6d6d6;}
		.duo_btm{margin-top:19px;}
		.field{margin-bottom:4px;
			.col1b{._left;width:140px;}
			.col2b{._right;width:260px;color:#000000;._b;}
		}
		a:hover{._u;}
		h2{._text(20px,24px);._b;color:#000000;border-bottom:1px solid #d6d6d6;padding:0 0 13px;margin-bottom:39px;}
		.col1c{._left;width:430px;}
		.col2c{._right;width:430px;}
		.field2{margin-bottom:11px;
			.valuet{._text(15px,18px);color:#43484c;margin-bottom:2px;}
			.value{._text(15px,18px);color:#000000;._b;}
		}
		.field3{margin-bottom:11px;
			.valuet{._text(15px,18px);color:#43484c;margin-bottom:2px;}
			.value{._text(15px,18px);color:#000000;}
		}
	}
	
	.form_summary{._bgc(#eeeeee);._text(15px,18px);margin-bottom:20px;
		.wrap_onlymob{padding-top:14px;padding-bottom:16px;padding-left:20px;}
		.col{._left;width:330px;padding-left:10px;}
		.field{margin-top:6px;}
		.name{._left;width:140px;color:#43484c;}
		.value{._right;width:180px;color:#000000;._b;}
		&.with_form{margin-bottom:0;}
	}
	
	.ctabs{
		.tab_top{._left;color:#ffffff;._b;._text(15px,18px);._alc;margin:0 2px 0 0;._rad(4px,4px,0,0);._bgc(#64A3B9);cursor:pointer;
			.text{width:200px;padding:13px 10px 9px;._rel;}
			&.active{._bgc(#eeeeee);color:#000000;
				.text:before{._cont;._abs;bottom:0;left:30px;right:30px;height:2px;._bgc(#3dc264);}
			}
		}
		.tab_bottom{._none;._bgc(#eeeeee);padding:17px 0 0;
			&.active{._blo;}
		}
	}
	
	.green_title{._bgc(#4f718f);
		.wrap{padding-top:38px;padding-bottom:22px;}
		.location{._text(13px,16px);color:#7796b0;margin-bottom:4px;
			a{color:#7796b0;}
		}
		.btn_cont{._right;padding-top:5px;
			.btn5,.btn6{._left;width:110px;margin-left:10px;}
		}
		h1{color:#ffffff;._text(48px,60px);}
		.orders{width:140px;margin:-3px 3px 0 0;
			.btn-group{
				.btn{padding:11px 24px 8px 10px;border:0;margin:4px 4px 0 4px;
					.caret{margin-top:-1px;right:8px;}
				}
				>.dropdown-menu{left:-4px;right:-4px;border:4px solid #cccccc;border-top:0;}
				&.open{border:4px solid #cccccc;border-bottom:0;
					.btn{margin:0;
						.caret{margin-top:-3px;right:12px;}
					}
				}
			}
		}
		&.sp68{margin-bottom:68px;}
		&.sp60{margin-bottom:60px;}
		&.sp30-26-20{margin-bottom:30px;}
		&.sp26-26-0{margin-bottom:26px;}
		&.sp30-40-0{margin-bottom:30px;}
		&.order .wrap{padding-top:25px;padding-bottom:15px;}
	}
	
	.col1j{._left;width:700px;}
	.col2j{._right;width:220px;}
	
	.opendoc{
		.date{._text(13px,16px);color:#43484c;margin:-40px 0 0 0;min-height:40px;._b;}
	}
	
	.sidemenu{._rel;
		.trigger{._none;cursor:pointer;._rel;padding:17px 18px 13px 18px;color:#3572B0;._b;._bgc(#eeeeee);
			&:before{._cont;._abs;z-index:5;top:18px;right:18px;._wh(20px,15px);._bg('sidemenu_trigger.png',transparent,no-repeat,0,0);}
		}
		.menu{border-top:1px solid #d6d6d6;._text(15px,20px);
			>li{border-bottom:1px solid #d6d6d6;
				.item{._rel;._blo;padding:16px 18px 12px 18px;color:#3572B0;
					&:hover{color:#43484c;._bgc(#eeeeee);}
				}
				>.item{._b;}
				&.has_submenu{
					>.item{color:#000000;
						&:before{._cont;._abs;top:100%;left:30px;margin:1px 0 0 0;._wh(5px,3px);._bg('sidemenu_active.png');}
						&:hover{._bgc(transparent);}
					}
				}
				.submenu{
					>li{border-top:1px solid #d6d6d6;._rel;
						>.item{padding-left:29px;}
					}
				}
			}
			li.active>.item{z-index:2;color:#000000;margin:-2px -2px -2px -2px;border:2px solid #64A3B9;._rad(3px,3px,3px,3px);
				&:before{._cont;._abs;top:50%;left:-5px;margin:-1px 0 0 0;._wh(3px,5px);._bg('sidemenu_subactive.png');}
				&:hover{._bgc(transparent);}
			}
		}
		&.open{
			.trigger:before{._sprite(-140px,-15px);}
		}
	}
	
	.aftercontent{margin:24px 0 0 0;
		.link_list{border:1px solid #d6d6d6;border-width:1px 0;margin-top:-1px;padding:14px 0 25px;
			h2{._text(20px,24px);._b;._left;width:250px;margin:13px 0 0 0;}
			ul{._text(15px,20px);margin:0 0 0 280px;
				li{margin:10px 0 0 0;padding-left:19px;
					a{._rel;color:#3572B0;
						&:hover{._u;}
						&:before{._cont;._abs;top:5px;left:-19px;._wh(5px,5px);._sprite(-115px,0);}
					}
					&.file a{._text(13px,20px);color:#82888c;
						span{._text(15px,20px);color:#3572B0;padding-right:4px;}
						&:before{top:3px;}
						&:hover{._xu;
							span{._u;}
						}
					}
				}
			}
		}
		.backsocial{margin:30px 0 0 0;
			.back{._left;._wh(40px,40px);._bg('backlink.png',#eeeeee,no-repeat,50%,50%);._rad(4px,0,0,4px);
				&:hover{._bg('backlink_white.png',#5f7f9a,no-repeat,50%,50%);}
			}
			.social{line-height:0;min-height:20px;padding:10px;margin-left:42px;._bgc(#eeeeee);._rad(0,4px,4px,0);._ovh;}
		}
		&.no_links{margin:40px 0 0 0;
			.backsocial{margin:0;}
		}
	}
	
	.faq{border-top:1px solid #d6d6d6;
		li{border-bottom:1px solid #d6d6d6;._rel;
			.trigger{._text(24px,28px);color:#43484c;padding:18px 16px 13px 39px;cursor:pointer;
				&:before{._cont;._abs;top:24px;left:14px;._wh(10px,10px);._bg('faq.png');}
			}
			.expand{._none;padding:7px 16px 15px 39px;._text(15px,20px);color:#43484c;
				p{margin-bottom:8px;}
			}
			&:hover{
				.trigger{color:#000000;._bgc(#eeeeee);}
			}
			&.open{
				.trigger{color:#000000;
					&:before{._bgp(0,-10px);}
				}
				.expand{._blo;}
				&:hover{
					.trigger{._bgc(transparent);}
				}
			}
		}
	}
	
	.col1k{._left;width:220px;}
	.col2k{._right;width:700px;}
	
	.order_status{._bgc(#eeeeee);._ovh;._rad(4px,4px,4px,4px);
		.time_header{._text(13px,16px);._ptsansB;color:#ffffff;._bgc(#5f7f9a);._alc;padding:9px 0 5px;}
		.time_block{
			.days{._left;width:109px;margin-top:30px;margin-bottom:15px;border-right:1px solid #d6d6d6;._alc;}
			.hours{._right;width:110px;margin-top:30px;margin-bottom:6px;._alc;}
			.nr{margin-top:-15px;._text(60px,74px);color:#000000;._arial;._b;}
			.text{margin-top:1px;margin-bottom:-5px;._text(18px,18px);color:#000000;._ptsansB;}
			.deadline{._text(13px,20px);color:#43484c;._alc;}
		}
		.status{padding:13px 20px 24px;
			.btn_status{._blo;._bg('btn_status_orange.png',#ffae00,no-repeat,7px,50%);._text(13px,16px);color:#ffffff;padding:9px 5px 5px 30px;._alc;margin-bottom:10px;._rad(4px,4px,4px,4px);
				&.blue{._bg('btn_status_blue.png',#51aad4,no-repeat,7px,50%);}
				&.red{._bg('btn_status_red.png',#a8324b,no-repeat,7px,50%);}
				&.green{._bg('btn_status_green.png',#3dc264,no-repeat,7px,50%);}
			}
			.btn_pay{._blo;._bg('btn_pay_green.png',#3dc264,no-repeat,7px,50%);._text(13px,16px);color:#ffffff;padding:9px 5px 5px 30px;._alc;._rad(4px,4px,4px,4px);
				&.notpaid{._bg('btn_pay_orange.png',#ffae00,no-repeat,7px,50%);}
			}
			.price{border-top:1px solid #d6d6d6;._text(20px,24px);._ptsansB;color:#000000;._alc;padding:18px 0 0;margin-top:20px;
				&.green{color:#299a01;}
			}
			.price2{._text(13px,20px);color:#43484c;padding:0;border:0;._alc;}
			.rate{margin:10px 0 0;padding:20px 0 0;border-top:1px solid #d6d6d6;
				.btn1{._blo;}
			}
			&.done{padding:20px 20px 14px;}
			&.notpaid{
				.price{._text(20px,24px);._ptsansB;color:#000000;margin-top:17px;padding:0;border:0;}
				.btn3{._blo;margin-top:13px;}
			}
		}
		.mob_only{._none;}
	}
	
	.order_info{._bgc(#eeeeee);._rad(4px,4px,4px,4px);
		.inner{padding:16px 20px 10px;}
		.twocols{._text(15px,18px);
			.col{._left;width:320px;margin-left:20px;
				&.first{margin-left:0;}
				.line{padding:3px 0;}
				.col1z{._left;width:130px;padding-right:10px;}
				.col2z{._left;width:180px;._b;}
			}
		}
		hr{border:0;border-top:1px solid #d6d6d6;margin:11px 0;}
		.block{padding:7px 0 2px;
			h2{._text(13px,16px);color:#82888c;}
			p{._text(15px,20px);margin-top:6px;}
		}
		.dl_link{._rel;padding-right:23px;color:#3572B0;
			&:hover{._u;}
			&:before{._cont;._abs;top:0;right:1px;._wh(16px,16px);._bg('dl_link.png');}
		}
		.bolded{._b;}
	}
	
	.order_collapsible{._ovh;._rad(4px,4px,4px,4px);margin-top:20px;
		.trigger_line{._bgc(#5f7f9a);cursor:pointer;color:#ffffff;._text(13px,16px);._ptsansB;
			>.inner{._rel;padding:9px 12px 5px;
				&:before{._cont;._abs;top:12px;right:10px;._wh(11px,6px);._bg('info_collapsible.png');}
			}
		}
		.title_line{._bgc(#5f7f9a);color:#ffffff;._text(13px,16px);._ptsansB;
			>.inner{padding:9px 12px 5px;}
		}
		.collapsible{._bgc(#eeeeee);._none;
			>.inner{padding:20px;}
		}
		&.open{
			.trigger_line{
				>.inner{
					&:before{._bgp(0,-6px);}
				}
			}
			.collapsible{._blo;}
		}
		.files{
			.btn1{width:120px;}
			.m10b{margin:10px 0;}
			.m10bo{margin-bottom:10px;}
			.file{margin:10px 0 0;._bgc(#ffffff);._rad(4px,4px,4px,4px);padding:10px 6px 10px 0;
				.col1z{._left;width:56px;border-right:1px solid #d6d6d6;min-height:50px;}
				.col2z{._right;width:579px;}
				.ico{._wh(16px,16px);._bg('file_type.png');margin:10px auto 0;
					&.jpg{._bgp(0,-16px);}
					&.docx{._bgp(0,0);}
				}
				.type{._text(11px,14px);color:#43484c;margin:4px 0 0;._ptsansB;._alc;}
				a{color:#3572B0;
					&:hover{._u;}
				}
				.link{._text(15px,20px);margin-top:10px;._ovh;}
				.author{._text(13px,20px);color:#82888c;}
			}
		}
		.messages{
			.btn5{width:160px;}
			.new_msg{margin-bottom:30px;
				.btn1{width:120px;._left;margin-top:10px;}
				.btn5{width:120px;margin:10px 0 0 10px;}
				.cinput{cursor:text;border:1px solid #bdc3c4;._rad(4px,4px,4px,4px);._bgc(#ffffff);padding:0 10px;._text(0,0);
					input,textarea{background:none;border:0;margin:0 0 0 -10px;padding:8px 10px 4px 10px;height:26px;width:100%;._ptsans;color:#000000;._text(15px,18px);}
					textarea{resize:none;padding:8px 10px 4px 10px;height:86px;}
					&.wrong{border-color:#a8324b;}
				}
			}
			.msg{width:500px;._bgc(#ffffff);._text(15px,20px);margin-top:20px;._rad(4px,4px,4px,4px);
				>.inner{padding:9px 20px 13px;min-height:12px;}
				p{margin-top:10px;}
				a{color:#3572B0;
					&:hover{._u;}
				}
				.author{margin-top:10px;._text(13px,20px);color:#82888c;}
				.bolded{._b;}
				&:before{._cont;._abs;top:20px;left:-10px;._wh(10px,10px);._bg('message_white.png');}
				&.self{margin-left:auto;._bgc(#5f7f9a);color:#ffffff;
					.author{color:#7796b0;}
					&:before{left:auto;right:-10px;._bg('message_blue.png');}
				}
			}
		}
		.price{margin-top:8px;color:#000000;._b;}
		.reason{
			.cinput{cursor:text;border:1px solid #bdc3c4;._rad(4px,4px,4px,4px);._bgc(#ffffff);padding:0 10px;._text(0,0);
				input,textarea{background:none;border:0;margin:0 0 0 -10px;padding:8px 10px 4px 10px;height:26px;width:100%;._ptsans;color:#000000;._text(15px,18px);}
				textarea{resize:none;padding:8px 10px 4px 10px;height:86px;}
				&.wrong{border-color:#a8324b;}
			}
			.promise{._text(15px,20px);color:#000000;._b;margin:18px 0 4px;}
			.cols{
				.col1{._left;width:120px;}
				.col2{._left;width:120px;margin-left:10px;
					.btn1{._blo;}
				}
				.col3{._right;width:390px;._text(13px,16px);color:#82888c;padding-top:5px;}
			}
		}
	}
	
	.backlink_cont{padding:27px 0 23px;
		.backlink{color:#3572B0;padding-left:21px;._rel;
			&:before{._cont;._abs;top:3px;left:0;._wh(10px,10px);._bg('backlink.png');}
			&:hover{._u;}
		}
	}
	
	.list_menu{
		.show{._left;._text(15px,20px);
			li{._left;
				.item{._rel;._blo;._b;padding:12px 20px 8px 20px;color:#3572B0;._rad(3px,3px,3px,3px);
					&:hover{color:#43484c;._bgc(#eeeeee);}
				}
				&.active>.item{z-index:2;color:#000000;margin:0;border:2px solid #64A3B9;padding:10px 18px 6px 18px;
					&:before{._cont;._abs;top:100%;left:50%;margin:2px 0 0 -1px;._wh(5px,3px);._bg('sidemenu_active2.png');}
					&:hover{._bgc(transparent);}
				}
			}
		}
		.sort{._right;._wh(160px,43px);margin:-3px 3px 0 0;}
	}
	
	.order_list{margin-top:25px;._text(13px,15px);
		.no_dt{._none;}
		.header{._bgc(#5f7f9a);._rad(4px,4px,0,0);._ptsansB;color:#ffffff;._all;
			.col{._left;padding:10px 4px 5px 12px;}
			.col1{width:40px;}
			.col2{width:55px;}
			.col3{width:85px;}
			.col4{width:95px;}
			.col5{width:95px;}
			.col6{width:331px;}
			.col7{width:56px;}
		}
		.line{._rel;
			.line_link{._blo;color:#43484c;}
			.bolded{._b;}
			.low{._b;color:#a8324b;}
			.col{._left;border:1px solid #c3c3c3;border-width:0 0 1px 1px;padding:14px 7px 10px 10px;}
			.col1{width:38px;}
			.col2{width:53px;}
			.col3{width:83px;}
			.col4{width:93px;}
			.col5{width:93px;}
			.col6{width:329px;}
			.col7{width:54px;}
			.col8{width:59px;padding:14px 5px 10px 5px;min-height:16px;border-right-width:1px;}
			.btn6{._abs;top:5px;right:6px;width:60px;}
			.icons{._abs;top:2px;left:-7px;width:15px;
				.icon{._blo;margin-top:2px;._text(10px,10px);color:#ffffff;._alc;._b;
					&.yellow{._wh(15px,11px);._bg('table_yellow.png');padding:4px 0 1px 0;}
					&.purple{._wh(15px,15px);._bg('table_purple.png');}
				}
			}
			&:hover{._bgc(#eeeeee);}
		}
	}
	
	.order_list2{
		.item{
			.info1{._text(13px,17px);color:#3572B0;._b;padding:18px 0 4px;
				a{color:#3572B0;}
			}
			.info2{border:1px solid #c3c3c3;border-width:1px 0;
				.col1{._left;width:139px;border-right:1px solid #c3c3c3;padding:9px 0 5px;}
				.col2{._right;width:130px;padding:9px 0 5px;}
			}
			.info3{padding:8px 0 14px;}
			.line{._bgc(#eeeeee);border-bottom:1px solid #c3c3c3;
				.col{._left;width:25%;._alc;padding:12px 0 8px;}
				.col1{._all;}
			}
			.title{._text(11px,14px);color:#82888c;}
			.value{._text(15px,18px);color:#43484c;margin-top:2px;}
			.bolded{._b;color:#000000;}
			.low{._b;color:#a8324b;}
		}
	}
	
	.list_message{._bgc(#f0e97c);._rad(3px,3px,3px,3px);margin-bottom:30px;
		>div{padding:12px 16px 14px;}
		h2{._text(20px,24px);color:#000000;._b;margin-bottom:10px;}
		p{._text(15px,20px);color:#43484c;}
	}
	
	.order_list_empty{._bgc(#eeeeee);._rad(3px,3px,3px,3px);margin-top:25px;._alc;
		>div{padding:79px 130px 87px;}
		h2{._text(20px,24px);color:#000000;._b;margin-bottom:10px;}
		p{._text(15px,20px);color:#43484c;}
	}
	
	.profile_text{padding:27px 0 23px;}
	
	.profile_cols{
		.col{width:460px;._bgc(#eeeeee);
			&.col1{._left;}
			&.col2{._right;}
			.inner{padding:10px 20px 22px;}
			.fields{border-bottom:1px solid #d6d6d6;margin-bottom:18px;padding:4px 0 21px;}
			.line{padding:4px 0 0;
				.name{._left;width:150px;}
				.value{._right;width:260px;._ptsansB;color:#000000;}
				&.unspecified{
					.value{._ptsansI;._n;color:#82888c;}
				}
			}
			.link{._text(15px,20px);color:#3572B0;
				&:hover{._u;}
			}
		}
	}
	
	.contact_page{
		.top{padding:56px 0 31px;
			h2{._text(24px,30px);color:#000000;._ptsans;}
		}
		.middle{
			.col{
				&.col1{._left;width:300px;}
				&.col2{._left;width:300px;margin-left:20px;}
				&.col3{._right;width:300px;}
				.title{._text(13px,16px);color:#ffffff;._ptsansB;._alc;padding:9px 2px 5px;._bgc(#64A3B9);._rad(4px,4px,0,0);}
				.inner{._bgc(#eeeeee);._rad(0,0,4px,4px);padding:20px;}
				.info{padding:4px 0 11px;}
				.line{padding:4px 0 0;
					.name{._left;width:120px;}
					.value{._right;width:135px;._ptsansB;color:#000000;}
				}
				.or{border-bottom:1px solid #d6d6d6;._rel;padding-bottom:7px;margin:0px 0 20px;
					.text{._abs;top:0;left:50%;margin-left:-12px;width:25px;._alc;._text(13px,16px);color:#82888c;._bgc(#eeeeee);}
				}
				p{margin-top:8px;._alc;}
				.btn1,.btn4{._blo;}
			}
		}
		.bottom{padding:28px 0 3px;
			.title{._text(15px,20px);._ptsansB;color:#000000;margin-bottom:6px;}
			.line{._text(15px,20px);padding:4px 0 0;color:#43484c;}
		}
	}
}

.whyus{._bgc(#ffffff);
	.wrap{padding-top:78px;padding-bottom:50px;}
	.extra{._none;._left;width:139px;border-bottom:1px solid #d6d6d6;._rel;
		.h2{._text(24px,24px);._b;color:#000000;margin:0;._abs;bottom:13px;right:19px;width:120px;._alr;}
	}
	a{._left;width:188px;color:#000000;._text(16px,18px);._alc;._b;
		.icon{._wh(110px,78px);margin:11px auto 0;._bg('whyus.png');}
		.text{margin:-6px 20px 10px 20px;}
		&.item1 .icon{._bgp(0,0);}
		&.item2 .icon{._bgp(-110px,0);}
		&.item3 .icon{._bgp(-330px,0);}
		&.item4 .icon{._bgp(-220px,0);}
		&.item5 .icon{._bgp(-440px,0);}
		
		
		&:hover{color:#43484c;._u;
			&.item1 .icon{._bgp(0,-78px);}
			&.item2 .icon{._bgp(-110px,-78px);}
			&.item3 .icon{._bgp(-330px,-78px);}
			&.item4 .icon{._bgp(-220px,-78px);}
			&.item5 .icon{._bgp(-440px,-78px);}
		}
	}
}

.popup_bg{._fix;top:0;left:0;right:0;bottom:0;z-index:3000;._bg('b40.png',transparent,repeat);}
.popup{._abs;z-index:3001;top:190px;left:50%;width:460px;margin-left:-230px;._rad(4px,4px,4px,4px);._box(0,5px,30px,rgba(0,0,0,0.25));
	h2{._text(20px,24px);color:#000000;._ptsansB;}
	.top{._bgc(#ffffff);padding:18px 20px;._rad(4px,4px,0,0);
		h3{._text(15px,20px);color:#000000;._ptsansB;}
		p{._text(15px,20px);color:#43484c;margin-top:10px;}
		hr{margin:13px 0;border:0;border-top:1px solid #d6d6d6;}
		label{color:#43484c;}
		.bolded{._b;}
		.rules{border:2px solid #64A3B9;._bg('rules_bg.png',transparent,repeat);margin-top:15px;height:406px;._ovh;}
		.cols{padding:14px 0 27px;
			.col{width:200px;._left;margin-left:20px;
				&.first{margin-left:0;}
			}
			h3{margin-bottom:17px;}
			.line{margin-top:6px;}
			.col1a{._left;width:30px;min-height:1px;
				.styled.radio{margin-left:-4px;}
			}
			.col2a{._left;width:170px;._text(15px,18px);padding:5px 0 1px;}
		}
		.field{padding:5px 0 12px;}
		.cinput{cursor:text;border:1px solid #bdc3c4;._rad(4px,4px,4px,4px);._bgc(#ffffff);padding:0 10px;._text(0,0);margin:3px 0 0 0;
			input,textarea{background:none;border:0;margin:0 0 0 -10px;padding:8px 10px 4px 10px;height:26px;width:100%;._ptsans;color:#000000;._text(15px,18px);}
			textarea{resize:none;padding:8px 10px 4px 10px;height:86px;}
			&.default{
				input,textarea{._i;}
			}
			&.wrong{border-color:#a8324b;}
		}
		.wrong_msg{color:#a8324b;._text(13px,18px);margin:7px 0 -5px;}
		.btn-group{left:-3px;
			.btn{._ptsansB;padding-left:14px;}
			.dropdown-menu>li>a{padding-left:14px;}
		}
		.block{padding:4px 0 8px;}
		.block2{padding:4px 0 20px;}
		.block3{padding:4px 0 2px;}
	}
	.btm{._bgc(#eeeeee);padding:20px;._rad(0,0,4px,4px);
		.btn1,.btn5,.btn7{._left;width:120px;margin-right:10px;
			&.big{width:180px;}
		}
		h2{margin:7px 0 13px;}
		.cinput{cursor:text;border:1px solid #bdc3c4;._rad(4px,4px,4px,4px);._bgc(#ffffff);padding:0 10px;._text(0,0);margin-bottom:10px;
			input,textarea{background:none;border:0;margin:0 0 0 -10px;padding:8px 10px 4px 10px;height:26px;width:100%;._ptsans;color:#000000;._text(15px,18px);}
			textarea{resize:none;padding:8px 10px 4px 10px;height:86px;}
			&.wrong{border-color:#a8324b;}
		}
	}
	.close{._abs;z-index:10;top:10px;right:10px;._wh(34px,34px);._bg('close2.png',transparent,no-repeat,50%,50%);cursor:pointer;}
	&.big{top:110px;width:940px;margin-left:-470px;}
	&.small{width:360px;margin-left:-180px;
		.top{
			label{._text(15px,20px);}
		}
		.btm{
			.btn1{width:160px;}
		}
	}
}

.ver_320,.ver_320i,.ver_768,.ver_1024{._none;}
@media only screen and (min-width: 1024px) {
	.ver_1024{._blo;}
	#content .statistics .list_cont .list{left:0px !important;}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.ver_768{._blo;}
	.wrap{width:700px;}
	
	header{._rel;left:auto;right:auto;top:auto;._bgc(#5f7f9a);
		.wrap{padding-top:10px;padding-bottom:10px;}
		#menu1{._none;}
		#menu2{._blo;}
	}
	
	footer{
		.social{margin-right:-10px;
			a{margin-right:10px;
				.icon{._wh(40px,40px);}
				.number{._none;}
				&.gp .icon{._sprite(0,-30px);}
				&.fb .icon{._sprite(-40px,-30px);}
				&.tw .icon{._sprite(-80px,-30px);}
			}
		}
		.links1{padding:9px 0 7px 0;}
		.links2{margin:0 0 0 -20px;padding:31px 0 26px 0;
			li{margin-left:20px;width:150px;
				a{._blo;padding:3px 0;}
			}
		}
	}
	
	.contacts_block{._abs;top:0;left:65%;width:152px;
		.button{._left;border-left:1px solid #d9a800;border-top:0;
			.sub{left:auto;right:0;top:auto;bottom:50px;._rad(4px,4px,0,4px);}
			&.tel{border-left:0;._rad(4px,0,0,0);
				.sub{width:200px;right:-102px;}
				.cell{._alc;padding-left:0;}
			}
			&.msg{
				.sub{top:auto;right:-51px;}
			}
			&.chat{._rad(0,4px,0,0);
				.sub{top:auto;}
			}
		}
	}
	
	#content{
		.sp40-35-15{height:35px}
		.sp100-100-0{height:100px}
		.sp100-100-50{height:100px}
		.sp60-40-0{height:40px;}
		.sp100-80-87{height:80px;}
		.sp27-37-28{height:37px;}
		.sp23-26-23{height:26px;}
		
		#promo{height:274px;z-index:10;margin-bottom:0;
			.bg{._abs;top:0;left:0;._wh(100%,100%);._ovh;z-index:-2;
				img{._none;._abs;top:50%;left:50%;min-width:100%;min-height:100%;
					&.active{._blo;}
				}
			}
			.wrap{._text(0,0);._rel;height:100%;
				.cont{._abs;bottom:18px;
					.items{margin-bottom:72px;._text(60px,60px);}
				}
			}
		}
		.startpage_slider{
			.calc_cont{margin:0;padding:25px 0 16px;._rad(0,0,0,0);}
			.wrap{width:auto;margin:0;}
			h2{width:700px;margin:0 auto 20px;}
			.slider_cont{
				.arrow{._abs;top:25px;._wh(40px,80px);
					&.left{left:0px;}
					&.right{right:0px;}
				}
				.slider_actual{width:700px;margin:0 auto;}
			}
		}
		.statistics{
			.wrap{padding-bottom:83px;}
			h2{margin:0 0 20px 0;}
			.list_cont{
				.list{left:0px !important;
					.item{width:160px;
						.bigtext{top:58px;._text(48px,54px);}
						.smalltext{margin:30px 0 0 0;}
					}
				}
			}
		}
		.how_it_works{
			.wrap{padding-top:35px;padding-bottom:40px;}
			h2{._text(36px,42px);}
			.cont{height:260px;margin-top:23px;
				.link{._bg('how_it_works_dots_t.png');._wh(11px,11px);
					&.onetwo{left:118px;top:124px;}
					&.twothree{left:228px;top:124px;._bg('how_it_works_dots_t2.png');}
					&.threefour{left:338px;top:124px;}
					&.fourfive{left:448px;top:124px;._bg('how_it_works_dots_t2.png');}
					&.fivesix{left:558px;top:124px;}
				}
				.step{
					&.step1{left:0px;}
					&.step2{left:110px;top:120px;}
					&.step3{left:220px;}
					&.step4{left:330px;top:120px;}
					&.step5{left:440px;}
					&.step6{left:550px;top:120px;}
				}
			}
		}
		.safety{
			.col{padding:0 0 0 420px;}
			.cont{width:360px;}
		}
		.aboutus{
			.wrap{padding-top:57px;padding-bottom:93px;}
			.cols{margin-left:-17px;}
			.col{._left;width:222px;margin-left:17px;}
		}
	
		.col1a{float:none;width:auto;}
		.col2a{._none;}
		
		.small_stats{._none;}
		
		.green_title{
			&.sp68,&.sp60{margin-bottom:0px;}
			&.sp30-26-20{margin-bottom:26px;}
			&.sp30-40-0{margin-bottom:40px;}
		}
	
		.col1j,.col2j{float:none;width:auto;}
		
		.opendoc{
			.date{._text(13px,16px);color:#43484c;margin:38px 0 0 0;min-height:40px;._b;}
		}
		
		.sidemenu{border-bottom:1px solid #d6d6d6;._alc;line-height:0;padding:26px 0 24px;
			.menu{._inb;border-top:0;
				>li{._left;border-bottom:0;
					.item{._b;padding:12px 20px 8px 20px;color:#3572B0;._rad(3px,3px,3px,3px);
						&:hover{color:#43484c;._bgc(#eeeeee);}
					}
					>.item{._none;}
					.submenu{._left;
						>li{._left;border-top:0;._rel;
							>.item{padding-left:20px;}
						}
					}
				}
				li.active>.item{z-index:2;color:#000000;margin:0;border:2px solid #64A3B9;padding:10px 18px 6px 18px;
					&:before{._cont;._abs;top:100%;left:50%;margin:2px 0 0 -1px;._wh(5px,3px);._bg('sidemenu_active2.png');}
					&:hover{._bgc(transparent);}
				}
			}
			&.first_tier{
				.menu>li>.item{._blo;}
			}
		}
		
		.side_slider{._none;}
	
		.profile_page{
			.block1{._left;._wh(300px,120px);margin:0 0 20px;}
			.block2{._right;._wh(300px,120px);margin:0 0 20px;}
			.block3{float:none;clear:both;._wh(auto,auto);}
			.block4{margin-top:30px;padding:29px 30px 20px;}
			.tri_top{._left;._wh(199px,120px);border-bottom:0;border-right:1px solid #d6d6d6;}
			.tri_btm{._right;._wh(80px,140px);margin:-10px 0;}
			.duo1_left,.duo2_right{float:none;._wh(80px,60px);border-left:0;}
			.duo1_right,.duo2_left{float:none;._wh(80px,60px);padding-top:9px;margin-top:10px;border-left:0;border-top:1px solid #d6d6d6;}
			.field{
				.col2b{width:500px;}
			}
			h2{padding:0 10px 13px;margin:0 -10px 39px;}
			.col1c,.col2c{float:none;width:auto;}
			.field3{margin:42px 0 0;}
		}
		
		.col1k,.col2k{float:none;width:auto;}
		
		.order_status{margin-bottom:20px;
			.time_block{._left;width:237px;padding:20px 10px 6px 16px;
				.days{._left;width:118px;margin:0;
					.nr{._left;width:60px;._alc;}
					.text{._left;width:58px;._all;padding:18px 0 12px;}
				}
				.hours{._right;width:118px;margin:0;
					.nr{._left;padding-left:10px;min-width:36px;._alc;}
					.text{._left;._all;padding:18px 0 12px;}
				}
				.nr{margin:0;._text(40px,48px);}
				.text{margin:0;}
				.deadline{margin-top:6px;}
			}
			.status{._right;width:395px;margin:20px 0;padding:0 20px 0;border-left:1px solid #d6d6d6;
				.status_cont{._left;width:180px;padding-right:20px;border-right:1px solid #d6d6d6;}
				.price_cont{._right;width:180px;
					&.withbtn{
						.price{margin:-2px 0 0;}
						.btn3{padding:12px 0 3px;margin:0 0 0;
							.overshad{top:11px;}
						}
					}
				}
				.rate{._right;width:180px;padding:15px 0 15px 20px;margin:0;border:0;border-left:1px solid #d6d6d6;}
				&.notime{._left;width:440px;border-right:1px solid #d6d6d6;border-left:0;
					.price_cont{width:238px;
						.price{border:0;padding:0;margin-top:10px;}
					}
				}
				&.have_rate{width:auto;border:0;
					.price_cont{._left;}
				}
			}
		}
		
		.list_menu{
			.show2{._left;._wh(220px,43px);margin:-3px 0 0 -3px;}
			.sort{._left;width:220px;margin:-3px 0 0 17px;}
		}
		
		.order_list{
			.no_dt{._inl;}
			.no_mob{._none;}
			.header{
				.col6{width:161px;}
				.col7{._none;}
			}
			.line{
				.col6{width:159px;}
				.col7{width:54px;border-right-width:1px;}
				.col8{._none;}
				.btn6{._none;}
			}
		}
	
		.order_list_empty{
			>div{padding:50px 40px 50px;}
		}
		
		.profile_text{padding:38px 0 23px;}
		
		.profile_cols{
			.col{width:340px;
				.line .value{width:155px;margin-right:-15px;}
			}
		}
	
		.contact_page{
			.top{padding:36px 0 31px;}
			.middle{
				.col{
					&.col1{float:none;width:auto;margin-bottom:20px;}
					&.col2{width:340px;margin-left:0;}
					&.col3{width:340px;}
					.inner{padding:20px 40px;}
					.info{._left;width:280px;margin-left:-20px;padding:4px 0 11px;}
					.line{padding:4px 0 0;
						.name{._left;width:120px;}
						.value{._right;width:155px;._ptsansB;color:#000000;}
					}
					.or{._left;height:60px;border-bottom:0;border-right:1px solid #d6d6d6;padding:0 7px 0 0;margin:0 0 0 42px;
						.text{top:50%;left:0;margin:-7px 0 0 -5px;padding-top:1px;}
					}
					.btn1{._right;width:260px;margin-top:10px;}
				}
			}
		}
	}
		
	.whyus{
		.wrap{padding-top:70px;padding-bottom:80px;}
		a{width:139px;
			.icon{margin:10px auto 0;}
			.text{margin:-5px 10px 10px 10px;}
		}
		&.sz2{
			.wrap{padding-top:50px;padding-bottom:40px;}
		}
	}
	
	.popup{
		&.big{left:0;width:auto;right:0;margin-left:0;
			.top{._rad(0,0,0,0);}
			.btm{._rad(0,0,0,0);}
		}
	}
}
@media only screen and (max-width: 767px) {
	.ver_320{._blo;}
	.ver_320i{._inl;}
	.no_320{._none;}
	.wrap{width:280px;}
	.wrap_onlymob{width:280px;margin:0 auto;}
	.mob_nowrap{width:auto;margin:0;}
	
	header{._rel;left:auto;right:auto;top:auto;
		>.wrap{._none;}
		#menu3{._blo;}
	}
	
	footer{
		.wrap{padding:20px 0 18px 0;}
		.social{._left;margin:0 0 0 -10px;
			a{._left;margin:0 0 0 10px;
				.icon{._wh(40px,40px);}
				.number{._none;}
				&.gp .icon{._sprite(0,-30px);}
				&.fb .icon{._sprite(-40px,-30px);}
				&.tw .icon{._sprite(-80px,-30px);}
			}
		}
		.to_the_top{._blo;}
		.mob_clear{._blo;}
		.links1{float:none;._text(15px,18px);padding:30px 0 0 0;margin:20px 0 0 0;border-top:1px solid #243d53;
			li{margin:0;padding:0 10px 0 0;width:130px;
				a{min-height:36px;}
			}
		}
		.security{padding:6px 18px 8px 18px;margin:24px 0 0 0;
			.title{padding:6px 9px 0 0;
				&:before{._none;}
			}
			.no_mob{._none;}
		}
		.links2{._text(13px,16px);padding:26px 0 24px 0;
			li{._left;width:130px;padding:2px 10px 2px 0;
				a{._blo;min-height:32px;}
			}
		}
		.security+.copyright{margin-top:17px;}
		.copyright.mob_mt_20{margin-top:20px;}
	}
	
	.contacts_block{._none;}

	.userinput,#content .userinput{
		h2{._text(20px,24px);margin:27px 0 20px;}
		h3{._text(15px,18px);margin:20px 0 13px;}
		p{margin-bottom:10px;}
		ul{margin:0 0 26px;
			li{padding:0 0 8px 20px;._rel;
				&:before{._cont;._abs;top:5px;left:0px;._wh(5px,5px);._sprite(-115px,0);}
			}
		}
		ol{margin:0 0 16px;counter-reset:item;
			li{padding:0 0 8px 20px;._rel;list-style:none;
				&:before{._cont;._abs;top:0px;left:0px;._wh(18px,20px);._b;color:#64A3B9;content:counter(item);counter-increment:item;}
			}
		}
		img{margin-bottom:20px;._blo;max-width:100%;}
		.table_cont{width:100%;overflow-x:auto;margin:23px 0 31px;}
		.table_inner{._rad(4px,4px,0,0);._ovv;}
		table{
			thead{._text(13px,16px);._b;color:#ffffff;}
			tbody{._text(15px,18px);
				tr{border:1px solid #c3c3c3;border-top:0;}
			}
			th{padding:9px 10px 5px;._bgc(#5f7f9a);}
			td{padding:13px 10px 11px;}
			.first_col{padding-left:20px;}
			.first_row .first_col{._rad(4px,0,0,0);}
			.last_col{._alr;padding-right:20px;}
			.first_row .last_col{._rad(0,4px,0,0);border-right:1px solid transparent;}
		}
		.youtube_video{margin:15px 0 20px;}
	}
	
	#content{
		h1{._text(30px,36px);}
		h2{._text(15px,20px);
			&.notlogged{margin-bottom:23px;}
		}
		.sp40-35-15{height:15px;}
		.sp40-40-0{height:0;}
		.sp100-100-0{height:0;}
		.sp100-100-50{height:50px;}
		.sp100-100-60{height:60px;}
		.sp100-80-87{height:87px;}
		.sp60-40-0{height:0;}
		.sp50-50-30{height:30px;}
		.sp70-70-0{height:0;}
		.sp20-20-10{height:10px;}
		.sp0-0-90{height:90px;}
		.sp32-32-16{height:16px;}
		.sp24-24-16{height:16px;}
		.sp27-37-28{height:28px;}
		
		#promo{height:auto;._rel;z-index:10;margin-bottom:0px;._bgc(#eeeeee);
			.bg{._abs;top:0;left:0;._wh(100%,114px);._ovh;z-index:-2;
				img{._none;._abs;top:50%;left:50%;min-width:100%;min-height:100%;
					&.active{._blo;}
				}
			}
			.wrap{height:auto;padding-top:100px;padding-bottom:10px;
				.cont{._rel;bottom:auto;left:auto;right:auto;._bgc(#1b1b1b);padding:18px 20px 12px 20px;
					.items{margin-bottom:15px;._text(24px,29px);
						.desc{margin:6px 0 0;._text(14px,17px);}
					}
				}
			}
		}
	
		.startpage_slider{
			.wrap{width:auto;margin:0;}
			.calc_cont{margin:0;padding:25px 0 16px 0;._rad(0,0,0,0);}
			h2{width:280px;margin:0 auto 20px;}
			.slider_cont{height:130px;._rel;
				.arrow{
					&.left{left:0;}
					&.right{right:0;}
				}
			}
		}
		
		.statistics{
			.wrap{padding-top:27px;padding-bottom:40px;}
			h2{._text(24px,30px);._alc;margin:0 0 -7px 0;}
			.list_cont{width:220px;margin:0 auto;padding:0 0 16px 0;
				.list{
					.item{
						.smalltext{margin:29px 0 0 0;}
					}
				}
			}
			.button_cont{._blo;}
		}
		.how_it_works{._rel;z-index:10;
			.bg{._bgc(#ffc600);
				img{._none;}
			}
			.wrap{padding-top:25px;padding-bottom:40px;}
			h2{._text(24px,32px);}
			.cont{height:430px;margin-top:30px;
				.link{._wh(16px,6px);._bg('how_it_works_dots_m.png');
					&.onetwo{left:132px;top:62px;}
					&.twothree{left:113px;top:113px;._wh(55px,55px);._bg('how_it_works_dots_m2.png');}
					&.threefour{left:132px;top:212px;}
					&.fourfive{left:113px;top:263px;._wh(55px,55px);._bg('how_it_works_dots_m2.png');}
					&.fivesix{left:132px;top:362px;}
				}
				.step{._abs;top:0;._wh(100px,109px);padding:21px 15px 0 15px;._rad(65px,65px,65px,65px);._bgc(#5f7f9a);
					.nr{._text(43px,43px);}
					.text{._text(15px,16px);}
					&.step1{left:0px;}
					&.step2{left:150px;}
					&.step3{left:0px;top:150px;}
					&.step4{left:150px;top:150px;}
					&.step5{left:0px;top:300px;}
					&.step6{left:150px;top:300px;}
				}
			}
		}
		.safety{
			.wrap{padding-top:27px;padding-bottom:28px;}
			.col{._rel;padding:0;min-height:0px;}
			.cont{._sta;top:auto;left:auto;bottom:auto;width:auto;margin:0 0 25px 0;}
			.cont2{._blo;._wh(auto,auto);}
			.text{._blo;._vam;padding:0 40px;._text(24px,29px);._alc;
				&:before{._none;}
			}
		}
		.aboutus{._none;}
	
		.col1a{float:none;width:auto;}
		.col2a{._none;}
		
		.small_stats{._none;}
		
		.form_bg{._bgc(#eeeeee);}
		
		.has_tip:hover .tip{._none;}
		.has_tip.open_tip .tip{._blo;}
		
		.order_form{padding:4px 0px 50px;._bgc(transparent);
			&.sz2{padding:4px 0 50px;}
			.field{margin:13px 0 0 0;}
			.col1b,.col2b,.col1d,.col2d,.col1e,.col1i,.col2i,.col1ee{float:none;width:auto;}
			.col2e{._left;._all;margin-top:10px;}
			.col2e.v2{float:none;width:auto;}
			.col2e.v3{margin-top:20px;
				.btn4{margin-bottom:0;}
			}
			.col1ee{margin-bottom:25px;}
			.col1f{width:80px;}
			.col2f{width:180px;}
			.col1g{padding-top:13px;}
			.col2g{width:251px;padding-top:17px;padding-bottom:9px;}
			label.has_tip{
				&:hover{border-bottom:1px dashed #43484c;}
			}
			label.has_tip.open_tip{border-bottom:0;}
			.label_cont{._blo;min-height:0px;padding:1px 0 3px;
				.label_center{._blo;}
			}
			.note2{margin:5px 0 -10px 8px;}
			.forgot{margin-top:4px;}
			.forgot_pw_block{padding-bottom:0px;}
			.btn4{margin-bottom:14px;}
			.no_mob{._none;}
			.mobi{._inl;}
			.option_list{margin-bottom:13px;
				.col150{width:140px;}
				.col160{width:140px;}
				.col180{width:140px;}
			}
			.option_list+.col1ee{margin:-9px 0 25px;}
			hr{margin:27px 0;
				&.hr20{margin:20px 0;}
				&.mob_small{margin:14px 0;}
			}
			.authorize_cont{
				.btn3{width:100%;}
			}
		}
	
		.test_block{margin:0 0 11px;
			.test_cont{
				.inner{._bgc(#eeeeee);._rad(0,0,3px,3px);padding:20px 10px 20px 20px;
					.col_l{float:none;width:auto;}
					.col_r{float:none;width:auto;margin:20px 0 0 -20px;
						.btn1,.btn5{._left;width:110px;margin:0 0 0 20px;}
						.file{margin:0 10px 0 20px;}
					}
				}
			}
			.revision{
				.text{margin-top:4px;}
			}
			.comment{padding:28px 0 2px;}
		}
	
		.message_red{._rad(0,0,0,0);padding-bottom:16px;padding-left:0;padding-right:0;}
		.message_green{._rad(0,0,0,0);padding-left:0;padding-right:0;
			&.p2{padding:20px 0 12px;}
		}
		
		.mob_verification_bg{._bgc(#eeeeee);}
	
		.verification{._bgc(transparent);._rad(0,0,0,0);padding:30px 0 50px;
			.field{
				.col1{float:none;width:auto;}
				.col2{width:100px;margin:20px 0 0 0;}
				.col3{._none;}
			}
		}
		
		.profile_page{
			.block1,.block2,.block3,.block4{float:none;._wh(auto,auto);margin:20px 0 0;padding:20px;}
			.block1{margin:0;}
			.tri_top{._left;._wh(159px,120px);border-bottom:0;border-right:1px solid #d6d6d6;margin-left:-10px;padding-right:10px;}
			.tri_btm{._right;._wh(80px,120px);margin:-10px -10px -10px 0;}
			.duo1_left,.duo2_right{float:none;._wh(80px,60px);border-left:0;}
			.duo1_right,.duo2_left{float:none;._wh(80px,60px);margin:10px 0 0;padding:9px 0 0;border-left:0;border-top:1px solid #d6d6d6;}
			.field{margin-right:-10px;
				.col1b{width:90px;}
				.col2b{width:150px;}
			}
			h2{margin-bottom:19px;}
			.col1c,.col2c{float:none;width:auto;}
			.field2{margin-bottom:11px;
				.valuet{._text(15px,18px);color:#43484c;margin-bottom:2px;}
				.value{._text(15px,18px);color:#000000;._b;}
			}
			.field3{margin-bottom:11px;
				.valuet{._text(15px,18px);color:#43484c;margin-bottom:2px;}
				.value{._text(15px,18px);color:#000000;}
			}
		}
	
		.form_summary{margin-bottom:10px;
			.wrap_onlymob{padding:13px 0 14px;}
			.col{float:none;width:auto;padding-left:0;}
			.name{width:130px;}
			.value{width:140px;}
		}
	
		.ctabs{
			.tab_top{margin:0;._rad(0,0,0,0);width:50%;
				.text{width:120px;padding:13px 20px 9px;._rel;}
				&.first{
					.text{._right;padding-left:0;}
				}
				&.last{
					.text{._left;padding-right:0;}
				}
				&.active{._bgc(#eeeeee);color:#000000;
					&.first .text:before{left:0;right:20px;}
					&.last .text:before{left:20px;right:0;}
				}
			}
			.tab_bottom{._none;._bgc(#eeeeee);
				&.active{._blo;}
			}
		}
		
		.green_title{._bgc(#4f718f);
			.wrap{padding-top:28px;padding-bottom:11px;}
			.location{margin-bottom:1px;}
			h1{._text(24px,30px);}
			.btn_cont{padding-top:0;margin-top:-8px;}
			&.sp68,&.sp60{margin-bottom:0px;}
			&.sp30-26-20{margin-bottom:20px;}
			&.sp26-26-0{margin-bottom:0;}
			&.sp30-40-0{margin-bottom:0;}
			&.order .wrap{padding-top:18px;padding-bottom:12px;}
		}
		
		.col1j,.col2j{float:none;width:auto;}
		
		.opendoc{
			.date{._text(13px,16px);color:#43484c;margin:19px 0 0 0;min-height:40px;._b;}
		}
		
		.sidemenu{padding-top:20px;padding-bottom:20px;border-bottom:1px solid #d6d6d6;
			.trigger{._blo;}
			.menu{._text(15px,20px);._bgc(#eeeeee);
				li.active{
					>.item{color:#43484c;margin:0;border:0;
						&:before{._none;}
					}
				}
				>li{
					.item{._rel;padding:17px 18px 13px 18px;color:#3572B0;
						&:hover{color:#43484c;._bgc(#eeeeee);}
					}
					>.item{._b;}
					&.has_submenu{
						>.item{color:#43484c;
							&:before{._none;}
						}
					}
					.submenu{
						>li{._rel;
							>.item{padding-left:29px;}
						}
					}
				}
			}
			&.no_mob{._none;}
		}
		
		.side_slider{._none;}
		
		.aftercontent{margin:42px 0 0 0;
			.link_list{padding:17px 0 23px;
				h2{float:none;width:auto;margin:0;}
				ul{margin:21px 0 0 0;
					li{margin:10px 0 0 0;}
				}
			}
			.backsocial{margin:20px 0 0 0;
				.back{._wh(139px,40px);}
				.social{margin-left:141px;._alc;}
			}
			&.no_links{margin:20px 0 0 0;
				.backsocial{margin:0;}
			}
		}
		
		.faq{margin-top:-1px;
			li{border-bottom:1px solid #d6d6d6;._rel;
				.trigger{._text(18px,22px);padding:19px 0 18px 0;
					&:before{._none;}
				}
				.expand{._none;padding:3px 0 5px 0;}
				&:hover{
					.trigger{._bgc(transparent);color:#43484c;}
				}
				&.open:hover{
					.trigger{color:#000000;}
				}
			}
		}
		
		.col1k,.col2k{float:none;width:auto;}
		
		.order_status{margin-bottom:20px;
			.time_block{
				.days{width:139px;}
				.hours{width:140px;}
			}
			.status{
				.btn_status{
					&.pending{padding-bottom:5px;}
				}
				.price{border-top:0;margin:0;}
				&.have_rate{
					.price_cont{border-top:1px solid #d6d6d6;margin-top:20px;}
				}
			}
			.no_mob{._none;}
			.mob_only{._inl;}
		}
	
		.order_info{._bgc(transparent);margin-bottom:20px;
			.inner{padding:7px 0 7px;}
			.twocols{
				.col{float:none;width:auto;margin:0;
					.col2z{width:140px;}
				}
			}
			p.bolded{._text(15px,24px);}
			.no_mob{._none;}
		}
	
		.order_collapsible{._rad(0,0,0,0);margin:0;
			.trigger_line{._text(15px,18px);
				>.inner{padding:13px 0 9px;
					&:before{top:17px;right:0px;}
				}
			}
			.files{
				.m10b{margin:10px 0;}
				.file{
					.col2z{width:205px;}
				}
			}
			.messages{padding-bottom:10px;
				.m10mob{margin-bottom:10px;}
				.new_msg{margin-bottom:20px;
					.btn5{width:135px;}
					.btn7{width:135px;}
				}
				.msg{width:auto;margin-top:10px;}
			}
			.reason{
				.promise{._text(15px,20px);color:#000000;._b;margin:18px 0 4px;}
				.cols{
					.col1{._left;width:150px;}
					.col2{._right;width:120px;margin-left:0;}
					.col3{float:none;width:auto;clear:both;padding-top:18px;}
				}
			}
		}
		
		.list_message{._rad(0,0,0,0);margin-bottom:0;
			>div{padding:12px 0 14px;}
		}
	
		.order_list_empty{._rad(0,0,0,0);margin-top:0;._all;
			>div{padding:20px 0 16px;}
		}
	
		.profile_text{padding:18px 0 13px;}
		
		.profile_cols{
			.col{width:auto;margin-top:2px;
				&.col1,&.col2{float:none;}
				.inner{padding:10px 0 22px;}
				.fields{border-bottom:1px solid #d6d6d6;margin-bottom:18px;padding:4px 0 21px;}
				.line{padding:4px 0 0;
					.name{._left;width:110px;}
					.value{._right;width:160px;._ptsansB;color:#000000;}
					&.unspecified{
						.value{._ptsansI;._n;color:#82888c;}
					}
				}
				.link{._text(15px,20px);color:#3572B0;}
			}
		}
	
		.contact_page{
			.top{padding:18px 0 12px;
				h2{._text(20px,24px);}
			}
			.middle{
				.col{
					&.col1{float:none;width:auto;margin:0;}
					&.col2{float:none;width:auto;margin:20px 0 0;}
					&.col3{float:none;width:auto;margin:20px 0 0;}
					.line{
						.name{._left;}
						.value{width:130px;margin-right:-15px;}
					}
				}
			}
		}
	}
	
	.whyus{
		.wrap{padding-top:70px;padding-bottom:20px;}
		.extra{._blo;}
		a{._left;width:139px;border-left:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;color:#000000;._text(16px,18px);._alc;._b;
			.icon{margin:15px auto 0;}
			.text{margin:-13px 8px 10px 8px;}
			&.item1{border-left:1px solid #d6d6d6;}
			&.item2,&.item4{border-left:0;}
			&.item4,&.item5{border-bottom:0;}
		}
	}
	
	.popup{top:50px;left:0;width:auto;right:0;margin-left:0;
		.close{left:50%;margin-left:117px;}
		.top{padding-left:0;padding-right:0;._rad(0,0,0,0);
			.cols{
				.col{width:132px;margin-left:16px;
					&.first{margin-left:0;}
				}
				.col1a{width:23px;}
				.col2a{width:109px;}
			}
		}
		.btm{padding-left:0;padding-right:0;._rad(0,0,0,0);
			.btn1,.btn5,.btn7{
				&.big{width:auto;float:none;._blo;}
			}
			.btn1.big+.btn1.big,.btn1.big+.btn5.big,.btn1.big+.btn7.big,
			.btn5.big+.btn1.big,.btn5.big+.btn5.big,.btn5.big+.btn7.big,
			.btn7.big+.btn1.big,.btn7.big+.btn5.big,.btn7.big+.btn7.big{margin-top:10px;}
		}
		&.big{width:auto;margin-left:0;}
		&.small{left:0;width:auto;right:0;margin-left:0;}
	}
}