/* PT Sans */

@font-face {
	font-family:'PT Sans';
	font-style:normal;
	font-weight:normal;
	src:url('../fonts/ptsans400.eot');
	src:url('../fonts/ptsans400.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ptsans400.woff') format('woff'),
		url('../fonts/ptsans400.ttf') format('truetype'),
		url('../fonts/ptsans400.svg#iefix') format('svg');
	}
	
@font-face {
	font-family:'PT Sans';
	font-style:normal;
	font-weight:bold;
	src:url('../fonts/ptsans700.eot');
	src:url('../fonts/ptsans700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ptsans700.woff') format('woff'),
		url('../fonts/ptsans700.ttf') format('truetype'),
		url('../fonts/ptsans700.svg#iefix') format('svg');
	}
	
@font-face {
	font-family:'PT Sans';
	font-style:italic;
	font-weight:normal;
	src:url('../fonts/ptsans400i.eot');
	src:url('../fonts/ptsans400i.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ptsans400i.woff') format('woff'),
		url('../fonts/ptsans400i.ttf') format('truetype'),
		url('../fonts/ptsans400i.svg#iefix') format('svg');
	}