<header class="not_startpage">
	<section class="wrap clearfix">
		<nav id="menu1">
			<a href="{{$siteData.mirros_profile_orders_page|getLM}}" class="logo" title="{{'logoTitle'|gL:'Logo Title'}}">
				<img alt="{{'logoTitle'|gL:'Logo Title'}}" src="{{$AD_UPLOAD_FOLDER}}countries/{{$ctrAr.active.image}}">
			</a>
		</nav>
		<nav id="menu2">
			<div class="trigger">
				<img alt="{{'logoTitle'|gL:'Logo Title'}}" src="{{$AD_UPLOAD_FOLDER}}countries/{{$ctrAr.active.image}}">
			</div>
		</nav>
		<div class="logon">
			<div class="item mr">{{'profile_Welcome'|gL:'Welcome, '}}{{$userData.first_name}} {{$userData.last_name}}</div>
			{{if $menu.PROFILE|@count > 0}}	
				{{section name=item loop=$menu.PROFILE}}
				
				{{if $menu.PROFILE[item].active}}
				<div class="item active">{{$menu.PROFILE[item].title}}</div>
				{{else}}
				<a href="{{$menu.PROFILE[item].url}}" title="{{$menu.PROFILE[item].title}}" class="line ml">{{$menu.PROFILE[item].title}}</a>	
				{{/if}}
				
				{{/section}}
			{{/if}}
			
			
			<a href="{{$siteData.mirros_profile_logout_page|getLM}}" class="logout"></a>
		</div>
	</section>
	<nav id="menu3">
		<div class="trigger">
			<section class="wrap clearfix"><img alt="{{'logoTitle'|gL:'Logo Title'}}" src="{{$AD_UPLOAD_FOLDER}}countries/{{$ctrAr.active.image}}"></section>
		</div>
		<ul class="menu">
		{{if $menu.PROFILE|@count > 0}}	
		
			{{section name=item loop=$menu.PROFILE}}
			
			<li {{if $menu.PROFILE[item].active}}class="active"{{/if}}>
				<a href="{{$menu.PROFILE[item].url}}" title="{{$menu.PROFILE[item].title}}" class="css3">
					<div class="wrap">{{$menu.PROFILE[item].title}}</div>
				</a>	
			</li>
			
			{{/section}}
			
		{{/if}}
			<li>
				<div class="contact">
					<div class="button tel open">
						<a href="#" class="icon"></a>
						<div class="sub">
							<div class="wrap">
								{{'contacts_RightBlockPhone_Mobile'|gL:'
								<div class="country mt">United Kingdom</div>
								<div class="phone_nr mt">44-203-670-0050</div>
								<div class="country">Australia</div>
								<div class="phone_nr">61-283-550-175</div>'}}
							</div>
						</div>
					</div>
					<div class="button msg">
						<a href="#" class="icon"></a>
						<div class="sub">
							<div class="wrap">
								{{'contacts_RightBlockEmail'|gL:'
								<div class="mailus">Feel free to mail us!</div>
								<a href="mailto:info@paperstock.com" class="mail">info@paperstock.com</a>
								'}}
							</div>
						</div>
					</div>
					<div class="button chat">
						<a href="#" class="icon"></a>
						<div class="sub">
							<div class="wrap">
								{{'contacts_RightBlockChat'|gL:'
								<div class="online_chat">Online chat</div>
								<a href="#" onclick="return SnapABug.startLink();" class="btn1">Start conversation</a>
								'}}
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</nav>
</header>