<!DOCTYPE html>
<html lang="{{$web.lang}}" class="no-js">
	<head>
		<title>{{$web.pageTitle|stripslashes|replace:'"':''|strip_tags}}</title>
		<meta name="description" content="{{$web.pageDescription|stripslashes|replace:'"':''|strip_tags}}"/>
		<meta name="keywords" content="{{$web.pageKeywords|stripslashes|replace:'"':''|strip_tags}}"/>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta content="{{'siteAuthor'|gL:'www.beattum.com'}}" name="author" />
		
		<meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		
		<meta property="og:title" content="{{$web.pageTitle|stripslashes|replace:'"':''|strip_tags}}" />
		<meta property="og:description" content="{{$web.pageDescription|stripslashes|replace:'"':''|strip_tags}}" />
		<meta property="og:image" content="http://{{$smarty.server.HTTP_HOST}}{{$AD_UPLOAD_FOLDER}}countries/{{$ctrAr.active.image}}" />
		
		<link rel="icon" href="{{$AD_IMAGE_FOLDER}}favicon.png">
		<link rel="shortcut icon" href="{{$AD_IMAGE_FOLDER}}favicon.png">
		{{if $ctrAr.active.webmasters}}<meta name="google-site-verification" content="{{$ctrAr.active.webmasters}}" />{{/if}}
		{{$PAGE_HEAD_TEMPLATE}}
	</head>
	
	<!--[if lt IE 9 ]>    <body class="ie8"> <![endif]-->
	<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
	
		{{if $ctrAr.active.google_analytics}}
			 
			 <!-- Google Tag Manager -->
			<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{$ctrAr.active.google_analytics}}"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','{{$ctrAr.active.google_analytics}}');</script>
			<!-- End Google Tag Manager -->
				
		{{/if}}
	
		<div class="ver_1024"></div>
		<div class="ver_768"></div>
		<div class="ver_320"></div>
		
		{{$PAGE_CONTACT_TEMPLATE}}
		<section id="page">
			{{$PAGE_HEADER_TEMPLATE}}
			{{$PAGE_BODY_TEMPLATE}}
			<div class="footer_push"></div>
		</section>
		{{$PAGE_FOOTER_TEMPLATE}}
		
		{{if $ctrAr.active.gAnalytics}}
			{{$ctrAr.active.gAnalytics}}
		{{/if}}
		
	
		<script src="{{$AD_JS_FOLDER}}{{$web.country}}/bootstrap.min.js"></script>
		<script src="{{$AD_JS_FOLDER}}{{$web.country}}/bootstrap-select.min.js"></script>
		<script src="{{$AD_JS_FOLDER}}{{$web.country}}/jquery.touchSwipe.min.js"></script>
		<script src="{{$AD_JS_FOLDER}}{{$web.country}}/js.js"></script>
		<script src="{{$AD_JS_FOLDER}}functions.js"></script>
		<script src="{{$AD_JS_FOLDER}}{{$web.country}}/order.js"></script>
		<script src="{{$AD_JS_FOLDER}}{{$web.country}}/profile.js"></script>
		<script src="{{$AD_JS_FOLDER}}ajax-uploader.js"></script>
	</body>	
</html>
