<div class="content">
	<div id="modulePath">
	<div class="error-msg" id="errorBlock" style="display:none;"></div>
	<input type="hidden" name="id" id="id" value="{{$edit.id}}" />
	<table class="holder-table">
		<tr>
			<td class="left-td">
				<table class="inner-table">
					<tr>
						<td colspan="2"><b>{{'general_data'|gLA:'General data'}}</b></td>
			        </tr>
			        <tr>
			            <td>{{'m_title'|gLA:'Title'}}*:</td>
			            <td><input type="text" class="long simple" name="title" id="title" value="{{$edit.title|clear}}" /></td>
			        </tr>
			        <tr>
			        	<td>{{'parent_page'|gLA:'Category'}}:</td>
			        	<td>
			        	<input type="hidden" class="simple" name="content_id" id="content_id" value="{{$edit.content_id|clear}}" />
						<input type="text" class="notInsert" value="{{$edit.content_idTitle|clear}}" id="content_idTitle" name="content_idTitle" readonly="readonly" />
						<a href="#" onclick="openSiteMapDialog('content_id', 'content_idTitle', ''); return false;" class="select-btn">{{'select'|gLA:'Select'}}</a>
						<a href="#" onclick="$('#content_id').val(''); $('#content_idTitle').val(''); return false;">{{'clear'|gLA:'Clear'}}</a>
			        	</td>
						
			        </tr>
			        <tr>
						<td>{{'enabled'|gLA:'Enabled'}}</td>
						<td><input type="checkbox" value="1" id="enable" class="active simple" {{if $edit.enable}} checked="checked" {{/if}} /></td>
					</tr>
					
					{{if $edit.send_email && !$edit.send_email_done}}
					<tr>
						<td>{{'send_answer_to_user'|gLA:'User have checked that wanna get answer, send him now without publication? '}}</td>
						<td><input type="checkbox" value="1" id="send_done" class="active simple" /></td>
					</tr>
					{{/if}}
			        <tr>
			            <td>{{'m_question'|gLA:'Question'}}*:</td>
			            <td>
			            	<textarea name="question" id="question" class="simple" cols="100" rows="4" class="t-desc">{{$edit.question|clear}}</textarea>
			            </td>
			        </tr>
			        <tr>
			            <td>{{'m_answer'|gLA:'Answer'}}*:</td>
			            <td>
			            	<textarea name="answer" id="answer" class="simple" cols="100" rows="6">{{$edit.answer|clear}}</textarea>
			            	<p class="wys"><a href="#" onclick="openCkEditor('answer', 'advanced'); return false;">{{'wysiwyg'|gLA:'WYSIWYG'}}</a></p>
			            </td>
			        </tr>
			        
    			</table>
    		</td>
		</tr>
	</table>
    <table class="bttns-table">
        <tr>
            <td>
            	{{if $edit.id}}
                <div class="btn orange"><a href="javascript:;" onclick="checkFields('apply');"><span>{{'apply'|gLA:'Apply'}}</span></a></div>
                {{/if}}
                <div class="btn"><a href="javascript:;" onclick="checkFields('save');"><span>{{'save'|gLA:'Save'}}</span></a></div>
                <div class="btn cancel"><a href="javascript:;" onclick="window.location.href = moduleTable.getRequestUrl() + '#content_id:{{$edit.content_id}}/';"><span>{{'m_cancel'|gLA:'Cancel'}}</span></a></div>
            </td>
        </tr>
    </table>
    </form>

    <script type="text/javascript">
	    moduleTable.mainUrl = '{{$MAIN_URL}}';
            moduleTable.moduleName = '{{$MODULE_NAME}}';
            
            $(document).ready(function() {

                    var tabindex = 1;
                    $('#editForma :input,select').each(function() {
                            if (this.type != "hidden") {
                                    var $input = $(this);
                                    $input.attr("tabindex", tabindex);
                                    tabindex++;
                            }
                    });
                    

            });
			
	</script>
	</div>
</div>