<div class="content">
	<form class="forma" method="post" action="" onsubmit="return false;">
		<fieldset>
			
			{{$tTable}}
			
			<div id="modulePath">
			</div>
			
			{{$bTable}}
	
		</fieldset>
	</form>
	
	<script type="text/javascript">
		moduleTable.mainUrl = '{{$MAIN_URL}}';
		moduleTable.moduleName = '{{$MODULE_NAME}}';
		moduleTable.usePaging = true;
		{{if $MODULE_FROM}}
	    moduleTable.from = {{$MODULE_FROM}};
	    {{/if}}

		$(document).ready(function() {
			
			updateModule();	
			
		});
	</script>
</div>	