<section class="green_title order">
	<section class="wrap">
		<h1>{{$web.title}}</h1>
	</section>
</section>
<div class="sp27-37-28"></div>
<section class="wrap clearfix">
	<p>{{'profile_EditText'|gL:'Text text text. Profile edit text.'}}</p>
</section>
<div class="sp23-26-23"></div>

<section class="wrap clearfix profile_page">
	<div class="block block1 clearfix">
		<div class="tri_top"><div class="outer"><div class="inner">
			<div class="stat1">{{$userData.total_amount|number_format:2:'.':''}}$</div>
			<div class="stat1t">{{'writers_TotalAmount'|gL:'Total earnings'}}</div>
		</div></div></div>
		<div class="tri_btm">
			<div class="duo1_left"><div class="outer"><div class="inner">
				<div class="stat2t">{{'writers_ProfileRating'|gL:'Rating'}}</div>
				<div class="stat2">{{$userData.rating|number_format:2:'.':''}}</div>
			</div></div></div>
			<div class="duo1_right"><div class="outer"><div class="inner">
				<div class="stat2t">{{'writers_ProfileStatus'|gL:'Status'}}</div>
				<div class="stat2">
					{{if $userData.rating >= 4}}
					{{'writers_ProfileVipStatus'|gL:'VIP'}}
					{{else}}
					{{'writers_ProfileSimpleStatus'|gL:'Regular writer'}}
					{{/if}}
				</div>
			</div></div></div>
		</div>
	</div>
	<div class="block block2 clearfix">
		<div class="tri_top"><div class="outer"><div class="inner">
			<div class="stat1">{{$userData.completed_orders}}</div>
			<div class="stat1t">{{'writers_CompletedOrders'|gL:'Completed orders'}}</div>
		</div></div></div>
		<div class="tri_btm">
			<div class="duo2_right"><div class="outer"><div class="inner">
				<div class="stat2t">{{'writers_SuccessfulApplications'|gL:'Successful applications'}}</div>
				<div class="stat2">{{$userData.applications}}</div>
			</div></div></div>
			<div class="duo2_left"><div class="outer"><div class="inner">
				<div class="stat2t">{{'writers_TotalApplications'|gL:'Total applications'}}</div>
				<div class="stat2">{{$userData.total_applications}}</div>
			</div></div></div>
		</div>
	</div>
	<div class="block block3 clearfix">
		<div class="duo_top">
			{{if $userData.id}}
			<div class="field clearfix">
				<div class="col1b">{{'profile_EditField_ID'|gL:'Cliend ID'}}</div>
				<div class="col2b">{{$userData.id}}</div>
			</div>
			{{/if}}
			{{if $userData.first_name}}
			<div class="field clearfix">
				<div class="col1b">{{'profile_EditField_Name'|gL:'Name'}}</div>
				<div class="col2b">{{$userData.first_name}}</div>
			</div>
			{{/if}}
			{{if $userData.last_name}}
			<div class="field clearfix">
				<div class="col1b">{{'profile_EditField_LastName'|gL:'Last name'}}</div>
				<div class="col2b">{{$userData.last_name}}</div>
			</div>
			{{/if}}
			{{if $userData.email}}
			<div class="field clearfix">
				<div class="col1b">{{'profile_EditField_Email'|gL:'Email'}}</div>
				<div class="col2b">{{$userData.email}}</div>
			</div>
			{{/if}}
			{{if $userData.country}}
			<div class="field clearfix">
				<div class="col1b">{{'profile_EditField_Country'|gL:'Country'}}</div>
				<div class="col2b">{{$userData.country}}</div>
			</div>
			{{/if}}
			{{if $userData.phone}}
			<div class="field clearfix">
				<div class="col1b">{{'profile_EditField_Phone'|gL:'Phone'}}</div>
				<div class="col2b">{{$userData.phone}}</div>
			</div>
			{{/if}}
		</div>
		<div class="duo_btm">
			<a href="javascript:;" onclick="profile.changePassword();" class="link trigger_changepw">{{'profile_EditChangePassword'|gL:'Change passoword'}}</a>
		</div>
	</div>
	<div class="c"></div>
	<div class="block block4 clearfix">
		<h2>{{'writers_YourSettings'|gL:'Your settings'}}</h2>
		<div class="col1c">
			<div class="field2">
				<div class="valuet">{{'writers_EditField_24/7'|gL:'Are you will available 24/7?'}}</div>
				<div class="value">{{$userData.available_24_7}}</div>
			</div>
			<div class="field2">
				<div class="valuet">{{'writers_EditField_have_worked'|gL:'Have you ever worked for any other online academic assistance companies?'}}</div>
				<div class="value">{{$userData.have_worked}}</div>
			</div>
			{{if $userData.familiar_with|@count > 0}}
			<div class="field2">
				<div class="valuet">{{'writers_EditField_familiar_with'|gL:'What citation styles are you familiar with?'}}</div>
				<div class="value">{{', '|@implode:$userData.familiar_with}}</div>
			</div>
			{{/if}}
			<div class="field2">
				<div class="valuet">{{'writers_EditField_native_language'|gL:'What is your native language?'}}</div>
				<div class="value">{{$userData.native_language}}</div>
			</div>
			<div class="field2">
				<div class="valuet">{{'writers_EditField_academic_degree'|gL:'What is your highest verifable academic degree?'}}</div>
				<div class="value">{{$userData.academic_degree}}</div>
			</div>
			{{if $userData.disciplines|@count > 0}}
			<div class="field2">
				<div class="valuet">{{'writers_EditField_disciplines'|gL:'Please select 3-7 disciplines you are proficient in and indicate sotware you have access to:'}}</div>
				<div class="value">{{', '|@implode:$userData.disciplines}}</div>
			</div>
			{{/if}}
		</div>
		<div class="col2c">
			<div class="field3">
				<div class="valuet">{{'writers_EditField_about_me'|gL:'About me:'}}</div>
				<div class="value">{{$userData.about_me}}</div>
			</div>
		</div>
	</div>
</section>