<section class="green_title order sp30-26-20">
	<section class="wrap">
		<h1>{{'order'|gL:'Order'}} {{$profile.data.id}}</h1>
	</section>
</section>
<section class="wrap mob_nowrap clearfix">
	<div class="col1k">
		<div class="order_status wrap_onlymob css3 clearfix">
			<div class="time_header ver_1024 ver_320">{{'order_TimeLeft'|gL:'Time left'}}</div>
			<div class="time_block">
				<div class="days"><div class="nr">{{$profile.data.diffDays}}</div><div class="text">{{'order_Days'|gL:'Days'}}</div></div>
				<div class="hours"><div class="nr">{{$profile.data.diffHours}}</div><div class="text">{{'order_Hours'|gL:'Hours'}}</div></div>
				<div class="clearfix"></div>
				<div class="deadline">{{'order_Deadline'|gL:'Deadline'}} {{$profile.data.first_draft_deadline|date_format:"%b %d %Y, %l:%M %p %Z"}}</div>
			</div>
			<div class="status notpaid clearfix">
				<div class="status_cont">
					<a href="javascript:;" class="btn_status css3">{{'order_Status_WriterAppointed'|gL:'Writer appointed: NO'}}</a>
					<a href="#" class="btn_pay notpaid css3">{{'order_NotPaid'|gL:'Not paid'}}</a>
				</div>
				<div class="price_cont withbtn">
					<div class="price">{{'order_TotalPrice'|gL:'Total price'}} {{$profile.data.price}}</div>
					<a href="#apply" class="btn3">{{'profile_OrdersApply'|gL:'Apply'}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col2k">
		<div class="order_info wrap_onlymob css3">
			<div class="inner">
				<div class="twocols clearfix">
					{{if $profile.order.3step|@count > 0}}
						{{math assign="coldiv2" equation="x / y" x=$profile.order.3step|@count y=2 }}
						{{foreach name=orderdata from=$profile.order.3step item=i key=k}}
							
							{{assign var="ID" value=$i.db_field}}
							
							{{if $profile.data[$ID] && $ID != 'preferred_writer'}}
							
								{{if $smarty.foreach.orderdata.first}}
								<div class="col first">		
								{{/if}}
								
								<div class="line clearfix">
									<div class="col1z">{{$i.name}}:</div>
									<div class="col2z">
									{{if $ID == 'first_draft_deadline'}}
									{{assign var="TIMETOSHOW" value=`$profile.data[$ID]`}}
									{{$TIMETOSHOW|date_format:"%b %d %Y, %l:%M %p %Z"}}
									{{elseif $ID == 'pages_type'}}
									{{$profile.data.number_of_pages}}, {{$profile.data[$ID]}}
									{{elseif $ID == 'additional_extras'}}
										{{if $profile.data[$ID]|@count > 0}}
											{{","|@implode:$profile.data[$ID]}}
										{{/if}}
									{{else}}
									{{$profile.data[$ID]}}
									{{/if}}
									</div>
								</div>
							{{/if}}
							
							
							{{if $smarty.foreach.orderdata.last}}
								</div>	
							{{elseif $smarty.foreach.orderdata.iteration == $coldiv2|@ceil}}
								</div>
								<div class="col">
							{{/if}}
							
						{{/foreach}}
					{{/if}}
				</div>
				<hr>
				<div class="block">
					<h2>{{'order_TopicInFull'|gL:'Topic in full'}}:</h2>
					<p>
						{{$profile.data.topic}}
					</p>
				</div>
				<hr>
				<div class="block">
					<h2>{{'order_Details'|gL:'Details'}}:</h2>
					<p>
						{{$profile.data.work_details}}
					</p>
				</div>
				{{if $profile.data.additional_extras|@count > 0}}
				<hr>
				<div class="block">
					<h2>{{'order_Extras'|gL:'Extras'}}:</h2>
					<p class="bolded">
						{{","|@implode:$profile.data.additional_extras}}
					</p>
				</div>
				{{/if}}
			</div>
		</div>
		<div class="order_collapsible open css3">
			<a name="apply"></a>
			<div class="title_line"><div class="inner wrap_onlymob">{{'order_ReasonForApply'|gL:'Reason for applying'}}</div></div>
			<div class="collapsible"><div class="inner wrap_onlymob">
				<div class="reason">
					<div class="cinput"><textarea data-default="{{'order_ReasonForApplyDefault'|gL:'Write your reason here'}}" class="apply" name="reason" id="reason"></textarea></div>
					<div class="promise">{{'order_WritersPromosedPrice'|gL:'Your promosed price for this order:'}}</div>
					<div class="cols clearfix">
						<div class="col1">
							<div class="cinput"><input type="text" name="amount" id="amount" class="apply"></div>
						</div>
						<div class="col2">
							<a href="javascript:;" onclick="profile.orderApply();" class="btn1" title="{{'order_Submit'|gL:'Submit'}}">{{'order_Submit'|gL:'Submit'}}</a>
						</div>
						<div class="col3">{{'order_WritersPromosedPriceText'|gL:'If you want you can offer your price, the more competitive your price is the best are chanses to be chonsen'}}</div>
					</div>
				</div>
			</div></div>
		</div>
		<div class="backlink_cont wrap_onlymob">
			<a href="javascript:;" onclick="history.go(-1);" class="backlink">{{'order_Back'|gL:'Back to order list'}}</a>
		</div>
	</div>
</section>