<section class="green_title order sp30-26-20">
	<section class="wrap">
		<h1>{{'order'|gL:'Order'}} {{$profile.data.id}}</h1>
	</section>
</section>
<section class="wrap mob_nowrap clearfix">
	<div class="col1k">
		<div class="order_status wrap_onlymob css3 clearfix">
			<div class="status notime have_rate clearfix">
				<div class="status_cont">
					<a href="javascript:;" class="btn_status css3 green">{{'order_Status_Approved'|gL:'Approved!'}}</a>
					<a href="#" class="btn_pay css3">{{'order_Paid'|gL:'Paid'}}</a>
				</div>
				<div class="price_cont">
					<div class="price green">{{'order_YouEarned'|gL:'You earned'}} {{$profile.data.writers_apply.amount}}</div>
					<div class="price2">{{'order_TotalPrice'|gL:'Total price'}} {{$profile.data.price}}</div>
				</div>
				<div class="rate">
					{{if $profile.data.rated}}
					<a href="javascript:;" class="btn1">{{'profile_OrdersRated'|gL:'Rated'}}</a>
					{{else}}
						<a href="javascript:;" onclick="profile.getOrderRatesForm({{$i.id}});" class="btn1">{{'profile_OrdersRate'|gL:'Rate'}}</a>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	<div class="col2k">
		<div class="order_info wrap_onlymob css3">
			<div class="inner">
				<div class="twocols clearfix">
					{{if $profile.order.3step|@count > 0}}
						{{math assign="coldiv2" equation="x / y" x=$profile.order.3step|@count y=2 }}
						{{foreach name=orderdata from=$profile.order.3step item=i key=k}}
							
							{{assign var="ID" value=$i.db_field}}
							
							{{if $profile.data[$ID] && $ID != 'preferred_writer'}}
							
								{{if $smarty.foreach.orderdata.first}}
								<div class="col first">		
								{{/if}}
								
								<div class="line clearfix">
									<div class="col1z">{{$i.name}}:</div>
									<div class="col2z">
									{{if $ID == 'first_draft_deadline'}}
									{{assign var="TIMETOSHOW" value=`$profile.data[$ID]`}}
									{{$TIMETOSHOW|date_format:"%b %d %Y, %l:%M %p %Z"}}
									{{elseif $ID == 'pages_type'}}
									{{$profile.data.number_of_pages}}, {{$profile.data[$ID]}}
									{{elseif $ID == 'additional_extras'}}
										{{if $profile.data[$ID]|@count > 0}}
											{{","|@implode:$profile.data[$ID]}}
										{{/if}}
									{{else}}
									{{$profile.data[$ID]}}
									{{/if}}
									</div>
								</div>
							{{/if}}
							
							
							{{if $smarty.foreach.orderdata.last}}
								</div>	
							{{elseif $smarty.foreach.orderdata.iteration == $coldiv2|@ceil}}
								</div>
								<div class="col">
							{{/if}}
							
						{{/foreach}}
					{{/if}}
				</div>
				<hr>
				<div class="block">
					<h2>{{'order_TopicInFull'|gL:'Topic in full'}}:</h2>
					<p>
						{{$profile.data.topic}}
					</p>
				</div>
				<hr>
				<div class="block">
					<h2>{{'order_Details'|gL:'Details'}}:</h2>
					<p>
						{{$profile.data.work_details}}
					</p>
				</div>
				{{if $profile.data.additional_extras|@count > 0}}
				<hr>
				<div class="block">
					<h2>{{'order_Extras'|gL:'Extras'}}:</h2>
					<p class="bolded">
						{{","|@implode:$profile.data.additional_extras}}
					</p>
				</div>
				{{/if}}
			</div>
		</div>
		<div class="order_collapsible open css3">
			<div class="trigger_line"><div class="inner wrap_onlymob">{{'order_Files'|gL:'Files'}}</div></div>
			<div class="collapsible"><div class="inner wrap_onlymob">
				<div class="files">
					<a href="javascript:;"  onclick="$('#fileForm').show();$('#newFile').hide();" id="newFile" class="btn1 m10bo">{{'order_AddNewFile'|gL:'Add new file'}}</a>
					<div id="fileForm" style="display:none;">
						
						<a href="javascript:;" id="uploadButton" class="btn1 m10bo">{{'order_Upload'|gL:'Upload'}}</a>
						<input type="text" value="" id="uploadButtonFile">
						<br /><br />
						
						<a href="javascript:;" onclick="profile.uploadFile();" class="btn1 m10bo">{{'order_Submit'|gL:'Submit'}}</a>
						<a href="javascript:;" onclick="$('#uploadButtonFile').val('');$('#fileForm').hide();$('#newFile').show();">{{'order_Cancel'|gL:'Cancel'}}</a>
					</div>
					{{foreach name=orders from=$profile.data.files item=i key=k}}
					{{assign var=pathinfo value=$i.filename|@pathinfo}}
					<div class="file clearfix css3">
						<div class="col1z">
							<div class="ico {{if $pathinfo.extension == 'jpg' || $pathinfo.extension == 'gif' || $pathinfo.extension == 'png' || $pathinfo.extension == 'jpeg'}}jpg{{else}}docx{{/if}}"></div>
							<div class="type">{{$pathinfo.extension}}</div>
						</div>
						<div class="col2z">
							<div class="link"><a href="/download.php?file=orders/{{$profile.data.id|@md5}}/{{$i.filename}}">{{$i.filename}}</a></div>
							<div class="author">{{if $i.user_id}}{{'order_MessagesYou'|gL:'You'}}{{else}}{{'order_MessagesAdministrator'|gL:'Administrator'}}{{/if}}, {{$i.created|date_format:"%b %d %Y, %l:%M %p %Z"}}</div>
						</div>
					</div>
					{{/foreach}}
				</div>
			</div></div>
		</div>
		<div class="order_collapsible open css3">
			<div class="trigger_line"><div class="inner wrap_onlymob">{{'order_Messages'|gL:'Messages'}}</div></div>
			<div class="collapsible"><div class="inner wrap_onlymob">
				<div class="messages">
					<a href="javascript:;"  onclick="$('#msgBlock').show();$('#newMsg').hide();" id="newMsg" class="btn1 m10bo">{{'order_NewMessage'|gL:'Create new message'}}</a>
					<div class="new_msg clearfix" id="msgBlock" style="display:none;">
						<div class="cinput default"><textarea id="message" data-default=""></textarea></div>
						<a href="javascript:;" onclick="profile.orderNewMessage();" class="btn1">{{'order_Submit'|gL:'Submit'}}</a>
						<a href="javascript:;" onclick="$('#msgBlock').hide();$('#newMsg').show();" class="btn5">{{'order_Cancel'|gL:'Cancel'}}</a>
					</div>
					{{foreach name=orders from=$profile.data.messages item=i key=k}}
					<div class="msg css3{{if $i.user_id}} self{{/if}}"><div class="inner">
						{{$i.message}}
						<div class="author">{{if $i.user_id}}{{'order_MessagesYou'|gL:'You'}}{{else}}{{'order_MessagesAdministrator'|gL:'Administrator'}}{{/if}}, {{$i.created|date_format:"%b %d %Y, %l:%M %p %Z"}}</div>
					</div></div>
					{{/foreach}}
				</div>
			</div></div>
		</div>
		<div class="backlink_cont wrap_onlymob">
			<a href="javascript:;" onclick="history.go(-1);" class="backlink">{{'order_Back'|gL:'Back to order list'}}</a>
		</div>
	</div>
</section>
<script type="text/javascript">
       
$(document).ready(function() {

	loadUploadButton('orders/temp/', 'uploadButton');

});

</script>