<section class="green_title order sp26-26-0">
	<section class="wrap">
		<div class="btn_cont">

			<div class="orders ver_320">
				<select class="selectpicker" data-width="100%" onchange="orderFilter(this, '{{$siteData.mirros_profile_orders_page|getLM}}');">
					{{foreach name=orderstatus from=$profile.config.status.apply item=i key=k}}
					<option value="{{$k}}" {{if !$smarty.get.status || $smarty.get.status == $k}}selected="selected"{{/if}}>{{$i|gL}}</option>
					{{/foreach}}
				</select>
			</div>

		</div>
		<h1>{{$web.title}}</h1>
	</section>
</section>
<section class="wrap mob_nowrap clearfix">
	<nav class="list_menu ver_1024 ver_768 clearfix">
		<ul class="show ver_1024">
			{{foreach name=orderstatus from=$profile.config.status.apply item=i key=k}}
			
			{{if (!$smarty.get.status && $k == 0) || $smarty.get.status == $k}}
			<li  class="active">
				<div class="item">{{$i|gL}}</div>
			</li>
			{{else}}
			<li>
				<a href="{{if $k == 0}}{{$siteData.mirros_profile_orders_page|getLM}}{{else}}{{$siteData.mirros_profile_orders_page|getLM}}status:{{$k}}/{{/if}}" class="item">
					{{$i|gL}}
				</a>
			</li>
			{{/if}}
			
			{{/foreach}}
		</ul>
		<div class="show2 ver_768">
			<select class="selectpicker" data-width="100%" onchange="orderFilter(this, '{{$siteData.mirros_profile_orders_page|getLM}}');">
				{{foreach name=orderstatus from=$profile.config.status.apply item=i key=k}}
				<option value="{{$k}}" {{if !$smarty.get.status || $smarty.get.status == $k}}selected="selected"{{/if}}>{{$i|gL}}</option>
				{{/foreach}}
			</select>
		</div>
		<div class="sort">
			<select class="selectpicker" id="ordersSort" data-width="100%" onchange="ordersSort('{{$siteData.mirros_profile_orders_page|getLM}}');">
				<option {{if $smarty.get.sort == 'deadline' || !$smarty.get.sort}}selected="selected"{{/if}} value="deadline">{{'profile_SortByDeadline'|gL:'Sort by deadline'}}</option>
				<option {{if $smarty.get.sort == 'created'}}selected="selected"{{/if}} value="created">{{'profile_SortByCreated'|gL:'Sort by created'}}</option>
			</select>
		</div>
	</nav>
	
	{{if $profile.data|@count > 0}}
	
	<div class="order_list ver_1024 ver_768">
		<div class="header css3 clearfix">
			<div class="col col1">{{'profile_OrdersTable_ID'|gL:'ID'}}</div>
			<div class="col col2">{{'profile_OrdersTable_Price'|gL:'Price'}}</div>
			<div class="col col3">{{'profile_OrdersTable_ItemsCount'|gL:'Items count'}}</div>
			<div class="col col4">{{'profile_OrdersTable_TypeOfPaper'|gL:'Type of paper'}}</div>
			<div class="col col5">{{'profile_OrdersTable_Subject'|gL:'Subject'}}</div>
			<div class="col col6">{{'profile_OrdersTable_Topic'|gL:'Topic'}}</div>
			<div class="col col7">{{'profile_OrdersTable_Deadline'|gL:'Deadline'}}</div>
		</div>
		{{foreach name=orders from=$profile.data item=i key=k}}
		<div class="line">
			<a href="{{$siteData.mirros_profile_orders_page|getLM}}id:{{$i.id}}/" class="line_link {{if $i.status == 1}}bolded{{/if}} clearfix">
				<div class="col col1">{{$i.id}}</div>
				<div class="col col2">{{$i.price}}</div>
				<div class="col col3">{{$i.number_of_pages}}</div>
				<div class="col col4">{{$i.type_of_work}}</div>
				<div class="col col5">{{$i.subject}}</div>
				<div class="col col6">{{$i.topic}}</div>
				<div class="col col7">{{$i.diffDays}}d {{$i.diffHours}}h</div>
				<div class="col col8"></div>
			</a>
			
			{{if $i.status == 3 && $i.writer_id != ''}}
				{{if $i.rated}}
					<a href="javascript:;" class="btn6 css3">{{'profile_OrdersRated'|gL:'Rated'}}</a>
				{{else}}
					<a href="javascript:;" onclick="profile.getOrderRatesForm({{$i.id}});" class="btn6 css3">{{'profile_OrdersRate'|gL:'Rate'}}</a>
				{{/if}}
			{{elseif !$i.apply}}
			<a href="{{$siteData.mirros_profile_orders_page|getLM}}id:{{$i.id}}/" class="btn6 css3 purple">{{'profile_OrdersApply'|gL:'Apply'}}</a>
			{{/if}}
			
			{{if $i.messages|@count > 0 || $i.files|@count > 0}}
			<div class="icons">
				
				{{if $i.messages|@count > 0}}
				<a href="#" class="icon purple"></a>
				{{/if}}
				
				{{if $i.files|@count > 0}}
				<a href="#" class="icon yellow">{{$i.files|@count}}</a>
				{{/if}}
			</div>
			{{/if}}
		</div>
		{{/foreach}}
		
		
		
	</div>
	<div class="order_list2 ver_320">
			{{foreach name=orders from=$profile.data item=i key=k}}
			<div class="item">
				<div class="wrap_onlymob">
					<div class="info1"><a href="{{$siteData.mirros_profile_orders_page|getLM}}id:{{$i.id}}/">{{'profile_OrdersTable_ID'|gL:'ID'}}: {{$i.id}}</a></div>
					<div class="info2 clearfix">
						<div class="col1">
							<div class="title">{{'profile_OrdersTable_TypeOfPaper'|gL:'Type of paper'}}:</div>
							<div class="value">{{$i.type_of_work}}</div>
						</div>
						<div class="col2">
							<div class="title">{{'profile_OrdersTable_Subject'|gL:'Subject'}}:</div>
							<div class="value">{{$i.subject}}</div>
						</div>
					</div>
					<div class="info3">
						<div class="title">{{'profile_OrdersTable_Topic'|gL:'Topic'}}:</div>
						<div class="value">{{$i.topic}}</div>
					</div>
				</div>
				<div class="line">
					<div class="wrap_onlymob clearfix">
						<div class="col col1 bolded">{{$i.price}}</div>
						<div class="col col3">{{$i.diffDays}}d {{$i.diffHours}}h</div>
					</div>
				</div>
			</div>
			{{/foreach}}
			
		</div>
	
	{{else}}
	
	<div class="order_list_empty wrap mob_nowrap css3">
		<div class="wrap_onlymob">
			<h2>{{'profile_OrdersEmptyTitle'|gL:'No orders yet'}}</h2>
			{{'profile_OrdersEmptyText'|gL:'<p>Mauris lacus enim, imperdiet at nisi non, porttitor hendrerit massa. Donec condimentum ligula eros, ut aliquet risus fringilla afusce dapibus quam eu adipiscing tempus.</p>
			<br>
			<p>Praesent in porta magna. Nunc hendrerit libero sed justo pharetra, eu tincidunt tellus tempus.</p>'}}
			
		</div>
	</div>
	
	{{/if}}
	
	
	
</section>