<td id="editForma" colspan="9" class="open">
	<div class="error-msg" id="errorBlock" style="display:none;"></div>
	<input type="hidden" name="id" id="id" value="{{$edit.id}}" />
	<table class="holder-table">
		<tr>
			<td>
				<table class="inner-table">
					<tr>
						<td colspan="2"><b>{{'general_data'|gLA:'General data'}}</b></td>
			        </tr>
			        <tr>
			            <td>{{'name'|gLA:'Name'}}:</td>
			            <td><input type="text" class="long" name="name" id="name" value="{{$edit.name}}" /></td>
			        </tr>
			        <tr>
			            <td>{{'parent_menu'|gLA:'Parent'}}:</td>
			            <td>
			            	<select class="long" name="parent_id" id="parent_id">
			            		<option value="0">{{'parent_none'|gLA:'None'}}</option>
								{{$edit.parent_id}}
							</select>
			            </td>
			        </tr>
			        <tr>
			            <td>{{'m_enable'|gLA:'Enable'}}:</td>
			            <td><input type="checkbox" name="enable" id="enable" value="1" {{if $edit.enable}} checked="checked" {{/if}} /></td>
			        </tr>
			        <tr>
			            <td>{{'m_expanded'|gLA:'Expanded'}}:</td>
			            <td><input type="checkbox" name="expanded" id="expanded" value="1" {{if $edit.expanded}} checked="checked" {{/if}} /></td>
			        </tr>
    			</table>
    		</td>
		</tr>
	</table>
    <table class="bttns-table">
        <tr>
            <td>
                <div class="btn"><a href="javascript:;" onclick="checkFields('save');"><span>{{'save_and_close'|gLA:'Save and close'}}</span></a></div>
                <div class="btn cancel"><a href="javascript:;" onclick="$('#edit_{{$edit.id}}').html('');"><span>{{'m_cancel'|gLA:'Cancel'}}</span></a></div>
            </td>
        </tr>
    </table>
    </form>
    
    <script type="text/javascript">

		var tabindex = 1;
		$('#editForma :input,select').each(function() {
			if (this.type != "hidden" && this.id != "cmsLang") {
				var $input = $(this);
				$input.attr("tabindex", tabindex);
				tabindex++;
			}
		});
		
	</script>
</td>