/* If you want to add your own CSS code, please do it in this file */
#Header  {
	background-color: #64A3B9;
}
#Header.is-sticky {
	background: #64A3B9;
}
#Header.is-sticky #menu {
	margin: 10px 0px 10px 0px;
}
#Header.is-sticky #logo {
	line-height: 40px;
	height: 40px;
}
#Header #menu {
	margin: 10px 0 0 0;
	float: left;
}
#Header .menu > li > a {
	margin: 0;
	font-weight: normal;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	text-transform: none;
	font-size: 15px;
	padding: 11px 12px 10px;
}
#Header #logo {
	line-height: 40px;
	height: 40px;
}

#Footer .copyrights {
	background-color: #64A3B9;
	margin: 0;
	color: #6B7B7F;
}
.quicklinks-buttons {
	float: right;
	margin-top: 10px;
}
.quicklinks-buttons .btn2 {
	float: left;
	width: 110px;
	margin-left: 10px;
	display: inline-block;
	color: #3C494C;
	background-image: url("http://www.papersstock.com/img/1/design/g50.png");
	background-color: transparent;
	background-repeat: repeat;
	background-position: 0px 0px;
	position: relative;
	text-align: center;
	padding: 13px 0px 8px;
	border-radius: 3px;
}
.quicklinks-buttons .btn2 .overshad {
    position: absolute;
    top: 12px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #FFF;
}
.btn2:hover{text-decoration: none;color:#374245;background:#5b6e73;border-bottom:3px solid #404f52;padding-bottom:5px}.btn2:hover .overshad{color:#fff}
.btn1:hover{text-decoration: none;color:#216b37;background-color:#37b35b;border-color:#2a964a}.btn1:hover .overshad{color:#fff}
.quicklinks-buttons .btn1, header .wrap .quicklinks .btn2 {
    float: left;
    width: 110px;
    margin-left: 10px;
}
.btn1 {
    display: inline-block;
    color: #25743C;
    background-color: #3DC264;
    border-bottom: 3px solid #3DC264;
    position: relative;
    text-align: center;
    padding: 13px 0px 4px;
    font-weight: 700;
    border-radius: 3px;
}
.btn1 .overshad {
    position: absolute;
    top: 12px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #FFF;
    font-weight: 700;
}

.small_stats img {
float: left;
}
.small_stats .nr {
position: absolute;
top: 42px;
right: 119px;
font-family: Arial,Helvetica,sans-serif;
font-size: 42px;
line-height: 42px;
color: #000;
font-weight: 700;
}
.small_stats .text {
position: absolute;
top: 46px;
left: 165px;
width: 70px;
font-size: 18px;
line-height: 18px;
color: #000;
font-weight: 700;
}
