/* Alerts */
.alert { margin-bottom: 20px; padding: 20px 55px 20px 70px; position: relative; -webkit-border-radius: 5px; border-radius: 5px; }
.alert .alert_icon {  font-size: 30px; line-height: 30px; color: rgba(0,0,0,.4); position: absolute; left: 30px; top: 15px; text-align: center; -webkit-border-radius: 5px; border-radius: 5px; }

.alert_warning { background: #ffe38b; color: #9b812e; }
.alert_warning a, .alert_warning a:hover { color: #645012; }
.alert_warning .alert_icon { left:36px; }

.alert_error { background: #fb5455; color: #fff; }
.alert_error a, .alert_error a:hover { color: #9f2e2e; }

.alert_info { background: #3097db; color: #fff; }
.alert_info a, .alert_info a:hover { color: #b1e0ff; }
.alert_info .alert_icon { left:34px; }

.alert_success { background: #a5de5c; color: #fff; }
.alert_success a, .alert_success a:hover { color: #5d9514; }

/* Tooltip */
.tooltip { display: inline; position: relative; cursor: help; border-bottom-width: 1px; border-style: dotted; }
.tooltip:hover:after, .tooltip.hover:after { content: attr(data-tooltip); font-size: 13px; line-height: 18px; text-align: center; border-radius: 5px; padding: 5px 15px; width: 140px; position: absolute; left: 50%; bottom: 110%; z-index: 98; margin-left: -85px; background:#444; color:#fff;}

/* Progress bars */
.progress_bars {}
.progress_bars .bars_list {}
.progress_bars .bars_list li { margin-bottom: 15px; }
.progress_bars .bars_list li:last-child { margin-bottom: 0px; }
.progress_bars .bars_list li  h6 { margin-bottom: 7px; position: relative; padding-right: 40px; line-height: 20px; font-size: 14px; }
.progress_bars .bars_list li  h6 .label { font-size: 12px; position: absolute; right: 5px; top: 0; font-size: 12px; }
.progress_bars .bars_list li .bar { position: relative; width: 100%; height: 25px; -webkit-border-radius: 5px; border-radius: 5px; overflow: hidden; background-color: rgba(0, 0, 0, .1); background-image: url("../images/pattern_slashes_3.png"); -webkit-box-shadow: 2px 2px 3px rgba(0,0,0, .15) inset; box-shadow: 2px 2px 3px rgba(0,0,0, .15) inset; }
.progress_bars .bars_list li .bar .progress { height: 25px; line-height: 25px; display: block; background:#2E3B48; -webkit-box-shadow: 2px 2px 3px rgba(0,0,0, .15) inset; box-shadow: 2px 2px 3px rgba(0,0,0, .15) inset;  }
.progress_bars .bars_list li .bar .progress { -webkit-border-radius: 5px; border-radius: 5px; overflow: hidden; -webkit-transition: all 1.3s ease-in-out; -moz-transition: all 1.3s ease-in-out; -o-transition: all 1.3s ease-in-out; transition: all 1.3s ease-in-out; }

/* Article box */
.article_box {}
.article_box .photo { line-height: 0; margin-bottom: 15px; }
.article_box .photo a { display: block; }
.article_box .desc {}
.article_box .desc a.button { margin-bottom: 0; }

/* Blockquote */
blockquote {}
blockquote p { padding: 15px; display: block; margin: 0; background: rgba(0, 0, 0, 0.07); font-style: italic; position: relative; }
blockquote a:hover { text-decoration: none; }
blockquote .arrow { margin: 0 auto; width: 0px; height: 0px; display: block; border-top: 15px solid rgba(0, 0, 0, 0.07); border-right: 15px solid transparent; border-left: 15px solid transparent; }
blockquote .author { margin-top: 15px; }
blockquote .author .photo { width: 80px; height: 80px; overflow: hidden; margin: 0 auto 8px; -webkit-border-radius: 50%; border-radius: 50%; }
blockquote .author .desc { text-align: center; }
blockquote .author .desc h6 { margin-bottom: 2px; font-size: 15px; font-weight: bold; }
blockquote .author .desc span { margin-bottom: 0; }

.column > .testimonials { margin: 0 10px; position: relative; }
.testimonials blockquote .author .desc { min-height: 40px; }
.testimonials a.prev { position: absolute; left: 10px; bottom: 66px; }
.testimonials a.next { position: absolute; right: 10px; bottom: 66px; }

.testimonials-page {}
.testimonials-page li { margin-bottom: 20px; }

/* Latest posts */
.latest_posts { overflow: hidden; }
.latest_posts ul {}
.latest_posts ul li { min-height: 60px; position: relative; margin-bottom: 20px; overflow: hidden; }
.latest_posts ul li:last-child { margin-bottom: 0; }
.latest_posts ul li .photo { width: 39%; float: left; line-height: 0; }
.latest_posts ul li .desc { padding: 3px 0px 0px 0px; width: 56%; margin-left: 5%; float: left; }
.latest_posts ul li .desc.no_img { margin-left: 0%; width: 100%; }
.latest_posts ul li .desc h6 { margin-bottom: 0; }
.latest_posts ul li .desc span.comments { margin-bottom: 0; font-size: 13px; line-height: 14px; padding-top: 6px; display: block; }
.latest_posts ul li.last { margin-bottom: 0; }
.latest_posts a.button { margin-top: 20px; }

/* Icon box */
.icon_box { text-align: center; }
.icon_box .ico { width: 80px; height: 80px; line-height: 80px; font-size: 55px; margin: 0 auto 15px; text-align: center; -webkit-border-radius: 50%; border-radius: 50%; background: #2C3E50; color: #fff; padding: 15px; }
.icon_box h5 { margin-bottom: 10px; }

/* Recent works */
.recent_works {}
.recent_works h3 { margin-bottom: 20px; }
.recent_works .inside { position: relative; overflow: hidden; }
.with_aside .recent_works .inside {  margin:0 1px !important; }
.recent_works ul {}
.recent_works ul li { width: 100%; }
.recent_works ul li a { display: block; line-height: 0; margin: 0 10px; }
.recent_works ul li a:hover { text-decoration: none; }
.recent_works ul li h6 { min-height: 36px; border-top: 1px solid rgba(0, 0, 0, 0.10); margin: 0 10px 10px; padding-top: 15px; }
.recent_works ul li:hover h6 { border-top: 1px solid rgba(0, 0, 0, 0.30); }

.recent_works .inside a.slider_control_prev { position: absolute; left: 0px; bottom: -80px; }
.recent_works .inside a.slider_control_next { position: absolute; right: 0px; bottom: -80px; }

.recent_works .more { text-align: center; margin-top: 40px; }
.recent_works .more a.button { margin: 0; }

/* Timeline */
.timeline_items { background: url(../images/timeline.png) repeat-y top center; }
.timeline_items li { min-height: 90px; padding: 30px 0; position: relative; overflow: hidden; }

.timeline_items li h5 { margin: 30px 0 0 0; }
.timeline_items li h5 span { width: 90px; height: 90px; -webkit-border-radius: 50%; border-radius: 50%; line-height: 90px; text-align: center; display: block; position: absolute; top: 0; left: 50%; margin-left: -45px; top: 30px; }
.timeline_items li .desc { position:relative; min-height: 90px; background: rgba(0, 0, 0, 0.07); width: 40%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 15px; }
.timeline_items li .desc:after { content:""; display:block; width:0; height:0; position:absolute; top: 35px; border-left:10px solid rgba(0, 0, 0, 0.07); border-top:10px solid transparent; border-bottom:10px solid transparent; }

.timeline_items li h5 { float: right; width: 40%; }
.timeline_items li h5 span { background: #425C78; color: #fff; }
.timeline_items li .desc { float: left; }
.timeline_items li .desc:after { right:-10px; }

.timeline_items li:nth-child(odd) h5 { float: left; width: 40%; text-align: right; }
.timeline_items li:nth-child(odd) h5 span { background: #2c3e50; color: #fff; }
.timeline_items li:nth-child(odd) .desc { float: right; }
.timeline_items li:nth-child(odd) .desc:after { left:-10px; border-left:none; border-right:10px solid rgba(0, 0, 0, 0.07);}


/* Recent_comments */
.Recent_comments {}
.Recent_comments ul {}
.Recent_comments ul li { margin-bottom: 20px; border-bottom-width: 1px; border-style: solid; }
.Recent_comments ul li:last-child { border-bottom: 0; }
.Recent_comments ul li .text { padding: 0; margin: 0 0 5px 0; }
.Recent_comments ul li .text p { margin-bottom: 0; font-style: italic; }
.Recent_comments ul li p.author { text-align: left; font-size: 12px; }
.Recent_comments ul li.last { margin-bottom: 0; }

/* Call to action */
.call_to_action {}
.call_to_action.short h4 { margin-bottom: 0 !important; }
.call_to_action a { display: block; }
.call_to_action a:hover { text-decoration: none; }
.call_to_action .inner-padding { overflow: hidden; text-align: center; padding: 30px 20px; }
.call_to_action .inner-padding h4 { margin-bottom: 50px; font-size: 28px; line-height: 30px; font-family: Georgia, serif; font-style: italic; }
.call_to_action .inner-padding p { margin: 0; font-size: 16px; line-height: 20px; text-transform: uppercase; }
.call_to_action .inner-padding .button { margin: 50px 0 0px; display: block; font-size: 18px; font-size: 18px; font-family: Georgia, serif; font-style: italic; text-transform: none; }

/* Info box */
.info_box {}
.info_box h4 {}
.info_box .inside {}
.info_box .inside ul {}
.info_box .inside ul li { border-bottom-width: 1px; border-style: solid; padding: 13px 0 13px 40px; background: url(../images/infobox_li.png) no-repeat left center; }
.info_box .inside ul li:last-child { border-bottom: 0px; }

/* Quick facts */
.quick_facts {}
.quick_facts ul {}
.quick_facts ul li { padding: 7px 0; border-bottom-width: 1px; border-style: solid; }
.quick_facts ul li:first-child { padding-top: 0; }
.quick_facts ul li:last-child { border-bottom: 0; }
.quick_facts ul li span { font-weight: bold; margin: 0 10px 0 3px; display: inline-block; min-width: 37px; }
.quick_facts ul li span i { margin-right: 5px; width: 15px; display: inline-block; text-align: center; color:#9A9A9A; }

/* Skills */
.skills {}
.skills .skills_list {}
.skills .skills_list li { margin-bottom: 15px; }
.skills .skills_list li  h6 { margin-bottom: 7px; position: relative; padding-right: 40px; }
.skills .skills_list li  h6 .label { font-size: 12px; position: absolute; right: 5px; top: 0; font-size: 12px; }
.skills .skills_list li .bar { position: relative; width: 100%; height: 30px; -webkit-border-radius: 30px; border-radius: 30px; overflow: hidden; }
.skills .skills_list li .bar .progress { height: 30px; line-height: 30px; display: block; }
.skills .skills_list:not(.hover) li .bar .progress { width: 0 !important; }
.skills .skills_list.hover li .bar .progress { -webkit-border-radius: 30px; border-radius: 30px; overflow: hidden; -webkit-transition: all 1.3s ease-in-out; -moz-transition: all 1.3s ease-in-out; -o-transition: all 1.3s ease-in-out; transition: all 1.3s ease-in-out; }

/* Gallery */
.gallery .gallery-item { width: 23% !important; margin-right: 1% !important; margin-left: 1% !important; overflow: hidden; }
.gallery .gallery-item .gallery-icon { overflow: hidden; line-height: 0; -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1); }
.gallery .gallery-item img { border: 0 !important; line-height: 0; display: block; }
.gallery .gallery-item .gallery-icon { transition: opacity .20s ease-in-out; -o-transition: opacity .20s ease-in-out; -moz-transition: opacity .20s ease-in-out; -webkit-transition: opacity .20s ease-in-out; }
.gallery .gallery-item .gallery-icon:hover { text-decoration: none; }
.gallery .gallery-item .gallery-icon a:hover { text-decoration: none; }

.gallery .gallery-item .gallery-icon .mask { position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none; }
.gallery .gallery-item .gallery-icon:hover .mask { display: block; -webkit-animation: moveFromBottom 300ms ease; -moz-animation: moveFromBottom 300ms ease; -ms-animation: moveFromBottom 300ms ease; }

.gallery .gallery-item .gallery-icon i { display: none; font-size: 40px; line-height: 40px; text-decoration: none !important; position: absolute; left: 50%; top: 50%; margin-left: -20px; margin-top: -20px; }
.gallery .gallery-item .gallery-icon:hover i { text-decoration: none; display: block; -webkit-animation: moveFromLeft 400ms ease; -moz-animation: moveFromLeft 400ms ease; -ms-animation: moveFromLeft 400ms ease; }

.gallery .gallery-item .gallery-icon { 
	-webkit-transform: scaleY(1); -moz-transform: scaleY(1); -ms-transform: scaleY(1); -o-transform: scaleY(1); transform: scaleY(1); 
	-webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;
	opacity: 0.99; filter: alpha(opacity=99);
}
.gallery .gallery-item .gallery-icon:hover { 
	-webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2);
}

.DOP_ThumbnailGallery_ImageWrapper, .DOP_ThumbnailGallery_Background, 
.DOP_ThumbnailGallery_ThumbnailsB, .DOP_ThumbnailGallery_ThumbContainer, 
.DOP_ThumbnailGallery_Thumb, .DOP_ThumbnailGallery_ImageBg, .DOP_ThumbnailGallery_Image, .DOP_ThumbnailGallery_Image img,
.DOP_ThumbnailGallery_LightboxBg, .DOP_ThumbnailGallery_Lightbox img, .DOP_ThumbnailGallery_LightboxNavigation_Info { 
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
}

/* Team */
.team { text-align: center; padding: 0 0 20px; }
.team .photo { overflow: hidden; line-height: 0; position: relative; }
.team .desc { margin-top: 10px; }
.team h4 { margin-bottom: 4px; font-size: 20px; line-height: 22px; }
.team p { margin-bottom: 8px; }
.team .photo .mask { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.team .links { text-align: center; position: absolute; left: 0; top: 50%; margin-top: -15px; width: 100%; }
.team .links a.link { display: none; margin: 0 2px; width: 30px; height: 30px; line-height: 30px; text-align: center; font-size: 15px; -webkit-border-radius: 50%; border-radius: 50%; text-decoration:none; transition: opacity .20s ease-in-out; -o-transition: opacity .20s ease-in-out; -moz-transition: opacity .20s ease-in-out; -webkit-transition: opacity .20s ease-in-out; }
.team .links a:hover.link {}
.team:hover .photo .mask { display: block; -webkit-animation: moveFromBottom 300ms ease;-moz-animation: moveFromBottom 300ms ease; -ms-animation: moveFromBottom 300ms ease; }
.team:hover .photo .links a.link { display: inline-block; -webkit-animation: moveFromBottom 500ms ease;-moz-animation: moveFromBottom 500ms ease; -ms-animation: moveFromBottom 500ms ease; }

/* Get in touch */
.get_in_touch {}
.get_in_touch .photo { line-height: 0; margin-bottom: 5px; }
.get_in_touch ul {}
.get_in_touch ul li { overflow: hidden; position: relative; padding: 13px 0 13px 40px; border-bottom-width: 1px; border-style: solid; font-size: 13px; }
.get_in_touch ul li:last-child { border-bottom: 0; }
.get_in_touch ul li i { display: block; width: 32px; height: 32px; line-height: 32px; text-align: center; font-size: 17px; -webkit-border-radius: 100%; border-radius: 100%; overflow: hidden; position: absolute; left: 0; top: 8px; background: rgba(0, 0, 0, 0.07); }
.get_in_touch ul li p { margin-bottom: 0; }

/* Image frames */
.wp-caption { display: inline-block; line-height: 0; }
.wp-caption.scale-with-grid { max-width:100%;}
.wp-caption a { line-height: 0; display: block; position: relative; overflow: hidden; z-index: 1; }
.wp-caption a img { padding:0; }
.wp-caption .wp-caption-text { display: block; font-size: 13px; text-align: center; margin:0; padding: 12px 0 6px; line-height: normal; }
.wp-caption.no-border .photo { background: none !important; }

.wp-caption.border .photo, .wp-caption.border > img, .wp-caption.border > a > img { line-height: 0; }
.wp-caption .photo .photo_wrapper { position: relative; overflow: hidden; width: auto; height: auto; }
.wp-caption .photo .photo_wrapper img { display: inline-block; }
.wp-caption .photo .photo_wrapper i { display: none; font-size: 70px; line-height: 70px; text-decoration: none; position: absolute; left: 50%; top: 50%; margin-left: -35px; margin-top: -35px; }
.wp-caption .photo .photo_wrapper a .mask { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.wp-caption .photo .photo_wrapper a:hover i { display: block; -webkit-animation: moveFromLeft 400ms ease; -moz-animation: moveFromLeft 400ms ease; -ms-animation: moveFromLeft 400ms ease; }
.wp-caption .photo .photo_wrapper a:hover .mask { display: block; -webkit-animation: moveFromBottom 300ms ease;-moz-animation: moveFromBottom 300ms ease; -ms-animation: moveFromBottom 300ms ease; }

.wp-caption .photo .photo_wrapper a img { 
	-webkit-transform: scaleY(1); -moz-transform: scaleY(1); -ms-transform: scaleY(1); -o-transform: scaleY(1); transform: scaleY(1); 
	-webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;
	opacity: 0.99; filter: alpha(opacity=99);
}
.wp-caption .photo .photo_wrapper a:hover img { 
	-webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2);
}

.alignleft { float: left; margin: 15px 15px 15px 0px; }
.alignright { float: right; margin: 15px 0px 15px 15px; }
.aligncenter { text-align: center; margin: 0 auto; display:block; }
.aligncenter img { display: inline; }
.sticky, .gallery-caption, .bypostauthor { }

/* FAQ / Accordion */
.accordion .question {}
.accordion .question h5 { margin: 0px 0px 1px 0px; cursor: pointer; padding: 20px 50px 20px 20px; font-size: 14px; line-height: 18px; position: relative; }
.accordion .question h5 span.icon { width: 40px; height: 40px; overflow: hidden; position: absolute; right: 10px; top: 9px; }
.accordion .active h5 span.icon { top: auto; bottom: -15px; }
.accordion .question .answer { padding: 25px 20px 20px 20px; overflow: hidden; margin-bottom: 1px; }
.accordion .active h5 { margin-bottom: 0px; }
.accordion .active h5 span.icon {}

.faq .question {}
.faq .question h5 { margin: 0px 0px 1px 0px; cursor: pointer; padding: 20px 50px 20px 20px; font-size: 14px; line-height: 18px; position: relative; }
.faq .question h5 span.icon { width: 40px; height: 40px; overflow: hidden; position: absolute; right: 10px; top: 9px; }
.faq .active h5 span.icon { top: auto; bottom: -15px; }
.faq .question .answer { padding: 20px 25px 20px 20px; overflow: hidden; margin-bottom: 1px; }
.faq .active h5 { margin-bottom: 0px; }
.faq .active h5 span.icon {}

/* Code Hightlighter */
code, pre {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 50%, #f2f2f2 50%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #ffffff 50%,#f2f2f2 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 50%,#f2f2f2 50%); /* Opera 11.10+ */
	background: linear-gradient(top,  #ffffff 50%,#f2f2f2 50%); /* W3C */
    background-size: 42px 42px;
	padding: 21px 15px 20px;
	display: block;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	line-height: 21px !important;
	border-width: 1px;
	border-style: solid;
	font-family: monospace !important;
}

.light code, .light pre {
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 50%, #292929 50%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #333333 50%,#292929 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 50%,#292929 50%); /* Opera 11.10+ */
	background: linear-gradient(top,  #333333 50%,#292929 50%); /* W3C */
	color: #D2D2D2;
}

code p, pre p { margin-bottom:0 !important; }

/* Table */
table { width: 100%; margin-bottom: 15px; border-collapse: collapse; border-spacing: 0; }
table th,
table td { padding: 10px; text-align: center; border: 1px solid #EBEBEB; }
table th { font-size:120%; background:rgba(0,0,0,0.03); }
table tr td td {}
table tr:nth-child(2n+1) td { background:rgba(0,0,0,0.02);}

/* Lists */
ul.list, ol.list { margin-bottom: 15px; }
ul.list ul, ul.list ol, ol.list ul, ol.list ol { margin: 5px 0 5px 30px; }
ul.list li, ol.list li { margin-bottom: 5px; }

ul.list { list-style: disc outside; }
ul.list li { margin-left: 25px; }

ol.list { list-style: decimal outside; }
ol.list li { margin-left: 0px; }

ol.list_roman { list-style: upper-roman outside; }
ol.list_roman li { margin-left: 0px; }

ol.list_alpha { list-style: upper-alpha outside; }
ol.list_alpha li { margin-left: 0px; }

ul.list_tick { list-style: none; margin-left: 10px; }
ul.list_tick li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_tick.png) no-repeat 0 1px; overflow: hidden; }

ul.list_info { list-style: none; margin-left: 10px; }
ul.list_info li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_info.png) no-repeat 0 1px; overflow: hidden; }

ul.list_warning { list-style: none; margin-left: 10px; }
ul.list_warning li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_warning.png) no-repeat 0 1px; overflow: hidden; }

ul.list_plus { list-style: none; margin-left: 10px; }
ul.list_plus li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_add.png) no-repeat 0 1px; overflow: hidden; }

ul.list_minus { list-style: none; margin-left: 10px; }
ul.list_minus li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_minus.png) no-repeat 0 1px; overflow: hidden; }

ul.list_arrow { list-style: none; margin-left: 10px; }
ul.list_arrow li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_arrow.png) no-repeat 0 1px; overflow: hidden; }

ul.list_help { list-style: none; margin-left: 10px; }
ul.list_help li { padding-left: 27px; margin-left: 0; background: url(../images/icons/list_help.png) no-repeat 0 1px; overflow: hidden; }
										
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }

/* Pricing box */
.pricing-box { border-width: 5px; border-style: solid; overflow: hidden; margin-top: 10px; }
.pricing-box-featured { margin-top: 0px !important; padding-bottom: 20px; }
.pricing-box .plan-header { text-align: center; padding-bottom: 5px; margin-bottom: 5px; }
.pricing-box .plan-header h3 { margin: 0 20px 8px; padding: 10px 5px 20px; font-size: 27px; line-height: 27px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.pricing-box.no-price .plan-header h3 { padding: 15px 5px 20px; }
.pricing-box .plan-header .price { font-size: 48px; line-height: 48px; padding: 25px 0 0; }
.pricing-box .plan-header .price > span { position: relative; padding: 2px 10px; }
.pricing-box .plan-header .price sup { font-size: 15px; font-weight: 100; opacity: 0.5; filter: alpha(opacity=50); }
.pricing-box .plan-header .price sup.period { font-size: 10px; font-weight: 100; opacity: 0.85; filter: alpha(opacity=85); margin-left: 3px; }
.pricing-box .plan-header .period { padding-bottom: 7px; margin-bottom: 3px; }
.pricing-box .plan-header .period a.button { margin-bottom: 10px; }
.pricing-box .plan-inside { padding-bottom: 15px; }
.pricing-box .plan-inside ul { text-align: center; }
.pricing-box .plan-inside ul li { text-align: center; padding: 8px 10px; display: block; margin: 0 20px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.pricing-box .plan-inside ul li.last { border-bottom: 0; }
.pricing-box .btn a.button { margin-bottom: 15px; margin-right: 0; }

/* Our clients slider */
.Our_clients_slider { overflow: hidden; position: relative; }
.Our_clients_slider .container .column { margin-bottom:30px;}
.Our_clients_slider a.slider_control_prev { position: absolute; left: 10px; top: 50%; margin-top: -34px; padding-right: 0; border: 0; }
.Our_clients_slider a.slider_control_next { position: absolute; right: 10px; top: 50%; margin-top: -34px; }
.Our_clients_slider div.inside { margin: 0 39px !important; overflow: hidden; }
.Our_clients_slider ul {}
.Our_clients_slider li { width: 100%; height: 90px !important; margin-right: 0 !important; line-height: 90px !important; text-align: center; }
.Our_clients_slider li .slide-wrapper { padding: 0 20px; }
.Our_clients_slider li .slide-wrapper a { display: block; }
.Our_clients_slider li .slide-wrapper img { vertical-align: middle; }
.Our_clients_slider .slide-wrapper img { opacity: .5;}
.Our_clients_slider .slide-wrapper:hover img { opacity: .99; }

/* Da-thumbs */
.da-thumbs li { position: relative; float:left; }
.da-thumbs li a,
.da-thumbs li a img { display: block; position: relative;}
.da-thumbs li a { overflow: hidden;}
.da-thumbs li a div { position: absolute; width: 100%; height: 100%; text-align: center; }
.da-thumbs li a div span { display: block; width: 60px; height: 60px; line-height: 60px; text-align: center; font-size: 60px; position: absolute; left: 50%; top: 50%; margin: -30px 0 0 -30px; }
.da-thumbs li a div h6 { font-size: 15px; width: 180px; position: absolute; left: 50%; top: 50%; margin: 15px 0 0 -90px; }
.da-thumbs li a:hover, .da-thumbs li a { text-decoration: none; }

.da-thumbs li .title { text-align: center; padding-top: 10px; }
.da-thumbs li .title h6 { margin-bottom: 0; }

/* Isotope Filtering */
.isotope-item { z-index: 2;}
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1;}

/* Recent work */
.Projects .column { margin-bottom: 10px; }
.Projects .Projects_inside { margin-bottom: 15px; }
.Projects_inside { float: left; width: 100%; }
.Projects_header {}
.Projects_header .categories { width: 100%; float: none; }
.Projects_header .categories ul { float: left; }
.Projects_header .categories ul li { float: left; margin: 0 2px; font-size: 13px; }
.Projects_header .categories ul li.label h6 { line-height: 40px; margin: 0 7px 0 0; color: #aaa; }
.Projects_header .categories ul li a { display: block; line-height: 39px; padding: 0 15px; overflow: hidden; margin-bottom: 2px; }
.Projects_header .categories ul li a:hover, .Projects_header .categories li.current-cat a { text-decoration: none; }
.Projects_header .categories ul li.current-cat a {}

/* Latest twitter */
.Twitter {}
.Twitter ul { margin-bottom: 0 }
.Twitter ul li { padding: 0; margin-bottom: 10px; }
.Twitter ul li p { margin-bottom: 0; }
.Twitter ul li span { padding-left: 0px; display: block; text-transform: uppercase; }
.Twitter ul li span a { padding: 3px 0 3px 0; text-transform: none; }
.Twitter ul li a { display: block; font-style: italic; font-weight: normal; padding-left: 0px; }
.Twitter ul li.last { margin-bottom: 0; }
.Twitter ul li.first { padding-top: 0; }
.Twitter ul li > a { font-style: normal; }

/* Recent posts */
.Recent_posts {}
.Recent_posts ul {}
.Recent_posts ul li { min-height: 45px; position: relative; margin-bottom: 10px; padding-bottom: 10px; border-bottom-width: 1px; border-style: solid; }
.Recent_posts ul li.last { margin-bottom: 0; padding-bottom: 0; border-bottom: 0; }
.Recent_posts ul li .photo { width: 65px; height: 45px; position: absolute; left: 0; top: 0; }
.Recent_posts ul li .desc { padding: 0px 0px 0px 80px;}
.Recent_posts ul li .desc.no_img { padding-left: 0px; }
.Recent_posts ul li .desc h6 { margin-bottom: 0; font-size: 14px; }
.Recent_posts ul li .desc p { margin-bottom: 0; font-size: 12px; }
.Recent_posts ul li.last { margin-bottom: 0; }

/* Flickr */
.Flickr { overflow: hidden; }
.Flickr .flickr_badge_image { margin: 0; padding: 0; float: left; margin: 0 1% 2% 1%; width: 23%; }
.Flickr .flickr_badge_image a { display: block; line-height: 0;  } 
.Flickr .flickr_badge_image a img {width: 57px; height: 57px; }